<template>
  <section class="flex w-[98%] flex-col">
    <div class="mt-6 w-full border-b-2 pb-2">
      <p class="text-sm font-bold text-gray-800">Detalle de la campaña</p>
    </div>

    <div class="mt-6 flex w-full flex-col">
      <div class="flex w-full gap-4">
        <div class="w-[32%] text-sm">
          <AppInputTextVue
            class-name="text-sm h-10"
            label="Nombre"
            :is_required="true">
          </AppInputTextVue>
        </div>

        <div class="w-[32%]">
          <AppListBox
            class="w-full"
            type="light"
            label="Lista de precios paqueteria"></AppListBox>
        </div>

        <div class="flex w-[40%] gap-2 text-sm">
          <div class="w-6/12 text-sm">
            <AppInputDate
              class="w-full"
              label="Fecha inicio"
              :is-required="true"
              w-input="w-full" />
          </div>
          <div class="flex w-6/12 text-sm">
            <AppInputDate
              class="w-full"
              label="Fecha fin"
              :is-required="true"
              w-input="w-full" />
          </div>
        </div>
      </div>

      <div class="mt-4 flex w-full gap-4">
        <div class="mt-2s w-[32%]">
          <AppListBox class="w-full" type="light" label="Canal"></AppListBox>
        </div>

        <div class="w-[32%]">
          <AppListBox
            class="w-full"
            type="light"
            label="Lista de precios mensajería"></AppListBox>
        </div>
        <div class="flex w-[40%] gap-2 text-sm">
          <div class="w-6/12 text-sm">
            <AppInputDate
              class="w-full"
              label="Fecha inicio"
              :is-required="true"
              w-input="w-full" />
          </div>
          <div class="flex w-6/12 text-sm">
            <AppInputDate
              class="w-full"
              label="Fecha fin"
              :is-required="true"
              w-input="w-full" />
          </div>
        </div>
      </div>
    </div>

    <div class="mt-4 flex w-full gap-4">
      <div class="w-[32%]">
        <AppListBox class="w-full" type="light" label="Servicios"></AppListBox>
      </div>

      <div class="w-[32%]">
        <AppListBox
          class="w-full"
          type="light"
          label="Lista de descuento"></AppListBox>
      </div>

      <div class="flex w-[40%] gap-2 text-sm">
        <div class="w-6/12 text-sm">
          <AppInputDate
            class="w-full"
            label="Fecha inicio"
            :is-required="true"
            w-input="w-full" />
        </div>
        <div class="flex w-6/12 text-sm">
          <AppInputDate
            class="w-full"
            label="Fecha fin"
            :is-required="true"
            w-input="w-full" />
        </div>
      </div>

      <!-- <AppInputDateVue class="border-0 text-sm w-full" w_input="w-full" type="date" label="Fecha inicio" :is_required="true" @change="addFecha">
            </AppInputDateVue> -->
    </div>

    <div class="mt-4 flex w-full gap-4">
      <div class="w-[30%]">
        <AppInputTextVue
          class-name="text-sm h-10"
          label="URL Landing page "
          :is_required="true">
        </AppInputTextVue>
      </div>

      <div class="flex gap-4">
        <AppListBox class="w-full" type="light" label="Estado"></AppListBox>
      </div>

      <div class="select w-[200px] gap-4">
        <AppListBox type="light" label="¿Se factura fee?"></AppListBox>
      </div>
    </div>

    <section>
      <TheFormInvestmentVue></TheFormInvestmentVue>
    </section>
  </section>
</template>

<script lang="ts">
import { IOptions } from '@/constants'
import { computed, defineComponent, onMounted, reactive, ref } from 'vue'
import { GetListCampains } from '@/services/campaignAve'
import { GetListChannels } from '@/services/channelsAve'

import AppInputTextVue from '@/components/AppInputTextAve.vue'
import TheFormInvestmentVue from './TheFormInvestmentAve.vue'
import AppInputDate from '@/components/AppInputDateAve.vue'
import AppListBox from '@/components/AppListBox.vue'
import { useAppStore } from '@/store/channelAndCampainAve'

export default defineComponent({
  components: {
    TheFormInvestmentVue,
    AppInputDate,
    AppInputTextVue,
    AppListBox
  },
  setup() {
    const error = reactive({
      fechas: false
    })

    const campains = ref<string[]>(['data'])
    const AppState = useAppStore()
    const spliter = ref(0)

    const newCampain = () => {
      campains.value.push('data')
    }

    const removeCampain = () => {
      campains.value.pop()
    }

    const canal = computed<IOptions[]>(() => {
      return AppState.getAllDataChannel.map((e) => {
        return {
          label: e.ds,
          value: e.id
        }
      })
    })

    const campain = computed<IOptions[]>(() => {
      return AppState.getAllDataCampain.map((e) => {
        return {
          label: e.nombre,
          value: e.id
        }
      })
    })

    const campainact = computed<IOptions[]>(() => {
      return AppState.getAllDataCampain.map((e) => {
        return {
          label: e.nombre,
          value: e.idactivo
        }
      })
    })

    const ListCanales = async () => {
      const rescan = await GetListChannels()
      if (rescan) {
        AppState.insertAllDataChannel(rescan.data)
      }
    }

    const ListCampains = async () => {
      const rescamp = await GetListCampains()
      if (rescamp) {
        AppState.insertAllDataCampagne(rescamp.data)
      }
    }

    onMounted(() => {
      ListCanales()
      ListCampains()
    })

    return {
      newCampain,
      removeCampain,
      ListCanales,
      ListCampains,
      campain,
      canal,
      campainact,
      error,
      campains,
      AppState,
      spliter
    }
  }
})
</script>
