<template>
  <section class="mt-5 flex w-full gap-4">
    <div class="w-96">
      <label
        :v-model="dataPaqueteria.descripcion"
        class="text-sm font-normal text-gray-800"
        required
        >Descripción *</label
      >
      <input
        :v-model="dataPaqueteria.valor"
        type="text"
        class="w-full"
        required />
    </div>
    <div class="flex-2">
      <label class="text-sm font-normal text-gray-800" required>Valor *</label>
      <AppSelectIcon icon-type-string=" " class="w-96 border-2"></AppSelectIcon>
    </div>

    <div class="mt-5">
      <AppButtonVue
        v-if="index == 0"
        title="agregar"
        icon="plus"
        @click="emitir('add')"></AppButtonVue>
      <AppButtonVue
        v-if="index > 0 && index + 1 == len"
        title="disminuir"
        icon="minus"
        type="secondary"
        @click="emitir('remove')"></AppButtonVue>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import AppSelectIcon from '@/components/AppSelectIconAve.vue'
// import AppButton from '@/components/AppButton.vue'
import AppButtonVue from '@/components/AppButton.vue'

type EmitVal = 'add' | 'remove'
export default defineComponent({
  components: {
    AppSelectIcon,
    AppButtonVue
  },
  props: {
    index: {
      type: Number,
      required: true
    },
    len: {
      type: Number,
      required: true
    }
  },
  emits: ['add', 'remove'],
  setup(_, { emit }) {
    const emitir = (val: EmitVal) => {
      emit(val)
    }

    const dataPaqueteria = ref({
      descripcion: '',
      valor: ''
    })

    return { emitir, dataPaqueteria }
  }
})
</script>
