<template>
  <section>
    <div class="my-3.5 flex border-b-2 pb-2">
      <p class="font-bold text-gray-800">Inversión</p>
    </div>
    <div
      class="
        flex
        h-10
        w-[20%]
        items-center
        rounded-full
        border border-gray-400
      ">
      <p class="mx-4 mb-2 mt-3 w-5/12 opacity-50">Costos totales</p>
      <span class="input-symbol-dollar mt-2 w-6/12">
        <p
          class="
            mt-2
            ml-1
            h-[30px]
            w-full
            rounded-[5px]
            px-4
            font-bold
            text-gray-800
            focus:outline-none
          ">
          500000
        </p>
      </span>
    </div>
    <div v-for="(item, ind) in cantidades" :key="item" class="cant">
      <TheFormInvestPlusAveVue
        :len="cantidades.length"
        :index="ind"
        @add="addValue"
        @remove="delValue" />
    </div>

    <div class="mt-6 flex justify-center gap-4">
      <AppButtonAve
        class="w-36 rounded-full"
        color="secondary"
        @click="goTo(ROUTES.CANALESYCAMPANA.PATH)"
        >Volver
      </AppButtonAve>
      <AppButtonAve class="w-36 rounded-full">Guardar</AppButtonAve>
    </div>
  </section>
</template>

<script lang="ts">
import { tokenMaskDimamic } from '@/utils/token'
import { computed, defineComponent, ref } from 'vue'
import { useRouter } from 'vue-router'
import { ROUTES } from '@/constants'

import AppButtonAve from '@/components/AppButtonAve.vue'
import TheFormInvestPlusAveVue from './TheFormInvestPlusAve.vue'

export default defineComponent({
  components: {
    AppButtonAve,
    TheFormInvestPlusAveVue
  },
  setup() {
    const router = useRouter()
    const maskered = computed(() => tokenMaskDimamic(campanaMoney.value, true))
    const campanaMoney = ref<string>('')
    const goTo = (route: string) => router.push(route)

    const cantidades = ref<string[]>(['xxxxx'])

    const addValue = () => {
      cantidades.value.push('xsxs')
    }
    const delValue = () => {
      cantidades.value.pop()
    }

    return {
      ROUTES,
      goTo,
      addValue,
      delValue,
      router,
      maskered,
      cantidades
    }
  }
})
</script>
