.btn {
  @apply rounded-full py-3 px-8 text-base font-semibold;
}

.btn-primary {
  @apply bg-red-500 text-white;
  @apply hover:bg-red-600;
  @apply active:bg-red-800;
}

.btn-secondary {
  @apply bg-gray-500 text-white;
  @apply hover:bg-gray-300;
  @apply active:bg-gray-800;
}
.btn-disabled {
  @apply bg-gray-200 text-white;
}

.btn-selection {
  @apply border border-gray-400 bg-white text-gray-600;
  @apply hover:border-gray-500;
  @apply hover:text-gray-600;
  @apply active:border-gray-300;
  @apply active:bg-gray-50;
  @apply active:text-gray-400;
}
.btn-selection-disabled {
  @apply border border-gray-300 bg-white text-gray-400;
}
.btn-tertiary {
  @apply border border-gray-300 bg-gray-100 text-gray-500;
  @apply hover:border-gray-500;
  @apply active:bg-gray-50;
}
.btn-tertiary-disabled {
  @apply border border-gray-400 bg-gray-100 text-gray-600;
}
