<template>
  <section class="mt-2 flex w-[95%] flex-col">
    <div class="mt-3 w-full border-b-2 pb-2">
      <p class="text-sm font-bold">Detalle de la campaña</p>
    </div>

    <div class="mt-4 flex w-full flex-col gap-4">
      <div class="flex w-full gap-4">
        <div class="w-[35%]">
          <label>Nombre *</label>
          <input class="h-10 w-full" type="text" />
        </div>
        <div class="w-[35%]">
          <!-- <AppFilter label="Estado"></AppFilter> -->
          <label class="text-sm font-normal text-gray-800" required
            >Estado *</label
          >
          <AppSelectIcon icon-type-string=" " class="border-2"></AppSelectIcon>
        </div>
      </div>
    </div>

    <div class="mt-4 flex justify-center gap-4">
      <AppButtonAve
        class="w-36 rounded-full"
        color="secondary"
        @click="goTo(ROUTES.CANALESYCAMPANA.PATH)"
        >Volver
      </AppButtonAve>
      <AppButtonAve
        v-if="State == 'Created'"
        class="w-36 rounded-full"
        @click="SendDataChannel"
        >Guardar
      </AppButtonAve>
    </div>
  </section>
</template>

<script lang="ts">
import { IOptions, ROUTES } from '@/constants'
import { computed, defineComponent, onMounted, ref } from 'vue'
import { useRouter } from 'vue-router'
import { GetListChannels } from '@/services/channelsAve'
import { tokenMaskDimamic } from '@/utils/token'

import AppButtonAve from '@/components/AppButtonAve.vue'
import AppSelectIcon from '@/components/AppSelectIconAve.vue'

import { useAppStore } from '@/store/channelAndCampainAve'
import { IdataCanales } from '@/types/GeneralChannelsAve'

interface IPruebas {
  id: string
  name: string
  status: boolean
}

export default defineComponent({
  components: {
    AppButtonAve,
    AppSelectIcon
  },
  setup() {
    const AppState = useAppStore()
    const router = useRouter()
    const dataChannel = computed(() => AppState.getAllDataChannel)
    const State = computed(() => AppState.getMode)

    const nombres = computed(() => tokenMaskDimamic(valores.value.ds))

    const canales = computed<IOptions[]>(() => {
      return AppState.getAllDataChannel.map((e) => {
        return {
          label: e.idactivo,
          value: e.ds
        }
      })
    })

    const goTo = (route: string) => {
      return router.push(route)
    }

    const dataPaqueteria = ref({
      id: 0,
      ds: '',
      idatactivo: ''
    })

    const valores = ref<IdataCanales>({
      id: 0,
      ds: '',
      idactivo: '',
      fecha: ''
    })

    const ListCanales = async () => {
      const rescan = await GetListChannels()
      if (rescan) {
        AppState.insertAllDataChannel(rescan.data)
      }
    }

    onMounted(() => {
      ListCanales()
    })

    const probando = ref<IPruebas[]>([
      {
        id: '',
        name: 'inactivo',
        status: false
      },
      {
        id: '',
        name: 'activo',
        status: false
      }
    ])

    return {
      goTo,
      probando,
      ROUTES,
      dataPaqueteria,
      dataChannel,
      ListCanales,
      nombres,
      AppState,
      router,
      canales,
      State
    }
  }
})
</script>
