<template>
  <section class="flex w-full items-center justify-center p-[10px]">
    <div
      class="
        order-inf
        justify-center
        rounded-[10px]
        bg-white
        p-[24px]
        shadow-md
      ">
      <h2
        class="
          title-order
          m-auto
          w-[70%]
          justify-center
          text-center text-[32px]
          leading-[38px]
        ">
        Información sobre tu pedido
      </h2>
      <picture class="flex justify-center pt-[5px] pb-[32px]">
        <img src="/public/assets/img/background/Line.png" alt="" />
      </picture>
      <h3 class="text-justify font-sans text-[15px] font-normal leading-[21px]">
        Hemos recibido tu pedido realizado en la tienda “nombre de la marca”;
        debido a que al momento de agregar los datos de pago seleccionaste pago
        contraentrega, tu cotización ha cambiado y se generaron costos
        adicionales.
      </h3>
      <div class="list-price m-[12px] border-b">
        <div class="flex justify-between">
          <h3
            class="list-text-inf font-sans text-[18px] font-bold text-gray-600">
            Valor de los productos
          </h3>
          <h3
            class="
              list-text-inf
              font-sans
              text-[18px]
              font-normal
              text-gray-600
            ">
            $50.000
          </h3>
        </div>
        <div class="flex justify-between">
          <h3
            class="list-text-inf font-sans text-[18px] font-bold text-gray-600">
            Valor del envío
          </h3>
          <h3
            class="
              list-text-inf
              font-sans
              text-[18px]
              font-normal
              text-gray-600
            ">
            $10.000
          </h3>
        </div>
        <div class="flex justify-between">
          <h3
            class="list-text-inf font-sans text-[18px] font-bold text-gray-600">
            Costo del pago contraentrega
          </h3>
          <h3
            class="
              list-text-inf
              font-sans
              text-[18px]
              font-normal
              text-gray-600
            ">
            $5.000
          </h3>
        </div>
      </div>
      <div class="mx-[12px] flex justify-between">
        <h3 class="list-text-inf font-sans text-[18px] font-bold">
          Total a pagar
        </h3>
        <h3
          class="list-text-inf font-sans text-[18px] font-normal text-gray-600">
          $65.000
        </h3>
      </div>
      <div class="flex justify-center">
        <h2 class="list-text-inf font-sans text-[20px] text-gray-600">
          ¿Confirmas y aceptas el pedido?
        </h2>
      </div>
      <div class="flex justify-center">
        <button
          class="
            list-text-inf
            mx-[4px]
            w-[92px]
            rounded-[20px]
            border border-gray-400
            p-[10px]
            font-sans
            text-[20px] text-gray-600
            hover:bg-gray-100
          ">
          Si
        </button>
        <button
          class="
            list-text-inf
            mx-[4px]
            w-[92px]
            rounded-[20px]
            border border-gray-400
            p-[10px]
            font-sans
            text-[20px] text-gray-600
            hover:bg-gray-100
          ">
          No
        </button>
      </div>
      <div class="mt-[32px] mb-[16px] flex justify-center">
        <h3
          class="
            list-text-inf
            text-justify
            font-sans
            text-[15px]
            font-normal
            leading-[21px]
          ">
          En caso de no recibir respuesta se entenderá que has aceptado las
          modificaciones.
        </h3>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'

export default defineComponent({
  name: 'OrderInformation',
  components: {}
})
</script>

<style scoped>
.order-inf {
  width: min(100%, 530px);
}
@media (max-width: 425px) {
  .title-order {
    font-size: 28px !important ;
  }
}
@media (max-width: 375px) {
  .title-order {
    font-size: 21px !important ;
  }
}
@media (max-width: 425px) {
  .list-text-inf {
    font-size: 16px !important ;
    line-height: 40px !important;
  }
}
@media (max-width: 425px) {
  .list-price {
    margin: 4px;
  }
}
</style>
