<template>
  <section class="flex w-24 items-center gap-1">
    <input type="radio" name="transportadoras" @click="onClick" />
    <label class="min-w-max text-[14px]" for=""><slot></slot></label>
  </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  components: {},
  props: {
    idvalue: {
      type: String,
      default: ''
    }
  },
  emits: ['click'],
  setup(_, { emit }) {
    const onClick = () => emit('click')
    return { onClick }
  }
})
</script>
