<template>
  <div v-if="showCase === 1">
    <div class="my-4 flex w-full">
      <p class="h-0 text-[14px] font-extrabold">Observaciones *</p>
    </div>
    <div class="w-full">
      <div class="flex w-full items-start">
        <input
          v-model="saveDataShipping.observaciones"
          class="
            input-symbol-dollar
            h-[39px]
            w-full
            rounded-full
            border border-gray-400
            py-[5px]
            px-4
            focus:outline-none
          "
          @input="buttonGray" />
      </div>
    </div>
  </div>
  <div v-if="showCase === 2">
    <div class="my-4 flex w-full flex-col">
      <div class="flex flex-row gap-2">
        <div class="flex flex-col">
          <label for="Name">Celular *</label>
          <input
            v-model="saveDataShipping.celular"
            v-mask="['(##) ###-#######']"
            type="text" />
        </div>
        <div class="flex flex-col">
          <label for="Name">Ciudad destino *</label>
          <input v-model="saveDataShipping.ciudad" type="text" />
        </div>
      </div>
      <label for="Name">Dirección *</label>
      <input v-model="saveDataShipping.direccion" type="text" />
      <label for="Name">Puntos de referencia *</label>
      <input v-model="saveDataShipping.referencia" type="text" />
    </div>
  </div>
  <div v-if="showCase === 3">
    <div class="my-4 flex w-full">
      <p class="h-0 text-[14px] font-extrabold">Observaciones</p>
    </div>
    <div class="w-full">
      <div class="flex w-full items-start">
        <input
          v-model="saveDataShipping.devolucion"
          class="
            input-symbol-dollar
            h-[39px]
            w-full
            rounded-full
            border border-gray-400
            py-[5px]
            px-4
            focus:outline-none
          " />
      </div>
    </div>
  </div>
  <div class="flex w-full flex-row justify-center gap-2">
    <button
      class="
        mt-3
        flex
        h-10
        w-2/5
        items-center
        justify-center
        rounded-md
        bg-gray-400
        text-center text-white
      "
      @click="cancelButton">
      cancelar
    </button>
    <button
      class="
        mt-3
        flex
        h-10
        w-2/5
        items-center
        justify-center
        rounded-md
        text-center text-white
      "
      :class="enable ? 'bg-red-400' : 'bg-gray-400'"
      @click="SendData">
      Enviar
    </button>
  </div>

  <AppModalAveVue
    v-model="modalError.show"
    :header-icon="modalError.icon"
    width="400px"
    :title="modalError.title">
    <div @subscribe-account="closesugernecy"></div>
    <div class="mt-4 flex w-full justify-center">
      <h5 class="font-extrabold text-gray-600">Campos sin completar</h5>
    </div>
    <div class="mt-4 flex w-full text-center text-sm text-gray-800">
      Debes completar todos los campos obligatorios antes de continuar con el
      proceso
    </div>
  </AppModalAveVue>
  <AppModalAveVue
    v-model="modalSucces.show"
    :header-icon="modalSucces.icon"
    width="400px"
    :title="modalSucces.title">
    <div @subscribe-account="closesugernecy"></div>
    <div class="mt-4 flex w-full justify-center">
      <h5 class="font-extrabold text-gray-600">Campos sin completar</h5>
    </div>
    <div class="mt-4 flex w-full text-center text-sm text-gray-800">
      Debes completar todos los campos obligatorios antes de continuar con el
      proceso
    </div>
  </AppModalAveVue>
</template>

<script lang="ts">
import { mask } from 'vue-the-mask'

import { defineComponent, ref, watchEffect } from 'vue'
import { IDataSaveShippingNews } from '../models/guideDetailsAve'
import { SaveShippingNews } from '../services/http.GuideDetailsAve'
import AppModalAveVue from '@/components/AppModalAve.vue'

// import { tokenMaskDimamic, removeDots } from '@/utils/'

type Icon = 'ok' | 'error' | ''
interface IModal {
  icon: Icon
  show: boolean
  title: string
  text: string
}

export default defineComponent({
  directives: {
    mask
  },
  components: {
    AppModalAveVue
  },
  props: {
    showAppShippingNews: {
      type: Boolean,
      required: true
    },
    showCase: {
      type: Number,
      default: 0
    }
  },
  emits: ['cancelButton'],
  setup(props, { emit }) {
    const modalError = ref<IModal>({
      icon: '',
      show: false,
      text: '',
      title: 'Error'
    })
    const modalSucces = ref<IModal>({
      icon: '',
      show: false,
      text: '',
      title: 'Error'
    })

    const saveDataShipping = ref<IDataSaveShippingNews>({
      observaciones: '',
      tiposolucion: 0,
      guia: '',
      celular: '',
      ciudad: '',
      direccion: '',
      referencia: '',
      devolucion: ''
    })

    const enable = ref<boolean>(false)

    const validationForm = () => {
      if (props.showCase === 0) {
        modalError.value.show = true
        enable.value = false
      }
      if (props.showCase === 1) {
        if (saveDataShipping.value.observaciones === '') {
          modalError.value.show = true
          enable.value = false
        }
      }
      if (props.showCase === 2) {
        if (
          saveDataShipping.value.celular === '' ||
          saveDataShipping.value.ciudad === '' ||
          saveDataShipping.value.direccion === '' ||
          saveDataShipping.value.referencia === ''
        ) {
          modalError.value.show = true
          enable.value = false
        }
      }
      if (props.showCase === 3) {
        if (saveDataShipping.value.devolucion === '') {
          modalError.value.show = true
          enable.value = false
        }
      }
    }

    const deleteToSave = (saveDataShipping: any, parametro: any) => {
      delete saveDataShipping.value[parametro]
    }

    const SendData = async () => {
      validationForm()
      if (props.showCase === 1 && enable.value === true) {
        deleteToSave(saveDataShipping, 'celular')
        deleteToSave(saveDataShipping, 'ciudad')
        deleteToSave(saveDataShipping, 'direccion')
        deleteToSave(saveDataShipping, 'referencia')
        deleteToSave(saveDataShipping, 'devolucion')
        saveDataShipping.value.tiposolucion = props.showCase
        modalSucces.value.show = true
        cancelButton()
        location.reload()
        await SaveShippingNews(saveDataShipping.value)
      }
      if (props.showCase === 2 && enable.value === true) {
        deleteToSave(saveDataShipping, 'observaciones')
        deleteToSave(saveDataShipping, 'devolucion')
        saveDataShipping.value.tiposolucion = props.showCase
        await SaveShippingNews(saveDataShipping.value)
      }
      if (props.showCase === 3 && enable.value === true) {
        deleteToSave(saveDataShipping, 'observaciones')
        deleteToSave(saveDataShipping, 'celular')
        deleteToSave(saveDataShipping, 'ciudad')
        deleteToSave(saveDataShipping, 'direccion')
        deleteToSave(saveDataShipping, 'referencia')
        saveDataShipping.value.tiposolucion = props.showCase
        await SaveShippingNews(saveDataShipping.value)
      }
    }
    const cancelButton = () => {
      enable.value = false
      saveDataShipping.value = {
        observaciones: '',
        tiposolucion: 0,
        guia: '',
        celular: '',
        ciudad: '',
        direccion: '',
        referencia: '',
        devolucion: ''
      }
      emit('cancelButton')
    }

    const buttonGray = () => {
      if (props.showCase === 1) {
        if (
          saveDataShipping.value.observaciones !== '' ||
          saveDataShipping.value.observaciones === null
        ) {
          enable.value = true
        } else {
          enable.value = false
        }
      }
      if (props.showCase === 2) {
        if (
          saveDataShipping.value.celular !== '' &&
          saveDataShipping.value.ciudad !== '' &&
          saveDataShipping.value.direccion !== '' &&
          saveDataShipping.value.referencia !== ''
        ) {
          enable.value = true
        } else {
          enable.value = false
        }
      }
      if (props.showCase === 3) {
        if (saveDataShipping.value.devolucion !== '') {
          enable.value = true
        } else {
          enable.value = false
        }
      }
    }

    watchEffect(async () => {
      await buttonGray()
    })
    return {
      saveDataShipping,
      enable,
      modalError,
      modalSucces,
      buttonGray,
      SendData,
      cancelButton
    }
  }
})
</script>
