<template>
  <div
    class="scroll_sm h-80 w-11/12 overflow-auto rounded-md border-2 p-3 px-2">
    <div v-if="showAppShippingNews === true">
      <div
        v-for="item in AppState.dataGuideInfo"
        :key="item"
        class="flex w-full flex-row justify-between">
        <div class="flex w-8/12 flex-col">
          <p class="font-extrabold">Historial de novedades</p>
          <p>
            Asesora responsable:
            <span class="font-extrabold">{{ item.asesor }}</span>
          </p>
        </div>
        <div class="flex w-4/12 flex-row items-center gap-2">
          <p class="">Estado</p>
          <div
            class="
              flex
              h-7
              w-full
              items-center
              justify-center
              rounded-full
              bg-blue-600
            ">
            <p class="text-white">En proceso</p>
          </div>
        </div>
      </div>
    </div>

    <div v-if="showAppShippingNews === false">
      <div
        v-for="item in AppState.dataGuideInfo"
        :key="item"
        class="flex w-full flex-row justify-between">
        <div class="flex w-8/12 flex-col">
          <p class="font-extrabold">Historial de novedades</p>
          <p>
            Asesora responsable:
            <span class="font-extrabold">{{ item.asesor }}</span>
          </p>
        </div>
        <div class="flex w-4/12 flex-row items-center gap-2">
          <p class="">Estado</p>
          <div
            class="
              flex
              h-7
              w-full
              items-center
              justify-center
              rounded-full
              bg-blue-600
            ">
            <p class="text-white"></p>
          </div>
        </div>
      </div>
    </div>

    <hr class="my-2 mt-4 w-full border-t-2" />

    <div v-if="showAppShippingNews === true">
      <div
        v-for="(item, index) in dataShippingNewsHistory"
        :key="item"
        class="flex justify-center">
        <div class="mb-4 flex h-auto w-full items-center justify-start gap-3">
          <div class="flex">
            <div
              class="h-4 w-4 rounded-full"
              :class="index === 0 ? 'bg-gray-600' : 'bg-gray-200'"></div>
          </div>
          <div
            class="flex h-auto w-full rounded-xl border-2 p-4"
            :class="index === 0 ? 'bg-gray-400' : 'bg-gray-100'">
            <div class="w-full">
              <div class="mb-2 flex items-center gap-4 text-center">
                <p class="font-extrabold">{{ item.dscomentario }}</p>
                <p>{{ item.fechaenvio }}</p>
              </div>
              <div class="my-2 flex flex-col">
                <p>
                  <span class="font-extrabold">Fecha de respuesta: </span>
                  {{ item.dsfecharegistro }}
                </p>
                <div class="my-2 flex w-4/12 flex-row items-center gap-2">
                  <p class="min-w-max">Días por resolverla</p>
                  <div
                    class="
                      flex
                      h-4
                      w-full
                      items-center
                      justify-center
                      rounded-full
                      bg-red-500
                      px-2
                    ">
                    <p class="text-white">1</p>
                  </div>
                </div>
                <p>
                  <span class="font-extrabold">Tipo de novedad:</span>
                  {{ item.dsdescripcion }}
                </p>
                <p>"{{ item.dsaclaracion }}"</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div v-if="showAppShippingNews === false">
      <div
        v-for="(item, index) in dataShippingNewsIncident"
        :key="item"
        class="flex justify-center">
        <div
          v-if="AppState.dsconsec === item.dsconsec"
          class="mb-4 flex h-40 w-full items-center justify-start gap-3">
          <div class="flex">
            <div
              class="h-4 w-4 rounded-full"
              :class="index === 0 ? 'bg-gray-600' : 'bg-gray-200'"></div>
          </div>
          <div
            class="flex h-40 w-full rounded-xl border-2 p-4"
            :class="index === 0 ? 'bg-gray-400' : 'bg-gray-100'">
            <div class="w-full">
              <div class="my-2 flex flex-col">
                <p>
                  <span class="font-extrabold">Factores externos </span>
                  {{ item.dsfecha }}.
                </p>
                <p>
                  <span class="font-extrabold">Tipo de novedad:</span>
                  {{ item.Des_Novedad }}
                </p>
                <p>"{{ item.dsaclaracion }}"</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'
import {
  IDataShippingIncident,
  IDataShippingNews
} from '../models/guideDetailsAve'
import { useAppGuideDetails } from '../store/useStoreGuideDetail'

export default defineComponent({
  name: 'AppShippingNewsHistory',
  props: {
    dataShippingNewsHistory: {
      type: Object as PropType<IDataShippingNews>
    },
    // dataNewsInt: {
    //   type: Object as PropType<IDataShippingNewsHistory>

    // },
    dataShippingNewsIncident: {
      type: Object as PropType<IDataShippingIncident>
    },
    showAppShippingNews: {
      type: Boolean,
      required: true
    }
  },
  setup() {
    const AppState = useAppGuideDetails()

    // const opciones = [
    //   'MERCANCIA DEBE SER ENTREGADA EN OTRA DIRECCION',
    //   'NO CONOCEN DESTINATARIO EN DIRECCION DESTINO',
    //   'DIRECCION DESTINATARIO NO EXISTE',
    //   'DESTINATARIO SE TRASLADO',
    //   'DIRECCION DE DESTINO CORRESPONDE A OTRA CIUDAD',
    //   'GUIA SIN DIRECCION DESTINATARIO',
    //   'DESTINATARIO NO CONOCE AL REMITENTE',
    //   'OBSTRUCCION EN LA VIA PUBLICA O AEROPUERTO CERRADO',
    //   'RETRASO REGIONAL ORIGEN',
    //   'DESTINATARIO SE TRASLADO.',
    //   'DESTINATARIO SE REHUSA A RECIBIR'
    // ]

    return {
      AppState
    }
  }
})
</script>
