<template>
  <div v-for="item in dataRemitente" :key="item" class="w-1/2">
    <div class="scroll_sm h-96 overflow-x-hidden p-1">
      <div class="mt-5 flex w-full flex-row justify-between">
        <div class="flex w-1/2">
          <ul class="my-1 w-11/12">
            <li>
              <p class="text-[18px] font-extrabold">Remitente</p>
            </li>

            <hr class="border-t-1 my-4 w-11/12 border-gray-200" />

            <li class="flex gap-1">
              <p class="mb-1 font-extrabold">Nombre:</p>
              <p>{{ item.dsnombre }}</p>
            </li>
            <li class="flex gap-1">
              <p class="mb-1 font-extrabold">Telefono:</p>
              <p>{{ item.dstel || item.dstel2 }}</p>
            </li>
            <li class="flex gap-1">
              <p class="mb-1 font-extrabold">País:</p>
              <p>{{ item.dspais }}</p>
            </li>
            <li class="flex gap-1">
              <p class="mb-1 font-extrabold">Municipio:</p>
              <p>{{ item.dsciudad }}</p>
            </li>
            <li class="flex gap-1">
              <p class="mb-1 font-extrabold">Dirección:</p>
              <p class="text-transform: lowercase">{{ item.dsdir }}</p>
            </li>
          </ul>
        </div>
        <div class="flex w-1/2">
          <ul class="my-1 w-11/12">
            <li>
              <p class="text-[18px] font-extrabold">Destinatario</p>
            </li>

            <hr class="border-t-1 my-4 flex w-11/12" />

            <li class="flex gap-1">
              <p class="mb-1 font-extrabold">Nombre:</p>
              <p>{{ item.dsnombred }}</p>
            </li>
            <li class="flex gap-1">
              <p class="mb-1 font-extrabold">Telefono:</p>
              <p>{{ item.dsteld }}</p>
            </li>
            <li class="flex gap-1">
              <p class="mb-1 font-extrabold">País:</p>
              <p>{{ item.dspaisd }}</p>
            </li>
            <li class="flex gap-1">
              <p class="mb-1 font-extrabold">Municipio:</p>
              <p>{{ item.dsciudadd }}</p>
            </li>
            <li class="flex gap-1">
              <p class="mb-1 font-extrabold">Dirección:</p>
              <p>{{ item.dsdird }}</p>
            </li>
          </ul>
        </div>
      </div>

      <div class="mt-3 flex">
        <p class="text-[18px] font-extrabold">Mercancía</p>
      </div>

      <hr class="border-t-1 my-3 flex w-full border-gray-400" />

      <div class="flex w-full flex-row gap-6">
        <p class="gap-1">
          <span class="text-[14px] font-extrabold">Unidades:</span>
          {{ item.idtotaluni }}
        </p>
        <p class="gap-1">
          <span class="text-[14px] font-extrabold">Contenido:</span>
          {{ item.dscom }}
        </p>
        <p class="gap-1">
          <span class="text-[14px] font-extrabold">Peso:</span>
          {{ item.dskilosliquidados }}kg
        </p>
        <p class="gap-1">
          <span class="text-[14px] font-extrabold">Peso volumen:</span>
          {{ item.pesovol }} kg
        </p>
      </div>

      <div class="mt-4">
        <p class="text-lg font-extrabold">Costo</p>
      </div>

      <hr class="w-ful border-t-1 my-3 mt-1 flex w-full border-gray-400" />

      <div class="w-full">
        <section>
          <div class="flex w-full justify-center gap-4 text-center">
            <div class="w-1/3">
              <p class="text-[16px] font-extrabold">Descripción</p>
            </div>
            <div class="w-1/3">
              <p class="text-[16px] font-extrabold">Remitente</p>
            </div>
            <div class="w-1/3">
              <p class="text-[16px] font-extrabold">Destinatario</p>
            </div>
          </div>

          <hr class="my-2 mt-1 flex w-full border-t-2" />

          <div class="flex w-full justify-center gap-4 text-center">
            <div class="w-1/3">
              <p class="text-[16px]">Flete x unidad</p>
            </div>
            <div class="w-1/3">
              <p class="text-[16px]">$0</p>
            </div>
            <div class="w-1/3">
              <p class="text-[16px]">$10.000</p>
            </div>
          </div>
          <div class="flex w-full justify-center gap-4 text-center">
            <div class="w-1/3">
              <p class="text-[16px]">Flete Total</p>
            </div>
            <div class="w-1/3">
              <p class="text-[16px]">$0</p>
            </div>
            <div class="w-1/3">
              <p class="text-[16px]">$10.000</p>
            </div>
          </div>
        </section>
      </div>
    </div>

    <div class="mt-3 flex w-full flex-row items-center gap-5">
      <p class="text-[14px] font-extrabold">Factura:</p>
      <FontAwesomeIcon class="text-gray-600" icon="file-pdf" />
      <p class="w-full">BU-189684595.pdf</p>
      <p class="text-[14px] font-extrabold">Estado:</p>
      <div
        class="
          flex
          h-6
          w-11/12
          justify-center
          rounded-md
          bg-amber-300
          text-white
        ">
        <button>
          <p>Pendiente de pago</p>
        </button>
      </div>
      <div
        class="flex h-8 w-64 justify-center rounded-md bg-red-500 text-white">
        <button>Pagar</button>
      </div>
    </div>

    <div class="mt-2 flex items-center justify-start gap-3">
      <p class="text-[14px] font-extrabold">RC pago recaudo:</p>
      <FontAwesomeIcon class="text-gray-600" icon="file-pdf" />
      <p>189684595.pdf</p>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'

import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import { IDataGuideInfoGeneral } from '../models/guideDetailsAve'

export default defineComponent({
  name: 'TheDetailsSenderAddresse',
  components: {
    FontAwesomeIcon
  },
  props: {
    dataRemitente: {
      type: Object as PropType<IDataGuideInfoGeneral>,
      required: true
    }
  }
})
</script>
