<template>
  <div class="flex w-1/2">
    <div class="mt-7 h-96 w-11/12 rounded-md border-2 p-6">
      <div v-for="item in fechaEnvio" :key="item" class="flex">
        <p class="text-[18px] font-extrabold">Historial de la guía</p>
        <div class="mx-4 my-auto h-4 border-r border-gray-400"></div>
        <div class="flex gap-3">
          <p class="text-[18px] text-gray-600">Fecha de envío</p>
          <p class="text-[18px] text-gray-600">{{ item.dsfecha }}</p>
        </div>
      </div>

      <hr class="my-3 flex w-full justify-center border-t-2" />

      <section>
        <div class="scroll_sm h-72 w-full overflow-auto pt-2">
          <div
            v-for="(item, index) in dataGuideHistory"
            :key="item"
            class="mt-0 flex justify-center">
            <div
              class="
                mb-9
                mr-2
                flex
                h-20
                w-full
                items-center
                justify-start
                gap-3
              ">
              <div class="flex">
                <div
                  class="h-4 w-4 rounded-full"
                  :class="
                    index === array.length - array.length
                      ? 'bg-gray-600'
                      : 'bg-gray-200 '
                  "></div>
              </div>
              <div
                class="flex h-24 w-full items-center rounded-md border-2 p-4"
                :class="
                  index === array.length - array.length
                    ? 'border-1 border-gray-200 bg-gray-200 '
                    : 'border-1 bg-gray-100 opacity-50'
                ">
                <div>
                  <div class="flex gap-4">
                    <p class="font-extrabold">{{ item.dsestado }}</p>
                    <p>{{ item.dsfecha }}</p>
                    <FontAwesomeIcon
                      v-if="index === array.length - array.length"
                      class="text-amber-800"
                      icon="star">
                    </FontAwesomeIcon>
                  </div>
                  <p>{{ item.dsdescripcion }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'

import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import {
  IDataGuideDetails,
  IDataGuideInfoGeneral
} from '../models/guideDetailsAve'

export default defineComponent({
  name: 'TheGuideHistory',
  components: {
    FontAwesomeIcon
  },
  props: {
    dataGuideHistory: {
      type: Object as PropType<IDataGuideDetails>,
      required: true
    },
    fechaEnvio: {
      type: Object as PropType<IDataGuideInfoGeneral>,
      required: true
    }
  },
  setup() {
    const array = [1, 2, 3, 4, 5]

    return {
      array
    }
  }
})
</script>
