<template>
  <section class="mt-6 text-center text-[14px]">
    <p>Ten en cuenta que al consignar a cuentas</p>
    <p>diferentes a la principal se cobrará un</p>
    <p>impuesto del 2x1.000 sobre el valor</p>
  </section>
  <section>
    <div class="mt-6 flex cursor-pointer items-center text-gray-600">
      <span class="mr-2">
        <input
          id="show2xmil"
          v-model="toogle"
          type="checkbox"
          name="show2xmil" />
      </span>
      <label class="text-sm" for="show2xmil"
        >No volver a mostrar este mensaje</label
      >
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent, ref, watch } from 'vue'
import { toogle2X100 } from '@/utils'
export default defineComponent({
  setup() {
    const toogle = ref<boolean>()

    watch(
      () => toogle.value,
      () => {
        toogle2X100()
      }
    )

    return {
      toogle
    }
  }
})
</script>

/* Accesos al Componente *****/ // TheHeadInfo
