<template>
  <article class="scroll_sm m-2 mt-6 max-h-[50vh] overflow-auto">
    <p>
      Ten en cuenta que tu desembolso en caso de ser Bancolombia tardará x en
      verse reflejado en tu cuenta y otros bancos x tiempo. En estos dineros
      reflejados se descuentan los costos asociados a las guías o facturas
      adicionales.
    </p>
    <p class="mt-6">
      Ahora el pago de los recaudos con Aveonline se gestionan en menos tiempo
      <span class="font-bold">para mejorar tu flujo de caja.</span>
    </p>

    <div class="">
      <p class="mt-6">
        Aveonline realizará el pago del recaudo de tus envíos contra entrega o
        link de pago
        <span class="font-bold"
          >a partir de 4 días hábiles después de entregada la guía</span
        >, dependiendo de la transportadora con la cual hagas el envío.
      </p>

      <div class="mt-6">
        <ul class="ml-6">
          <li class="list-disc">
            Envíos con TCC: Recibirás tu recaudo de 4 a 6 días hábiles.
          </li>
          <li class="list-disc">
            Envíos con Envía, Servientrega, Saferbo e Interapidísimo: Recibirás
            tu recaudo de 7 a 11 días hábiles.
          </li>
        </ul>
      </div>

      <p class="mt-6">
        ¡No te preocupes! Con Aveonline, esto
        <span class="font-bold">NO implica costos adicionales</span>, diferentes
        a la comisión por recaudo que cobran normalmente todas las
        transportadoras.
      </p>
      <p class="mt-6 text-lg font-bold">¿Cómo se pagan los recaudos?</p>
      <p class="mt-6">
        El reembolso de los recaudos se realizarán en los siguientes días según
        el operador:
      </p>

      <div class="content m-6">
        <table class="w-full p-0">
          <thead class="bg-gray-100">
            <tr>
              <th class="w-5/12 text-center">Transportadora</th>
              <th class="w-2/12 text-center">Día de pago</th>
              <th class="w-5/12 text-center">Corte</th>
            </tr>
          </thead>
          <tbody class="m-0">
            <tr class="h-14">
              <td class="text-center">
                <span class="">TCC</span>
              </td>
              <td class="p-2 text-center">
                <p>Martes</p>
                <p class="mt-3">Viernes</p>
              </td>
              <td class="text-center">
                <p>Miércoles de la semana anterior</p>
                <p></p>
                <p>Lunes de la misma semana</p>
              </td>
            </tr>

            <tr class="h-14">
              <td class="text-center">
                <span class=""
                  >Envía, Servientrega, Saferbo e Interapidísimo</span
                >
              </td>
              <td class="text-center">
                <p>Viernes</p>
              </td>
              <td class="text-center">
                <p>Miércoles de la semana anterior</p>
              </td>
            </tr>

            <tr class="h-14">
              <td class="text-center">
                <span>Link de pago</span>
              </td>
              <td class="text-center">
                <p>Viernes</p>
              </td>
              <td class="text-center">
                <p>Miércoles de la semana anterior</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p>
        Antes de solicitar el servicio de envío con recaudo para tu negocio, ten
        presente esta información la cual es válida a partir del 4 de abril de
        2022.
      </p>
    </div>
  </article>
</template>
