<template>
  <section class="main mt-6 w-full">
    <AppSubMenu v-model="methodsPay" class="mt-4"></AppSubMenu>

    <section v-if="methodsPay.idCurrentTab == 1">
      <TheMethosElectronicPayAve></TheMethosElectronicPayAve>
    </section>

    <section v-if="methodsPay.idCurrentTab == 2">
      <TheMethodsPayTransferAve></TheMethodsPayTransferAve>
    </section>

    <div></div>
  </section>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import AppSubMenu from '@/components/AppSubMenu.vue'
import TheMethodsPayTransferAve from './TheMethodsPayTransferAve.vue'
import TheMethosElectronicPayAve from './TheMethosElectronicPayAve.vue'

export default defineComponent({
  components: {
    AppSubMenu,
    TheMethodsPayTransferAve,
    TheMethosElectronicPayAve
  },
  setup() {
    const methodsPay = ref({
      idCurrentTab: 1,
      items: [
        {
          id: 1,
          name: 'Pago electrónico'
        },
        {
          id: 2,
          name: 'Transferencia o consignación'
        }
      ]
    })
    return { methodsPay }
  }
})
</script>
