<template>
  <section class="mt-4 flex w-full gap-2 text-gray-800">
    <div class="datos_pagos w-6/12">
      <h3 class="text-lg font-bold">Resumen</h3>
      <div
        class="mt-3 rounded-lg border border-gray-200 bg-gray-100 p-2 text-sm">
        <div class="flex">
          <FontAwesomeIcon icon="file-invoice-dollar"></FontAwesomeIcon>
          <span class="ml-2 font-bold">Paga por medio de Wompi</span>
        </div>
        <p class="text- mt-1">
          Sin costos adicionales y tu pago se verá reflejado de inmediato
        </p>
      </div>
      <div
        class="
          mt-3
          flex
          cursor-pointer
          items-center
          justify-between
          rounded-lg
          border border-gray-400
          p-2
          py-1
        ">
        <div class="w-full">
          <div class="flex w-full text-sm">
            <div class="w-6/12 border-r-2">
              <p>Deuda total a la fecha</p>
              <p class="font-bold">
                {{ formatCurrencyCo(totalDeuda) }}
              </p>
            </div>
            <div class="ml-3 w-6/12">
              <p>Total vencido</p>
              <p class="font-bold">
                {{ formatCurrencyCo(totalvencido) }}
              </p>
            </div>
          </div>
          <div
            class="mt-4 flex w-full justify-center text-sm text-gray-600"
            @click="showDatail = !showDatail">
            <span class="mr-2">Ver detalle</span>
            <div
              class="icon flex items-center"
              :class="[showDatail ? 'rotate-180' : '']">
              <FontAwesomeIcon icon="chevron-down" />
            </div>
          </div>

          <div class="w-full">
            <div v-if="showDatail" class="toggl mt-4 mb-2 text-xs">
              <div
                class="
                  headers
                  flex
                  w-full
                  justify-around
                  border-y border-gray-400
                  py-2
                  text-[12px]
                  font-bold
                ">
                <span>Factura</span>
                <span>Fecha</span>
                <span>Saldo</span>
              </div>
              <div class="scroll_sm max-h-16 w-full overflow-auto">
                <div
                  v-for="factura in dataFacturas"
                  :key="factura.idpedido"
                  class="mt-[7px] flex w-full">
                  <input
                    :id="'check-' + String(factura.idpedido)"
                    :class="'c-check-' + String(factura.idpedido)"
                    type="checkbox"
                    :name="String(factura.idpedido)"
                    @click="selected(factura.idpedido, factura.saldo)" />
                  <div
                    class="data flex w-11/12 justify-around"
                    :class="'check-' + String(factura.idpedido)">
                    <label :class="'class-' + String(factura.idpedido)">
                      {{ factura.dsprefijo }} {{ factura.idpedido }}
                    </label>
                    <label :class="'class-' + String(factura.idpedido)">
                      {{ factura.dsfechac }}
                    </label>
                    <label :class="'class' + String(factura.idpedido)">
                      {{ formatCurrencyCo(factura.saldo) }}
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="resumen w-6/12">
      <h3 class="text-lg font-bold">Datos de pago</h3>
      <div
        class="
          mt-3
          flex
          cursor-pointer
          justify-between
          rounded-[5%]
          border border-gray-400
          px-2
          py-1
          text-sm
        "
        :class="[totalDeuda < 1 ? 'opacity-50' : '']"
        @click="prepareToWompi(totalDeuda, 'totalDeuda')">
        <div class="text">
          <p class="mb-2 text-gray-800">Pago total</p>
          <p class="text-base font-bold">{{ formatCurrencyCo(totalDeuda) }}</p>
        </div>
        <FontAwesomeIcon class="my-auto -rotate-90" icon="chevron-down" />

        <!-- <fontAwesomeIcon
            class="animate-spin my-auto" icon="spinner" /> -->
      </div>
      <div
        class="
          mt-3
          flex
          cursor-pointer
          justify-between
          rounded-[5%]
          border border-gray-400
          px-2
          py-1
          text-sm
        "
        :class="[totalvencido < 1 ? 'opacity-50' : '']"
        @click="prepareToWompi(totalvencido, 'facturasVencidas')">
        <div class="text">
          <p class="mb-2">Pago total vencido</p>
          <p class="text-base font-bold">
            {{ formatCurrencyCo(totalvencido) }}
          </p>
        </div>
        <FontAwesomeIcon class="my-auto -rotate-90" icon="chevron-down" />

        <!-- <fontAwesomeIcon
            class="animate-spin my-auto" icon="spinner" /> -->
      </div>
      <div
        class="
          mt-3
          flex
          cursor-pointer
          justify-between
          rounded-[5%]
          border border-gray-400
          px-2
          py-1
          text-sm
        "
        :class="[facturasSelecionadas < 1 ? 'opacity-50' : '']"
        @click="prepareToWompi(facturasSelecionadas, 'facturasSelecionadas')">
        <div class="text">
          <p class="mb-2">Pago facturas seleccionadas</p>
          <p class="text-base font-bold">
            {{ formatCurrencyCo(facturasSelecionadas) }}
          </p>
        </div>
        <FontAwesomeIcon class="my-auto -rotate-90" icon="chevron-down" />

        <!-- <fontAwesomeIcon
            class="animate-spin my-auto" icon="spinner" /> -->
      </div>
      <div
        class="
          mt-3
          flex
          cursor-pointer
          justify-between
          rounded-[5%]
          border border-gray-400
          px-2
          py-1
          text-sm
        "
        :class="[totalDeuda < 1 ? 'opacity-50' : '']">
        <div class="text">
          <p class="m-2">Valor parcial</p>
          <span class="input-symbol-dollar">
            <input
              id="partialValue"
              v-model="partialValue"
              v-mask="maskered"
              :disabled="totalDeuda < 1 ? true : false"
              name="partialValue"
              class="
                input-symbol-dollar
                ml-2
                h-[30px]
                w-full
                rounded-full
                border border-gray-400
                py-[5px]
                px-4
                focus:outline-none
              " />
          </span>
        </div>
        <div
          class="icon flex w-3/12 cursor-pointer items-center justify-end"
          title="click aqui para pagar"
          @click="prepareToWompi(partialValue, 'parcial')"></div>
        <FontAwesomeIcon
          v-if="!loaders.parcial"
          class="my-auto -rotate-90"
          icon="chevron-down" />

        <!-- <fontAwesomeIcon
            class="animate-spin my-auto" icon="spinner" /> -->
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { mask } from 'vue-the-mask'
import { defineComponent, ref } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import { methodsPayAve } from '@/composables/methodsPayAve'
import { formatCurrencyCo } from '@/utils/toolsAve'

export default defineComponent({
  directives: {
    mask
  },
  components: {
    FontAwesomeIcon
  },
  setup() {
    const showDatail = ref(true)

    const {
      dataForm,
      classForm,
      loaders,
      showModal,
      dataFacturas,
      prepareToWompi,
      setterAllInvoicesValue,
      sendPaymentConfirmation,
      selected,
      handlerBase64,
      partialValue,
      totalvencido,
      totalDeuda,
      maskered
    } = methodsPayAve()

    return {
      showDatail,
      dataForm,
      classForm,
      loaders,
      showModal,
      dataFacturas,
      partialValue,
      totalvencido,
      totalDeuda,
      maskered,
      formatCurrencyCo,
      prepareToWompi,
      setterAllInvoicesValue,
      sendPaymentConfirmation,
      selected,
      handlerBase64
    }
  }
})
</script>
