<template>
  <section
    class="
      trans
      progress_red
      mt-4
      max-h-[50vh]
      w-full
      overflow-auto
      duration-500
    ">
    <div class="info flex w-full">
      <div class="resumen w-7/12">
        <h3 class="text-lg font-bold">Resumen</h3>
        <div
          class="
            sans
            mt-3
            flex
            cursor-pointer
            items-center
            justify-between
            rounded-lg
            border border-gray-400
            p-2
            py-1
            text-gray-800
          ">
          <div class="w-full">
            <div class="flex w-full text-sm">
              <div class="w-6/12 border-r-2">
                <p>Deuda total a la fecha</p>
                <p class="text-base font-bold">
                  {{ formatCurrencyCo(totalDeuda) }}
                </p>
              </div>
              <div class="ml-3 w-6/12">
                <p>Total vencido</p>
                <p class="text-base font-bold">
                  {{ formatCurrencyCo(totalvencido) }}
                </p>
              </div>
            </div>
            <div
              class="mt-4 flex w-full justify-center text-sm text-gray-600"
              @click="showDatail = !showDatail">
              <span class="mr-2">Ver detalle</span>
              <div
                class="icon flex items-center"
                :class="[showDatail ? 'rotate-180' : '']">
                <FontAwesomeIcon icon="chevron-down" />
              </div>
            </div>
            <div class="w-full">
              <div v-if="showDatail" class="toggl mt-3 mb-2 text-xs">
                <div
                  class="
                    headers
                    flex
                    w-full
                    justify-around
                    border-y border-gray-400
                    py-2
                    font-bold
                  ">
                  <span>Factura</span>
                  <span>Fecha</span>
                  <span>Saldo</span>
                </div>

                <div class="scroll_sm max-h-16 w-full overflow-auto">
                  <div
                    v-for="factura in dataFacturas"
                    :key="factura.idpedido"
                    class="mt-[7px] flex w-full">
                    <div
                      class="data flex w-11/12 justify-around"
                      :class="'check-' + String(factura.idpedido)">
                      <label :class="'class-' + String(factura.idpedido)">
                        {{ factura.dsprefijo }} {{ factura.idpedido }}
                      </label>
                      <label :class="'class-' + String(factura.idpedido)">
                        {{ factura.dsfechac }}
                      </label>
                      <label :class="'class' + String(factura.idpedido)">
                        {{ formatCurrencyCo(factura.saldo) }}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="datos_pagos w-5/12 px-2">
        <h3 class="text-center text-lg font-bold">Datos del pago</h3>
        <div class="mt-2 w-full text-center">
          <p class="font-bold">Consignar a AVE GROUP SAS</p>
          <p class="text-xs">Bancolombia - Ahorros 34494829446</p>
        </div>
        <div class="mt-3 rounded-[5px] bg-gray-100 p-3 text-sm">
          <p>
            <span class="font-bold">Ten en cuenta</span>
            que pagando por este medio tus pagos se verán reflejados en un
            tiempo superior. Te invitamos a que utilices el pago electrónico por
            medio de Wompi sin costos adicionales y automático.
          </p>
        </div>
      </div>
    </div>

    <div class="form w-full p-2">
      <h3 class="justify-center text-lg font-bold">Notificar pago</h3>
      <div class="flex w-full gap-3">
        <div class="w-6/12">
          <div class="min_cont mt-4 w-full">
            <label class="text-[14px] font-normal text-gray-800"
              >Medio de pago *</label
            >
            <Multiselect
              v-model="dataForm.medioDePago"
              class="border-gray-400"
              :searchable="false"
              :options="medios_pagos" />
          </div>
          <div class="min_cont mt-2 w-full rounded-full">
            <AppInputDateAve
              v-model="dataForm.fecha"
              type="date"
              :is-required="true"
              label="Fecha de pago">
            </AppInputDateAve>
          </div>
        </div>
        <div class="mt-1 w-6/12">
          <div class="min_cont mt-1 w-full">
            <AppInputTextVue
              v-model="dataForm.valor"
              masker="number"
              :is-required="true"
              :class-name="classForm.valor"
              label="Valor pagado" />
          </div>
          <div class="min_cont mt-2 w-full">
            <label class="text-sm font-normal text-gray-800" for="imagen"
              >Adjunta imagen *</label
            >
            <input
              id="imagen"
              type="file"
              name="imagen"
              class="
                input_no_icon
                mt-1
                w-full
                rounded-[5px]
                border border-gray-400
                p-1
                focus:outline-none
              "
              @change="handlerBase64" />
          </div>
        </div>
      </div>
      <div class="mt-3 w-full">
        <AppInputTextVue
          v-model="dataForm.observaciones"
          type="text"
          :is-required="true"
          label="Observaciones"
          class-name="rounded-full" />
      </div>
      <div class="mt-3 w-full justify-center">
        <AppButtonAve
          v-if="!dataForm.load"
          class-name="w-[180px] mx-auto"
          @click="sendPaymentConfirmation"
          >Notificar pago</AppButtonAve
        >

        <AppButtonAve
          v-if="dataForm.load"
          class-name="w-[180px] mx-auto"
          :is-load="dataForm.load" />
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import Multiselect from '@vueform/multiselect'

import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import AppInputDateAve from '@/components/AppInputDateAve.vue'
import AppInputTextVue from '@/components/AppInputTextAve.vue'
import AppButtonAve from '@/components/AppButtonAve.vue'
import { methodsPayAve } from '@/composables/methodsPayAve'
import { formatCurrencyCo } from '@/utils/toolsAve'

export default defineComponent({
  components: {
    FontAwesomeIcon,
    Multiselect,
    AppInputDateAve,
    AppInputTextVue,
    AppButtonAve
  },
  setup() {
    const showDatail = ref(true)

    const {
      dataForm,
      classForm,
      loaders,
      showModal,
      dataFacturas,
      prepareToWompi,
      setterAllInvoicesValue,
      sendPaymentConfirmation,
      selected,
      handlerBase64
    } = methodsPayAve()

    return {
      showDatail,
      dataForm,
      classForm,
      loaders,
      showModal,
      dataFacturas,
      prepareToWompi,
      setterAllInvoicesValue,
      sendPaymentConfirmation,
      selected,
      handlerBase64,
      formatCurrencyCo
    }
  }
})
</script>
