<template>
  <main class="contenedor contendor p-5">
    <section class="flex justify-between">
      <div class="ml-1 mb-4">
        <AppBreadcrumbVue :add-home-default="false"></AppBreadcrumbVue>
      </div>
      <div class="dates flex items-center">
        <AppDatePickerRangeVue
          position="right"
          :has-border="true"></AppDatePickerRangeVue>
      </div>
    </section>
    <div class="flex w-full flex-col">
      <section>
        <TheTitleHeaderVue />
      </section>

      <TheHeadInfoAveVue class="mx-auto mt-5" />

      <TheBodyInfoAve />
    </div>
  </main>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import TheTitleHeaderVue from './popUps/TheTitleHeaderAve.vue'
import TheHeadInfoAveVue from './popUps/TheHeadInfoAve.vue'
import TheBodyInfoAve from './popUps/TheBodyInfoAve.vue'
import AppBreadcrumbVue from '@/components/AppBreadcrumb.vue'
import AppDatePickerRangeVue from '@/components/AppDatePickerRange.vue'

export default defineComponent({
  components: {
    TheTitleHeaderVue,
    TheHeadInfoAveVue,
    TheBodyInfoAve,
    AppBreadcrumbVue,
    AppDatePickerRangeVue
  }
})
</script>

<style scoped>
.contendor {
  height: calc(100vh - 64px);
  overflow-y: auto;
}
@media (min-width: 768px) {
  .contendor {
    margin-top: 1rem;
  }
}
</style>
