<template>
  <main class="contenedor contendor p-5">
    <section class="flex justify-between">
      <div>
        <AppBreadcrumbVue :add-home-default="false"></AppBreadcrumbVue>
      </div>
      <div class="dates flex items-center">
        <AppDatePickerRangeVue
          position="right"
          :has-border="true"></AppDatePickerRangeVue>
      </div>
    </section>
    <div class="w-full flex-col">
      <TheTitleHeaderAveVue>
        Configuración de canales y campañas</TheTitleHeaderAveVue
      >
      <AppSubMenu v-model="channelCammingData" class="mt-4"></AppSubMenu>

      <section v-if="channelCammingData.idCurrentTab == 1">
        <TheCanalsTableAve></TheCanalsTableAve>
      </section>

      <section v-if="channelCammingData.idCurrentTab == 2">
        <TheCampanTableAve></TheCampanTableAve>
      </section>
    </div>
  </main>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import TheTitleHeaderAveVue from './components/TheTitleHeaderAve.vue'
import AppDatePickerRangeVue from '@/components/AppDatePickerRange.vue'
import AppBreadcrumbVue from '@/components/AppBreadcrumb.vue'
import AppSubMenu from '@/components/AppSubMenu.vue'
import TheCanalsTableAve from './components/TheCanalsTableAve.vue'
import TheCampanTableAve from './components/TheCampanTableAve.vue'

export default defineComponent({
  components: {
    TheTitleHeaderAveVue,
    AppDatePickerRangeVue,
    AppBreadcrumbVue,
    AppSubMenu,
    TheCanalsTableAve,
    TheCampanTableAve
  },
  setup() {
    const channelCammingData = ref({
      idCurrentTab: 1,
      items: [
        {
          id: 1,
          name: 'Canales'
        },
        {
          id: 2,
          name: 'Campañas'
        }
      ]
    })
    return { channelCammingData }
  }
})
</script>

<style scoped>
.contendor {
  height: calc(100vh - 64px);
  overflow-y: auto;
}

@media (min-width: 768px) {
  .contendor {
    margin-top: 1rem;
  }
}
</style>
