<template>
  <main class="contenedor contendor p-5">
    <div>
      <AppBreadcrumbVue :add-home-default="false"></AppBreadcrumbVue>
    </div>
    <div class="mt-4 w-full flex-col">
      <TheTitleCrud v-if="State == 'Created'">Nueva Campaña</TheTitleCrud>
      <TheTitleCrud v-else>Editar Campaña</TheTitleCrud>
      <TheFormCanalsVue></TheFormCanalsVue>
    </div>
  </main>
</template>

<script lang="ts">
import { computed, defineComponent } from 'vue'

import TheTitleCrud from './components/TheTittleCrudAve.vue'
import TheFormCanalsVue from './components/channelCrud/TheFormsCanalsAve.vue'
import AppBreadcrumbVue from '@/components/AppBreadcrumb.vue'
import { useAppStore } from '@/store/channelAndCampainAve'

export default defineComponent({
  components: {
    TheTitleCrud,
    TheFormCanalsVue,
    AppBreadcrumbVue
  },
  setup() {
    const AppState = useAppStore()
    const State = computed(() => AppState.getMode)
    const dataChannel = computed(() => AppState.getChannelEdit)

    return {
      State,
      dataChannel
    }
  }
})
</script>

<style scoped>
.contendor {
  height: calc(100vh - 64px);
  overflow-y: auto;
}

@media (min-width: 768px) {
  .contendor {
    margin-top: 1rem;
  }
}
</style>
