<template>
  <main class="contendor p-6">
    <div class="flex w-full flex-col">
      <AppBreadcrumb :add-home-default="false" />
      <div class="py-5">
        <TheTittlePrincipal v-if="State == 'Created'">
          Nuevo descuento</TheTittlePrincipal
        >
        <TheTittlePrincipal v-else> Editar descuento</TheTittlePrincipal>
      </div>

      <div>
        <div class="w-5/12">
          <p class="mb-2 text-[14px] font-normal text-gray-800">Nombre *</p>
          <span class="input-symbol-dollar">
            <input
              v-model="saveData.nombre"
              :class="error.nombre ? 'border-red-600' : 'border-gray-400'"
              class="
                input-symbol-dollar
                h-[39px]
                w-full
                rounded-full
                border border-gray-400
                py-[5px]
                px-4
                focus:outline-none
              "
              @input="nombreIncomplete" />
          </span>
        </div>
      </div>

      <div
        v-if="error.nombre"
        class="Error flex w-full items-center text-red-900"
        @change="nombreIncomplete">
        <FontAwesomeIcon
          class="h-2.5 w-4 cursor-pointer text-red-900"
          icon="exclamation-triangle">
        </FontAwesomeIcon>
        <p class="text-xs">Falta el nombre!</p>
      </div>

      <div class="mt-2 py-3">
        <AppCRUDDiscount numberr="1" @date-flete="setDates2"
          >Descuento sobre el flete</AppCRUDDiscount
        >
      </div>

      <div class="py-3">
        <AppCRUDDiscount numberr="2" @date-rec="setDates"
          >Descuento sobre comision de recaudo</AppCRUDDiscount
        >
      </div>

      <div class="my-4 flex w-full items-center justify-center gap-4">
        <AppButton
          class-name="w-36"
          color="secondary"
          @click="goTo(ROUTES.CONFIGDESCUENTOS.PATH)"
          >Volver</AppButton
        >
        <AppButton
          v-if="State == 'Created'"
          class-name="w-36"
          :color="activeBotton()"
          @click="SendCreated"
          >Guardar</AppButton
        >
        <AppButton
          v-if="State == 'Edit'"
          class-name="w-36"
          :color="activeBotton()"
          @click="SendEdit"
          >Guardar</AppButton
        >
        <AppButton
          v-if="State == 'Load'"
          class-name="w-36"
          :is-load="true"></AppButton>
      </div>
    </div>

    <AppModalAveVue
      v-model="modal.show"
      :header-icon="modal.icon"
      width="400px"
      :title="modal.title">
      <div @subscribe-account="closesugernecy"></div>
      <div class="mt-4 flex w-full justify-center">
        <h5 class="font-extrabold text-gray-600">Campos sin completar</h5>
      </div>
      <div class="mt-4 flex w-full text-center text-sm text-gray-800">
        Debes completar todos los campos obligatorios antes de continuar con el
        proceso
      </div>
    </AppModalAveVue>
  </main>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  onMounted,
  reactive,
  ref,
  watchEffect
} from 'vue'
import { useRouter, useRoute } from 'vue-router'

import TheTittlePrincipal from '../discounts/components/TheTittlePrincipalAve.vue'
import AppCRUDDiscount from '../discounts/components/AppDiscountCRUDAve.vue'

import AppButton from '@/components/AppButtonAve.vue'
import AppBreadcrumb from '@/components/AppBreadcrumb.vue'
import AppModalAveVue from '@/components/AppModalAve.vue'

import { ROUTES } from '@/constants'
import { useAppDescuento } from '../discounts/store/module.store'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

import { IguadarDescuentos, InfoFecha } from '../discounts/models/descuentoAve'
import { EditDiscount, SaveDiscount } from '../discounts/services/'

type Icon = 'ok' | 'error' | ''
interface IModal {
  icon: Icon
  show: boolean
  title: string
  text: string
}

export default defineComponent({
  components: {
    TheTittlePrincipal,
    AppButton,
    AppCRUDDiscount,
    AppBreadcrumb,
    AppModalAveVue,
    FontAwesomeIcon
  },

  emits: ['filter'],

  setup() {
    const AppState = useAppDescuento()
    const router = useRouter()
    const route = useRoute()
    const State = computed(() => AppState.getMode)

    const arrayFlete = computed(() => AppState.getDataFlete)
    const arrayRecuado = computed(() => AppState.getDataRecuado)

    const dateRec = ref({
      init: '',
      final: ''
    })
    const dateFlete = ref({
      init: '',
      final: ''
    })

    const error = reactive({
      nombre: false,
      fecha: 'false'
    })

    const modal = ref<IModal>({
      icon: '',
      show: false,
      text: '',
      title: 'Error'
    })

    let saveData = ref<IguadarDescuentos>({
      nombre: '',
      flete_fecha_inicio: '',
      flete_fecha_final: '',
      data_flete: [
        {
          flete_fact_desde: 0,
          flete_fact_hasta: 0,
          flete_porcentaje_descuento: 0,
          flete_valor_descuento: 0
        }
      ],
      recaudo_fecha_inicio: '',
      recaudo_fecha_final: '',
      data_recaudo: [
        {
          recaudo_total_desde: 0,
          recaudo_total_hasta: 0,
          recaudo_porcentaje_descuento: 0,
          recaudo_valor_descuento: 0
        }
      ]
    })

    const setDates = (val: InfoFecha) => {
      saveData.value.recaudo_fecha_final = val.final
      saveData.value.recaudo_fecha_inicio = val.init
    }

    const setDates2 = (val: InfoFecha) => {
      saveData.value.flete_fecha_final = val.final
      saveData.value.flete_fecha_inicio = val.init
    }

    const goTo = (route: string) => {
      AppState.validationInput.errorInput = false
      AppState.validationInput.errorDate = false
      return router.push(route)
    }

    const nombreIncomplete = () => {
      if (saveData.value.nombre === '') {
        error.nombre = true
      } else {
        error.nombre = false
      }
    }

    const removeIfNotExist = (
      saveData: any,
      emptySaveData: any,
      specificValue: any
    ) => {
      if (
        JSON.stringify(saveData.value[specificValue]) ===
        JSON.stringify(emptySaveData)
      ) {
        delete saveData.value[specificValue]
      }
      return saveData
    }

    const emptyDataFormat = (saveData: any, route: any) => {
      return {
        id: String(route.query?.id),
        nombre: saveData.value.nombre ? String(saveData.value.nombre) : '',
        flete_fecha_inicio: saveData.value.flete_fecha_inicio
          ? saveData.value.flete_fecha_inicio
          : '',
        flete_fecha_final: saveData.value.flete_fecha_final
          ? saveData.value.flete_fecha_final
          : '',
        recaudo_fecha_inicio: saveData.value.recaudo_fecha_inicio
          ? saveData.value.recaudo_fecha_inicio
          : '',
        recaudo_fecha_final: saveData.value.recaudo_fecha_final
          ? saveData.value.recaudo_fecha_final
          : ''
      }
    }
    const emptyDataFlete = [
      {
        flete_fact_desde: 0,
        flete_fact_hasta: 0,
        flete_porcentaje_descuento: 0,
        flete_valor_descuento: 0
      }
    ]
    const emptyDataRecaudo = [
      {
        recaudo_total_desde: 0,
        recaudo_total_hasta: 0,
        recaudo_porcentaje_descuento: 0,
        recaudo_valor_descuento: 0
      }
    ]

    const SendCreated = async () => {
      nombreIncomplete()
      if (
        AppState.validationInput.errorInput === false &&
        AppState.validationInput.errorDate === false &&
        AppState.validationInput.dataInput === true &&
        AppState.validationInput.dataDate === true &&
        error.nombre === false
      ) {
        AppState.changeMode('Load')
        saveData.value.data_flete = [...arrayFlete.value]
        saveData.value.data_recaudo = [...arrayRecuado.value]
        saveData = removeIfNotExist(saveData, emptyDataFlete, 'data_flete')
        saveData = removeIfNotExist(saveData, emptyDataRecaudo, 'data_recaudo')
        SaveDiscount(saveData.value)
      } else {
        nombreIncomplete()
        mostrarModal()
        if (AppState.validationInput.dataDate === false) {
          AppState.validationInput.errorDate = true
        }
        if (AppState.validationInput.dataInput === false) {
          AppState.validationInput.errorInput = true
        }
      }
    }
    const SendEdit = async () => {
      nombreIncomplete()
      if (
        AppState.validationInput.errorInput === false &&
        AppState.validationInput.errorDate === false &&
        AppState.validationInput.dataInput === true &&
        AppState.validationInput.dataDate === true &&
        error.nombre === false
      ) {
        AppState.changeMode('Load')
        saveData.value.data_flete = [...arrayFlete.value]
        saveData.value.data_recaudo = [...arrayRecuado.value]
        if (route.query?.id) {
          if (
            JSON.stringify(saveData.value.data_recaudo) !==
            JSON.stringify(emptyDataRecaudo)
          ) {
            const data = {
              ...emptyDataFormat(saveData, route),
              data_recaudo: saveData.value.data_recaudo
                ? Object([...arrayRecuado.value])
                : ''
            }
            await EditDiscount(data)
          }
          if (
            JSON.stringify(saveData.value.data_flete) !==
            JSON.stringify(emptyDataFlete)
          ) {
            const data = {
              ...emptyDataFormat(saveData, route),
              data_flete: saveData.value.data_flete
                ? Object([...arrayFlete.value])
                : ''
            }
            await EditDiscount(data)
          } else {
            const data = {
              ...emptyDataFormat(saveData, route)
            }
            await EditDiscount(data)
          }
        }
      } else {
        nombreIncomplete()
        mostrarModal()
        if (AppState.validationInput.dataDate === false) {
          AppState.validationInput.errorDate = true
        }
        if (AppState.validationInput.dataInput === false) {
          AppState.validationInput.errorInput = true
        }
      }
    }

    const activeBotton = () => {
      if (
        AppState.validationInput.errorInput === false &&
        AppState.validationInput.errorDate === false &&
        AppState.validationInput.dataInput === true &&
        AppState.validationInput.dataDate === true &&
        error.nombre === false
      ) {
        const deactivate = 'primary'
        return deactivate
      } else {
        const deactivate = 'secondary'
        return deactivate
      }
    }

    const mostrarModal = () => {
      modal.value.show = true
    }

    watchEffect(async () => {
      if (saveData.value.nombre) {
        await nombreIncomplete()
        await activeBotton()
      }
    })

    onMounted(() => {
      if (AppState.getMode === 'Edit') {
        saveData.value.nombre = String(AppState.getDataEdit?.nombre)
        saveData.value.flete_fecha_inicio = String(
          AppState.getDataEdit?.flete_fecha_final
        )
      }
    })

    return {
      State,
      ROUTES,
      error,
      dateFlete,
      dateRec,
      AppState,
      saveData,
      route,
      modal,

      mostrarModal,
      goTo,
      setDates,
      setDates2,
      SendCreated,
      SendEdit,
      nombreIncomplete,
      activeBotton
    }
  }
})
</script>

<style scoped>
.contendor {
  height: calc(100vh - 64px);
  overflow-y: auto;
}

@media (min-width: 768px) {
  .contendor {
    margin-top: 1rem;
  }
}
</style>
