<template>
  <main class="contendor p-6">
    <div class="flex w-full flex-col">
      <div class="flex items-center justify-between py-3 text-center">
        <AppBreadcrumb :add-home-default="false" />
        <AppDatePickerRangeVue :has-border="true" position="right" />
      </div>
      <div class="flex items-center justify-between py-3">
        <AppTitleIconPrincipalVue icon="badge-percent">
          Configuración descuentos
        </AppTitleIconPrincipalVue>
      </div>
      <div class="mt-6">
        <TheInfoCard></TheInfoCard>
      </div>
    </div>
  </main>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import AppTitleIconPrincipalVue from '@/components/AppTitleIconPrincipalAve.vue'
import TheInfoCard from '../discounts/components/TheInfoCardAve.vue'
import AppDatePickerRangeVue from '@/components/AppDatePickerRange.vue'
import AppBreadcrumb from '@/components/AppBreadcrumb.vue'

export default defineComponent({
  components: {
    AppTitleIconPrincipalVue,
    TheInfoCard,
    AppDatePickerRangeVue,
    AppBreadcrumb
  }
})
</script>

<style scoped>
.contendor {
  height: calc(100vh - 64px);
  overflow-y: auto;
}

@media (min-width: 768px) {
  .contendor {
    margin-top: 1rem;
  }
}
</style>
