<template>
  <section class="w-full rounded-[5px] border border-gray-400">
    <div class="cont w-full">
      <div class="gradt flex justify-center py-3">
        <section class="info1 flex min-h-[7rem] flex-col items-center">
          <div
            class="
              titles
              flex flex-col
              items-center
              font-serif
              text-[24px] text-gray-800
            ">
            <h5>Dinero disponible en</h5>
            <h5>tu billetera</h5>
          </div>
          <div class="values font-sans text-[24px] text-gray-600">
            <h5>$10.000.000</h5>
            <p class="text-base">Actualizado el 12/03/2021</p>
          </div>
        </section>
        <div class="flex flex-wrap items-center justify-around">
          <section class="sect_min mt-3 flex justify-center">
            <div
              class="info ml-4 text-left font-sans text-[16px] text-gray-800">
              <p class="font-bold">Este dinero corresponde a</p>
              <p class="ml-1 font-normal">
                1. Tus recaudos de envíos contraentrega
              </p>
              <p class="ml-1 font-normal">2. Recaudos por pago electrónico</p>
              <p class="ml-1 font-normal">3. Reclamaciones efectivas.</p>
              <a
                class="
                  ml-4
                  cursor-pointer
                  font-bold
                  underline underline-offset-1
                "
                @click="modal.showPayRules = !modal.showPayRules">
                Ver más
              </a>
            </div>
          </section>
        </div>
      </div>
      <section
        class="
          sect_min2
          flex flex-wrap
          items-center
          justify-center
          gap-3
          bg-[#ededed]
          py-4
        ">
        <AppButtonAveVue
          class-name="w-[180px]"
          @click="modal.showDisbursement = true"
          >Solicitar desembolso</AppButtonAveVue
        >
        <AppButtonAveVue class-name="w-[180px]" color="secondary"
          >Cargar dinero</AppButtonAveVue
        >
      </section>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import AppButtonAveVue from '@/components/AppButtonAve.vue'

type Icon = 'ok' | 'error' | ''
interface IModal {
  icon: Icon
  show: boolean
  title: string
  text: string
  showPayRules: boolean
  showError: boolean
  showDisbursement: boolean
}

export default defineComponent({
  components: {
    AppButtonAveVue
  },
  setup() {
    const modal = ref<IModal>({
      icon: '',
      show: false,
      title: 'Nuevo desembolso',
      text: '',
      showError: false,
      showPayRules: false,
      showDisbursement: false
    })

    const closeDisbursementShowRegister = () => {
      modal.value.showDisbursement = false
      modal.value.show = true
    }
    return {
      closeDisbursementShowRegister,
      modal
    }
  }
})
</script>

<style scoped>
.gradt {
  background-image: linear-gradient(
    22deg,
    rgba(197, 195, 195, 0.3) 0%,
    rgba(197, 195, 195, 0.35) 55%,
    rgb(255, 255, 255) 78%,
    rgb(255, 255, 255) 92%
  );
}

@media (max-width: 635px) {
  .sect_min {
    width: 100%;
  }
  .gradt {
    flex-wrap: wrap;
  }
}
@media (max-width: 1085px) {
  .gradt {
    background-image: linear-gradient(
      22deg,
      rgba(197, 195, 195, 0.3) 0%,
      rgba(197, 195, 195, 0.35) 70%,
      rgb(255, 255, 255) 82%,
      rgb(255, 255, 255) 92%
    );
  }
}
@media (min-width: 1086px) {
  .titles {
    align-items: flex-start;
  }
  .cont {
    display: flex;
    flex-direction: row;
  }
  .info1 {
    width: 38vw;
    margin-left: 2rem;
    text-align: left;
    align-items: flex-start;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    border-right: 1px solid #c2c2c2;
  }
  .sect_min {
    width: 26vw;
  }
  .sect_min2 {
    background-color: white;
  }
}
</style>
