<template>
  <section class="mt-6 flex w-full justify-between">
    <div class="filters flex flex-wrap items-end gap-4">
      <div class="filt min-w-[14rem]">
        <AppFilterVue :data="lisTransport" label="Transportadora" />
      </div>
      <div class="filt min-w-[14rem]">
        <AppFilterVue :data="lisTransport" label="Canales" />
      </div>
      <div class="filt min-w-[14rem]">
        <AppSearchVue v-model="filter" placeholder="Buscar" />
      </div>
    </div>
    <div class="icons flex items-center gap-4">
      <AppButtonDownloadDocumentAveVue />
      <AppButton title="add" icon="plus" />
    </div>
  </section>

  <div class="my-6 overflow-auto">
    <table class="w-full overflow-hidden rounded-t-[10px]">
      <thead>
        <tr
          class="
            bg-gray-200
            font-sans
            text-lg
            font-bold
            not-italic
            leading-[19px]
          ">
          <AppThTableVue
            add-class="w-28"
            :key-general="keySelect"
            title1="Fecha"
            title2="de envío"
            @key-th="changeKey($event, 'dsfecha')" />
          <AppThTableVue
            :key-general="keySelect"
            title1="Número de"
            title2="guía"
            @key-th="changeKey($event, 'dsconsec')" />
          <AppThTableVue
            :key-general="keySelect"
            title1="Estado de la guía"
            @key-th="changeKey($event, 'estadorecaudotxt')" />
          <AppThTableVue :hidden-icon="true" title1="Estado del pago" />
          <AppThTableVue
            :key-general="keySelect"
            title1="Canal"
            title2="recaudo"
            @key-th="changeKey($event, 'dsestadobox')" />
          <AppThTableVue
            :key-general="keySelect"
            title1="Valor"
            title2="recaudo"
            @key-th="changeKey($event, 'flete')" />
          <AppThTableVue
            :key-general="keySelect"
            title1="Costos a"
            title2="deducir"
            @key-th="changeKey($event, 'dstotal')" />
          <AppThTableVue
            :key-general="keySelect"
            title1="Total a"
            title2="obtener"
            @key-th="changeKey($event, 'valortransrecaudo')" />
          <AppThTableVue :hidden-icon="true" title1="Contraentrega" />
          <AppThTableVue
            :key-general="keySelect"
            title1="Recibo"
            title2="de caja"
            @key-th="changeKey($event)" />
          <th></th>
        </tr>
      </thead>
      <tbody class="pt-1">
        <tr v-for="item in dataPipe" :key="item.pkid" class="text-gray-800">
          <td class="p-0">
            <p class="flex items-center justify-center">
              {{ item.dsfecha }}
            </p>
          </td>
          <td>
            <p class="flex items-center justify-center">
              <span class="h-8 w-8 rounded-full">
                <AppShowIconTransportVue :id="item.idtransportador" />
              </span>
              <span class="ml-2">
                {{ item.dsconsec }}
              </span>
            </p>
          </td>
          <td>
            <div class="flex flex-col items-center justify-center py-3">
              <p
                class="
                  w-11/12
                  rounded-lg
                  bg-blue-800
                  py-2
                  text-center text-[16px] text-white
                ">
                {{ item.estadorecaudotxt }}
              </p>
              <p class="mt-1 text-[12px]">Fecha: dd/mm/aa</p>
            </div>
          </td>
          <td>
            <p class="flex items-center justify-center">
              {{ item.dsestadobox }}
            </p>
          </td>
          <td>
            <p class="flex items-center justify-center">No defined</p>
          </td>
          <td>
            <p class="flex items-center justify-center">
              {{ formatCurrencyCoAve(item.flete) }}
            </p>
          </td>
          <td>
            <p class="flex items-center justify-center">
              {{ formatCurrencyCoAve(item.dstotal) }}
            </p>
          </td>
          <td>
            <p class="flex items-center justify-center">
              {{ formatCurrencyCoAve(item.valortransrecaudo) }}
            </p>
          </td>
          <td>
            <p class="flex items-center justify-center">
              <span
                class="
                  rounded-lg
                  bg-emerald-700
                  py-2
                  px-6
                  text-center text-[16px] text-white
                ">
                Si
              </span>
            </p>
          </td>
          <td>
            <p class="flex items-center justify-center">dsdvdf</p>
          </td>
          <td>
            <p class="mr-2 flex items-center justify-center gap-1">
              <FontAwesomeIcon class="text-gray-600" icon="eye" />
              <FontAwesomeIcon
                class="text-gray-600"
                icon="file-invoice-dollar" />
              <FontAwesomeIcon class="text-gray-600" icon="file-invoice" />
            </p>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="w-full items-center justify-center">
      <div class="m-auto w-80">
        <AppMinPaginatorAveVue
          :total="useRecuados.getAllData().length"
          @next-p="nextPagin"
          @prev-p="prevPagin">
        </AppMinPaginatorAveVue>
      </div>
    </div>
  </div>

  <AppModalAveVue
    v-model="modal.show"
    width="500px"
    :header-icon="modal.icon"
    :title="modal.title">
    <p class="mt-4 text-center text-[18px] font-bold">
      {{ modal.message }}
    </p>
  </AppModalAveVue>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref, computed } from 'vue'
import AppFilterVue from '@/components/AppFilter.vue'
import AppSearchVue from '@/components/AppSearch.vue'
import AppThTableVue from '@/components/AppThTableAve.vue'
import AppShowIconTransportVue from '@/components/AppShowIconTransportAve.vue'
import AppMinPaginatorAveVue from '@/components/AppMinPaginatorAve.vue'
import AppModalAveVue from '@/components/AppModalAve.vue'
import AppButtonDownloadDocumentAveVue from '@/components/AppButtonDownloadDocumentAve.vue'
import AppButton from '@/components/AppButton.vue'

import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

import {
  getColletedGuideBody,
  getListTransporterPermited,
  getRecaudos
} from '@/services/'
import { useRecuadosStore } from '@/store'
import {
  formatCurrencyCoAve,
  orderAnyAve,
  filterTableAve,
  logDev
} from '@/utils/'
import { IlistTranspo, TransportSelected } from '@/types'
import { IRecaudosDataReq, IResponseAllDataRecaudos } from '@/constants'
import { mutationDataStore } from '@/composables'

interface ISelect {
  key: string
  status: string
}

export default defineComponent({
  name: 'AppSelectFiltersVue',
  components: {
    AppSearchVue,
    AppFilterVue,
    FontAwesomeIcon,
    AppShowIconTransportVue,
    AppMinPaginatorAveVue,
    AppThTableVue,
    AppButtonDownloadDocumentAveVue,
    AppButton,
    AppModalAveVue
  },
  setup() {
    const useRecuados = useRecuadosStore()
    const lisTransport = ref<IlistTranspo[]>([])
    const keySelect = ref<string>('')
    const statusSelect = ref<string>('')
    const columnSelect = ref<string>('')
    const filter = ref<string>('')
    const spliter = ref<number>(0)

    const modal = ref({
      icon: 'error',
      show: false,
      message: '',
      title: 'Error!'
    })

    const dataPipe = computed(() => {
      const AllData = useRecuados.getAllData()
      const ord = statusSelect.value === 'down' ? 'Desc' : 'Asc'
      orderAnyAve(AllData, columnSelect.value, ord)
      return filterTableAve(AllData, filter.value, spliter.value)
    })

    const nextPagin = () => {
      spliter.value += 10
    }
    const prevPagin = () => {
      spliter.value -= 10
    }

    const getGuidesTransporter = (val: TransportSelected[]) => {
      logDev('val', [...val])
      if (val[0].id === 'all') {
        getRecaudos()
          .then((res) => {
            const resp: IResponseAllDataRecaudos = res.data.data
            mutationDataStore(resp)
          })
          .catch((err) => {
            throw err
          })
      } else if (val[val.length - 1].status) {
        const protoBody: Partial<IRecaudosDataReq> = {
          idtransportador: String(val[val.length - 1].id)
        }
        getColletedGuideBody(protoBody)
          .then((res) => {
            const resp: IResponseAllDataRecaudos = res.data.data
            mutationDataStore(resp)
          })
          .catch(() => {
            modal.value.message = `No se encontraron guias de ${
              val[val.length - 1].name
            }`
            modal.value.show = true
          })
      }
    }

    const changeKey = (val: ISelect, column = '') => {
      keySelect.value = val.key
      statusSelect.value = val.status
      columnSelect.value = column
    }

    const GetTransporter = async () => {
      const list = await getListTransporterPermited()
      if (list) {
        lisTransport.value = list
      }
    }

    onMounted(() => {
      GetTransporter()
    })
    return {
      formatCurrencyCoAve,
      getGuidesTransporter,
      changeKey,
      nextPagin,
      prevPagin,
      lisTransport,
      useRecuados,
      dataPipe,
      filter,
      keySelect,
      modal
    }
  }
})
</script>
