<template>
  <main class="contendor w-full">
    <div class="w-full">
      <div class="flex w-full justify-between bg-gray-100 p-2">
        <div
          v-for="item in listGuideInfo"
          :key="item"
          class="flex w-11/12 flex-row justify-between gap-3">
          <div class="flex w-1/4 items-center justify-items-start gap-1">
            <div class="flex w-5/12 justify-center">
              <AppShowIconTransport
                :id="item.idtransportador"></AppShowIconTransport>
            </div>
            <div class="w-7/12">
              <div class="ml-2 flex">
                <span
                  class="
                    font-roboto-bold
                    text-[24px]
                    font-extrabold
                    text-gray-800
                  ">
                  <p class="w-8/12 min-w-max font-serif text-[24px]">
                    {{ item.dstransportadora }}
                  </p>
                </span>
              </div>

              <div class="ml-2 flex flex-col gap-2">
                <p class="text-gray-800">Guía</p>
                <p class="text-gray-600">{{ item.dsconsec }}</p>
              </div>
            </div>
          </div>

          <div class="mx-6 my-auto h-[50%] border-r border-gray-400"></div>

          <div class="flex w-1/4 flex-col items-center justify-center gap-2">
            <div class="flex flex-row gap-2">
              <p class="min-w-max font-extrabold">Ciudad destino</p>
              <p class="text-gray-800">{{ item.dsciudadd }}</p>
            </div>
            <div class="flex flex-row gap-2">
              <p class="font-extrabold">Destinatario</p>
              <p class="text-gray-800">{{ item.dsnombred }}</p>
            </div>
          </div>

          <div class="flex w-1/4 items-center justify-start gap-4">
            <div>
              <span>
                <p class="font-extrabold">Celular</p>
              </span>
              <p class="font-extrabold">Estado</p>
            </div>
            <div>
              <p>{{ item.dsteld }}</p>
              <div
                class="
                  flex
                  w-32
                  justify-center
                  rounded-md
                  bg-amber-800
                  text-white
                ">
                <p>En proceso</p>
              </div>
            </div>
          </div>

          <div class="flex w-1/4 items-center">
            <div class="flex w-[280px] cursor-pointer items-center gap-2">
              <div
                class="
                  flex
                  h-10
                  w-4/5
                  flex-row
                  justify-between
                  rounded-lg
                  bg-gray-400
                  text-white
                ">
                <div
                  class="
                    flex
                    w-1/5
                    items-center
                    justify-center
                    rounded-l-lg
                    bg-gray-400
                    text-center
                    hover:bg-gray-600
                  ">
                  <svg
                    width="19"
                    height="19"
                    viewBox="0 0 19 19"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M16.1943 0.0055542H2.69434C1.42871 0.0055542 0.444336 1.02509 0.444336 2.25555V12.3806C0.444336 13.6462 1.42871 14.6306 2.69434 14.6306H6.06934V17.5837C6.06934 17.9352 6.45605 18.1462 6.7373 17.9352L11.1318 14.6306H16.1943C17.4248 14.6306 18.4443 13.6462 18.4443 12.3806V2.25555C18.4443 1.02509 17.4248 0.0055542 16.1943 0.0055542ZM9.44434 11.8181C8.81152 11.8181 8.31934 11.3259 8.31934 10.6931C8.31934 10.0954 8.81152 9.56805 9.44434 9.56805C10.042 9.56805 10.5693 10.0954 10.5693 10.6931C10.5693 11.3259 10.042 11.8181 9.44434 11.8181ZM10.3232 7.95087C10.2881 8.23212 10.042 8.44305 9.76074 8.44305H9.09277C8.81152 8.44305 8.56543 8.23212 8.53027 7.95087L8.07324 3.45087C8.03809 3.13446 8.31934 2.81805 8.63574 2.81805H10.2178C10.5342 2.81805 10.8154 3.13446 10.7803 3.45087L10.3232 7.95087Z"
                      fill="white" />
                  </svg>
                </div>
                <div
                  class="
                    flex
                    w-1/5
                    items-center
                    justify-center
                    bg-gray-400
                    text-center
                    hover:bg-gray-600
                  ">
                  <FontAwesomeIcon
                    class="text-white"
                    icon="file-signature"></FontAwesomeIcon>
                </div>
                <div
                  class="
                    flex
                    w-1/5
                    items-center
                    justify-center
                    bg-gray-400
                    text-center
                    hover:bg-gray-600
                  ">
                  <svg
                    class="h-4 w-4 fill-white"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512">
                    <path
                      d="M32 160h319.9l.0791 72c0 9.547 5.652 18.19 14.41 22c8.754 3.812 18.93 2.078 25.93-4.406l112-104c10.24-9.5 10.24-25.69 0-35.19l-112-104c-6.992-6.484-17.17-8.217-25.93-4.408c-8.758 3.816-14.41 12.46-14.41 22L351.9 96H32C14.31 96 0 110.3 0 127.1S14.31 160 32 160zM480 352H160.1L160 279.1c0-9.547-5.652-18.19-14.41-22C136.9 254.2 126.7 255.9 119.7 262.4l-112 104c-10.24 9.5-10.24 25.69 0 35.19l112 104c6.992 6.484 17.17 8.219 25.93 4.406C154.4 506.2 160 497.5 160 488L160.1 416H480c17.69 0 32-14.31 32-32S497.7 352 480 352z" />
                  </svg>
                </div>
                <div
                  class="
                    flex
                    w-1/5
                    items-center
                    justify-center
                    bg-gray-400
                    text-center
                    hover:bg-gray-600
                  ">
                  <FontAwesomeIcon
                    class="text-white"
                    icon="user-headset"></FontAwesomeIcon>
                </div>
                <div
                  class="
                    flex
                    w-1/5
                    items-center
                    justify-center
                    rounded-r-lg
                    bg-red-500
                    text-center
                    hover:bg-red-600
                  ">
                  <FontAwesomeIcon
                    class="text-white"
                    icon="times"></FontAwesomeIcon>
                </div>
              </div>
              <button>
                <FontAwesomeIcon
                  class="text-[18px] text-gray-400"
                  icon="chevron-left" />
              </button>
              <button>
                <FontAwesomeIcon
                  class="text-[18px] text-gray-400"
                  icon="chevron-right" />
              </button>
            </div>
          </div>
        </div>
      </div>

      <AppSubMenu v-model="options" class="mt-4 ml-5"></AppSubMenu>

      <section v-if="options.idCurrentTab == 0">
        <AppInfoGeneral></AppInfoGeneral>
      </section>

      <section v-if="options.idCurrentTab == 2">
        <AppPQR></AppPQR>
      </section>

      <section v-if="options.idCurrentTab == 1">
        <AppNovedades></AppNovedades>
      </section>
    </div>

    <div class="w-full">
      <AppModal v-model="modal.show" class="w-full">
        <AppOptions></AppOptions>
      </AppModal>
    </div>

    <AppButton @click="modal.show = true">JUJU</AppButton>
  </main>
</template>

<script lang="ts">
import { defineComponent, onBeforeMount, ref } from 'vue'

import AppModal from '../guideDetails/components/popUp/AppModalDetailsAve.vue'
import AppOptions from '../guideDetails/components/popUp/AppOptionsAve.vue'
import AppButton from '@/components/AppButtonAve.vue'
import AppShowIconTransport from '@/components/AppShowIconTransportAve.vue'
import AppPQR from './components/popUp/AppPQRAve.vue'
import AppInfoGeneral from './components/popUp/AppInfoGeneralAve.vue'
import AppNovedades from './components/popUp/AppShippingNewsAve.vue'
import AppSubMenu from '@/components/AppSubMenu.vue'

import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
// import { useRoute } from 'vue-router'
import { useAppGuideDetails } from './store/useStoreGuideDetail'
import {
  GetListGuideHistory,
  GetListGuideInfo,
  GetListShippingNews,
  GetListShippingNewsHistory,
  GetListShippingNewsIncident
} from './services/http.GuideDetailsAve'
import { IDataGuideInfoGeneral } from './models/guideDetailsAve'
import { logDev, logError } from '@/utils/logDev'

interface IModal {
  show: boolean
}

export default defineComponent({
  name: 'ViewDetalleVue',
  components: {
    AppModal,
    AppOptions,
    AppButton,
    AppShowIconTransport,
    AppSubMenu,
    AppPQR,
    AppInfoGeneral,
    AppNovedades,
    FontAwesomeIcon
  },

  setup() {
    const AppState = useAppGuideDetails()
    // const route = useRoute()
    const modal = ref<IModal>({
      show: false
    })
    const mostrarModal = () => {
      modal.value.show = true
    }
    const listGuideInfo = ref<IDataGuideInfoGeneral[]>([])
    const idexp = ref<number[]>([])
    const dsconsec = ref<string[]>([])

    const options = ref({
      idCurrentTab: 0,
      items: [
        {
          id: 0,
          name: 'Detalle de la guía'
        },
        {
          id: 1,
          name: 'Novedades'
        },
        {
          id: 2,
          name: 'PQR'
        }
      ]
    })

    const GetGuideDetails = async () => {
      try {
        const resp = await GetListGuideInfo(AppState.guiProv)
        logDev('resp guia', resp)
        if (resp && resp.data) {
          listGuideInfo.value = [...resp.data.data]
          AppState.dataGuideInfo = [...resp.data.data]
          idexp.value = listGuideInfo.value.map((guide) => {
            return guide.idexp
          })
          dsconsec.value = listGuideInfo.value.map((guide) => {
            return guide.dsconsec.toString()
          })
          AppState.dsconsec = dsconsec.value.toString()
          logDev('dataGuideInfo', listGuideInfo)
        }
      } catch (error) {
        logError('error get data guide', error)
      }
    }

    const GetGuideHistory = async () => {
      await GetListGuideHistory(AppState.guiProv).then((res) => {
        AppState.dataGuideHistory = [...res.data.data]
      })
    }

    const GetShippingNews = async () => {
      await GetListShippingNews(AppState.guiProv).then((res) => {
        AppState.dataGuideShippingNews = [...res.data.data]
      })
    }

    const GetShippingNewsHistory = () => {
      GetListShippingNewsHistory(AppState.guiProv).then((res) => {
        AppState.dataGuideShippingNewsInt = [...res.data.data]
      })
    }

    const GetShippingNewsIncident = async () => {
      await GetListShippingNewsIncident(parseInt(idexp.value.toString())).then(
        (res) => {
          AppState.dataShippingIncident = [...res.data.data]
        }
      )
    }

    onBeforeMount(async () => {
      await GetGuideDetails()
      await GetGuideHistory()
      await GetShippingNews()
      await GetShippingNewsHistory()
      await GetShippingNewsIncident()
      //   console.log('soy el router', route.params.id)
    })

    return {
      listGuideInfo,
      modal,
      AppState,
      idexp,
      options,
      mostrarModal,
      GetGuideDetails
    }
  }
})
</script>

<style scoped>
.contendor {
  height: calc(100vh - 64px);
  overflow-y: auto;
}
</style>
