<template>
  <section class="mt-4 w-full border-y-2 border-gray-400 p-4 text-left">
    <div class="flex w-full justify-between">
      <AppTitleThree font="font-bold" class="mt-2 text-[20px]"
        >Indemnizaciones</AppTitleThree
      >

      <div class="flex items-center justify-center gap-2">
        <div v-if="showDetail" class="dates selec flex items-center">
          <AppDatePickerRange
            position="right"
            :has-border="true"></AppDatePickerRange>
          <AppButtonDownloadDocumentAve></AppButtonDownloadDocumentAve>
        </div>

        <span
          :class="[showDetail ? 'rotate-180' : '']"
          class="cursor-pointer"
          @click="showDetail = !showDetail">
          <FontAwesomeIcon icon="chevron-down"></FontAwesomeIcon>
        </span>
      </div>
    </div>

    <div v-if="showDetail" class="opcionales w-full font-sans">
      <table class="mt-6 w-full overflow-hidden rounded-t-[10px]">
        <thead
          class="
            cont
            w-full
            bg-gray-200
            font-sans
            text-lg
            font-bold
            not-italic
            leading-[19px]
          ">
          <tr>
            <AppThTableVue
              class="w-[20%]"
              :key-general="keySelect"
              title1="Número de documento"
              @key-th="changeKey($event, 'fecha')" />
            <AppThTableVue
              class="w-[12.5%]"
              :key-general="keySelect"
              title1="Fecha"
              @key-th="changeKey($event, 'fecha')" />
            <AppThTableVue
              class="w-[12.5%]"
              :key-general="keySelect"
              title1="Descripción"
              @key-th="changeKey($event, 'fecha')" />
            <AppThTableVue
              class="w-[15%]"
              :key-general="keySelect"
              title1="Número de reclamación"
              @key-th="changeKey($event, 'fecha')" />
            <AppThTableVue
              class="w-[10%]"
              :key-general="keySelect"
              title1="Valor"
              @key-th="changeKey($event, 'fecha')" />
            <AppThTableVue
              class="w-[10%]"
              :key-general="keySelect"
              title1="Egresos"
              @key-th="changeKey($event, 'fecha')" />
            <AppThTableVue
              class="w-[10%]"
              :key-general="keySelect"
              title1="Cargado a"
              title2="billetera"
              @key-th="changeKey($event, 'fecha')" />
            <AppThTableVue
              class="w-[10%]"
              :key-general="keySelect"
              title1="Acciones" />
          </tr>
        </thead>
      </table>

      <!-- <div v-for="notas in pipeNotasIndeni" :key="notas.dsfactura + notas.dsnumero" class="flex w-full items-center text-base py-2" >
        <div class="w-[10%] text-center truncate">
          {{ notas.dsfactura }}
        </div>
        <div class="w-[10%] text-center truncate">
          {{ notas.dsfecha }}
        </div>
        <div class="w-[20%] text-center truncate">
          {{ clearHtmlEntities(notas.descripcion) }}
        </div>
        <div class="w-[10%] text-center truncate">
          {{ notas.dsnumero }}
        </div>
        <div class="w-[12%] text-center truncate">
          <div class="bg-gray-100 rounded-md mx-auto max-w-[130px] py-1">
            {{ formatCurrencyCo(notas.dsvalor) }}
          </div>
        </div>
        <div class="w-[12%] text-center truncate">
          <div class="bg-gray-100 rounded-md mx-auto max-w-[130px] py-1">
            <span v-if="notas.dsfactura && notas.dsfactura.length > 3">
              {{ formatCurrencyCo(notas.dsvalor * (-1)) }}
            </span>
          </div>
        </div>
        <div class="w-[12%] text-center truncate">
          <div class="bg-gray-100 rounded-md mx-auto max-w-[130px] py-1">
            <span v-if="notas.dsnaturaleza == 1" class="text-esmerald-350">
              {{ formatCurrencyCo(notas.dsvalor) }}
            </span>
            <span v-if="notas.dsnaturaleza == 2">
              {{ formatCurrencyCo(0) }}
            </span>
          </div>
        </div>
        <div class="w-[15%] flex gap-3 justify-center cursor-pointer">
          <img
            width="16" height="16" src="../../../assets/svgs/eye.svg"
            alt="icon eye" @click="showCompensation(notas.dsnumero)" />
        </div>
      </div> -->
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import { AccountState } from '@/types/AccountStateAve'
import { formatCurrencyCo } from '@/utils/toolsAve'
import AppTitleThree from '@/components/AppTitleThreeAve.vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import AppDatePickerRange from '@/components/AppDatePickerRange.vue'
import AppButtonDownloadDocumentAve from '@/components/AppButtonDownloadDocumentAve.vue'
import AppThTableVue from '@/components/AppThTableAve.vue'
// import { useNotasRecibosStore } from '@/store/notesReceiptsAve'
// import { filterTableAve, orderAnyAve } from '@/utils'

interface ISelect {
  key: string
  status: string
}

export default defineComponent({
  components: {
    AppTitleThree,
    FontAwesomeIcon,
    AppDatePickerRange,
    AppButtonDownloadDocumentAve,
    AppThTableVue
  },
  props: {
    accountState: {
      type: Object as () => AccountState
    }
  },
  setup() {
    const showDetail = ref<boolean>(false)
    // const stateNotas = useNotasRecibosStore()
    // const spliter = ref(0)
    // const filter = ref('')

    const keySelect = ref<string>('')
    const statusSelect = ref<string>('')
    const columnSelect = ref<string>('')

    // const pipeNotasIndeni = computed(() => {
    //   const ord = statusSelect.value === 'down' ? 'Desc' : 'Asc'
    //   if (stateNotas.getterAllData.length > 0) {
    //     orderAnyAve(stateNotas.getterAllData, columnSelect.value, ord)
    //     return filterTableAve(stateNotas.getterAllData, filter.value, spliter.value)
    //   }
    //   return []
    // })

    const changeKey = (val: ISelect, column = '') => {
      keySelect.value = val.key
      statusSelect.value = val.status
      columnSelect.value = column
    }

    const showCompensation = (id: string) => {
      const Url = `https://aveonline.co/app/modulos/notascredito_ai/ingresos.imprimir.html.php?idrecibo=${id}&no=1`
      const name = `Comprobante de ingreso Nro. ${id}`
      window.open(Url, name, 'width=600, height=800')
    }

    return {
      formatCurrencyCo,
      showCompensation,
      changeKey,
      // pipeNotasIndeni,
      showDetail,
      keySelect
    }
  }
})
</script>
