<template>
  <section class="mt-4 w-full border-y-2 border-gray-400 p-4 text-left">
    <div class="flex w-full justify-between">
      <AppTitleThree font="font-bold" class="mt-2 text-[20px]"
        >Notas Credito</AppTitleThree
      >

      <div class="flex items-center justify-center gap-2">
        <div v-if="showDetail" class="dates selec flex items-center">
          <AppDatePickerRange
            position="right"
            :has-border="true"></AppDatePickerRange>
          <AppButtonDownloadDocumentAve></AppButtonDownloadDocumentAve>
        </div>

        <span
          :class="[showDetail ? 'rotate-180' : '']"
          class="cursor-pointer"
          @click="showDetail = !showDetail">
          <FontAwesomeIcon icon="chevron-down"></FontAwesomeIcon>
        </span>
      </div>
    </div>

    <div v-if="showDetail" class="opcionales w-full font-sans">
      <table class="mt-6 w-full overflow-hidden rounded-t-[10px]">
        <thead
          class="
            cont
            w-full
            bg-gray-200
            font-sans
            text-lg
            font-bold
            not-italic
            leading-[19px]
          ">
          <tr>
            <AppThTableVue
              class="w-[18%]"
              :key-general="keySelect"
              title1="Número de documento"
              @key-th="changeKey($event, 'fecha')" />
            <AppThTableVue
              class="w-[12.8%]"
              :key-general="keySelect"
              title1="Fecha"
              @key-th="changeKey($event, 'fecha')" />
            <AppThTableVue
              class="w-[18%]"
              :key-general="keySelect"
              title1="Documento reclamado"
              @key-th="changeKey($event, 'fecha')" />
            <AppThTableVue
              class="w-[12.8%]"
              :key-general="keySelect"
              title1="Tipo"
              @key-th="changeKey($event, 'fecha')" />
            <AppThTableVue
              class="w-[12.8%]"
              :key-general="keySelect"
              title1="Obeservaciones"
              @key-th="changeKey($event, 'fecha')" />
            <AppThTableVue
              class="w-[12.8%]"
              :key-general="keySelect"
              title1="Valor"
              @key-th="changeKey($event, 'fecha')" />
            <AppThTableVue
              class="w-[12.8%]"
              :key-general="keySelect"
              title1="Acciones"
              @key-th="changeKey($event, 'fecha')" />
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="notas in pipeNotasIndeni"
            :key="notas.dsfactura + notas.dsnumero"
            class="flex w-full items-center py-2 text-base">
            <td>
              <div class="text-center">NC {{ notas.dsnumero }}</div>
            </td>
            <td>
              <div class="text-center">
                {{ notas.dsfecha }}
              </div>
            </td>
            <td>
              <div class="text-center">
                {{ notas.dsfactura }}
              </div>
            </td>
            <td>
              <div class="text-center">
                {{ notas.tipo }}
              </div>
            </td>
            <td>
              <div class="text-center">
                {{ clearHtmlEntities(notas.descripcion) }}
              </div>
            </td>
            <td>
              <div class="mx-auto max-w-[130px] rounded-md bg-gray-100 py-1">
                {{ formatCurrencyCo(notas.dsvalor) }}
              </div>
            </td>
            <td>
              <div class="flex w-[15%] cursor-pointer justify-center gap-3">
                <img
                  width="16"
                  height="16"
                  src="../../../assets/svgs/eye.svg"
                  alt="icon eye"
                  @click="showCreditNote(notas.dsnumero)" />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</template>

<script lang="ts">
import { useNotasRecibosStore } from '@/store/notesReceiptsAve'
import { AccountState } from '@/types/AccountStateAve'
import { INotasIAData } from '@/types/CollectionsAve'
import { clearHtmlEntities, formatCurrencyCo } from '@/utils/toolsAve'
import { defineComponent, ref, computed } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

import AppThTableVue from '@/components/AppThTableAve.vue'
import AppTitleThree from '@/components/AppTitleThreeAve.vue'
import AppDatePickerRange from '@/components/AppDatePickerRange.vue'
import AppButtonDownloadDocumentAve from '@/components/AppButtonDownloadDocumentAve.vue'
import { filterTableAve, orderAnyAve } from '@/utils'

interface ISelect {
  key: string
  status: string
}

export default defineComponent({
  components: {
    AppThTableVue,
    AppTitleThree,
    FontAwesomeIcon,
    AppDatePickerRange,
    AppButtonDownloadDocumentAve
  },
  props: {
    accountState: {
      type: Object as () => AccountState
    }
  },
  setup() {
    const stateNotas = useNotasRecibosStore()
    const showDetail = ref<boolean>(false)
    const notasCredito = computed(
      () => stateNotas.getterAllData().dataNotas_credito
    )
    const spliter = ref(0)
    const filter = ref('')

    const keySelect = ref<string>('')
    const statusSelect = ref<string>('')
    const columnSelect = ref<string>('')

    const statusProvitional: INotasIAData[] = []

    const pipeNotasIndeni = computed(() => {
      const ord = statusSelect.value === 'down' ? 'Desc' : 'Asc'
      if (statusProvitional.length > 0) {
        orderAnyAve(statusProvitional, columnSelect.value, ord)
        return filterTableAve(statusProvitional, filter.value, spliter.value)
      }
      return []
    })

    const changeKey = (val: ISelect, column = '') => {
      keySelect.value = val.key
      statusSelect.value = val.status
      columnSelect.value = column
    }

    const showCreditNote = (id: string) => {
      const Url = `https://aveonline.co/app/modulos/notascredito/ingresos.imprimir.html.php?idrecibo=${id}&no=1`
      const name = `NOTA CREDITO Nro. ${id}`
      window.open(Url, name, 'width=600, height=800')
    }

    return {
      formatCurrencyCo,
      showCreditNote,
      clearHtmlEntities,
      changeKey,

      showDetail,
      pipeNotasIndeni,
      notasCredito
    }
  }
})
</script>
