<template>
  <section
    id="invoices_card"
    class="mt-4 w-full border-y-2 border-gray-400 p-4 text-left">
    <div class="flex w-full flex-col">
      <AppTitleThree font="font-bold" class="text-[20px]"
        >Facturas</AppTitleThree
      >
      <div class="flex items-center justify-between gap-2">
        <div class="resumen flex items-center">
          <div class="flex gap-3 border-r-2">
            <AppTitleFour>Facturado</AppTitleFour>
            <span class="mr-2 text-[20px] font-bold text-gray-600">{{
              formatCurrencyCo(totalFacturas)
            }}</span>
          </div>
          <div class="ml-2 flex gap-3 border-r-2">
            <AppTitleFour>Vencido</AppTitleFour>
            <span class="mr-2 text-[20px] font-bold text-gray-600">{{
              formatCurrencyCo(totalVencido)
            }}</span>
          </div>
          <div class="ml-2 flex gap-3">
            <AppTitleFour>Sin vencer</AppTitleFour>
            <span class="mr-2 text-[20px] font-bold text-gray-600">{{
              formatCurrencyCo(subTotalFacturas)
            }}</span>
          </div>
          <AppButtonVue class-name="w-20" @click="showPayMethod"
            >Pagar</AppButtonVue
          >
        </div>

        <div class="flex items-center justify-center gap-2">
          <div v-if="showDetail" class="dates selec flex items-center">
            <AppDatePickerRange
              position="right"
              :has-border="true"></AppDatePickerRange>
            <AppButtonDownloadDocumentAve></AppButtonDownloadDocumentAve>
          </div>

          <span
            :class="[showDetail ? 'rotate-180' : '']"
            class="cursor-pointer"
            @click="showDetail = !showDetail">
            <FontAwesomeIcon icon="chevron-down"></FontAwesomeIcon>
          </span>
        </div>
      </div>
    </div>
    <div v-if="showDetail" class="opcionales w-full font-sans">
      <table class="mt-6 w-full overflow-hidden rounded-t-[10px]">
        <thead
          class="
            cont
            w-full
            bg-gray-200
            font-sans
            text-lg
            font-bold
            not-italic
            leading-[19px]
          ">
          <tr>
            <AppThTableVue
              class="w-[15%]"
              :key-general="keySelect"
              title1="Número de documento"
              @key-th="changeKey($event, 'idpedido')" />
            <AppThTableVue
              class="w-[12%]"
              :key-general="keySelect"
              title1="Fecha"
              @key-th="changeKey($event, 'dsfechac')" />
            <AppThTableVue
              class="w-[12%]"
              :key-general="keySelect"
              title1="Días para vencimiento"
              @key-th="changeKey($event, 'dias_venc')" />
            <AppThTableVue
              class="w-[20%]"
              :key-general="keySelect"
              title1="Descripción"
              @key-th="changeKey($event, 'dsobs')" />
            <AppThTableVue
              class="w-[8%]"
              :key-general="keySelect"
              title1="Valor"
              @key-th="changeKey($event, 'fecha')" />
            <AppThTableVue
              class="w-[8%]"
              :key-general="keySelect"
              title1="Total abonado"
              @key-th="changeKey($event, 'dstotal')" />
            <AppThTableVue
              class="w-[8%]"
              :key-general="keySelect"
              title1="Saldo"
              @key-th="changeKey($event, 'saldo')" />
            <AppThTableVue
              class="w-[8%]"
              :key-general="keySelect"
              title1="Acciones"
              @key-th="changeKey($event, 'fecha')" />
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="factura in pipeDataFacturas"
            :key="factura.idpedido"
            class="mb-2 flex w-full flex-col rounded border">
            <td>
              <div class="truncate text-center">
                {{ factura.dsprefijo }} {{ factura.idpedido }}
              </div>
            </td>
            <td>
              <div class="w-[11%] truncate text-center">
                {{ factura.dsfechac }}
              </div>
            </td>
            <td>
              <div class="w-[13%] truncate text-center">
                {{ factura.dias_venc }}
              </div>
            </td>
            <td>
              <div class="w-[25%] truncate text-center">
                <div class="des" :innerHTML="factura.dsobs"></div>
              </div>
            </td>
            <td>
              <div class="w-[13%] truncate text-center">
                <div class="mx-auto max-w-[120px] rounded-md bg-gray-100">
                  {{ formatCurrencyCo(factura.dstotal) }}
                </div>
              </div>
            </td>
            <td>
              <div class="w-[13%] truncate text-center">
                <div
                  class="mx-auto max-w-[130px] py-1"
                  :class="[
                    factura.saldo == 0 ? 'text-esmerald-350' : 'text-red-400'
                  ]">
                  {{ formatCurrencyCo(factura.saldo) }}
                </div>
              </div>
            </td>
            <td>eeee</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <AppModalVue v-model="modal.showPay" title="Nuevo pago" width="680px">
    <AppMethodsPayAve></AppMethodsPayAve>
  </AppModalVue>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

import AppTitleThree from '@/components/AppTitleThreeAve.vue'
import AppTitleFour from '@/components/AppTitleFourAve.vue'
import AppButtonVue from '@/components/AppButtonAve.vue'
import AppDatePickerRange from '@/components/AppDatePickerRange.vue'
import AppButtonDownloadDocumentAve from '@/components/AppButtonDownloadDocumentAve.vue'
import AppThTableVue from '@/components/AppThTableAve.vue'
import AppMethodsPayAve from '../popUps/porUpsF/AppMethodsPayAve.vue'
import AppModalVue from '@/components/AppModalAve.vue'
import { useStatesModalStore } from '@/store/state&modalFooterAve'
import { useFacturasStore } from '@/store/invoiceStoreAve'
import { useUsuarioStore } from '@/store/useUserStoreAve'
import { IFacturasData, IFacturasReq } from '@/types/CollectionsAve'
import { DateInputs, IGetRefWompyReq } from '@/constants/TypesGenerales'
import { PayToWompy } from '@/services/h2hPayToWompyAve'
import { goToWompi } from '@/utils/woompiAve'
import { GetFacturas } from '@/services/billsAve'
import { formatCurrencyCo } from '@/utils/toolsAve'
// import { filterTableAve, logDev, orderAnyAve } from '@/utils'

interface ISelect {
  key: string
  status: string
}

export default defineComponent({
  components: {
    AppTitleThree,
    FontAwesomeIcon,
    AppTitleFour,
    AppButtonVue,
    AppDatePickerRange,
    AppButtonDownloadDocumentAve,
    AppThTableVue,
    AppMethodsPayAve,
    AppModalVue
  },

  setup() {
    const stateModal = useStatesModalStore()
    const stateFacturas = useFacturasStore()
    const stateUser = useUsuarioStore()
    // const spliter = ref(0)
    // const filter = ref('')
    const modal = ref({
      showPay: false
    })
    const showDetail = ref<boolean>(false)
    // const showDetail = computed<boolean>(() => stateModal.toggleInvoices)
    const totalFacturas = computed<number>(
      () => stateFacturas.getterTotales().totalFacturado
    )
    const subTotalFacturas = computed<number>(
      () => stateFacturas.getterTotales().subTotal
    )
    const totalVencido = computed<number>(
      () => stateFacturas.getterTotales().vencido
    )
    const dataFacturas = computed<IFacturasData[]>(() =>
      stateFacturas.getterFacturas()
    )

    const createID = (prefix: string, dsnum: number, show = '') =>
      `id-${prefix}-${dsnum}${show}`

    const keySelect = ref<string>('')
    const statusSelect = ref<string>('')
    const columnSelect = ref<string>('')

    const toggleCrediNotes = (prefix: string, dsnum: number) => {
      const notes = document.getElementById(`id-${prefix}-${dsnum}-show`)
      const icon = document.getElementById(`id-${prefix}-${dsnum}`)
      if (notes) {
        notes.classList.toggle('none')
      }
      if (icon) {
        icon.classList.toggle('rotate-180')
      }
    }
    const payOneInvoice = async (value: number, referenc: string) => {
      const datos = stateUser.getDatosRemitente[0]
      const body: IGetRefWompyReq = {
        tipo: 'solicitarReferencia',
        idexp: stateUser.getIdUser,
        id_sector: datos.idsector,
        valor_ave: String(value),
        facturas: referenc
      }
      const res = await PayToWompy(body)
      if (res && res.data) {
        const consec = res.data
        goToWompi(String(value), consec, true)
      }
    }
    const showPayMethod = () => {
      modal.value.showPay = true
    }

    const UpdateData = async (dates: DateInputs) => {
      const bodyFac: IFacturasReq = {
        tipo: 'facturas',
        data: {
          dsfechai: dates.init,
          dsfechaf: dates.final,
          idexp: stateUser.getIdEnterprise
        }
      }
      const data = await GetFacturas(bodyFac)
      if (data && data.status === 'ok') {
        stateFacturas.setterTotales(data.totales)
        stateFacturas.setterFacturas(data.data)
      }
    }

    // const pipeDataFacturas = computed<IFacturasData[]>(() => {
    //   const ord = statusSelect.value === 'down' ? 'Desc' : 'Asc'
    //   if (stateFacturas.getterFacturas.length > 0) {
    //     orderAnyAve(stateFacturas.getterFacturas, columnSelect.value, ord)
    //     return filterTableAve(stateFacturas.getterFacturas, filter.value, spliter.value)
    //   }
    //   return []
    // })

    const changeKey = (val: ISelect, column = '') => {
      keySelect.value = val.key
      statusSelect.value = val.status
      columnSelect.value = column
    }

    return {
      // pipeDataFacturas,
      toggleCrediNotes,
      payOneInvoice,
      changeKey,
      showPayMethod,
      createID,
      UpdateData,
      formatCurrencyCo,

      subTotalFacturas,
      totalFacturas,
      totalVencido,
      dataFacturas,
      stateModal,
      showDetail,
      modal
    }
  }
})
</script>
