<template>
  <section class="mt-4 w-full border-y-2 border-gray-400 p-4 text-left">
    <div class="flex w-full justify-between">
      <AppTitleThreeAve font="font-bold" class="mt-2 text-[20px]"
        >Dineros recaudados</AppTitleThreeAve
      >

      <div class="flex items-center justify-center gap-2">
        <div v-if="showDetail" class="dates flex items-center">
          <AppDatePickerRange
            position="right"
            :has-border="true"></AppDatePickerRange>
          <AppButtonDownloadDocumentAve></AppButtonDownloadDocumentAve>
        </div>
        <span
          :class="[showDetail ? 'rotate-180' : '']"
          class="cursor-pointer"
          @click="showDetail = !showDetail">
          <FontAwesomeIcon icon="chevron-down"></FontAwesomeIcon>
        </span>
      </div>
    </div>
    <div v-if="showDetail" class="opcionales w-full font-sans">
      <table Class="w-full overflow-hidden rounded-t-[10px] mt-4">
        <thead
          class="
            cont
            w-full
            bg-gray-200
            font-sans
            text-lg
            font-bold
            not-italic
            leading-[19px]
          ">
          <tr>
            <Th class="w-[2.5]"></Th>
            <AppThTableVue
              class="w-[15%]"
              :key-general="keySelect"
              title1="Número de documento"
              @key-th="changeKey($event, 'fecha')" />
            <AppThTableVue
              class="w-[10.5%]"
              :key-general="keySelect"
              title1="Fecha"
              @key-th="changeKey($event, 'fecha')" />
            <AppThTableVue
              class="w-[30%]"
              :key-general="keySelect"
              title1="Descripción"
              @key-th="changeKey($event, 'fecha')" />
            <AppThTableVue
              class="w-[10.5%]"
              :key-general="keySelect"
              title1="Valor"
              title2="productos"
              @key-th="changeKey($event, 'fecha')" />
            <AppThTableVue
              class="w-[10.5%]"
              :key-general="keySelect"
              title1="Egresos"
              @key-th="changeKey($event, 'fecha')" />
            <AppThTableVue
              class="w-[10.5%]"
              :key-general="keySelect"
              title1="Cargado a"
              title2="billetera"
              @key-th="changeKey($event, 'fecha')" />
            <AppThTableVue
              class="w-[10.5%]"
              :key-general="keySelect"
              title1="Acciones"
              @key-th="changeKey($event, 'fecha')" />
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="item in pipeDataLiquidada"
            :key="item.pkid"
            class="flex w-full items-center justify-around py-2 text-base">
            <td>
              <div class="truncate text-center">
                {{ item.dsconsec }}
              </div>
            </td>
            <td>
              <div class="truncate text-center">
                {{ item.dsfecha }}
              </div>
            </td>
            <td>
              <div class="truncate text-center">
                {{ item.dscom }}
              </div>
            </td>
            <td>
              <div class="truncate text-center">
                <div class="mx-auto max-w-[130px] rounded-md bg-gray-100 py-1">
                  {{ formatCurrencyCo(item.dsvalorrecaudo) }}
                </div>
              </div>
            </td>
            <td>
              <div class="truncate text-center">
                <div class="mx-auto max-w-[130px] rounded-md bg-gray-100 py-1">
                  {{ formatCurrencyCo(item.dstotalave_fc) }}
                </div>
              </div>
            </td>
            <td>
              <div
                class="flex w-[15%] cursor-pointer justify-center gap-3"
                @click="showDocument(item.dsconsec)">
                <FontAwesomeIcon icon="eye"></FontAwesomeIcon>
              </div>
            </td>
            <td>
              <div class="truncate text-center">
                <span class="text-esmerald-350">
                  {{
                    formatCurrencyCo(item.dsvalorrecaudo - item.dstotalave_fc)
                  }}
                </span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from 'vue'
import AppDatePickerRange from '@/components/AppDatePickerRange.vue'
import AppButtonDownloadDocumentAve from '@/components/AppButtonDownloadDocumentAve.vue'
import AppThTableVue from '@/components/AppThTableAve.vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import AppTitleThreeAve from '@/components/AppTitleThreeAve.vue'
import { IRecaudosData } from '@/types/CollectionsAve'
import { filterTableAve, orderAnyAve } from '@/utils'
import { formatCurrencyCo } from '@/utils/toolsAve'

interface ISelect {
  key: string
  status: string
}

export default defineComponent({
  components: {
    AppDatePickerRange,
    AppButtonDownloadDocumentAve,
    AppThTableVue,
    AppTitleThreeAve,
    FontAwesomeIcon
  },
  setup() {
    const showDetail = ref<boolean>(false)
    const spliter = ref(0)
    const filter = ref('')

    const keySelect = ref<string>('')
    const statusSelect = ref<string>('')
    const columnSelect = ref<string>('')

    const statusProvitional: IRecaudosData[] = []

    const pipeDataLiquidada = computed(() => {
      const ord = statusSelect.value === 'down' ? 'Desc' : 'Asc'
      if (statusProvitional.length > 0) {
        orderAnyAve(statusProvitional, columnSelect.value, ord)
        return filterTableAve(statusProvitional, filter.value, spliter.value)
      }
      return []
    })

    const showDocument = (id: string) => {
      const Url = `https://aveonline.co/app/modulos/paqueteo/impresiones.unicas.tcc.php?dsconsec=${id}&imprimir=1`
      const name = `Comprobante de ingreso Nro. ${id}`
      window.open(Url, name, 'width=700, height=800')
    }

    const changeKey = (val: ISelect, column = '') => {
      keySelect.value = val.key
      statusSelect.value = val.status
      columnSelect.value = column
    }

    return {
      FontAwesomeIcon,
      showDetail,
      pipeDataLiquidada,
      changeKey,
      showDocument,
      formatCurrencyCo
    }
  }
})
</script>
