<template>
  <section class="mt-4 w-full border-y-2 border-gray-400 p-4 text-left">
    <div class="flex w-full justify-between">
      <AppTitleThreeAve font="font-bold" class="mt-3 text-[20px]"
        >Recargas billetera</AppTitleThreeAve
      >

      <div class="flex items-center justify-center gap-2">
        <div v-if="showDetail" class="dates selec flex items-center">
          <AppDatePickerRange
            position="right"
            :has-border="true"></AppDatePickerRange>
          <AppButtonDownloadDocumentAve></AppButtonDownloadDocumentAve>
        </div>
        <span
          :class="[showDetail ? 'rotate-180' : '']"
          class="cursor-pointer"
          @click="showDetail = !showDetail">
          <FontAwesomeIcon icon="chevron-down"></FontAwesomeIcon>
        </span>
      </div>
    </div>

    <div v-if="showDetail" class="opcionales w-full font-sans">
      <table class="mt-6 w-full overflow-hidden rounded-t-[10px]">
        <thead
          class="
            cont
            w-full
            bg-gray-200
            font-sans
            text-lg
            font-bold
            not-italic
            leading-[19px]
          ">
          <tr>
            <AppThTableVue
              class="w-[17.5%]"
              :key-general="keySelect"
              title1="Número de documento"
              @key-th="changeKey($event, 'fecha')" />
            <AppThTableVue
              class="w-[17.5%]"
              :key-general="keySelect"
              title1="Fecha"
              @key-th="changeKey($event, 'fecha')" />
            <AppThTableVue
              class="w-[30%]"
              :key-general="keySelect"
              title1="Descripción"
              @key-th="changeKey($event, 'fecha')" />
            <AppThTableVue
              class="w-[17.5%]"
              :key-general="keySelect"
              title1="Egreso"
              @key-th="changeKey($event, 'fecha')" />
            <AppThTableVue
              class="w-[17.5%]"
              :key-general="keySelect"
              title1="Acciones"
              @key-th="changeKey($event, 'fecha')" />
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="text-center">RC 12744</div>
            </td>
            <td>
              <div class="truncate text-center">03/16/2022</div>
            </td>
            <td>
              <div class="truncate text-center">Desembolso de dinero</div>
            </td>
            <td>
              <div
                class="
                  mx-auto
                  max-w-[130px]
                  rounded-md
                  bg-gray-100
                  py-1
                  text-center
                ">
                $200.000
              </div>
            </td>
            <td>
              <div class="flex justify-center gap-3">
                <FontAwesomeIcon icon="eye"></FontAwesomeIcon>
                <FontAwesomeIcon icon="file-download"></FontAwesomeIcon>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="flex justify-center">
        <AppMinPaginatorAve></AppMinPaginatorAve>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { AccountState } from '@/types/AccountStateAve'
import { defineComponent, ref } from 'vue'
import AppMinPaginatorAve from '@/components/AppMinPaginatorAve.vue'
import AppTitleThreeAve from '@/components/AppTitleThreeAve.vue'
import AppThTableVue from '@/components/AppThTableAve.vue'
import AppDatePickerRange from '@/components/AppDatePickerRange.vue'
import AppButtonDownloadDocumentAve from '@/components/AppButtonDownloadDocumentAve.vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

export default defineComponent({
  components: {
    AppTitleThreeAve,
    AppThTableVue,
    AppMinPaginatorAve,
    AppDatePickerRange,
    AppButtonDownloadDocumentAve,
    FontAwesomeIcon
  },
  props: {
    accountState: {
      type: Object as () => AccountState
    }
  },
  setup() {
    const showDetail = ref<boolean>(false)

    return {
      showDetail
    }
  }
})
</script>
