<template>
  <section>
    <div class="flex w-full items-center justify-between">
      <AppTitleIconPrincipalVue icon="exclamation-triangle">
        <slot></slot>
      </AppTitleIconPrincipalVue>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import AppTitleIconPrincipalVue from '@/components/AppTitleIconPrincipalAve.vue'

export default defineComponent({
  components: {
    AppTitleIconPrincipalVue
  },
  setup() {
    return {}
  }
})
</script>
