<template>
  <section class="contendor p-6">
    <div class="top flex w-full justify-between">
      <AppBreadcrumbVue :add-home-default="false"></AppBreadcrumbVue>

      <AppDatePickerRangeVue
        position="right"
        :has-border="true"></AppDatePickerRangeVue>
    </div>

    <div class="mt-8 flex w-full justify-start">
      <AppHeaderBarAveVue :headers="headersFilter" />
    </div>

    <AppInfoHeaderVue class="mt-6"></AppInfoHeaderVue>
    <AppSelectFiltersVue></AppSelectFiltersVue>
  </section>
</template>

<script lang="ts">
import { defineComponent, reactive, onMounted } from 'vue'
import AppInfoHeaderVue from '../collectGuides/components/AppInfoHeader.vue'
import AppDatePickerRangeVue from '@/components/AppDatePickerRange.vue'
import AppSelectFiltersVue from '../collectGuides/components/AppSelectFilters.vue'
import AppBreadcrumbVue from '@/components/AppBreadcrumb.vue'
import AppHeaderBarAveVue from '@/components/AppHeaderBarAve.vue'

import { getRecaudos } from '@/services'
import { IResponseAllDataRecaudos } from '@/constants'
import { mutationDataStore } from '@/composables'

export default defineComponent({
  components: {
    AppInfoHeaderVue,
    AppDatePickerRangeVue,
    AppBreadcrumbVue,
    AppHeaderBarAveVue,
    AppSelectFiltersVue
  },
  setup() {
    const headersFilter = reactive({
      title: { icon: 'coins', description: 'Recaudos' },
      options: [
        {
          title: '$ 1,5 mill',
          subtitle: 'Sin recaudo',
          name: 'title 1',
          percentage: 95,
          footer: '235 guías'
        },
        {
          title: '$ 1,1 mill',
          subtitle: 'Pendiente de pago',
          name: 'title 2',
          percentage: 69,
          footer: '235 guías'
        },
        {
          title: '$ 800 mil',
          subtitle: 'Pagada',
          name: 'title 3',
          percentage: 65,
          footer: '235 guías'
        },
        {
          title: '$ 1,9 mill',
          subtitle: 'Devolución',
          name: 'title 4',
          percentage: 45,
          footer: '235 guías'
        }
      ]
    })

    const GetReacudos = () => {
      getRecaudos().then((res) => {
        const resp: IResponseAllDataRecaudos = res.data.data
        mutationDataStore(resp)
      })
    }

    onMounted(() => {
      GetReacudos()
    })
    return {
      headersFilter
    }
  }
})
</script>

<style scoped>
.contendor {
  height: calc(100vh - 64px);
  overflow-y: auto;
}

@media (min-width: 768px) {
  .contendor {
    padding-top: 1rem;
  }
}
</style>
