<template>
  <div class="justify-star my-2 flex w-full flex-row items-center gap-7">
    <div class="flex w-[12.5%] items-center justify-center text-center">
      {{ dataInput.Fecha }}
    </div>
    <div class="flex w-[12.5%] items-center justify-center text-center">
      ${{ dataInput.ValorDeLaTransacción }}
    </div>
    <div class="flex w-[12.5%] items-center justify-center text-center">
      {{ dataInput.IdentificaciónPagador }}
    </div>
    <div
      class="flex w-[12.5%] min-w-max items-center justify-center text-center">
      {{ dataInput.Observaciones }}
    </div>
    <div class="flex w-[12.5%] items-center justify-center text-center">
      {{ dataInput.ConsecutivoExtracto }}
    </div>
    <div
      v-if="editable"
      class="flex w-[12.5%] items-center justify-center text-center">
      <AppSelectIcon icon="" add-class="w-[100px]" :options="listSelect">
        <span v-for="item in tipoDocumento" :key="item.tipo">
          <span v-if="String(item.tipo) === String(dataInput.TipoDeDocumento)">
            {{ item.ds }}
          </span>
        </span>
      </AppSelectIcon>
    </div>
    <div
      v-if="!editable"
      class="flex w-[12.5%] items-center justify-center text-center">
      <span v-for="item in tipoDocumento" :key="item.tipo">
        <span v-if="String(item.tipo) === String(dataInput.TipoDeDocumento)">
          {{ item.ds }}
        </span>
      </span>
    </div>
    <div class="flex w-[12.5%] items-center justify-center text-center">
      {{ dataInput.NúmeroDeDocumento }}
    </div>
    <div
      class="
        flex
        w-[12.5%]
        flex-row
        items-center
        justify-center
        gap-1
        text-center
      ">
      <div v-if="editable">
        <AppButtonAve @click="Save()">Guardar</AppButtonAve>
      </div>
      <div v-if="!editable" hidden></div>
      <FontAwesomeIcon class="text-gray-600" icon="eye" />
      <FontAwesomeIcon
        v-if="!editable"
        class="text-gray-600"
        click
        icon="edit"
        @click="Edit()" />
    </div>
  </div>
  <div></div>
</template>

<script lang="ts">
import { defineComponent, PropType, ref } from 'vue'

import AppSelectIcon from '@/components/AppSelectIconAve.vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import {
  IDataInputRowTable,
  ItypeDocumentSelec,
  ISelect
} from '../models/conciliation'
import { tipoDocumento } from '../store/dataTest'
import AppButtonAve from '@/components/AppButtonAve.vue'

export default defineComponent({
  name: 'AppRowTableReconciliarionAve',
  components: {
    FontAwesomeIcon,
    AppSelectIcon,
    AppButtonAve
  },
  props: {
    dataInput: {
      type: Object as PropType<IDataInputRowTable>
    },
    dataSelect: {
      type: Object as PropType<ItypeDocumentSelec>
    }
  },
  setup() {
    const listSelect = ref<ISelect[]>([])

    const editable = ref<boolean>(false)
    const Edit = () => {
      editable.value = true
      return editable
    }
    const Save = () => {
      editable.value = false
      return editable
    }
    listSelect.value = tipoDocumento.map((e) => {
      return {
        value: e.tipo,
        label: e.ds
      }
    })
    return {
      Edit,
      Save,
      editable,
      listSelect,
      tipoDocumento
    }
  }
})
</script>
