<template>
  <div class="mt-8 flex w-full flex-col">
    <div class="item-center flex w-full flex-row justify-between">
      <div class="flex w-1/2 flex-row items-center gap-3">
        <div class="border-1 w-full">
          <AppSelectIconVue :options="tipos_cuentas"
            >Observación</AppSelectIconVue
          >
        </div>
        <div class="border-1 w-full">
          <AppSearch :live-search="true"></AppSearch>
        </div>
        <div
          class="
            flex
            w-full
            items-center
            justify-center
            gap-2
            rounded-lg
            border border-gray-400
            p-2
          ">
          <p class="min-w-max">Pendientes por conciliar</p>
          <div class="h-4 w-4 rounded-full bg-red-500"></div>
          <p>4</p>
        </div>
      </div>

      <AppButtonDownloadDocumentAve />
    </div>

    <table class="mt-3 w-full overflow-hidden rounded-t-[10px]">
      <thead class="w-full">
        <tr
          class="
            bg-gray-200
            font-sans
            text-lg
            font-bold
            not-italic
            leading-[19px]
          ">
          <AppThTableVue
            add-class="w-[12.5%]"
            :key-general="keySelect"
            title1="Fecha"
            @key-th="changeKey($event, 'Fecha')" />
          <AppThTableVue
            add-class="w-[12.5%]"
            :key-general="keySelect"
            title1="Valor De La"
            title2="Transacción"
            @key-th="changeKey($event, 'ValorDeLaTransacción')" />
          <AppThTableVue
            add-class="w-[12.5%]"
            :key-general="keySelect"
            title1="Identificación"
            title2="Pagador"
            @key-th="changeKey($event, 'IdentificaciónPagador')" />
          <AppThTableVue
            add-class="w-[12.5%]"
            :key-general="keySelect"
            title1="Observaciones"
            @key-th="changeKey($event, 'Observaciones')" />
          <AppThTableVue
            add-class="w-[12.5%]"
            :key-general="keySelect"
            title1="Consecutivo"
            title2="Extracto"
            @key-th="changeKey($event, 'ConsecutivoExtracto')" />
          <AppThTableVue
            add-class="w-[12.5%]"
            :key-general="keySelect"
            title1="Tipo de"
            title2="Documento"
            @key-th="changeKey($event, 'TipoDeDocumento')" />
          <AppThTableVue
            add-class="w-[12.5%]"
            :key-general="keySelect"
            title1="Número de"
            title2="documento"
            @key-th="changeKey($event, 'NumeroDeDocumento')" />
          <AppThTableVue
            add-class="w-[12.5%]"
            :hidden-icon="true"
            :key-general="keySelect"
            title1="Generar documento" />
        </tr>
      </thead>
    </table>

    <div class="flex w-full flex-col justify-center p-2">
      <section class="justify-star flex w-full flex-row items-center gap-7">
        <div class="flex w-[12.5%] items-center justify-center text-center">
          12/02/2022
        </div>
        <div class="flex w-[12.5%] items-center justify-center text-center">
          $30.000
        </div>
        <div
          class="
            flex
            w-[12.5%]
            flex-col
            items-center
            justify-center
            text-center
          ">
          <p class="min-w-max">NIT 09320129310</p>
          <span class="min-w-max font-extrabold">clientes Identificados:</span>
          <p class="min-w-max">JUJU S.A.S</p>
        </div>
        <div
          class="
            flex
            w-[12.5%]
            min-w-max
            items-center
            justify-center
            text-center
          ">
          Consignación bancaria
        </div>
        <div class="flex w-[12.5%] items-center justify-center text-center">
          242323423
        </div>
        <div class="flex w-[12.5%] items-center justify-center text-center">
          <select
            class="
              flex
              h-10
              w-full
              cursor-pointer
              flex-col
              justify-center
              rounded-[20px]
              border
              px-6
              text-sm
            "></select>
        </div>
        <div class="flex w-[12.5%] items-center justify-center text-center">
          <input
            class="
              h-[39px]
              w-full
              rounded-full
              border border-gray-400
              py-[5px]
              px-4
              focus:outline-none
            " />
        </div>
        <div class="flex w-[12.5%] items-center justify-center text-center">
          <div
            class="
              flex
              h-[39px]
              w-full
              cursor-pointer
              items-center
              justify-center
              gap-1
              rounded-full
              border
            ">
            <FontAwesomeIcon icon="plus-circle" /> Documento
          </div>
          <div
            class="flex flex-row items-center justify-center gap-1 text-center">
            <FontAwesomeIcon class="text-gray-600" icon="eye" />
          </div>
        </div>
      </section>
      <AppRowTableReconciliarionAve
        v-for="item in Dataprueba"
        :key="item.NúmeroDeDocumento"
        :data-select="tipoDocumento"
        :data-input="item" />
    </div>

    <div class="flex items-center justify-center">
      <AppPaginadorRounded></AppPaginadorRounded>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'

import AppSelectIconVue from '@/components/AppSelectIconAve.vue'
import AppSearch from '@/components/AppSearchAve.vue'
import AppPaginadorRounded from '@/components/AppMinPaginatorAve.vue'
import AppButtonDownloadDocumentAve from '@/components/AppButtonDownloadDocumentAve.vue'
import AppRowTableReconciliarionAve from '../components/AppRowTableReconciliarionAve.vue'
import AppThTableVue from '@/components/AppThTableAve.vue'

import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
// eslint-disable-next-line camelcase
import { tipos_cuentas } from '@/constants/'
// import { orderAny } from "@/utils";
import { Dataprueba, tipoDocumento } from '../store/dataTest'
// import { orderAnyAve } from '@/utils'

interface ISelect {
  key: string
  status: string
}

export default defineComponent({
  nmae: 'TheTableReconciliation',
  components: {
    AppSelectIconVue,
    AppSearch,
    AppPaginadorRounded,
    AppButtonDownloadDocumentAve,
    AppThTableVue,
    AppRowTableReconciliarionAve,
    FontAwesomeIcon
  },

  setup() {
    const keySelect = ref<string>('')
    const statusSelect = ref<string>('')
    const columnSelect = ref<string>('')
    const changeKey = (val: ISelect, column = '') => {
      keySelect.value = val.key
      statusSelect.value = val.status
      columnSelect.value = column
    }

    return {
      tipos_cuentas,
      keySelect,
      Dataprueba,
      tipoDocumento,
      changeKey
    }
  }
})
</script>
