<template>
  <section class="w-100 flex w-full items-center justify-between">
    <div class="mt-4 flex w-[70%] items-center gap-4 text-gray-800">
      <div class="w-3/12">
        <AppFilter
          :data="transporter"
          label="Transportadora"
          @select="filterTrans"></AppFilter>
      </div>
      <div class="w-3/12">
        <AppFilter
          :data="destinty"
          label="Destino"
          @select="filterdestin"></AppFilter>
      </div>
      <div class="w-3/10">
        <AppSearch v-model="filter" placeholder="Buscar"></AppSearch>
      </div>
    </div>
    <div class="mt-4">
      <AppButtonDownloadDocumentAve></AppButtonDownloadDocumentAve>
    </div>
  </section>
  <section>
    <table class="mt-6 w-full overflow-hidden rounded-t-[10px]">
      <thead
        class="
          bg-gray-200
          font-sans
          text-lg
          font-bold
          not-italic
          leading-[19px]
        ">
        <tr>
          <AppThTableVue
            class="w-[15.2%]"
            :key-general="keySelect"
            title1="Número de la guía"
            @key-th="changeKey($event, 'dsconsec')" />
          <AppThTableVue
            class="w-[15.5%]"
            :key-general="keySelect"
            title1="Estado"
            @key-th="changeKey($event, 'dscomentario')" />
          <AppThTableVue
            class="w-[14.2%]"
            :key-general="keySelect"
            title1="Cliente"
            @key-th="changeKey($event, 'dsempresa')" />
          <AppThTableVue
            class="w-[14.2%]"
            :key-general="keySelect"
            title1="Trayecto"
            @key-th="changeKey($event, 'dstipotrayecto')" />
          <AppThTableVue
            class="w-[14.2%]"
            :key-general="keySelect"
            title1="Transportadora"
            @key-th="changeKey($event, 'dstransportadora')" />
          <AppThTableVue
            class="w-[11.4%]"
            :key-general="keySelect"
            :hidden-icon="true"
            title1=" Acciones"
            @key-th="changeKey($event)" />
        </tr>
      </thead>
      <tbody
        v-if="(dataPipe.length == 0) | (dataPipe.length == null)"
        class="flex flex-col items-center">
        <AppLoadtableAve :is-active="true" title="Cargando"></AppLoadtableAve>
        <p>Cargando</p>
      </tbody>
      <tbody v-else>
        <tr v-for="novaltyFirst in dataPipe" :key="'canal' + novaltyFirst.pkid">
          <td>
            <div class="mt-4 text-center">
              {{ novaltyFirst.dsconsec }}
            </div>
          </td>
          <td>
            <div
              class="
                mt-4
                rounded-[10px]
                bg-red-500
                py-2
                text-center text-white
              ">
              {{ novaltyFirst.dscomentario || 'generada' }}
            </div>
          </td>
          <td>
            <div class="mt-4 text-center">
              {{ novaltyFirst.empresa }}
            </div>
          </td>
          <td>
            <div class="mt-4 text-center">
              {{ novaltyFirst.dstipotrayecto }}
            </div>
          </td>
          <td>
            <div class="mt-4 flex justify-center gap-1 text-center">
              <picture class="w-5">
                <AppShowIconTransportVue :id="novaltyFirst.idtransportador" />
              </picture>
              <p class="items-end">{{ novaltyFirst.dstransportadora }}</p>
            </div>
          </td>
          <td class="mt-4 flex justify-center">
            <fontAwesomeIcon icon="eye"></fontAwesomeIcon>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="flex justify-center">
      <AppMinPaginatorAve
        :total="AppState.getAllDataNovalty.length"
        @prev-p="spliter = spliter - 10"
        @next-p="spliter = spliter + 10"></AppMinPaginatorAve>
    </div>
  </section>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, ref } from 'vue'
import { GetListNovelty } from '@/services'
import { useAppNovalty } from '@/store'
import { filterTableAve, logDev, orderAnyAve } from '@/utils'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

import AppFilter from '@/components/AppFilter.vue'
import AppShowIconTransportVue from '@/components/AppShowIconTransportAve.vue'
import AppThTableVue from '@/components/AppThTableAve.vue'
import AppButtonDownloadDocumentAve from '@/components/AppButtonDownloadDocumentAve.vue'
import AppSearch from '@/components/AppSearch.vue'
import AppMinPaginatorAve from '@/components/AppMinPaginatorAve.vue'
import AppLoadtableAve from '@/components/appLoadtableAve.vue'

interface ISelect {
  key: string
  status: string
}

export default defineComponent({
  components: {
    FontAwesomeIcon,
    AppFilter,
    AppShowIconTransportVue,
    AppThTableVue,
    AppButtonDownloadDocumentAve,
    AppSearch,
    AppMinPaginatorAve,
    AppLoadtableAve
  },
  setup() {
    const spliter = ref(0)
    const AppState = useAppNovalty()
    const filter = ref('')

    const keySelect = ref<string>('')
    const statusSelect = ref<string>('')
    const columnSelect = ref<string>('')

    const transporter = computed(() => AppState.getTransp)
    const destinty = computed(() => AppState.getDestiny)
    const allData = computed(() => AppState.getAllDataNovalty)

    const changeKey = (val: ISelect, column = '') => {
      keySelect.value = val.key
      statusSelect.value = val.status
      columnSelect.value = column
    }

    const dataPipe = computed(() => {
      const ord = statusSelect.value === 'down' ? 'Desc' : 'Asc'
      if (AppState.getAllDataNovalty.length > 0) {
        orderAnyAve(AppState.getAllDataNovalty, columnSelect.value, ord)
        return filterTableAve(
          AppState.getAllDataNovalty,
          filter.value,
          spliter.value
        )
      }
      return []
    })

    const ListNovelty = async () => {
      const res = await GetListNovelty()
      if (res) {
        AppState.insertAllDataNovalty(res.data.data)
      }
    }

    // const filterdestin = (valor:[]) => {
    //   const destino:string[] = valor
    //   logDev('dd', destino)
    // }

    const filterTrans = (valor: []) => {
      const transportadora: number[] = valor
      logDev('tt', transportadora)
      const dat = transportadora.length
      logDev('tm', dat)
      const transp = transportadora.forEach(
        (value: number, index: number, array: number[]) => array
      )
      logDev('ll', transp)
      return transp
    }

    onMounted(() => {
      ListNovelty()
    })

    return {
      spliter,
      changeKey,
      dataPipe,
      keySelect,
      AppState,
      filter,
      transporter,
      destinty,
      allData,
      filterTrans
    }
  }
})
</script>
