<template>
  <main class="w-full py-8 px-5">
    <div class="flex items-center justify-between py-3 text-center">
      <AppBreadcrumb :add-home-default="false" />
      <AppDatePickerRangeVue :has-border="true" position="right" />
    </div>
    <div class="flex w-full items-center justify-between">
      <div>
        <AppTitleIconPrincipalVue icon="dollar-sign">
          Conciliación
        </AppTitleIconPrincipalVue>
      </div>
    </div>

    <div class="flex w-full">
      <TheTableConciliacion />
    </div>
  </main>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import AppTitleIconPrincipalVue from '@/components/AppTitleIconPrincipalAve.vue'
import TheTableConciliacion from '../bankReconciliation/components/TheTableReconciliation.vue'
import AppDatePickerRangeVue from '@/components/AppDatePickerRange.vue'
import AppBreadcrumb from '@/components/AppBreadcrumb.vue'

export default defineComponent({
  components: {
    AppTitleIconPrincipalVue,
    TheTableConciliacion,
    AppBreadcrumb,
    AppDatePickerRangeVue
  }
})
</script>
