<template>
  <section class="flex w-full flex-col">
    <div class="font-serifBold w-full text-lg">
      <span class="font-extrabold">
        <slot></slot>
      </span>
    </div>
    <hr class="my-3" />

    <div class="">
      <div class="flex w-full gap-4 pt-3 xl:w-9/12">
        <div class="w-1/5">
          <AppInputDate
            v-model="date.init"
            label="Fecha inicio"
            :is-required="true"
            w-input="w-full"
            :class-border="
              error.fechas || AppState.validationInput.errorDate
                ? 'border-red-400'
                : 'border-gray-400'
            "
            @change="addFecha" />
        </div>
        <div class="w-1/5">
          <AppInputDate
            v-model="date.final"
            label="Fecha fin"
            :is-required="true"
            w-input="w-full"
            :class-border="
              error.fechas || AppState.validationInput.errorDate
                ? 'border-red-400'
                : 'border-gray-400'
            "
            @change="addFecha" />
        </div>
      </div>
      <div
        v-if="error.fechas"
        class="Error flex w-full items-center text-red-900">
        <FontAwesomeIcon
          class="h-2.5 w-4 cursor-pointer text-red-900"
          icon="exclamation-triangle">
        </FontAwesomeIcon>
        <p class="text-xs">las fechas estan incorrectas!</p>
      </div>

      <div
        v-for="(item, ind) in descuentos"
        :key="item"
        class="flex w-full gap-4 pt-3 xl:w-9/12">
        <AppInputDiscount
          :len="descuentos.length"
          :tittles="titles"
          :index="ind"
          @add-value="newDiscont"
          @remove-value="removeDiscont" />
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import {
  defineComponent,
  computed,
  ref,
  PropType,
  onMounted,
  reactive,
  watchEffect
} from 'vue'

import AppInputDate from '@/components/AppInputDateAve.vue'
import AppInputDiscount from '../components/AppInputDiscountAve.vue'

import { useAppDescuento } from '../store/module.store'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

import { InfoFecha } from '../../discounts/models/descuentoAve'

type Iaux = '1' | '2' | '-1'

export default defineComponent({
  components: {
    AppInputDate,
    AppInputDiscount,
    FontAwesomeIcon
  },

  props: {
    numberr: {
      type: String as PropType<Iaux>,
      required: true
    },
    fecha: {
      type: Object as PropType<InfoFecha>
      // required: true,
    }
  },

  emits: ['dateFlete', 'dateRec'],
  setup(props, { emit }) {
    const AppState = useAppDescuento()

    const error = reactive({
      fechas: false
    })

    const dataDiscon = computed(() => AppState.getDataEdit)
    const descuentos = ref<string[]>(['data'])

    const date = ref<InfoFecha>({
      init: '',
      final: ''
    })

    const addFecha = () => {
      if (
        date.value.final !== '' &&
        date.value.init !== '' &&
        date.value.final < date.value.init
      ) {
        error.fechas = true
        AppState.validationInput.errorDate = true
      }
      if (
        date.value.final !== '' &&
        date.value.init !== '' &&
        date.value.final >= date.value.init
      ) {
        error.fechas = false
        AppState.validationInput.errorDate = false
        emit('dateFlete', date.value)
        emit('dateRec', date.value)
      }
    }

    const tittles1 = {
      factuDesde: 'Facturacion desde *',
      factuHasta: 'Facturacion hasta *',
      tipoDesc: 'Tipo de descuento *',
      elDesc: 'Descuento *',
      tipo: 'flete'
    }

    const tittles2 = {
      factuDesde: 'Total recaudado desde *',
      factuHasta: 'Total recaudado hasta *',
      tipoDesc: 'Tipo de descuento *"',
      elDesc: 'Descuento *',
      tipo: 'recaudo'
    }

    const titles = computed(() => {
      if (props.numberr === '1') {
        return tittles1
      } else {
        return tittles2
      }
    })

    const newDiscont = () => {
      descuentos.value.push('data')
    }

    const removeDiscont = () => {
      descuentos.value.pop()
    }

    onMounted(() => {
      if (AppState.getMode === 'Edit') {
        // console.log('AppState.getDataEdi', AppState.getDataEdit)
        if (titles.value.tipo === 'flete') {
          date.value.init = String(AppState.getDataEdit?.flete_fecha_inicio)
          date.value.final = String(AppState.getDataEdit?.flete_fecha_final)
        }
        if (titles.value.tipo === 'recaudo') {
          date.value.init = String(AppState.getDataEdit?.recaudo_fecha_inicio)
          date.value.final = String(AppState.getDataEdit?.recaudo_fecha_final)
        }
      }
    })

    watchEffect(async () => {
      await addFecha()
      if (date.value.final === '' || date.value.init === '') {
        AppState.validationInput.dataDate = false
      } else {
        AppState.validationInput.dataDate = true
      }
    })

    return {
      descuentos,
      titles,
      dataDiscon,
      date,
      error,
      AppState,
      newDiscont,
      removeDiscont,
      addFecha
    }
  }
})
</script>
