<template>
  <section class="flex w-full flex-col">
    <div class="flex w-full">
      <div class="flex-wraped flex w-full items-end gap-4">
        <div class="w-1/5">
          <p class="mb-2 text-[14px] font-normal text-gray-800">
            {{ titles?.factuDesde }}
          </p>
          <span class="input-symbol-dollar">
            <input
              id="partialValue"
              v-model="valores.total_desde"
              v-mask="valueFactDesde"
              name="partialValue"
              class="
                input-symbol-dollar
                h-[39px]
                w-full
                rounded-full
                border
                py-[5px]
                px-4
                focus:outline-none
              "
              :class="
                error.valor || AppState.validationInput.errorInput
                  ? 'border-red-400'
                  : 'border-gray-400'
              "
              @change="updateDataFlete" />
          </span>
        </div>

        <div class="w-1/5">
          <p class="mb-2 text-[14px] font-normal text-gray-800">
            {{ titles?.factuHasta }}
          </p>
          <span class="input-symbol-dollar">
            <input
              id="partialValue"
              v-model="valores.total_hasta"
              v-mask="valueFactHasta"
              name="partialValue"
              class="
                input-symbol-dollar
                h-[39px]
                w-full
                rounded-full
                border border-gray-400
                py-[5px]
                px-4
                focus:outline-none
              "
              :class="
                error.valor || AppState.validationInput.errorInput
                  ? 'border-red-400'
                  : 'border-gray-400'
              "
              @change="updateDataFlete" />
          </span>
        </div>

        <div class="w-1/5">
          <p class="mb-2 text-[14px] font-normal text-gray-800">
            {{ titles?.tipoDesc }}
          </p>
          <AppSelectIcon
            v-model="valores.porcentaje_descuento"
            :options="porcent"
            :setvalue="String(valores.porcentaje_descuento)"
            icon-type-string=" "
            @update:model-value="updateDataFlete">
          </AppSelectIcon>
        </div>
        <div class="w-1/5">
          <p class="mb-2 text-[14px] font-normal text-gray-800">
            {{ titles?.elDesc }}
          </p>
          <input
            v-model="valores.valor_descuento"
            v-mask="valueValorDesc"
            :label="titles?.elDesc"
            class="
              input-symbol-dollar
              h-[39px]
              w-full
              rounded-full
              border border-gray-400
              py-[5px]
              px-4
              focus:outline-none
            "
            :is-required="true"
            @change="updateDataFlete" />
        </div>

        <div class="mt- ml-4 h-auto w-10">
          <AppButton
            v-if="index == 0"
            title="agregar"
            icon="plus"
            @click="addVal"></AppButton>
          <AppButton
            v-if="index > 0 && index + 1 == len"
            type="secondary"
            title="agregar"
            icon="minus"
            color="secondary"
            @click="removeVal"
            >-
          </AppButton>
        </div>
      </div>
    </div>
    <div v-if="error.valor" class="Error flex w-full items-center text-red-900">
      <FontAwesomeIcon
        class="h-2.5 w-4 cursor-pointer text-red-900"
        icon="exclamation-triangle">
      </FontAwesomeIcon>
      <p class="text-xs">
        Los valores no pueden ser iguales en los diferentes rangos!
      </p>
    </div>
  </section>
</template>

<script lang="ts">
import {
  defineComponent,
  computed,
  PropType,
  ref,
  onMounted,
  reactive,
  watchEffect
} from 'vue'
import { mask } from 'vue-the-mask'

import AppButton from '@/components/AppButton.vue'
import AppSelectIcon from '@/components/AppSelectIconAve.vue'

import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import { tokenMaskDimamic, removeDots } from '@/utils/'
import { IdataFlete, IdataGenerica, IdataRecuado } from '../models/index'
import { useAppDescuento } from '../store/module.store'
import { logDev } from '../../../utils/logDev'

interface InfoDescFlete {
  factuDesde: string
  factuHasta: string
  tipoDesc: string
  elDesc: string
  tipo: string
}

export default defineComponent({
  name: 'AppInputDiscount',
  directives: {
    mask
  },
  components: {
    AppButton,
    AppSelectIcon,
    FontAwesomeIcon
  },
  props: {
    tittles: {
      type: Object as PropType<InfoDescFlete>,
      requiered: true
    },
    index: {
      type: Number,
      required: true
    },
    len: {
      type: Number,
      default: 1,
      required: true
    }
  },
  emits: ['addValue', 'removeValue'],
  setup(props, { emit }) {
    const AppState = useAppDescuento()
    const titles = computed(() => {
      return props.tittles
    })

    const error = reactive({
      valor: false
    })

    const errorVerification = () => {
      if (
        valores.value.total_desde !== '' &&
        valores.value.total_hasta !== '' &&
        valores.value.total_desde > valores.value.total_hasta
      ) {
        AppState.validationInput.errorInput = true
      } else {
        AppState.validationInput.errorInput = false
      }
    }

    const valores = ref<IdataGenerica>({
      total_desde: '',
      total_hasta: '',
      porcentaje_descuento: '',
      valor_descuento: ''
    })

    const porcent = [
      {
        label: '% Porcentaje',
        value: 1
      },
      {
        label: '$ Valor en Pesos',
        value: 2
      }
    ]

    const removeVal = () => {
      if (props.tittles?.tipo === 'flete') {
        AppState.deleteDataFlete()
      }
      if (props.tittles?.tipo === 'recaudo') {
        AppState.deleteDataRecuado()
      }

      emit('removeValue')
    }
    const addVal = () => {
      emit('addValue', valores.value)
    }
    const updateDataFlete = () => {
      const totalDesde = removeDots(valores.value.total_desde)
      const totalHasta = removeDots(valores.value.total_hasta)
      logDev('totalDesde && totalHasta', [totalDesde, totalHasta])
      if (totalDesde !== 0 && totalHasta !== 0 && totalDesde <= totalHasta) {
        if (props.tittles?.tipo === 'flete') {
          error.valor = false
          AppState.validationInput.errorInput = false
          const data: IdataFlete = {
            flete_fact_desde: totalDesde,
            flete_fact_hasta: totalHasta,
            flete_porcentaje_descuento: Number(
              valores.value.porcentaje_descuento
            ),
            flete_valor_descuento: Number(valores.value.valor_descuento)
          }
          AppState.saveDataFlete(data, props.index)
        }
        if (props.tittles?.tipo === 'recaudo') {
          error.valor = false
          AppState.validationInput.errorInput = false
          const data: IdataRecuado = {
            recaudo_total_desde: totalDesde,
            recaudo_total_hasta: totalHasta,
            recaudo_porcentaje_descuento: Number(
              valores.value.porcentaje_descuento
            ),
            recaudo_valor_descuento: Number(valores.value.valor_descuento)
          }
          AppState.saveDataRecuado(data, props.index)
        }
      }

      if (totalDesde !== 0 && totalHasta !== 0 && totalDesde > totalHasta) {
        error.valor = true
        AppState.validationInput.errorInput = true
      }
    }

    const valueFactDesde = computed(() =>
      tokenMaskDimamic(valores.value.total_desde)
    )
    const valueFactHasta = computed(() =>
      tokenMaskDimamic(valores.value.total_hasta)
    )
    const valueValorDesc = computed(() =>
      tokenMaskDimamic(valores.value.valor_descuento)
    )

    onMounted(() => {
      if (props.tittles?.tipo === 'flete') {
        if (props.index === 0 && props.len === 1) {
          AppState.resetDataFlete()
        }
        const data: IdataFlete = {
          flete_fact_desde: 0,
          flete_fact_hasta: 0,
          flete_porcentaje_descuento: 0,
          flete_valor_descuento: 0
        }
        AppState.addDataFlete(data)
      }
      if (props.tittles?.tipo === 'recaudo') {
        if (props.index === 0) {
          AppState.resetDataRecuado()
        }
        const data: IdataRecuado = {
          recaudo_total_desde: 0,
          recaudo_total_hasta: 0,
          recaudo_porcentaje_descuento: 0,
          recaudo_valor_descuento: 0
        }
        AppState.addDataRecuado(data)
      }
      if (AppState.getMode === 'Edit') {
        const dataArrayFlete = AppState.getDataEdit?.data_flete
        const dataArrayRecaudo = AppState.getDataEdit?.data_recaudo
        setTimeout(() => {
          if (dataArrayFlete) {
            if (props.tittles?.tipo === 'flete') {
              valores.value.total_desde = String(
                dataArrayFlete[props.index].flete_fact_desde
              )
              valores.value.total_hasta = String(
                dataArrayFlete[props.index].flete_fact_hasta
              )
              valores.value.porcentaje_descuento = String(
                dataArrayFlete[props.index].flete_porcentaje_descuento
              )
              valores.value.valor_descuento = String(
                dataArrayFlete[props.index].flete_valor_descuento
              )
            }
          }
          if (dataArrayRecaudo) {
            if (props.tittles?.tipo === 'recaudo') {
              valores.value.total_desde = String(
                dataArrayRecaudo[props.index].recaudo_total_desde
              )
              valores.value.total_hasta = String(
                dataArrayRecaudo[props.index].recaudo_total_hasta
              )
              valores.value.porcentaje_descuento = String(
                dataArrayRecaudo[props.index].recaudo_porcentaje_descuento
              )
              valores.value.valor_descuento = String(
                dataArrayRecaudo[props.index].recaudo_valor_descuento
              )
            }
          }
        }, 100)
      }
    })

    watchEffect(async () => {
      await updateDataFlete()
      if (valores.value.total_desde === '') {
        AppState.validationInput.dataInput = false
      } else {
        AppState.validationInput.dataInput = true
      }
      if (error.valor) {
        errorVerification()
      }
    })

    return {
      titles,
      valores,
      valueFactHasta,
      valueFactDesde,
      valueValorDesc,
      porcent,
      error,
      AppState,
      addVal,
      removeVal,
      updateDataFlete
    }
  }
})
</script>

<style scoped>
._min_w {
  min-width: 150px;
}

.input-symbol-dollar {
  position: relative;
  display: block;
}

.input-symbol-dollar:after {
  color: #37424a !important;
  content: '$';
  font-size: 14px !important;
  font-weight: 400;
  position: absolute;
  display: block;
  height: 100%;
  top: -3px;
  left: 8px;
  line-height: 46px;
}

@media (max-width: 1115px) {
  .flex-wraped {
    flex-direction: column !important;
  }
}
</style>
