<template>
  <section class="flex w-full items-center justify-between gap-6 text-center">
    <div class="flex w-[65%] flex-row items-center gap-4">
      <div class="w-4/12">
        <AppSelectIconVue :options="listCampains">Campaña</AppSelectIconVue>
      </div>

      <div class="w-4/12">
        <AppSelectIconVue :options="listCanal"
          >Tipo de clientes</AppSelectIconVue
        >
      </div>

      <div class="w-4/12">
        <AppSearchVue v-model="filter" placeholder="Buscar" />
      </div>
    </div>

    <div class="flex flex-row gap-3">
      <AppButtonDownloadDocumentAve />
      <AppButton title="Agregar" icon="plus" @click="goTo('Created', null)"
        >dasdas+</AppButton
      >
    </div>
  </section>

  <section class="my-6">
    <table class="w-full overflow-hidden rounded-t-[10px]">
      <thead class="w-full">
        <tr
          class="
            bg-gray-200
            font-sans
            text-lg
            font-bold
            not-italic
            leading-[19px]
          ">
          <AppThTableVue
            add-class="w-[16.6%]"
            :key-general="keySelect"
            title1="Fecha"
            @key-th="changeKey($event, 'fecha')" />
          <AppThTableVue
            add-class="w-[16.6%]"
            :key-general="keySelect"
            title1="Estado"
            @key-th="changeKey($event, 'Estado')" />
          <AppThTableVue
            add-class="w-[16.6%]"
            :key-general="keySelect"
            title1="Nombre"
            @key-th="changeKey($event, 'nombre')" />
          <AppThTableVue
            add-class="w-[16.6%]"
            :key-general="keySelect"
            title1="Clientes"
            @key-th="changeKey($event, 'clientes')" />
          <AppThTableVue
            add-class="w-[16.6%]"
            :key-general="keySelect"
            title1="Número de campañas"
            @key-th="changeKey($event, 'numero_campanas')" />
          <AppThTableVue
            add-class="w-[16.6%]"
            :hidden-icon="true"
            :key-general="keySelect"
            title1="Acciones" />
        </tr>
      </thead>
      <tbody class="w-full pt-1">
        <tr
          v-for="desc in pipeDataDesc"
          :key="'keyTable' + desc.id"
          class="h-5 w-full border-y-[10px] border-transparent">
          <td class="text-center text-gray-800">
            <p>{{ desc.fecha }}</p>
          </td>
          <td class="flex justify-center text-center text-gray-800">
            <p
              class="
                flex
                w-40
                justify-center
                rounded-full
                py-2
                text-center text-white
              "
              :class="[desc.estado == '1' ? 'bg-emerald-300' : 'bg-red-600']">
              {{ desc.estado == '1' ? 'Activa' : 'Inactivo' }}
            </p>
          </td>
          <td class="text-center text-gray-800">
            <p>{{ desc.nombre }}</p>
          </td>
          <td class="text-center text-gray-800">
            <p>{{ desc.clientes }}</p>
          </td>
          <td class="text-center text-gray-800">
            <p>{{ desc.numero_campanas }}</p>
          </td>
          <td class="text-center text-gray-800">
            <FontAwesomeIcon
              class="cursor-pointer text-gray-800"
              icon="edit"
              @click="goTo('Edit', desc)" />
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <div class="flex justify-center">
    <AppMinPaginatorVue
      v-if="
        AppState.getDataConfDescuento &&
        AppState.getDataConfDescuento.length > 0
      "
      :total="AppState.getDataConfDescuento.length"
      @prev-p="spliter = spliter - 10"
      @next-p="spliter = spliter + 10">
    </AppMinPaginatorVue>
  </div>
</template>

<script lang="ts">
import { defineComponent, computed, ref, onMounted } from 'vue'
import { useRouter } from 'vue-router'

import AppThTableVue from '@/components/AppThTableAve.vue'
import AppSelectIconVue from '@/components/AppSelectIconAve.vue'
import AppMinPaginatorVue from '@/components/AppMinPaginatorAve.vue'
import AppSearchVue from '@/components/AppSearch.vue'
import AppButtonDownloadDocumentAve from '@/components/AppButtonDownloadDocumentAve.vue'
import AppButton from '@/components/AppButton.vue'

import { useAppDescuento } from '../store/module.store'
import { GetListDiscounts, GetListCampains, GetListCanales } from '../services/'

// eslint-disable-next-line camelcase
import { tipos_cuentas } from '@/constants/bank'
import {
  Modes,
  IDescuentos,
  ICampana,
  IdataCampana,
  IdataCanales
} from '../models/descuentoAve'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

import { orderAnyAve, filterTableAve } from '@/utils/'
import { ROUTES } from '@/constants'

interface ISelect {
  key: string
  status: string
}

export default defineComponent({
  components: {
    AppSelectIconVue,
    AppMinPaginatorVue,
    AppThTableVue,
    AppSearchVue,
    AppButtonDownloadDocumentAve,
    AppButton,
    FontAwesomeIcon
  },

  setup() {
    const AppState = useAppDescuento()
    const router = useRouter()
    const filter = ref('')
    const spliter = ref(0)
    const statusSelect = ref<string>('')
    const columnSelect = ref<string>('')
    const keySelect = ref<string>('')

    const goTo = function (mode: Modes, data: IDescuentos | null = null) {
      if (data) {
        AppState.changeDataEdit(data)
      } else {
        AppState.resetDataEdit()
      }
      AppState.changeMode(mode)
      return router.push({
        path: ROUTES.CONFIGDESCUENTOSCRUD.PATH,
        query: { id: data?.id }
      })
    }

    const pipeDataDesc = computed(() => {
      if (AppState.getDataConfDescuento) {
        const fullData = AppState.getDataConfDescuento
        const ord = statusSelect.value === 'down' ? 'Desc' : 'Asc'
        orderAnyAve(fullData, columnSelect.value, ord)
        return filterTableAve(fullData, filter.value, spliter.value)
      }
      return []
    })

    const changeKey = (val: ISelect, column = '') => {
      keySelect.value = val.key
      statusSelect.value = val.status
      columnSelect.value = column
    }

    const listDiscount = async () => {
      const res = await GetListDiscounts()
      if (res) {
        AppState.insertDataDescuento(res.data.data)
      }
    }

    const listCampains = ref<ICampana[]>([])
    const listCanal = ref<ICampana[]>([])

    const GetCampana = () => {
      GetListCampains().then((res) => {
        const resp: IdataCampana[] = [...res.data.data]

        listCampains.value = resp.map((e) => {
          return {
            value: e.id,
            label: e.nombre
          }
        })
      })
    }

    const GetCanales = () => {
      GetListCanales().then((res) => {
        const resp: IdataCanales[] = [...res.data.data]

        listCanal.value = resp.map((e) => {
          return {
            value: e.id,
            label: e.ds
          }
        })
      })
    }

    onMounted(async () => {
      await listDiscount()
      await GetCampana()
      await GetCanales()
    })

    return {
      pipeDataDesc,
      tipos_cuentas,
      spliter,
      AppState,
      ROUTES,
      listCampains,
      listCanal,
      keySelect,
      filter,

      changeKey,
      listDiscount,
      goTo
    }
  }
})
</script>
