<template>
  <div class="flex w-full items-center justify-between">
    <TheTittlePrincipal>
      <slot></slot>
    </TheTittlePrincipal>

    <AppDatePickerRangeVue
      position="right"
      :has-border="true"></AppDatePickerRangeVue>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, watchEffect, onMounted } from 'vue'

import TheTittlePrincipal from '../components/TheTittlePrincipalAve.vue'
import AppDatePickerRangeVue from '@/components/AppDatePickerRange.vue'

import { format, subDays } from 'date-fns'
// eslint-disable-next-line camelcase
import { tipos_cuentas } from '@/constants/bank'
import { DateInputs } from '@/constants'
import { useStatesModalStore } from '../store/states&modalFooter'

export default defineComponent({
  components: {
    TheTittlePrincipal,
    AppDatePickerRangeVue
  },

  emits: ['searchDate'],
  setup(_, { emit }) {
    const useModal = useStatesModalStore()

    const dateFinal = ref<string>('')

    const dateInit = ref<string>('')

    const eventEmiter = () => {
      const dates: DateInputs = {
        final: dateFinal.value,
        init: dateInit.value
      }
      emit('searchDate', dates)
    }

    watchEffect(() => {
      const dates = useModal.GetDates
      if (dates) {
        dateFinal.value = dates.final
        dateInit.value = dates.init
      }
    })

    onMounted(() => {
      dateFinal.value = format(new Date(), 'yyyy-MM-dd')
      dateInit.value = format(subDays(new Date(), 30), 'yyyy-MM-dd')
    })

    return {
      dateInit,
      dateFinal,
      tipos_cuentas,

      eventEmiter
    }
  }
})
</script>
