<template>
  <div class="flex items-center text-center" :class="className">
    <FontAwesomeIcon class="mr-4" icon="badge-percent" alt="stack of coins" />
    <slot></slot>
  </div>
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue'

import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

export default defineComponent({
  name: 'TheTitlePrincipalAve',
  components: {
    FontAwesomeIcon
  },
  props: {
    justify: {
      type: String,
      default: 'center'
    },

    addClass: {
      type: String,
      default: ''
    }
  },

  setup(props) {
    const className = computed(() => {
      return `font-serifBold font-bold text-[32px] text-gray-800 ${props.addClass}`
    })

    return {
      className
    }
  }
})
</script>
