<template>
  <section class="w-100 flex w-full items-center justify-between">
    <div class="mt-4 flex w-[300%] items-center gap-4 text-gray-800">
      <div
        class="w-90 flex h-10 w-[46%] items-center gap-4 rounded-full border-2">
        <div class="ml-4 flex gap-4 text-sm text-gray-800">
          <p>Todas</p>
          <span class="text-[16px] font-bold">500</span>
        </div>
        <div class="m-1 h-6 w-1 border-r border-gray-400 p-1"></div>
        <div class="flex gap-4 text-sm text-gray-800">
          <p>Carga exitosa</p>
          <span class="text-[16px] font-bold">500</span>
        </div>
        <div class="m-1 h-6 w-1 border-r border-gray-400 p-1"></div>
        <div class="flex gap-4 text-sm text-gray-800">
          <p>Carga incorrecta</p>
          <span class="text-[16px] font-bold">500</span>
        </div>
      </div>
      <div class="w-[25%]">
        <AppSearch v-model="filter" placeholder="Buscar"></AppSearch>
      </div>
      <div class="w-3/10">
        <AppButtonAve class="w-36 rounded-full">Terminar</AppButtonAve>
      </div>
    </div>
    <section class="mt-4 flex w-1/2 gap-4"></section>
    <div class="flex gap-4">
      <AppButtonDownloadDocumentAve></AppButtonDownloadDocumentAve>
      <AppButton
        title="Agregar Otra"
        icon="plus"
        @click="modal.shownovelty = true"></AppButton>
    </div>
  </section>
  <section>
    <table class="mt-6 w-full overflow-hidden rounded-t-[10px]">
      <thead
        class="
          bg-gray-200
          font-sans
          text-lg
          font-bold
          not-italic
          leading-[19px]
        ">
        <tr>
          <AppThTableVue
            class="w-[16.6%]"
            :key-general="keySelect"
            title1="Nombre"
            @key-th="changeKey($event, 'pkid')" />
          <AppThTableVue
            class="w-[16.6%]"
            :key-general="keySelect"
            title1="Tipo"
            @key-th="changeKey($event, 'dsestado')" />
          <AppThTableVue
            class="w-[16.6%]"
            :key-general="keySelect"
            title1="Gestión"
            @key-th="changeKey($event, 'dsdird')" />
          <AppThTableVue
            class="w-[16.6%]"
            :key-general="keySelect"
            title1="Transportadora"
            @key-th="changeKey($event, 'idtransportador')" />
          <AppThTableVue
            class="w-[16.6%]"
            :key-general="keySelect"
            title1="Descripción"
            @key-th="changeKey($event, 'dstipotrayecto')" />
          <th></th>
        </tr>
      </thead>
    </table>
    <AppModalFirstAve
      v-model="modal.shownovelty"
      :header-icon="modal.icon"
      width="700px"
      :title="modal.title"></AppModalFirstAve>
  </section>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import AppSearch from '@/components/AppSearch.vue'
import AppButtonDownloadDocumentAve from '@/components/AppButtonDownloadDocumentAve.vue'
import AppButton from '@/components/AppButton.vue'
import AppThTableVue from '@/components/AppThTableAve.vue'
import AppButtonAve from '@/components/AppButtonAve.vue'
import AppModalFirstAve from '../novedadesFirst/appModalFirstAve.vue'

type Icon = 'ok' | 'error' | ''
interface Imodal {
  icon: Icon
  show: boolean
  text: string
  shownovelty: boolean
}

export default defineComponent({
  components: {
    AppSearch,
    AppButtonDownloadDocumentAve,
    AppButton,
    AppThTableVue,
    AppButtonAve,
    AppModalFirstAve
  },
  setup() {
    const modal = ref<Imodal>({
      icon: '',
      show: false,
      text: '',
      shownovelty: false
    })

    const closeNovelty = () => {
      modal.value.shownovelty = true
      modal.value.show = true
    }

    return {
      modal,
      closeNovelty
    }
  }
})
</script>
