<template>
  <section class="p-3">
    <nav class="sansBold flex w-full items-center gap-2 text-sm">
      <div :class="classesNav.canal" class="w-fit">
        <p
          class="my-2 cursor-pointer font-bold"
          @click="changeTypeCanal('CANAL')">
          Canales
        </p>
      </div>
      <div :class="classesNav.campan" class="w-fit">
        <p
          class="my-2 cursor-pointer font-bold"
          @click="changeTypeCanal('CAMPAN')">
          Campañas
        </p>
      </div>
    </nav>

    <section v-if="classesNav.select == 'CANAL'">
      <TheCanal></TheCanal>
    </section>

    <section v-if="classesNav.select == 'CAMPAN'">
      <TheCampan></TheCampan>
    </section>
  </section>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import TheCampan from './TheCampanTableAve.vue'
import TheCanal from './TheCanalsTableAve.vue'

export default defineComponent({
  components: {
    TheCampan,
    TheCanal
  },
  setup() {
    const navClassName = {
      select: 'text-red-500 sansBold border-b-4 border-b-red-500',
      noSelect: 'text-gray-600 sansBold border-b-4'
    }
    const classesNav = ref({
      canal: navClassName.select,
      campan: navClassName.noSelect,
      select: 'CANAL'
    })
    const changeTypeCanal = (click = '') => {
      if (click === 'CANAL') {
        classesNav.value.canal = navClassName.select
        classesNav.value.campan = navClassName.noSelect
        classesNav.value.select = click
      }
      if (click === 'CAMPAN') {
        classesNav.value.canal = navClassName.noSelect
        classesNav.value.campan = navClassName.select
        classesNav.value.select = click
      }
    }
    return {
      changeTypeCanal,
      navClassName,
      classesNav
    }
  }
})
</script>
