<template>
  <section class="mt-8 flex w-full items-center justify-between">
    <div class="flex w-[70%] items-center gap-4">
      <div class="w-3/12">
        <AppFilter label="Campaña" :data="campain"></AppFilter>
      </div>
      <div class="w-3/12">
        <AppFilter label="Tipo de clientes" :data="probando"></AppFilter>
      </div>
      <div class="w-3/10">
        <AppSearch v-model="filter" placeholder="Buscar"></AppSearch>
      </div>
    </div>
    <div class="flex gap-4">
      <AppButtonDownloadDocumentAve></AppButtonDownloadDocumentAve>
      <AppButton title="add" icon="plus" @click="goTo('Created', null)">
      </AppButton>
    </div>
  </section>

  <section>
    <table class="mt-6 w-full overflow-hidden rounded-t-[10px]">
      <thead
        class="
          bg-gray-200
          font-sans
          text-lg
          font-bold
          not-italic
          leading-[19px]
        ">
        <tr>
          <AppThTableVue
            class="w-[20%]"
            :key-general="keySelect"
            title1="Fecha"
            @key-th="changeKey($event, 'fecha')" />
          <AppThTableVue
            class="w-[20%]"
            :key-general="keySelect"
            title1="Estado"
            @key-th="changeKey($event, 'idactivo')" />
          <AppThTableVue
            class="w-[20%]"
            :key-general="keySelect"
            title1="ID"
            @key-th="changeKey($event, 'id')" />
          <AppThTableVue
            class="w-[20%]"
            :key-general="keySelect"
            title1="Nombre"
            @key-th="changeKey($event, 'ds')" />
          <AppThTableVue
            class="w-[20%]"
            :key-general="keySelect"
            title1="Acciones"
            @key-th="changeKey($event, 'estadorecaudotxt')" />
        </tr>
      </thead>
      <tbody>
        <tr v-for="canal in dataPipe" :key="'canal' + canal.id">
          <td>
            <div class="text-center">
              {{ canal.fecha }}
            </div>
          </td>
          <td>
            <div class="jusify-center my-2 flex text-center text-sm text-white">
              <div class="flex w-full justify-center text-center text-gray-800">
                <p
                  class="w-full rounded-[10px] py-2 text-white"
                  :class="[
                    canal.idactivo == '1' ? 'bg-emerald-300' : 'bg-red-600'
                  ]">
                  {{ canal.idactivo == '1' ? 'Activo' : 'Inactivo' }}
                </p>
              </div>
            </div>
          </td>
          <td>
            <div class="text-center">
              {{ canal.id }}
            </div>
          </td>
          <td>
            <div class="text-center">
              {{ canal.ds }}
            </div>
          </td>
          <td>
            <div class="cursor-pointer text-center">
              <FontAwesomeIcon
                class="ml-1 text-gray-600"
                icon="edit"
                @click="goTo('Edit', canal)" />
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="flex justify-center">
      <AppMinPaginatorAve
        :total="AppState.getAllDataChannel.length"
        @prev-p="spliter = spliter - 10"
        @next-p="spliter = spliter + 10"></AppMinPaginatorAve>
    </div>
  </section>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, ref } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

import AppFilter from '@/components/AppFilter.vue'
import AppSearch from '@/components/AppSearch.vue'
import AppButton from '@/components/AppButton.vue'

import { useRouter } from 'vue-router'

import { GetListCampains } from '@/services/campaignAve'
import { GetListChannels } from '@/services/channelsAve'
import { Modes, ROUTES } from '@/constants'

import { filterTableAve, orderAnyAve } from '@/utils/'
import AppButtonDownloadDocumentAve from '@/components/AppButtonDownloadDocumentAve.vue'
import AppThTableVue from '@/components/AppThTableAve.vue'
import AppMinPaginatorAve from '@/components/AppMinPaginatorAve.vue'
// import TheSpinner from '@/components/TheSpinner.vue'
import { useAppStore } from '@/store/channelAndCampainAve'
import { IdataCanales } from '@/types/GeneralChannelsAve'

interface ISelect {
  key: string
  status: string
}

interface IPruebas {
  id: string
  name: string
  status: boolean
}

export default defineComponent({
  components: {
    AppFilter,
    AppSearch,
    AppButton,
    FontAwesomeIcon,
    AppButtonDownloadDocumentAve,
    AppThTableVue,
    AppMinPaginatorAve
  },
  setup() {
    const router = useRouter()
    const AppState = useAppStore()
    const spliter = ref(0)
    const filter = ref('')

    const campain = computed(() => AppState.getCampain)

    const keySelect = ref<string>('')
    const statusSelect = ref<string>('')
    const columnSelect = ref<string>('')

    const goTo = function (mode: Modes, data: IdataCanales | null = null) {
      if (data) {
        AppState.changedataChannel(data)
      } else {
        AppState.resetEditDataChannel()
      }
      AppState.changeMode(mode)
      return router.push(ROUTES.CANAL.PATH)
    }

    const dataPipe = computed(() => {
      const ord = statusSelect.value === 'down' ? 'Desc' : 'Asc'
      if (AppState.getAllDataChannel.length > 0) {
        orderAnyAve(AppState.getAllDataChannel, columnSelect.value, ord)
        return filterTableAve(
          AppState.getAllDataChannel,
          filter.value,
          spliter.value
        )
      }
      return []
    })

    const Sumited = (value: string) => {
      filter.value = value.toLowerCase()
    }

    const ListCanales = async () => {
      const res = await GetListChannels()
      if (res) {
        AppState.insertAllDataChannel(res.data.data)
      }
    }

    const ListCampas = async () => {
      const res = await GetListCampains()
      if (res) {
        AppState.insertAllDataCampagne(res.data.data)
      }
    }

    onMounted(() => {
      ListCanales()
      ListCampas()
    })

    const changeKey = (val: ISelect, column = '') => {
      keySelect.value = val.key
      statusSelect.value = val.status
      columnSelect.value = column
    }

    const probando = ref<IPruebas[]>([
      {
        id: '',
        name: 'prueba a',
        status: false
      },
      {
        id: '',
        name: 'prueba b',
        status: false
      },
      {
        id: '',
        name: 'prueba c',
        status: false
      },
      {
        id: '',
        name: 'prueba d',
        status: false
      }
    ])

    return {
      changeKey,
      ListCampas,
      ListCanales,
      goTo,
      Sumited,
      probando,
      keySelect,
      dataPipe,
      AppState,
      spliter,
      filter,
      campain
    }
  }
})
</script>
