<template>
  <section class="mt-8 flex w-full items-center justify-between">
    <div class="flex w-[70%] items-center gap-4">
      <div class="w-3/12">
        <AppFilter label="Servicios" :data="service"></AppFilter>
      </div>
      <div class="w-3/12">
        <AppFilter label="Canal" :data="channel"></AppFilter>
      </div>
      <div class="w-3/10">
        <AppSearch v-model="filter" placeholder="Buscar"></AppSearch>
      </div>
    </div>
    <div class="flex gap-4">
      <AppButtonDownloadDocumentAve></AppButtonDownloadDocumentAve>
      <AppButton title="add" icon="plus" @click="goTo('Created', null)">
      </AppButton>
    </div>
  </section>
  <section>
    <table class="mt-6 w-full overflow-hidden rounded-t-[10px]">
      <thead
        class="
          bg-gray-200
          font-sans
          text-lg
          font-bold
          not-italic
          leading-[19px]
        ">
        <tr>
          <AppThTable
            class="w-[11.11%]"
            :key-general="keySelect"
            title1="Fecha"
            @key-th="changeKey($event, 'fecha')" />
          <AppThTable
            class="w-[11.11%]"
            :key-general="keySelect"
            title1="Estado"
            @key-th="changeKey($event, 'idactivo')" />
          <AppThTable
            class="w-[11.11%]"
            :key-general="keySelect"
            title1="Nombre"
            @key-th="changeKey($event, 'id')" />
          <AppThTable
            class="w-[11.11%]"
            :key-general="keySelect"
            title1="Número de clientes"
            @key-th="changeKey($event, 'total_clientes')" />
          <AppThTable
            class="w-[11.11%]"
            :key-general="keySelect"
            title1="Canal"
            @key-th="changeKey($event, 'idcanal')" />
          <AppThTable
            class="w-[11.11%]"
            :key-general="keySelect"
            title1="Inversión"
            @key-th="changeKey($event, 'inversion')" />
          <AppThTable
            class="w-[11.11%]"
            :key-general="keySelect"
            title1="ROI"
            @key-th="changeKey($event, 'roi')" />
          <AppThTable
            class="w-[11.11%]"
            :key-general="keySelect"
            title1="Rentabilidad"
            @key-th="changeKey($event, 'roi')" />
          <AppThTable
            class="w-[11.11%]"
            :key-general="keySelect"
            title1="Acciones"
            @key-th="changeKey($event, 'ds_canal')" />
        </tr>
      </thead>
      <!-- <tbody v-if="dataPipe.length === 0 ">
        <TheSpinner :is-active=true title="Cargando" ></TheSpinner>
      </tbody> -->
      <tbody>
        <tr v-for="campana in dataPipe" :key="campana.id">
          <td>
            <div class="text-center">
              {{ campana.fecha }}
            </div>
          </td>
          <div class="jusify-center my-2 flex text-center text-sm text-white">
            <div class="flex w-full justify-center text-center text-gray-800">
              <p
                class="w-full rounded-[10px] py-2 text-white"
                :class="[
                  campana.idactivo == '1' ? 'bg-emerald-300' : 'bg-red-600'
                ]">
                {{ campana.idactivo == '1' ? 'Activo' : 'Inactivo' }}
              </p>
            </div>
          </div>
          <td>
            <div class="text-center">
              {{ campana.nombre }}
            </div>
          </td>
          <td>
            <div class="text-center">
              {{ campana.total_clientes }}
            </div>
          </td>
          <td>
            <div class="text-center">
              {{ campana.idcanal }}
            </div>
          </td>
          <td>
            <div class="text-center">
              {{ campana.inversion }}
            </div>
          </td>
          <td>
            <div class="text-center">
              {{ campana.roi }}
            </div>
          </td>
          <td>
            <div class="text-center">
              {{ campana.ds_canal }}
            </div>
          </td>
          <td>
            <div class="cursor-pointer text-center">
              <FontAwesomeIcon
                class="ml-1 text-gray-600"
                icon="edit"
                @click="goTo('Edit', campana)" />
            </div>
          </td>
        </tr>
        <div class="flex justify-center"></div>
      </tbody>
    </table>
    <div class="flex justify-center">
      <AppMinPaginatorAve
        :total="AppState.getAllDataCampain.length"
        @prev-p="spliter = spliter - 10"
        @next-p="spliter = spliter + 10"></AppMinPaginatorAve>
    </div>
  </section>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, ref } from 'vue'
import AppSearch from '@/components/AppSearch.vue'
import AppFilter from '@/components/AppFilter.vue'
import AppThTable from '@/components/AppThTableAve.vue'

import { useRouter } from 'vue-router'
import { Modes, ROUTES } from '@/constants'

import { filterTableAve, orderAnyAve } from '@/utils'
import { GetListCampains } from '@/services/campaignAve'
import AppButtonDownloadDocumentAve from '@/components/AppButtonDownloadDocumentAve.vue'
import AppButton from '@/components/AppButton.vue'
import AppMinPaginatorAve from '@/components/AppMinPaginatorAve.vue'
// import TheSpinner from '@/components/TheSpinner.vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import { useAppStore } from '@/store/channelAndCampainAve'
import { IdataCampana } from '@/types/GeneralCampainAve'

interface ISelect {
  key: string
  status: string
}

export default defineComponent({
  components: {
    AppFilter,
    FontAwesomeIcon,
    AppSearch,
    AppThTable,
    AppButtonDownloadDocumentAve,
    AppButton,
    AppMinPaginatorAve
  },
  setup() {
    const router = useRouter()
    const AppState = useAppStore()
    const spliter = ref(0)
    const filter = ref('')

    const channel = computed(() => AppState.getChannel)
    const service = computed(() => AppState.getService)

    const keySelect = ref<string>('')
    const statusSelect = ref<string>('')
    const columnSelect = ref<string>('')

    const goTo = function (mode: Modes, datac: IdataCampana | null = null) {
      if (datac) {
        AppState.changedataCampagne(datac)
      } else {
        AppState.resetDataCampagne()
      }
      AppState.changeMode(mode)
      return router.push(ROUTES.CAMPANA.PATH)
    }

    const dataPipe = computed(() => {
      const ord = statusSelect.value === 'down' ? 'Desc' : 'Asc'
      if (AppState.getAllDataCampain.length > 0) {
        orderAnyAve(AppState.getAllDataCampain, columnSelect.value, ord)
        return filterTableAve(
          AppState.getAllDataCampain,
          filter.value,
          spliter.value
        )
      }
      return []
    })

    const Sumited = (value: string) => {
      filter.value = value.toLowerCase()
    }

    const ListCampas = async () => {
      const res = await GetListCampains()
      if (res) {
        AppState.insertAllDataCampagne(res.data.data)
      }
    }

    onMounted(() => {
      ListCampas()
    })

    const changeKey = (val: ISelect, column = '') => {
      keySelect.value = val.key
      statusSelect.value = val.status
      columnSelect.value = column
    }

    return {
      changeKey,
      ListCampas,
      goTo,
      Sumited,
      keySelect,
      dataPipe,
      AppState,
      spliter,
      filter,
      channel,
      service
    }
  }
})
</script>
