<template>
  <section>
    <div class="flex w-full items-center justify-between">
      <AppTitleIconPrincipalVue icon="megaphone">
        <slot></slot>
      </AppTitleIconPrincipalVue>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import AppTitleIconPrincipalVue from '@/components/AppTitleIconPrincipalAve.vue'

export default defineComponent({
  name: 'ViewChannelCampaing',
  components: {
    AppTitleIconPrincipalVue
  }
})
</script>
