<template>
  <section>
    <div class="flex w-full items-center justify-between">
      <AppTitleIconPrincipalVueAve icon="megaphone">
        <slot></slot>
      </AppTitleIconPrincipalVueAve>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import AppTitleIconPrincipalVueAve from '@/components/AppTitleIconPrincipalAve.vue'

export default defineComponent({
  name: 'ViewChannelCampaingAve',
  components: { AppTitleIconPrincipalVueAve }
})
</script>
