<template>
  <main class="contenedor contendor m-auto flex justify-center">
    <div class="img-background content-order-inf flex justify-center">
      <OrderInformationRefused />
    </div>
  </main>
</template>

<script lang="ts">
import { computed, defineComponent } from 'vue'

import OrderInformationRefused from '@/views/shopy/Components/OrderInformationRefused.vue'

import { useAppStore } from '@/store/channelAndCampainAve'

export default defineComponent({
  components: {
    OrderInformationRefused
  },
  setup() {
    const AppState = useAppStore()
    const State = computed(() => AppState.getMode)
    const dataChannel = computed(() => AppState.getChannelEdit)

    return {
      State,
      dataChannel
    }
  }
})
</script>

<style scoped>
.contendor {
  height: calc(100vh - 64px);
  overflow-y: auto;
}

.img-background {
  background-image: url('/public/assets/img/background/Realizar.png'),
    url('/public/assets/img/background/Realizar1.png');
  background-position: center top, right bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 950px;
}
.content-order-inf {
  width: min(100%, 570px);
}

@media (min-width: 768px) {
  .contendor {
    margin-top: 1rem;
  }
}
</style>
