<template>
  <transition name="fade">
    <section v-if="modelValueInp" :class="classBase">
      <section :class="classBody" :style="cssProps">
        <div class="my-4 flex justify-center">
          <AppButtonwithmoveAve
            v-model="novaltyFirstData"></AppButtonwithmoveAve>
        </div>
        <div class="head mx-auto mt-2 flex w-full">
          <div class="tit mx-auto w-10/12">
            <section v-if="novaltyFirstData.idCurrentTab == 1">
              <TheEditUnitaryNovalty></TheEditUnitaryNovalty>
            </section>
            <section v-if="novaltyFirstData.idCurrentTab == 2">
              <TheEditMasiveNovaltyAve></TheEditMasiveNovaltyAve>
            </section>
          </div>

          <div class="absolute right-4 top-4 cursor-pointer" @click="close">
            <svg
              width="13"
              height="12"
              viewBox="0 0 13 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M8.5625 6L11.6875 2.875C12.0937 2.5 12.0937 1.875 11.6875 1.5L11 0.8125C10.625 0.40625 10 0.40625 9.625 0.8125L6.5 3.9375L3.34375 0.8125C2.96875 0.40625 2.34375 0.40625 1.96875 0.8125L1.28125 1.5C0.875 1.875 0.875 2.5 1.28125 2.875L4.40625 6L1.28125 9.15625C0.875 9.53125 0.875 10.1562 1.28125 10.5312L1.96875 11.2188C2.34375 11.625 2.96875 11.625 3.34375 11.2188L6.5 8.09375L9.625 11.2188C10 11.625 10.625 11.625 11 11.2188L11.6875 10.5312C12.0937 10.1562 12.0937 9.53125 11.6875 9.15625L8.5625 6Z"
                fill="#C2C2C2" />
            </svg>
          </div>
        </div>

        <section>
          <slot></slot>
        </section>
      </section>
    </section>
  </transition>
</template>

<script lang="ts">
import { defineComponent, computed, PropType, ref } from 'vue'

import { TypeIcon } from '@/constants'
import AppButtonwithmoveAve from '@/components/AppButtonwithmoveAve.vue'
import TheEditUnitaryNovalty from './TheEditUnitaryNovalty.vue'
import TheEditMasiveNovaltyAve from './TheEditMasiveNovaltyAve.vue'

export default defineComponent({
  name: 'AppModalAveVue',
  components: {
    AppButtonwithmoveAve,
    TheEditUnitaryNovalty,
    TheEditMasiveNovaltyAve
  },
  props: {
    headerIcon: {
      type: String as PropType<TypeIcon>,
      default: ''
    },
    classNameTitle: {
      type: String,
      default: 'm-2 font-bold text-[22px]'
    },
    modelValue: Boolean,
    width: {
      type: String,
      default: '50%',
      required: false
    }
  },
  setup(props, { emit }) {
    const modelValueInp = computed(() => props.modelValue)
    const cssProps = computed(() => ({ width: props.width }))
    const close = () => emit('update:modelValue', false)
    const classBase =
      'w-full h-full overflow-auto z-10 fixed top-0	left-0 flex	justify-center items-center	bg-black/25	opacity-3'
    const classBody =
      'overflow-x-hidden relative	rounded-[5px] bg-white p-1 min-h-4'

    const novaltyFirstData = ref({
      idCurrentTab: 1,
      items: [
        {
          id: 1,
          name: 'Unitario'
        },
        {
          id: 2,
          name: 'Masivo'
        }
      ]
    })
    return {
      modelValueInp,
      novaltyFirstData,
      close,
      cssProps,
      classBase,
      classBody
    }
  }
})
</script>

<style scoped>
.icon {
  cursor: pointer;
}
</style>
