<template>
  <section class="w-100 flex w-full items-center justify-between">
    <div class="mt-4 flex w-[70%] items-center gap-4 text-gray-800">
      <div class="w-3/12">
        <AppFilter label="Transportadora"></AppFilter>
      </div>
      <div class="w-3/10">
        <AppSearch v-model="filter" placeholder="Buscar"></AppSearch>
      </div>
    </div>
    <section class="mt-4 flex w-1/2 gap-4"></section>
    <div class="flex gap-4">
      <AppButtonDownloadDocumentAve></AppButtonDownloadDocumentAve>
      <AppButton
        title="Agregar"
        icon="plus"
        @click="modal.shownovelty = true"></AppButton>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  setup() {
    return {}
  }
})
</script>
