<template>
  <section>
    <div class="mt-4">
      <p class="text-center text-[24px] font-bold text-gray-800">
        ¡Puedes agregar múltiples
      </p>
      <p class="mt-3 text-center text-[24px] font-bold text-gray-800">
        novedades en minutos!
      </p>

      <div class="mt-4 text-center">
        <p>
          Solo debes descargar la plantilla de Excel, llenar los datos y subir
          el documento para la generación automática de las mismas.
        </p>
      </div>
      <div class="mt-6 flex rounded-[5px] bg-rose-300">
        <div class="flex p-4">
          <FontAwesomeIcon :icon="exclamation - triangle"></FontAwesomeIcon>
          <p class="font-bold">Importante:</p>
          <p>
            Se han cargado 20 clientes de los cuales 2 tienen información
            incompleta, dale clic en continuar para completar el registro.
          </p>
        </div>
      </div>
      <div class="mt-5 flex w-full gap-4">
        <AppButtonAve
          color="secondary"
          icons="file-download"
          class-name="h-[32px]"
          >Dercargar plantilla</AppButtonAve
        >
        <AppUploadFile></AppUploadFile>
      </div>
    </div>
    <div class="mt-6 flex justify-center gap-4">
      <AppButtonAve class="mb-6 w-36 rounded-full">Continuar</AppButtonAve>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import AppUploadFile from '@/components/AppUploadFile.vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import AppButtonAve from '@/components/AppButtonAve.vue'

export default defineComponent({
  components: { AppUploadFile, FontAwesomeIcon, AppButtonAve },
  setup() {
    return {}
  }
})
</script>
