<template>
  <section>
    <div class="mt-4">
      <p class="text-center text-[24px] font-bold text-gray-800">
        ¡Puedes agregar múltiples
      </p>
      <p class="mt-3 text-center text-[24px] font-bold text-gray-800">
        novedades en minutos!
      </p>

      <div class="mt-4 text-center">
        <p>
          Solo debes descargar la plantilla de Excel, llenar los datos y subir
          el documento para la generación automática de las mismas.
        </p>
      </div>
      <div class="mt-5 flex w-full gap-4">
        <AppButtonAve
          color="secondary"
          icons="file-download"
          class-name="h-[32px]"
          >Dercargar plantilla</AppButtonAve
        >
        <AppUploadFile></AppUploadFile>
      </div>
    </div>
    <div class="mt-6 flex justify-center gap-4">
      <AppButtonAve
        class="mb-6 w-36 rounded-full"
        @click="goTo(ROUTES.NOVEDADESDOCUMENTO.PATH)"
        >Continuar</AppButtonAve
      >
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { ROUTES } from '@/constants'
import AppUploadFile from '@/components/AppUploadFile.vue'
import AppButtonAve from '@/components/AppButtonAve.vue'
import router from '@/router'

export default defineComponent({
  components: { AppUploadFile, AppButtonAve },
  setup() {
    const goTo = (route: string) => {
      return router.push({
        path: route
      })
    }
    return {
      goTo,
      ROUTES
    }
  }
})
</script>
