<template>
  <section class="w-100 flex w-full items-center justify-between">
    <div class="mt-4 flex w-[70%] items-center gap-4 text-gray-800">
      <div class="w-3/12">
        <AppFilter label="Transportadora" :data="transporter"></AppFilter>
      </div>
      <div class="w-3/10">
        <AppSearch v-model="filter" placeholder="Buscar"></AppSearch>
      </div>
    </div>
    <section class="mt-4 flex w-1/2 gap-4"></section>
    <div class="flex gap-4">
      <AppButtonDownloadDocumentAve></AppButtonDownloadDocumentAve>
      <AppButton
        title="Agregar"
        icon="plus"
        @click="modal.shownovelty = true"></AppButton>
    </div>
  </section>
  <section>
    <table class="mt-6 w-full overflow-hidden rounded-t-[10px]">
      <thead
        class="
          bg-gray-200
          font-sans
          text-lg
          font-bold
          not-italic
          leading-[19px]
        ">
        <tr>
          <AppThTableVue
            class="w-[16.6%]"
            :key-general="keySelect"
            title1="Nombre"
            @key-th="changeKey($event, 'pkid')" />
          <AppThTableVue
            class="w-[16.6%]"
            :key-general="keySelect"
            title1="Tipo"
            @key-th="changeKey($event, 'dsestado')" />
          <AppThTableVue
            class="w-[16.6%]"
            :key-general="keySelect"
            title1="Gestión"
            @key-th="changeKey($event, 'dsdird')" />
          <AppThTableVue
            class="w-[16.6%]"
            :key-general="keySelect"
            title1="Transportadora"
            @key-th="changeKey($event, 'idtransportador')" />
          <AppThTableVue
            class="w-[16.6%]"
            :key-general="keySelect"
            title1="Descripción"
            @key-th="changeKey($event, 'dstipotrayecto')" />
          <AppThTableVue
            class="w-[20%]"
            :key-general="keySelect"
            title1="Acciones"
            @key-th="changeKey($event, 'acciones')" />
        </tr>
      </thead>
      <tbody v-if="dataPipe.length > 0">
        <tr v-for="novaltyFirst in dataPipe" :key="'canal' + novaltyFirst.pkid">
          <td>
            <div class="mt-4 text-center">
              {{ novaltyFirst.pkid }}
            </div>
          </td>
          <td>
            <div class="mt-4 text-center">
              {{ novaltyFirst.dsestado }}
            </div>
          </td>
          <td>
            <div class="mt-4 text-center">
              {{ novaltyFirst.dsdird }}
            </div>
          </td>
          <td>
            <div class="mt-4 flex justify-center gap-1 text-center">
              <picture class="w-5">
                <AppShowIconTransportVue :id="novaltyFirst.idtransportador" />
              </picture>
              <p>{{ novaltyFirst.dstransportadora }}</p>
            </div>
          </td>
          <td>
            <div class="mt-4 text-center">
              {{ novaltyFirst.dstipotrayecto }}
            </div>
          </td>
          <td>
            <div class="mt-4 flex justify-center gap-2">
              <FontAwesomeIcon
                class="ml-1 cursor-pointer text-gray-800"
                icon="edit"
                @click="modal.shownoveEdit = true" />
              <FontAwesomeIcon class="ml-1 text-gray-800" icon="times" />
            </div>
          </td>
        </tr>
      </tbody>
      <section v-else class="flex w-full justify-center">
        <AppLoadtableAve :is-active="true" title="Cargando"></AppLoadtableAve>
      </section>
    </table>
    <div class="flex justify-center">
      <AppMinPaginatorAve
        :total="AppState.getAllDataNovalty.length"
        @prev-p="spliter = spliter - 10"
        @next-p="spliter = spliter + 10"></AppMinPaginatorAve>
    </div>
  </section>
  <appEditModalFirstAveVue
    v-model="modal.shownoveEdit"
    :header-icon="modal.icon"
    width="700px"
    :title="modal.title"></appEditModalFirstAveVue>
  <AppModalFirstAve
    v-model="modal.shownovelty"
    :header-icon="modal.icon"
    width="700px"
    :title="modal.title"></AppModalFirstAve>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, ref } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import { GetListNovelty } from '@/services'
import { useAppNovalty } from '@/store'
import { filterTableAve, orderAnyAve } from '@/utils'

import AppFilter from '@/components/AppFilter.vue'
import AppShowIconTransportVue from '@/components/AppShowIconTransportAve.vue'
import AppButton from '@/components/AppButton.vue'
import AppSearch from '@/components/AppSearch.vue'

import AppButtonDownloadDocumentAve from '@/components/AppButtonDownloadDocumentAve.vue'
import AppThTableVue from '@/components/AppThTableAve.vue'
import AppMinPaginatorAve from '@/components/AppMinPaginatorAve.vue'
import AppModalFirstAve from './appModalFirstAve.vue'
import appEditModalFirstAveVue from './appEditModalFirstAve.vue'
import AppLoadtableAve from '@/components/appLoadtableAve.vue'

type Icon = 'ok' | 'error' | ''
interface Imodal {
  icon: Icon
  show: boolean
  text: string
  shownovelty: boolean
  shownoveEdit: boolean
}

interface ISelect {
  key: string
  status: string
}

export default defineComponent({
  components: {
    AppSearch,
    AppFilter,
    AppShowIconTransportVue,
    FontAwesomeIcon,
    AppButton,
    AppButtonDownloadDocumentAve,
    AppThTableVue,
    AppMinPaginatorAve,
    AppModalFirstAve,
    appEditModalFirstAveVue,
    AppLoadtableAve
  },
  setup() {
    const spliter = ref(0)
    const AppState = useAppNovalty()
    const filter = ref('')

    const keySelect = ref<string>('')
    const statusSelect = ref<string>('')
    const columnSelect = ref<string>('')

    const transporter = computed(() => AppState.getTransp)

    const modal = ref<Imodal>({
      icon: '',
      show: false,
      text: '',
      shownovelty: false,
      shownoveEdit: false
    })

    const dataPipe = computed(() => {
      const ord = statusSelect.value === 'down' ? 'Desc' : 'Asc'
      orderAnyAve(AppState.getAllDataNovalty, columnSelect.value, ord)
      return filterTableAve(
        AppState.getAllDataNovalty,
        filter.value,
        spliter.value
      )
    })

    const closeNovelty = () => {
      modal.value.shownovelty = true
      modal.value.shownoveEdit = true
      modal.value.show = true
    }

    const ListNovelty = async () => {
      const res = await GetListNovelty()
      if (res) {
        AppState.insertAllDataNovalty(res.data.data)
      }
    }

    onMounted(() => {
      ListNovelty()
    })

    const changeKey = (val: ISelect, column = '') => {
      keySelect.value = val.key
      statusSelect.value = val.status
      columnSelect.value = column
    }

    return {
      closeNovelty,
      ListNovelty,
      changeKey,
      keySelect,
      filter,
      useAppNovalty,
      modal,
      spliter,
      dataPipe,
      AppState,
      transporter
    }
  }
})
</script>
