<template>
  <section>
    <AppTitleOneAve>Nueva novedad</AppTitleOneAve>
    <hr class="m-auto mt-2 h-[6px] w-[30%] rounded-md bg-red-600" />
    <div class="mt-4 flex w-full gap-4">
      <section class="w-2/4">
        <div class="w-full">
          <AppInputTextVue
            class-name="text-sm h-9 text-gray-400 font-bold"
            label="Nombre de la novedad"
            :is_required="true">
          </AppInputTextVue>
        </div>
        <div class="mt-5 w-full">
          <AppListBox
            type="light"
            label="Tipos de gestión que le aplica"
            :data="GestionAplica"></AppListBox>
        </div>
      </section>
      <section class="w-2/4">
        <div class="w-full">
          <AppListBox
            type="light"
            label="Tipo de la novedad"
            :data="GestionAplica"></AppListBox>
        </div>
        <div class="mt-4 w-full">
          <AppListBox
            type="light"
            label="Transportadora"
            :data="transporter"></AppListBox>
        </div>
      </section>
    </div>

    <div class="mt-4">
      <AppInputTextVue
        class-name="rounded-full"
        label="Descripción"
        :i_required="false">
      </AppInputTextVue>
    </div>
    <div class="mt-6 flex justify-center gap-4">
      <AppButtonVue class="mb-6 w-36 rounded-full">Guardar</AppButtonVue>
    </div>
  </section>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from 'vue'
import AppButtonVue from '@/components/AppButtonAve.vue'
import AppInputTextVue from '@/components/AppInputTextAve.vue'
import AppTitleOneAve from '@/components/AppTitleOneAve.vue'
import AppListBox from '@/components/AppListBox.vue'
import { useAppNovalty } from '@/store/noveltyAve'
// import { IdataNovalty } from '@/types/NovaltyAve'

interface IDatas {
  id: string
  name: string
  status: boolean
}

export default defineComponent({
  components: { AppButtonVue, AppInputTextVue, AppTitleOneAve, AppListBox },
  setup() {
    const AppState = useAppNovalty()
    const transporter = computed(() => AppState.getTransp)
    const GestionAplica = ref<IDatas[]>([
      {
        id: '',
        name: 'Ofrecer nuevamente',
        status: false
      },
      {
        id: '',
        name: 'Cambio de dirección',
        status: false
      },
      {
        id: '',
        name: 'Redirección',
        status: false
      },
      {
        id: '',
        name: 'Devolución',
        status: false
      }
    ])

    return { GestionAplica, transporter }
  }
})
</script>
