<template>
  <main class="contenedor contendor mt-6 p-5">
    <section class="mt-1 flex justify-between">
      <div class="">
        <AppBreadcrumbVue :add-home-default="false"></AppBreadcrumbVue>
      </div>
      <div class="dates flex items-center">
        <AppDatePickerRangeVue
          position="right"
          :has-border="true"></AppDatePickerRangeVue>
      </div>
    </section>
    <div class="w-full flex-col">
      <TheTittleHeaderNovedades> Novedades </TheTittleHeaderNovedades>
      <AppSubMenu v-model="novaltyData" class="mt-4"></AppSubMenu>

      <section v-if="novaltyData.idCurrentTab == 5">
        <TheTableFirstNovedadesAveVue></TheTableFirstNovedadesAveVue>
      </section>

      <section v-if="novaltyData.idCurrentTab == 4">
        <TheClientesTableNovedadesAve></TheClientesTableNovedadesAve>
      </section>

      <section v-if="novaltyData.idCurrentTab == 1">
        <TheTableAllNovedadesAveVue></TheTableAllNovedadesAveVue>
      </section>

      <section v-if="novaltyData.idCurrentTab == 3">
        <TheNoEntregaNovedadesAve></TheNoEntregaNovedadesAve>
      </section>

      <section v-if="novaltyData.idCurrentTab == 2">
        <TheDevolucionTableNovedadesAve></TheDevolucionTableNovedadesAve>
      </section>

      <!-- <TheOptionsNovedades></TheOptionsNovedades> -->
    </div>
  </main>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'

import TheTittleHeaderNovedades from './components/TheTittleNovedadesIntrAve.vue'
import AppBreadcrumbVue from '@/components/AppBreadcrumb.vue'
import AppDatePickerRangeVue from '@/components/AppDatePickerRange.vue'
import AppSubMenu from '@/components/AppSubMenu.vue'
import TheTableFirstNovedadesAveVue from './components/novedadesFirst/TheTableFirstNovedadesAve.vue'
import TheTableAllNovedadesAveVue from './components/novedadesAll/TheTableAllNovedadesAve.vue'
import TheDevolucionTableNovedadesAve from './components/devolucionNovedad/TheDevolucionTableNovedadesAve.vue'
import TheNoEntregaNovedadesAve from './components/noEntrega/TheNoEntregaNovedadesAve.vue'
import TheClientesTableNovedadesAve from './components/clientesNovedades/TheClientesTableNovedadesAve.vue'

export default defineComponent({
  components: {
    TheTittleHeaderNovedades,
    TheTableAllNovedadesAveVue,
    AppBreadcrumbVue,
    AppDatePickerRangeVue,
    AppSubMenu,
    TheTableFirstNovedadesAveVue,
    TheDevolucionTableNovedadesAve,
    TheNoEntregaNovedadesAve,
    TheClientesTableNovedadesAve
  },
  setup() {
    const novaltyData = ref({
      idCurrentTab: 5,
      items: [
        {
          id: 1,
          name: 'Novedades'
        },
        {
          id: 4,
          name: 'Clientes con novedades'
        },
        {
          id: 3,
          name: 'No cumplimiento en la entrega'
        },
        {
          id: 2,
          name: 'Devoluciones sin novedad'
        },
        {
          id: 5,
          name: 'Configuraciones'
        }
      ]
    })

    return { novaltyData }
  }
})
</script>

<style scoped>
.contendor {
  height: calc(100vh - 64px);
  overflow-y: auto;
}

@media (min-width: 768px) {
  .contendor {
    margin-top: 1rem;
  }
}
</style>
