<template>
  <main class="contenedor contendor m-4">
    <section class="ml-2">
      <AppBreadcrumb :add-home-default="false"></AppBreadcrumb>
    </section>
    <div class="mt-6 w-full flex-col">
      <TheHeadLoadNovedadesVue>Cargar novedades</TheHeadLoadNovedadesVue>
      <div class="cant">
        <TheLoadNovedadesVue></TheLoadNovedadesVue>
      </div>
    </div>
  </main>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import TheHeadLoadNovedadesVue from './components/TheHeadLoadNovedadesAve.vue'
import TheLoadNovedadesVue from './components/novedadesAll/TheLoadNovedadesAve.vue'
import AppBreadcrumb from '@/components/AppBreadcrumb.vue'

export default defineComponent({
  components: {
    TheHeadLoadNovedadesVue,
    TheLoadNovedadesVue,
    AppBreadcrumb
  },
  setup() {
    return {}
  }
})
</script>

<style scoped>
.contendor {
  height: calc(100vh - 64px);
  overflow-y: auto;
}

@media (min-width: 768px) {
  .contendor {
    margin-top: 1rem;
  }
}
</style>
