<template>
  <main class="contenedor contendor m-4">
    <div class="mt-6 w-full flex-col">
      <TheTittleHeaderNovedades>
        Documentos Novedades
      </TheTittleHeaderNovedades>
    </div>
    <TheTableDocsNovaltyAve></TheTableDocsNovaltyAve>
  </main>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import TheTittleHeaderNovedades from './components/TheTittleNovedadesIntrAve.vue'
import TheTableDocsNovaltyAve from './components/novaltyDocs/TheTableDocsNovaltyAve.vue'

export default defineComponent({
  components: {
    TheTittleHeaderNovedades,
    TheTableDocsNovaltyAve
  },
  setup() {
    return {}
  }
})
</script>

<style scoped>
.contendor {
  height: calc(100vh - 64px);
  overflow-y: auto;
}

@media (min-width: 768px) {
  .contendor {
    margin-top: 1rem;
  }
}
</style>
