<template>
  <section class="flex w-24 items-center gap-1">
    <input
      type="radio"
      name="transportadoras"
      value="{{idvalue}}"
      label="{{label}}" />
    <picture class="w-6">
      <AppShowIconTransportVue :id="idtransportadora" />
    </picture>
  </section>
</template>

<script lang="ts">
import { computed, defineComponent } from 'vue'
import AppShowIconTransportVue from '@/components/AppShowIconTransportAve.vue'

export default defineComponent({
  components: {
    AppShowIconTransportVue
  },
  props: {
    idtransportadora: {
      type: String,
      default: '0'
    },
    label: {
      type: String,
      default: ''
    },
    idvalue: {
      type: String,
      default: ''
    }
  },
  setup(props) {
    const valI = computed(() => {
      return props.idvalue
    })

    return { valI }
  }
})
</script>
