<template>
  <section class="mt-4 w-full gap-4">
    <div v-for="(item, ind) in transportadoras" :key="item" class="cant">
      <TheSelectArchiveNovAveVue
        :len="transportadoras.length"
        :index="ind"
        @add="addValue"
        @remove="delValue">
      </TheSelectArchiveNovAveVue>
    </div>
    <TheNovedadesSevRetAveVue></TheNovedadesSevRetAveVue>
  </section>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'

import TheNovedadesSevRetAveVue from './TheNovedadesSevRetAve.vue'
import TheSelectArchiveNovAveVue from './TheSelectArchiveAve.vue'

export default defineComponent({
  components: {
    TheNovedadesSevRetAveVue,
    TheSelectArchiveNovAveVue
  },
  setup() {
    const transportadoras = ref<string[]>(['xxxxx'])

    const addValue = () => {
      transportadoras.value.push('xsxs')
    }
    const delValue = () => {
      transportadoras.value.pop()
    }
    return {
      addValue,
      delValue,
      transportadoras
    }
  }
})
</script>
