<template>
  <div
    class="
      mt-4
      flex
      h-10
      w-[500px]
      rounded-full
      border-2
      text-sm text-gray-800
    ">
    <div class="ml-4 flex w-[220px] items-center text-sm font-bold">
      <p>Estado de las novedades</p>
    </div>
    <div class="my-1 w-[1%] border-r border-gray-400"></div>
    <section class="flex w-full items-center gap-4 px-6">
      <div class="flex w-fit gap-1">
        <span class="h-2 w-2 rounded-full bg-blue-700"></span>
        <p>Por resolver</p>
        <span>1</span>
      </div>
      <div class="flex w-fit gap-1">
        <span class="h-2 w-2 rounded-full bg-orange-700"></span>
        <p>En proceso</p>
        <span>1</span>
      </div>
      <div class="flex w-fit gap-1">
        <span class="h-2 w-2 rounded-full bg-green-700"></span>
        <p>Aceptada</p>
        <span>1</span>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  setup() {
    return {}
  }
})
</script>
