<template>
  <section class="flex w-full justify-center">
    <div class="mt-4 flex justify-center gap-4">
      <AppButtonAve
        class="w-36 rounded-full"
        color="secondary"
        @click="goTo(ROUTES.NOVEDADES.PATH)"
        >Volver
      </AppButtonAve>
      <AppButtonAve class="w-36 rounded-full">Guardar </AppButtonAve>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { ROUTES } from '@/constants'

import AppButtonAve from '@/components/AppButtonAve.vue'
import router from '@/router'
import { logDev } from '@/utils'

export default defineComponent({
  components: {
    AppButtonAve
  },
  setup() {
    const goTo = (route: string) => {
      logDev('eeee')
      return router.push(route)
    }
    return {
      goTo,
      ROUTES
    }
  }
})
</script>
