<template>
  <section class="w-ful flex justify-between text-sm">
    <section class="mt-4 flex gap-1 text-gray-800">
      <div class="m-2 w-[50%]">
        <P class="font-bold">Novedades por transportadora</P>
      </div>
      <div class="scroll_sm flex w-[240px] gap-4 overflow-x-auto">
        <AppRbuttonNovVue
          idvalue="envia"
          idtransportadora="29"></AppRbuttonNovVue>
      </div>
    </section>
    <TheNovedadesEstadoAveVue></TheNovedadesEstadoAveVue>
  </section>
</template>

<script lang="ts">
import { useAppNovalty } from '@/store/noveltyAve'
import { defineComponent } from 'vue'
import AppRbuttonNovVue from './AppRbuttonAve.vue'
import TheNovedadesEstadoAveVue from './TheNovedadesEstadoAve.vue'

export default defineComponent({
  components: {
    AppRbuttonNovVue,
    TheNovedadesEstadoAveVue
  },
  setup() {
    const AppState = useAppNovalty()

    return { AppState }
  }
})
</script>
