<template>
  <section class="mt-4 rounded">
    <section v-if="dataPipe.length === 0">
      <p>Estoy cargando</p>
    </section>
    <section
      v-for="novaltyFirst in dataPipe"
      v-else
      :key="'canal' + novaltyFirst.pkid"
      class="
        mt-4
        flex
        min-h-[50px]
        w-full
        flex-col
        items-center
        rounded
        border
        py-2
        pl-4
        text-sm text-gray-800
      ">
      <div class="display flex w-full">
        <div class="flex w-[8.5%] gap-1">
          <picture class="h-6 w-6">
            <AppShowIconTransportVue id="1010" />
          </picture>
          <p class="mt-1">{{ novaltyFirst.dsconsec }}</p>
        </div>
        <div class="w-[13.4%] text-center">
          <p>{{ novaltyFirst.empresa }}</p>
        </div>
        <div class="w-[11.4%] text-center">
          <p>{{ novaltyFirst.asesor }}</p>
        </div>
        <div class="w-[20%] text-center">
          <p class="text-center">{{ novaltyFirst.dsfecha }}</p>
          <p class="text-center">{{ novaltyFirst.ds_novedad }}</p>
          <p class="text-center">{{ novaltyFirst.dscomentario }}</p>
        </div>
        <div class="h-8 w-[11.4%] rounded-full bg-gray-100 text-center">
          <p class="m-2">{{ novaltyFirst.total_novedades }}</p>
        </div>
        <div class="w-[11.4%] text-center">
          <p class="text-center">{{ novaltyFirst.dsestado }}</p>
        </div>
        <div class="flex w-[12.5%] justify-center gap-1">
          <div class="w-4">
            <svg
              fill="#C2C2C2"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 576 512">
              <!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License -
              https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
              <path
                d="M0 64C0 28.65 28.65 0 64 0H224V128C224 145.7 238.3 160 256 160H384V198.6C310.1
              219.5 256 287.4 256 368C256 427.1 285.1 479.3 329.7 511.3C326.6 511.7 323.3 512 320
              512H64C28.65 512 0 483.3 0 448V64zM256 128V0L384 128H256zM576 368C576 447.5 511.5 512
              432 512C352.5 512 288 447.5 288 368C288 288.5 352.5 224 432 224C511.5 224 576 288.5 576
              368zM476.7 324.7L416 385.4L387.3 356.7C381.1 350.4 370.9 350.4 364.7 356.7C358.4 362.9
              358.4 373.1 364.7 379.3L404.7 419.3C410.9 425.6 421.1 425.6 427.3 419.3L499.3 347.3C505.6
              341.1 505.6 330.9 499.3 324.7C493.1 318.4 482.9 318.4 476.7 324.7H476.7z" />
            </svg>
          </div>
          <div class="w-4">
            <svg
              fill="#C2C2C2"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 576 512">
              <!--! Font Awesome Pro 6.1.2
            by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license
            (Commercial License) Copyright 2022 Fonticons, Inc. -->
              <path
                d="M0 64C0 28.65 28.65 0 64 0H224V128C224 145.7 238.3 160 256 160H384V198.6C310.1 219.5 256 287.4 256 368C256 427.1
            285.1 479.3 329.7 511.3C326.6 511.7 323.3 512 320 512H64C28.65 512 0 483.3 0 448V64zM256
            128V0L384 128H256zM288 368C288 288.5 352.5 224 432 224C511.5 224 576 288.5 576 368C576 447.5
            511.5 512 432 512C352.5 512 288 447.5 288 368zM491.3 331.3C497.6 325.1 497.6 314.9 491.3
            308.7C485.1 302.4 474.9 302.4 468.7 308.7L432 345.4L395.3 308.7C389.1 302.4 378.9 302.4
            372.7 308.7C366.4 314.9 366.4 325.1 372.7 331.3L409.4 368L372.7 404.7C366.4 410.9 366.4
            421.1 372.7 427.3C378.9 433.6 389.1 433.6 395.3 427.3L432 390.6L468.7 427.3C474.9 433.6
            485.1 433.6 491.3 427.3C497.6 421.1 497.6 410.9 491.3 404.7L454.6 368L491.3 331.3z" />
            </svg>
          </div>
          <div class="w-4">
            <svg
              fill="#C2C2C2"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 576 512">
              <!--! Font Awesome Pro 6.1.2
            by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license
            (Commercial License) Copyright 2022 Fonticons, Inc. -->
              <path
                d="M0 64C0 28.65 28.65 0 64
            0H224V128C224 145.7 238.3 160 256 160H384V198.6C310.1 219.5 256 287.4 256 368C256 427.1
            285.1 479.3 329.7 511.3C326.6 511.7 323.3 512 320 512H64C28.65 512 0 483.3 0 448V64zM256
            128V0L384 128H256zM288 368C288 288.5 352.5 224 432 224C511.5 224 576 288.5 576 368C576 447.5
            511.5 512 432 512C352.5 512 288 447.5 288 368zM432 464C445.3 464 456 453.3 456 440C456 426.7
            445.3 416 432 416C418.7 416 408 426.7 408 440C408 453.3 418.7 464 432 464zM415.1 288V368C415.1
            376.8 423.2 384 431.1 384C440.8 384 447.1 376.8 447.1 368V288C447.1 279.2 440.8 272 431.1
            272C423.2 272 415.1 279.2 415.1 288z" />
            </svg>
          </div>
        </div>
        <div class="flex w-[10.4%] justify-center gap-2 text-center">
          <div class="flex gap-2">
            <fontAwesomeIcon icon="eye"></fontAwesomeIcon>
          </div>
        </div>
      </div>
      <section class="mt-1 w-[98%] border-t-2 text-gray-800">
        <div v-if="!showEdit" class="mt-2 flex gap-20 text-[14px]">
          <div>
            <p>
              <span class="font-bold">Gestión:</span>
              {{ novaltyFirst.dscomentario }}
            </p>
          </div>
          <div>
            <p>
              <span class="font-bold">Solución:</span> Devolver al remitente AVE
              - Juan Perez, a la ciudad Medellín, Antioquia en la dirección
              Calle 27 sur #kjdkasd, con el teléfono 3290890099
            </p>
          </div>
          <fontAwesomeIcon
            class="cursor-pointer"
            icon="edit"
            @click="showEdit = !showEdit"></fontAwesomeIcon>
        </div>
        <div v-if="showEdit">
          <section class="my-2 flex w-full">
            <div class="w-[25%]">
              <div class="mt-4">
                <p class="text-[14px]">Tipo de solución de la novedad *</p>
              </div>
              <div class="mt-4 w-full gap-16 sm:items-start">
                <AppRbuttonAve>Ofrecer nuevamente</AppRbuttonAve>
                <AppRbuttonAve>Cambio de dirección</AppRbuttonAve>
                <AppRbuttonAve>Devolución</AppRbuttonAve>
              </div>
            </div>
            <div class="w-full">
              <section class="flex gap-3">
                <section class="flex w-[50%] gap-2">
                  <div class="w-[50%]">
                    <label for="Name">Celular *</label>
                    <input type="text" class="w-full" />
                  </div>
                  <div class="w-[50%]">
                    <label for="Name">Ciudad destino *</label>
                    <input type="text" class="w-full" />
                  </div>
                </section>

                <div class="w-[48%]">
                  <label for="Name">Dirección *</label>
                  <input type="text" class="w-full" />
                </div>
              </section>
              <section class="mt-2 flex gap-4">
                <div class="w-[50%]">
                  <label for="Name">Puntos de referencia *</label>
                  <input type="text" class="w-full" />
                </div>
                <div class="w-[48%]">
                  <label for="Name">Observaciones *</label>
                  <input type="text" class="w-full" />
                </div>
              </section>
            </div>
          </section>
          <div class="flex justify-center gap-4">
            <AppButtonVue
              class="mb-6 w-36 rounded-full"
              color="secondary"
              @click="showEdit = !showEdit"
              >Cancelar</AppButtonVue
            >
            <AppButtonVue class="mb-6 w-36 rounded-full">Guardar</AppButtonVue>
          </div>
        </div>
      </section>
    </section>
    <div class="flex justify-center">
      <AppMinPaginatorAve
        :total="AppState.getAllDataNovalty.length"
        @prev-p="spliter = spliter - 10"
        @next-p="spliter = spliter + 10">
      </AppMinPaginatorAve>
    </div>
  </section>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, ref } from 'vue'
import { useAppNovalty } from '@/store'
import { GetListNovelty } from '@/services'
import { filterTableAve, orderAnyAve } from '@/utils'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import { mask } from 'vue-the-mask'

import AppShowIconTransportVue from '@/components/AppShowIconTransportAve.vue'
import AppMinPaginatorAve from '@/components/AppMinPaginatorAve.vue'
import AppRbuttonAve from './AppRbuttonAve.vue'
import AppButtonVue from '@/components/AppButtonAve.vue'

interface ISelect {
  key: string
  status: string
}

export default defineComponent({
  directives: {
    mask
  },
  components: {
    FontAwesomeIcon,
    AppShowIconTransportVue,
    // AppFilter,
    // AppInputTextVue,
    AppMinPaginatorAve,
    AppRbuttonAve,
    AppButtonVue
  },
  setup() {
    const spliter = ref(0)
    const AppState = useAppNovalty()
    const filter = ref('')
    const showEdit = ref<boolean>(false)
    const keySelect = ref<string>('')
    const statusSelect = ref<string>('')
    const columnSelect = ref<string>('')

    const changeKey = (val: ISelect, column = '') => {
      keySelect.value = val.key
      statusSelect.value = val.status
      columnSelect.value = column
    }

    const dataPipe = computed(() => {
      const ord = statusSelect.value === 'down' ? 'Desc' : 'Asc'
      if (AppState.getAllDataNovalty.length > 0) {
        orderAnyAve(AppState.getAllDataNovalty, columnSelect.value, ord)
        return filterTableAve(
          AppState.getAllDataNovalty,
          filter.value,
          spliter.value
        )
      }
      return []
    })

    const ListNovelty = async () => {
      const res = await GetListNovelty()
      if (res) {
        AppState.insertAllDataNovalty(res.data.data)
      }
    }

    onMounted(() => {
      ListNovelty()
    })

    return { spliter, dataPipe, AppState, showEdit, changeKey }
  }
})
</script>
