<template>
  <section class="mt-4 flex w-full gap-4">
    <div class="w-[35%]">
      <label class="text-sm font-normal text-gray-800" required
        >Lista de precios mensajeria *</label
      >
      <AppSelectIconVue class="border-2" icon=""> </AppSelectIconVue>
    </div>
    <!-- <AppFilter label="Transportadora"></AppFilter> -->
    <div class="min_cont w-[35%]">
      <label class="text-sm font-normal text-gray-800" for="archivo"
        >Cargar archivo</label
      >
      <input
        id="archivo"
        type="file"
        name="archivo"
        class="
          input_no_icon
          mt-1
          h-9
          w-full
          rounded-full
          border border-gray-400
          p-2
          text-gray-800
          focus:outline-none
        " />
    </div>

    <AppButton
      v-if="index == 0"
      class="mt-7 ml-1 flex w-10"
      @click="emitir('add')"
      >+</AppButton
    >
    <AppButton
      v-if="index > 0 && index + 1 == len"
      class="mt-7 ml-2 flex w-10"
      color="secondary"
      @click="emitir('remove')"
      >-</AppButton
    >
  </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import AppSelectIconVue from '@/components/AppSelectIconAve.vue'

export default defineComponent({
  components: {
    AppSelectIconVue
  },
  setup() {
    return {}
  }
})
</script>
