<template>
  <section>
    <TheNovedadesHeadOpt></TheNovedadesHeadOpt>
  </section>
  <section class="flex w-full items-center justify-between">
    <div class="mt-4 flex w-[70%] items-center gap-4 text-gray-800">
      <div class="w-3/12">
        <AppFilter :data="transporter" label="Transportadora"></AppFilter>
      </div>
      <div class="w-3/12">
        <AppFilter :data="origin" label="Origen"></AppFilter>
      </div>
      <div class="w-3/10">
        <AppSearch v-model="filter" placeholder="Buscar"></AppSearch>
      </div>
      <div>
        <AppButton
          icon="location-arrow"
          type="secondary"
          @click="modal.showsugerency = true"></AppButton>
      </div>
      <div>
        <AppButtonAve
          icons="exclamation-triangle"
          class="w-48 rounded-full text-sm"
          @click="goTo()"
          >Cargar novedades
        </AppButtonAve>
      </div>
    </div>
    <div class="mt-2">
      <AppButtonDownloadDocumentAve></AppButtonDownloadDocumentAve>
    </div>
  </section>

  <section>
    <table class="mt-6 w-full overflow-hidden rounded-t-[10px]">
      <thead
        class="
          bg-gray-200
          font-sans
          text-lg
          font-bold
          not-italic
          leading-[19px]
        ">
        <tr>
          <AppThTableVue
            class="w-[11.4%]"
            :key-general="keySelect"
            title1="Guía"
            @key-th="changeKey($event, 'dsconsec')" />
          <AppThTableVue
            class="w-[11.4%]"
            :key-general="keySelect"
            title1="Cliente"
            @key-th="changeKey($event, 'empresa')" />
          <AppThTableVue
            class="w-[11.4%]"
            :key-general="keySelect"
            title1="Asesor"
            @key-th="changeKey($event, 'asesor')" />
          <AppThTableVue
            class="w-[20%]"
            :key-general="keySelect"
            title1="Novedad"
            @key-th="changeKey($event, 'dsfecha')" />
          <AppThTableVue
            class="w-[11.4%]"
            :key-general="keySelect"
            title1="# de soluciones"
            @key-th="changeKey($event, 'tota_novedades')" />
          <AppThTableVue
            class="w-[11.4%]"
            :key-general="keySelect"
            title1="Último estado"
            @key-th="changeKey($event, 'dsestado')" />
          <AppThTableVue
            class="w-[11.4%]"
            :key-general="keySelect"
            title1="Solución"
            @key-th="changeKey($event)" />
          <AppThTableVue
            class="w-[11.4%]"
            :key-general="keySelect"
            :hidden-icon="true"
            title1=" Acciones"
            @key-th="changeKey($event)" />
        </tr>
      </thead>
    </table>
  </section>
  <TheNovedadesInfoAve></TheNovedadesInfoAve>
  <AppModalAveVue
    v-model="modal.showsugerency"
    :header-icon="modal.icon"
    width="400px"
    :title="modal.title">
    <div @subscribe-account="closesugernecy"></div>
    <div class="mt-4 flex w-full text-center text-sm text-gray-800">
      Debes ir a la plataforma de Envia y subir manualmente las soluciones que
      no transmitieron. Selecciona el botón de aprobado para confirmar.
    </div>
  </AppModalAveVue>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from 'vue'
import { ROUTES } from '@/constants'

import AppFilter from '@/components/AppFilter.vue'
import AppSearch from '@/components/AppSearch.vue'
import AppModalAveVue from '@/components/AppModalAve.vue'
import AppButtonDownloadDocumentAve from '@/components/AppButtonDownloadDocumentAve.vue'
import AppButtonAve from '@/components/AppButtonAve.vue'
import AppButton from '@/components/AppButton.vue'
import AppThTableVue from '@/components/AppThTableAve.vue'
import router from '@/router'

import TheNovedadesHeadOpt from './TheNovedadesHeadOptAve.vue'
import TheNovedadesInfoAve from './TheNovedadesInfoAve.vue'
import { useAppNovalty } from '@/store/noveltyAve'

type Icon = 'ok' | 'error' | ''
interface Imodal {
  icon: Icon
  show: boolean
  title: string
  text: string
  showsugerency: boolean
}

interface ISelect {
  key: string
  status: string
}

export default defineComponent({
  components: {
    TheNovedadesHeadOpt,
    AppFilter,
    AppSearch,
    AppButtonDownloadDocumentAve,
    AppButtonAve,
    AppModalAveVue,
    AppButton,
    AppThTableVue,
    TheNovedadesInfoAve
  },
  setup() {
    const spliter = ref(0)
    const AppState = useAppNovalty()
    const keySelect = ref<string>('')
    const statusSelect = ref<string>('')
    const columnSelect = ref<string>('')
    const filter = ref('')

    const transporter = computed(() => AppState.getTransp)
    const origin = computed(() => AppState.getOrigin)

    const modal = ref<Imodal>({
      icon: '',
      show: false,
      title: 'Cargar novedad',
      text: '',
      showsugerency: false
    })

    const closesugernecy = () => {
      modal.value.showsugerency = false
      modal.value.show = true
    }

    const goTo = function () {
      return router.push(ROUTES.NOVEDADESCARGA.PATH)
    }

    const changeKey = (val: ISelect, column = '') => {
      keySelect.value = val.key
      statusSelect.value = val.status
      columnSelect.value = column
    }

    return {
      spliter,
      modal,
      keySelect,
      filter,
      transporter,
      AppState,
      origin,
      closesugernecy,
      goTo,
      changeKey
    }
  }
})
</script>
