<template>
  <main class="contendor p-3 px-8">
    <div class="flex items-center justify-between py-3 text-center">
      <AppBreadcrumb :add-home-default="false" />
      <AppDatePickerRangeVue :has-border="true" position="right" />
    </div>

    <div class="flex flex-row gap-3">
      <AppTitleIconPrincipalVue icon="users-medical">
        Referidos
      </AppTitleIconPrincipalVue>
      <div
        class="
          flex flex-row
          items-center
          gap-2
          rounded-full
          border-2 border-gray-600
          p-3
        ">
        <FontAwesomeIcon icon="play-circle" />
        <p>Ver tutorial</p>
      </div>
    </div>

    <div class="flex flex-col items-center">
      <div class="my-2 w-full rounded-[5px] border border-gray-400">
        <div class="cont w-full">
          <div class="gradt flex justify-center py-3">
            <section class="info1 flex min-h-[7rem] flex-col items-center">
              <div
                class="
                  titles
                  flex flex-col
                  items-center
                  font-serif
                  text-[24px] text-gray-800
                ">
                <h5>Total disponible</h5>
                <h5>para retirar</h5>
              </div>
              <div class="values font-sans text-[24px] text-gray-600">
                <h5>$20.000</h5>
                <p class="text-base">Actualizado el 12/03/2021</p>
              </div>
            </section>
            <div class="flex flex-wrap items-center justify-around">
              <section class="sect_min mt-3 flex justify-center">
                <div
                  class="
                    info
                    ml-4
                    text-left
                    font-sans
                    text-[16px] text-gray-800
                  ">
                  <p class="ml-1 font-normal">
                    Este dinero corresponde a clientes nuevos referidos por ti,
                  </p>
                  <p class="ml-1 font-normal">
                    más los ingresos por transporte en caso de utilizar este
                  </p>
                  <p class="ml-1 font-normal">
                    servicio. Ten en cuenta que al solicitarlo se desembolsará
                  </p>
                  <p class="ml-1 font-normal">
                    el dinero a la cuenta bancaria que selecciones.
                  </p>
                </div>
              </section>
            </div>
          </div>
          <section
            class="
              sect_min2
              flex
              w-full
              items-center
              justify-center
              gap-3
              bg-[#ededed]
              py-4
            ">
            <AppButtonAveVue
              class-name="w-[180px]"
              @click="modal.showDisbursement = true"
              >Solicitar desembolso
            </AppButtonAveVue>
          </section>
        </div>
      </div>

      <div class="flex w-full flex-row gap-3">
        <div class="my-2 w-1/2 rounded-[5px] border border-gray-400">
          <div class="flex w-full flex-col justify-between gap-y-10 p-3">
            <div class="flex w-full flex-row items-center justify-between">
              <p class="text-[18px] font-extrabold">Resumen referidos</p>
              <div
                class="flex h-[30px] flex-row gap-2 rounded-lg border p-2 px-6">
                <FontAwesomeIcon icon="book" />
                <p>Condiciones</p>
              </div>
            </div>
            <div class="flex w-full flex-row px-2 pt-2">
              <div class="flex w-1/4 flex-col items-center">
                <p>Clientes activos</p>
                <p>10</p>
              </div>
              <div class="mx-0 mr-9 h-10 border-r border-gray-600"></div>
              <div class="flex w-1/4 flex-col items-center text-center">
                <p>Ingreso promedio por mes</p>
                <p>$30.000</p>
              </div>
              <div class="mx-0 h-10 border-r border-gray-600"></div>
              <div class="flex w-1/4 flex-col items-center text-center">
                <p>Ingresos generados totales</p>
                <p>$30.000</p>
              </div>
              <div class="mx-0 h-10 border-r border-gray-600"></div>
              <div class="flex w-1/4 flex-col items-center text-center">
                <p>comisión promedio mensual</p>
                <p>$30.000</p>
              </div>
            </div>
            <hr />
            <div class="flex flex-row items-center justify-between">
              <div>
                <p class="text-[18px] font-extrabold text-gray-800">
                  ¡Empieza a generar ingresos extras!
                </p>
                <p class="font-sans text-[16px] text-gray-600">
                  Compartzelo con tus amigos y familiares
                </p>
              </div>
              <AppButtonAveVue
                class-name="w-[180px]"
                @click="modal.showDisbursement = true"
                >Solicitar desembolso
              </AppButtonAveVue>
            </div>
          </div>
        </div>

        <div
          class="
            my-2
            flex
            w-1/2
            flex-row
            rounded-[5px]
            border border-gray-400
            p-2
          ">
          <v-chart class="chart" :option="option" />
          <v-chart class="chart" :option="option2" />
        </div>
      </div>

      <div
        class="mt-2 flex w-full flex-row justify-between border p-4"
        @click="showTableInfo = !showTableInfo">
        <p>Información general del cliente</p>
        <div v-if="!showTableInfo">
          <FontAwesomeIcon icon="chevron-down" />
        </div>
        <div v-else>
          <FontAwesomeIcon icon="chevron-up" />
        </div>
      </div>

      <div v-if="showTableInfo" class="w-full">
        <p>aquiva la tabla</p>
      </div>

      <div
        class="m-2 flex w-full flex-row justify-between border p-4"
        @click="showTableUsersReferred = !showTableUsersReferred">
        <p>Usuarios referidos</p>
        <div v-if="!showTableUsersReferred">
          <FontAwesomeIcon icon="chevron-down" />
        </div>
        <div v-else>
          <FontAwesomeIcon icon="chevron-up" />
        </div>
      </div>

      <div v-if="showTableUsersReferred" class="w-full">
        <AppTableUsersReferred></AppTableUsersReferred>
      </div>
    </div>
  </main>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'

import AppDatePickerRangeVue from '@/components/AppDatePickerRange.vue'
import AppBreadcrumb from '@/components/AppBreadcrumb.vue'
import AppTitleIconPrincipalVue from '@/components/AppTitleIconPrincipalAve.vue'
import AppButtonAveVue from '@/components/AppButtonAve.vue'
import AppTableUsersReferred from './components/AppTableUsersReferred.vue'

import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import VChart, { THEME_KEY } from 'vue-echarts'
import { use } from 'echarts/core'
import { CanvasRenderer } from 'echarts/renderers'
import { BarChart } from 'echarts/charts'
import {
  GridComponent,
  TitleComponent,
  TooltipComponent,
  LegendComponent
} from 'echarts/components'
use([
  CanvasRenderer,
  BarChart,
  TitleComponent,
  TooltipComponent,
  LegendComponent,
  GridComponent
])

export default defineComponent({
  name: 'ViewReferredCustomers',
  components: {
    AppBreadcrumb,
    AppDatePickerRangeVue,
    AppButtonAveVue,
    AppTitleIconPrincipalVue,
    AppTableUsersReferred,
    VChart,
    FontAwesomeIcon
  },
  provide: {
    [THEME_KEY]: 'light'
  },
  setup() {
    const option = ref({
      color: ['#C80935'],
      title: {
        text: 'Total comisión por mes',
        left: 'left'
      },
      tooltip: {
        show: true
      },
      xAxis: {
        data: ['Ene', 'Feb', 'Maz', 'Abr', 'May', 'Jun']
      },
      yAxis: {
        type: 'value'
      },
      series: [
        {
          type: 'bar',
          data: [63, 75, 24, 92, 10, 9]
        }
      ]
    })
    const option2 = ref({
      color: ['#C80935'],
      title: {
        text: 'Referidos por mes',
        left: 'left'
      },
      tooltip: {
        trigger: 'item',
        formatter: '{b} : {c}'
      },
      xAxis: {
        data: ['Ene', 'Feb', 'Maz', 'Abr', 'May', 'Jun']
      },
      yAxis: {
        type: 'value'
      },
      series: [
        {
          type: 'bar',
          data: [300, 210, 400, 150, 120, 10],
          itemStyle: {
            shadowColor: 'rgba(1, 2, 3, 0.5)'
          }
        }
      ]
    })

    const showTableInfo = ref<boolean>(false)
    const showTableUsersReferred = ref<boolean>(false)

    return { option, option2, showTableInfo, showTableUsersReferred }
  }
})
</script>

<style scoped>
.gradt {
  background-image: linear-gradient(
    22deg,
    rgba(197, 195, 195, 0.3) 0%,
    rgba(197, 195, 195, 0.35) 55%,
    rgb(255, 255, 255) 78%,
    rgb(255, 255, 255) 92%
  );
}

@media (max-width: 635px) {
  .sect_min {
    width: 100%;
  }

  .gradt {
    flex-wrap: wrap;
  }
}

@media (max-width: 1085px) {
  .gradt {
    background-image: linear-gradient(
      22deg,
      rgba(197, 195, 195, 0.3) 0%,
      rgba(197, 195, 195, 0.35) 70%,
      rgb(255, 255, 255) 82%,
      rgb(255, 255, 255) 92%
    );
    border-top-right-radius: 5px;
  }
}

@media (min-width: 1086px) {
  .titles {
    align-items: flex-start;
  }

  .cont {
    display: flex;
    flex-direction: row;
  }

  .info1 {
    width: 38vw;
    margin-left: 2rem;
    text-align: left;
    align-items: flex-start;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    border-right: 1px solid #c2c2c2;
  }

  .sect_min {
    width: 26vw;
  }

  .sect_min2 {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
  }
}
.contendor {
  height: calc(100vh - 64px);
  overflow-y: auto;
}

@media (min-width: 768px) {
  .contendor {
    margin-top: 1rem;
  }
}
.chart {
  height: 40vh;
}
</style>
