<template>
  <section
    :class="[bgColor, textColor]"
    class="
      max-h-full
      w-full
      max-w-full
      overflow-hidden
      py-3
      pt-2
      text-center
      font-sans
      md:h-16 md:text-lg
    ">
    <p class="text-base">
      <FontAwesomeIcon
        :class="[iconColor]"
        class="mr-1 w-4 font-sans"
        :icon="icon" />
      {{ title }}
    </p>

    <p class="-m-1 py-2 font-sans font-bold">
      {{ subtitle }}
    </p>
  </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

export default defineComponent({
  components: { FontAwesomeIcon },
  props: {
    title: {
      type: String,
      default: '',
      required: true
    },
    subtitle: {
      type: String,
      default: '',
      required: false
    },
    icon: {
      type: String,
      default: 'check-circle',
      required: false
    },
    bgColor: {
      type: String,
      default: 'bg-emerald-100',
      required: false
    },
    textColor: {
      type: String,
      default: 'text-gray-800',
      required: false
    },
    iconColor: {
      type: String,
      default: 'text-emerald-300',
      required: false
    }
  }
})
</script>
