<template>
  <div :class="className">
    <label
      v-if="label"
      :for="name"
      class="mb-2 text-left text-base font-bold text-gray-600"
      :class="{ 'text-red-500': error }">
      {{ label }}
    </label>

    <Combobox :id="name" v-slot="{ open }" v-model="selectedValue">
      <div class="relative mt-2 font-sans text-base font-normal text-gray-800">
        <div
          :class="{
            'rounded-bl-none rounded-br-none': open,
            'border-red-500': error,
            'border-gray-400': !error
          }"
          class="
            relative
            w-full
            cursor-default
            overflow-hidden
            rounded-[1.5rem]
            border
            bg-white
            text-left text-base
            focus:outline-none
          ">
          <ComboboxInput
            :id="`combobox-input-${name}`"
            ref="input"
            autocomplete="off"
            :placeholder="placeholder"
            class="
              w-full
              border-none
              py-2
              pl-3
              pr-10
              text-base
              leading-5
              text-gray-900
              hover:bg-white
              focus:ring-0
            "
            :display-value="getOptionLabel"
            @blur="onBlur"
            @change="onChange" />
          <ComboboxButton
            class="absolute inset-y-0 right-0 flex items-center pr-2">
            <FontAwesomeIcon
              v-if="!open"
              icon="chevron-down"
              class="h-5 w-5 text-gray-600"
              aria-hidden="true" />
            <FontAwesomeIcon
              v-else
              icon="chevron-up"
              class="h-5 w-5 text-gray-600"
              aria-hidden="true" />
          </ComboboxButton>
        </div>
        <TransitionRoot
          leave="transition ease-in duration-100"
          leave-from="opacity-100"
          leave-to="opacity-0"
          @after-leave="onAfterLeave">
          <ComboboxOptions
            :class="{ 'border-red-500': error, 'border-gray-400': !error }"
            class="
              absolute
              z-40
              -mt-1
              max-h-60
              w-full
              overflow-auto
              rounded-[1.5rem] rounded-tl-none rounded-tr-none
              border border-t-0
              bg-white
              py-1
              text-base
              shadow-lg
              focus:outline-none
            ">
            <div
              v-if="filtered?.length === 0 && query !== ''"
              class="
                relative
                cursor-default
                select-none
                py-2
                px-4
                text-gray-700
              ">
              No encontrado
            </div>

            <ComboboxOption
              v-for="(option, index) in filtered"
              :key="index"
              v-slot="{ selected, active }"
              as="template"
              :value="option">
              <li
                class="
                  relative
                  cursor-default
                  select-none
                  py-2
                  pl-4
                  pr-4
                  text-left text-base
                "
                :class="{
                  'bg-gray-200 text-gray-800': active,
                  'text-gray-800': !active
                }">
                <span
                  class="block truncate text-base"
                  :class="{
                    'font-medium': selected,
                    'font-normal': !selected
                  }">
                  {{ option[optionText] }}
                </span>
              </li>
            </ComboboxOption>
          </ComboboxOptions>
        </TransitionRoot>
      </div>
    </Combobox>
  </div>
</template>

<script lang="ts">
import { ref, defineComponent, computed, watch, onMounted, PropType } from 'vue'
import {
  Combobox,
  ComboboxInput,
  ComboboxButton,
  ComboboxOptions,
  ComboboxOption,
  TransitionRoot
} from '@headlessui/vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import {
  debounceTime,
  distinctUntilChanged,
  switchMap,
  filter,
  fromEvent
} from 'rxjs'

type Option = {
  [key: string]: any
}

export default defineComponent({
  components: {
    Combobox,
    ComboboxInput,
    ComboboxButton,
    ComboboxOptions,
    ComboboxOption,
    TransitionRoot,
    FontAwesomeIcon
  },
  props: {
    label: {
      type: String,
      default: '',
      required: false
    },
    options: {
      type: Array as () => Option[],
      required: true,
      default: () => []
    },
    modelValue: [String, Number],
    value: {
      type: [String, Number, Object]
    },
    name: {
      type: String,
      default: '',
      required: true
    },
    optionText: {
      required: true,
      type: String
    },
    optionValue: {
      required: true,
      type: String
    },
    search: {
      type: Function as PropType<
        (query: string) => Promise<Record<string, any>[]>
      >
    },
    error: {
      type: String,
      default: '',
      required: false
    },
    debounceTime: {
      type: Number,
      default: 300,
      required: false
    },
    className: {
      type: String,
      default: 'w-full',
      required: false
    },
    minSearch: {
      type: Number,
      default: 3,
      required: false
    },
    placeholder: {
      type: String,
      default: '',
      required: false
    },
    havePersistenceValueSearched: {
      type: Boolean,
      default: false,
      required: false
    }
  },
  emits: ['update:modelValue', 'success'],
  setup(props, { emit }) {
    const query = ref<string>('')
    const input = ref<HTMLInputElement | null>(null)
    const selectedValue = ref<
      string | undefined | number | Record<string, any>
    >(props.value)

    const onChange = (ev: Event) => {
      if ((ev.target as HTMLInputElement).value === '') {
        return emit('update:modelValue', undefined)
      }
    }

    const filtered = computed(() => {
      if (props?.options?.length > 0) {
        return props?.options?.filter((option: any) => {
          return option[props?.optionText]
            .toLowerCase()
            .includes(query.value.toLowerCase())
        })
      }

      return props?.options
    })

    const getOptionLabel = (option: any) => {
      if (typeof option === 'object') {
        emit('update:modelValue', option[props.optionValue])
      } else {
        emit('update:modelValue', option)
      }

      if (props.havePersistenceValueSearched) {
        return option[props.optionText] ?? selectedValue.value
      }

      return option[props.optionText]
    }

    const persistenceValueSearched = (input: HTMLInputElement) => {
      selectedValue.value = input.value
      emit('update:modelValue', input.value)
    }

    const removeValue = () => {
      selectedValue.value = undefined
      emit('update:modelValue', undefined)
    }

    const onBlur = (evt: Event) => {
      const input = evt.target as HTMLInputElement

      if (typeof selectedValue.value === 'object') {
        if (selectedValue.value[props.optionText] !== input.value) {
          if (props.havePersistenceValueSearched) {
            return persistenceValueSearched(input)
          }
          return removeValue()
        }
      } else {
        if (selectedValue.value !== input.value) {
          if (props.havePersistenceValueSearched) {
            return persistenceValueSearched(input)
          }
          return removeValue()
        }
      }
    }

    const onAfterLeave = () => (query.value = '')

    watch(selectedValue, (value) => {
      if (typeof value === 'object') {
        return emit('update:modelValue', value[props.optionValue])
      }
      emit('update:modelValue', value)
    })

    onMounted(() => {
      const id = `#combobox-input-${props.name}`
      const input = document.querySelector(id) as HTMLInputElement
      fromEvent(input, 'keyup')
        .pipe(
          filter((value: any) => {
            return value.target.value.length >= props.minSearch
          }),
          debounceTime(props.debounceTime),
          distinctUntilChanged(),
          switchMap((value: any) => {
            if (props.search) {
              return props.search(value.target.value)
            }
            return []
          })
        )
        .subscribe((data) => emit('success', data))
    })

    return {
      filtered,
      query,
      selectedValue,
      onChange,
      getOptionLabel,
      onAfterLeave,
      onBlur,
      input
    }
  }
})
</script>
