<template>
  <div>
    <figure v-if="src || srcRandom">
      <img
        :class="[getSize, 'rounded-full object-cover']"
        :src="getAvatar"
        loading="lazy"
        alt="avatar-user" />
    </figure>
    <FontAwesomeIcon
      v-else
      icon="user-circle"
      :class="['text-gray-200', getSizeIcon]" />
  </div>
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

export default defineComponent({
  components: { FontAwesomeIcon },
  props: {
    src: {
      type: String,
      default: '',
      required: false
    },
    size: {
      validator: (value: string) => {
        return ['sm', 'md', 'lg', 'xl', 'xxl'].includes(value)
      },
      required: false,
      default: 'sm'
    },
    srcRandom: {
      type: Boolean,
      default: false,
      required: false
    }
  },
  setup(props) {
    const getAvatar = computed(() => {
      if (props.srcRandom) {
        return 'https://i.pravatar.cc/500'
      }

      if (props.src) {
        return `${import.meta.env.VITE_ILA_V1}${props.src}`
      }

      return ''
    })

    const getSize = computed(() => {
      if (props.size === 'sm') return 'w-6 h-6'
      if (props.size === 'md') return 'w-8 h-8'
      if (props.size === 'lg') return 'w-11 h-11'
      if (props.size === 'xl') return 'w-[60px] h-[60px]'
      if (props.size === 'xxl') return 'w-[140px] h-[140px]'
      return 'w-6 h-6'
    })

    const getSizeIcon = computed(() => {
      if (props.size === 'sm') return 'text-[24px]'
      if (props.size === 'md') return 'text-[32px]'
      if (props.size === 'lg') return 'text-[44px]'
      if (props.size === 'xl') return 'text-[60px]'
      if (props.size === 'xxl') return 'text-[160px]'
      return 'text-[24px]'
    })

    return { getAvatar, getSize, getSizeIcon }
  }
})
</script>
