<template>
  <article class="flex justify-center">
    <div
      :class="getClass?.className"
      class="
        flex
        items-center
        justify-center
        whitespace-nowrap
        rounded-full
        text-center text-lg
        font-semibold
      ">
      {{ title === '' ? getClass?.title : title }}
    </div>
  </article>
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue'

type StateBadgeAccount = {
  name:
    | 'checking'
    | 'active'
    | 'inactive'
    | 'En proceso'
    | 'Pendiente recogida'
    | 'Packing'
    | 'Pendiente'
    | 'Despachado'
    | ''
  className: string
  title: string
}

export default defineComponent({
  props: {
    state: {
      type: String,
      default: 'active',
      required: true
    },
    class: {
      type: String,
      default: 'w-full w-36 h-6',
      required: false
    },
    title: {
      type: String,
      default: '',
      required: false
    }
  },
  setup(props) {
    const states: StateBadgeAccount[] = [
      {
        name: 'active',
        title: 'Activo',
        className: `bg-emerald-300 text-white ${props.class}`
      },
      {
        name: 'inactive',
        title: 'Inactivo',
        className: `bg-red-400 text-white ${props.class}`
      },
      {
        name: 'checking',
        title: 'En verificación',
        className: `bg-blue-600 text-white ${props.class}`
      },
      {
        name: 'En proceso',
        title: 'En proceso',
        className: `bg-amber-300 text-white ${props.class}`
      },
      {
        name: 'Pendiente recogida',
        title: 'Pendiente recogida',
        className: `bg-amber-800 text-white ${props.class}`
      },
      {
        name: 'Packing',
        title: 'Packing',
        className: `bg-amber-300 text-white ${props.class}`
      },
      {
        name: 'Pendiente',
        title: 'Pendiente',
        className: `bg-blue-600 text-white ${props.class}`
      },
      {
        name: 'Despachado',
        title: 'Despachado',
        className: `bg-amber-700 text-white ${props.class}`
      }
    ]

    const getClass = computed(() => {
      return states.find((item) => item?.name === props.state)
    })

    return { getClass }
  }
})
</script>
