<template>
  <div class="flex h-10 w-[200px] rounded-full bg-gray-200 text-gray-600">
    <button
      v-for="tab in modelValue.items"
      :key="tab"
      :class="[isActive(tab.id)]"
      class="
        relative
        w-full
        cursor-pointer
        pb-2
        font-serif
        text-xl
        font-bold
        last:m-0
      "
      @click="changeTab(tab)">
      {{ tab.name }}
    </button>
  </div>
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue'

export default defineComponent({
  props: {
    modelValue: {
      type: Object,
      required: true
    }
  },
  setup(props, { emit }) {
    const changeTab = (tab: any) => {
      return emit('update:modelValue', {
        idCurrentTab: tab.id,
        items: props.modelValue.items
      })
    }

    const isActive = computed(() => (id: number | string) => {
      return props.modelValue.idCurrentTab === id
        ? 'text-white p-2 text-[12px] bg-red-500 rounded-full'
        : 'text-grat-100 w-full rounded-full p-2 text-[12px]'
    })

    return { changeTab, isActive }
  }
})
</script>
