<template>
  <div class="flex items-center gap-2">
    <FontAwesomeIcon :icon="icon" class="text-lg text-gray-400" />
    <ul v-if="getBreadcrumbs.length > 0" class="flex">
      <li
        v-for="({ bread, name, isActive }, index) in getBreadcrumbs"
        :key="index"
        class="
          font-sans
          text-base
          after:mx-1 after:content-['/']
          last:after:content-['']
        "
        :class="[
          isActive
            ? 'font-bold text-[#969090] after:bg-[#969090]'
            : 'text-gray-400 after:text-gray-400'
        ]">
        <router-link :to="{ name: name }">
          {{ bread }}
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue'
import { RouteLocationMatched, useRoute, useRouter } from 'vue-router'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

import { BreadcrumbContent } from '@/types'

export default defineComponent({
  components: { FontAwesomeIcon },
  props: {
    icon: { type: String, default: 'home' },
    addHomeDefault: {
      type: Boolean,
      required: false,
      default: true
    }
  },
  setup(props) {
    const route = useRoute()
    const router = useRouter()

    const getBreadcrumbs = computed(() => {
      const breadcrumb = route?.meta?.breadcrumb as BreadcrumbContent[]
      const current = router?.currentRoute?.value?.name

      if (!breadcrumb || !current) return []

      const breadMapping = breadcrumb.map((bread: BreadcrumbContent) => {
        return { isActive: bread.name === current, ...bread }
      })

      const [{ meta }] = route.matched as RouteLocationMatched[]
      const [{ bread, name }] = meta.breadcrumb as BreadcrumbContent[]

      if (bread && name && props.addHomeDefault) {
        const addHome = { isActive: current === name, name, bread }
        breadMapping.unshift(addHome)
      }

      return breadMapping
    })

    return { getBreadcrumbs }
  }
})
</script>
