<template>
  <ToolTip theme="Secondary" :message="title">
    <div
      class="
        flex
        h-10
        w-10
        cursor-pointer
        items-center
        justify-center
        text-xl text-white
      "
      :class="getClass?.class"
      @click="onClick">
      <FontAwesomeIcon :icon="getClass?.icon" :class="getClass?.classIcon" />
    </div>
  </ToolTip>
</template>

<script lang="ts">
import { computed, defineComponent } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import ToolTip from '@/components/AppTooltip.vue'

type Shape = {
  type: 'circle' | 'default' | 'secondary'
  icon: string
  class: string
  classIcon: string
}

export default defineComponent({
  components: { FontAwesomeIcon, ToolTip },
  props: {
    icon: {
      type: String,
      required: true
    },
    type: {
      type: String,
      default: 'default',
      require: true
    },
    title: {
      type: String,
      required: true
    },
    classIcons: {
      type: String,
      default: 'text-gray-400',
      require: false
    },
    class: {
      type: String,
      default: 'bg-red-500 rounded-md',
      require: false
    }
  },
  emits: ['click'],
  setup(props, { emit }) {
    const states: Shape[] = [
      {
        type: 'circle',
        icon: props.icon,
        class: props.class,
        classIcon: props.classIcons
      },
      {
        type: 'secondary',
        icon: props.icon,
        class: 'bg-gray-500 rounded-md',
        classIcon: ''
      },
      {
        type: 'default',
        icon: props.icon,
        class: 'bg-red-500 rounded-md',
        classIcon: ''
      }
    ]

    const getClass = computed(() => {
      return states.find((item) => item?.type === props.type)
    })
    const onClick = () => emit('click')

    return { getClass, onClick }
  }
})
</script>
