<template>
  <section
    :class="`${color.value} cursor-pointer py-1 pl-[16px] pr-[10px]`"
    :style="`height:21px; display: inline-block; border-radius:1.9px;`">
    <div
      class="trian rotate-90"
      :style="`border-top: 13px solid ${color.triangle};`"></div>
    <div class="circle" :style="`border: 1px solid white;`"></div>
    <div class="text-badge">{{ message }}</div>
  </section>
</template>

<script lang="ts">
import { defineComponent, ref, computed } from 'vue'
export default defineComponent({
  props: {
    message: {
      type: String,
      required: true
    },
    isActive: {
      type: Boolean,
      default: false
    }
  },
  setup(props) {
    const colors = ref([
      {
        value: 'bg-red-800 text-white font-bold',
        triangle: '#981433'
      },
      {
        value: 'bg-gray-200 text-gray-400 font-bold',
        triangle: '#E2E2E2'
      }
    ])
    const color = computed(() => {
      return props.isActive ? colors.value[0] : colors.value[1]
    })
    return {
      color
    }
  }
})
</script>

<style lang="scss" scoped>
.trian {
  width: 0px;
  height: 0px;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-radius: 30%;
  position: relative;
  left: -32px;
}
.circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  left: -19px;
  top: -10px;
}
.text-badge {
  position: relative;
  width: 120%;
  left: -5px;
  top: -20px;
}
</style>
