<template>
  <button
    :class="[
      classDisabledButton,
      'flex h-6 w-6 items-center justify-center rounded-full border-[1.5px]',
      disabled ? 'cursor-auto' : 'cursor-pointer'
    ]"
    @click.prevent="$emit('click')">
    <FontAwesomeIcon :icon="getIcon" :class="[classDisabledIcon, 'text-sm']" />
  </button>
</template>

<script lang="ts">
import { defineComponent, computed, PropType } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

export default defineComponent({
  components: { FontAwesomeIcon },
  props: {
    sideIcon: {
      type: String as PropType<'left' | 'right'>,
      required: true
    },
    disabled: { type: Boolean, required: false }
  },
  emits: ['click'],
  setup(props) {
    const classDisabledButton = computed(() => {
      if (props.disabled) return 'border-gray-400'
      return 'border-gray-600 hover:bg-gray-100 active:border-gray-800 active:text-gray-800'
    })

    const classDisabledIcon = computed(() => {
      if (props.disabled) return 'text-gray-400'
      return 'text-gray-600 active:text-gray-800'
    })

    const getIcon = computed(() => {
      return props.sideIcon === 'left' ? 'chevron-left' : 'chevron-right'
    })

    return {
      classDisabledButton,
      classDisabledIcon,
      getIcon
    }
  }
})
</script>
