<template>
  <section
    class="
      mt-6
      flex
      h-[82px]
      items-center
      justify-between
      rounded-[15px]
      border border-gray-200
      bg-gray-50
      py-6
      px-8
    ">
    <div class="m-0 flex items-center gap-4">
      <AppAvatar :src="contactInformation.img" size="lg" />
      <div class="flex flex-col">
        <span class="text-xl font-bold text-gray-800">
          Hola soy {{ contactInformation.name }} tu asesora logística
        </span>
        <span class="text-xl">¿Tienes alguna duda?</span>
      </div>
    </div>
    <div
      class="flex items-center justify-between gap-6 text-base text-gray-600">
      <div class="w-[300px] text-right">
        <p>{{ cardInformation }}</p>
      </div>

      <FontAwesomeIcon
        icon="envelope"
        class="fa-lg cursor-pointer text-3xl"
        @click="openContact" />
      <FontAwesomeIcon
        :icon="['fab', 'whatsapp']"
        class="fa-lg cursor-pointer text-3xl"
        @click="openContact" />
    </div>
  </section>
  <section>
    <ContactModal v-model="modalContact" :title="title" :message="message" />
  </section>
</template>

<script lang="ts">
import { isSaturday, isWithinInterval } from 'date-fns'
import { defineComponent, onMounted, ref } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

import ContactModal from '@/components/AppContactModal.vue'
import AppAvatar from '@/components/AppAvatar.vue'

export default defineComponent({
  components: {
    FontAwesomeIcon,
    ContactModal,
    AppAvatar
  },
  props: {
    contactInformation: {
      type: Object,
      required: true
    }
  },
  setup() {
    const title = ref('')
    const message = ref('')
    const cardInformation = ref('')
    const modalContact = ref<boolean>(false)

    onMounted(() => {
      const date = new Date()
      const year = date.getFullYear()
      const month = date.getMonth()
      const day = date.getDay()
      let isBetween = isWithinInterval(
        new Date(year, month, day, date.getHours(), date.getMinutes()),
        {
          start: new Date(year, month, day, 7, 30),
          end: new Date(year, month, day, 17, 30)
        }
      )

      if (isSaturday(date)) {
        isBetween = isWithinInterval(
          new Date(year, month, day, date.getHours(), date.getMinutes()),
          {
            start: new Date(year, month, day, 8),
            end: new Date(year, month, day, 12)
          }
        )
      }

      if (isBetween) {
        title.value =
          '¿Tienes alguna pregunta o quieres comunicarte con nosotros?'
        message.value =
          'Elige alguna de estas opciones o comunícate con tu asesora.'
        cardInformation.value = 'Comunicate con nosotros'
      } else {
        title.value = 'En este momento no podemos contestarte'
        message.value =
          'Dejanos tu mensaje y te contestaremos apenas nuestras asesoras estén disponibles (horarios lunes a viernes 7:30 - 17:30, sábados  8:00 - 12:00)'
        cardInformation.value =
          'Comunícate con nosotros, te atenderemos dentro de nuestros horarios de servicio.'
      }
    })

    const openContact = () => {
      modalContact.value = true
    }

    return { openContact, modalContact, title, message, cardInformation }
  }
})
</script>
