<template>
  <div
    v-if="listImg.length"
    :class="['flex gap-2', position === 'down' && 'flex-col']">
    <img
      v-if="!isZoom"
      class="rounded-[15px] border border-gray-100"
      :class="[widthImgDefault, heightImgDefault]"
      :src="imgDefault"
      alt="product" />
    <InnerImageZoom
      v-if="isZoom"
      :src="imgDefault"
      zoom-type="hover"
      :class-name="` border border-gray-100 rounded-[15px] ${widthImgDefault} `"
      alt="product" />

    <section
      :class="[
        'flex justify-between gap-3',
        position === 'down' ? widthImgDefault : 'flex-col'
      ]">
      <div
        v-for="img in listImg"
        :key="img"
        :class="isActiveImg(img)"
        class="self-center">
        <img
          v-if="img"
          class="w-full cursor-pointer rounded-md object-cover"
          :class="[widthImg, heightImg]"
          :src="img"
          @click="changeImage(img)" />

        <div v-else>
          <FontAwesomeIcon
            size="10x"
            icon="user-circle"
            class="text-gray-200" />
        </div>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs, computed } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import InnerImageZoom from 'vue-inner-image-zoom'

export default defineComponent({
  components: { FontAwesomeIcon, InnerImageZoom },
  props: {
    imgs: {
      type: Array,
      required: true
    },
    widthImgDefault: {
      type: String,
      required: false,
      default: 'w-[258px]'
    },
    heightImgDefault: {
      type: String,
      required: false,
      default: 'h-[273px]'
    },
    widthImg: {
      type: String,
      required: false,
      default: 'w-[87px]'
    },
    heightImg: {
      type: String,
      required: false,
      default: 'h-[90px]'
    },
    limit: {
      type: Number,
      required: false,
      default: 3
    },
    isZoom: {
      type: Boolean,
      default: true
    },
    position: {
      type: String,
      required: false,
      default: 'down'
    }
  },
  setup(props) {
    const stateImg = reactive({
      imgDefault: props.imgs[0],
      listImg: computed(() => {
        const list = props.imgs
        return list.splice(0, props.limit)
      }),
      changeImage: (img: string) => {
        const imgDefault = stateImg.listImg.find((value: any) => value === img)
        stateImg.imgDefault = imgDefault ?? props.imgs[0]
      },
      isActiveImg: computed(() => (img: string) => {
        if (stateImg.imgDefault === img) {
          return 'border-4 bg-gray-200 border-gray-100 rounded-md'
        }

        return 'border-2 border-gray-100 rounded-[15px]'
      })
    })

    return {
      ...toRefs(stateImg)
    }
  }
})
</script>
