<template>
  <article class="infoCard">
    <div
      class="
        ml-0
        grid
        h-20
        border-separate
        justify-center
        self-stretch
        border-r border-gray-450
        text-gray-900
      ">
      <h5 class="h-20 w-72">
        <slot name="title"> </slot>
      </h5>
    </div>
    <div class="pl-4 text-left">
      <slot name="description"> </slot>
    </div>
    <div class="grid justify-end pr-6">
      <slot name="button"> </slot>
    </div>
  </article>
</template>

<style lang="scss" scoped>
.infoCard {
  @apply grid h-32 grid-cols-3 items-center rounded-[15px] border py-5;
  background-image: url('/assets/img/background/background-link-payment.png');
  background-repeat: no-repeat;
  background-size: 54% 100%;
  margin-top: 20px;
}
</style>
