<template>
  <Modal v-model="modal" :title="title" width="580px">
    <div class="flex flex-col items-center text-lg">
      <div>
        {{ message }}
      </div>
      <div
        class="mb-4 flex items-center justify-center space-x-3 pt-10 text-base">
        <div class="flex items-center">
          <FontAwesomeIcon
            icon="envelope"
            class="mr-2 text-3xl text-gray-600" />
          <span class="text-2xl">Correo</span>
        </div>
        <div class="flex items-center">
          <FontAwesomeIcon
            :icon="['fab', 'whatsapp-square']"
            class="whatsapp-icon mr-2 text-3xl" />
          <span class="text-2xl">Whatsapp</span>
        </div>
      </div>
    </div>
  </Modal>
</template>

<script lang="ts">
import { computed, defineComponent } from 'vue'
import Modal from '@/components/TheModal.vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
export default defineComponent({
  components: {
    Modal,
    FontAwesomeIcon
  },
  props: {
    modelValue: Boolean,

    title: {
      type: String,
      required: true
    },
    message: {
      type: String,
      required: true
    }
  },
  emits: ['update:modelValue'],
  setup(props, { emit }) {
    const onClose = () => {
      emit('update:modelValue', false)
    }

    const modal = computed({
      set: () => {
        emit('update:modelValue', false)
      },
      get: () => {
        return props.modelValue
      }
    })
    return {
      onClose,
      modal
    }
  }
})
</script>

<style lang="scss">
.whatsapp-icon {
  color: #1bd741;
}
</style>
