<template>
  <article
    v-for="(value, key) in itemsProductsDropshipping"
    :key="key"
    :value="value"
    class="
      h-auto
      w-full
      min-w-[281px]
      cursor-pointer
      rounded-md
      border border-gray-200
      pb-3
      hover:shadow-[0px_8px_17px_0px_#CBCBCB]
    "
    @mouseover.stop="handleHoverCard(value)"
    @mouseout.stop="handleOutCard()">
    <section @click.stop="onView(value)">
      <figure class="relative">
        <span
          v-show="checkboxDropdown(value.id_product)"
          class="absolute top-3 left-3">
          <input
            v-if="typeProduct === 'dropshipping'"
            v-model="itemsProductsDropshipping[key].statusCheck"
            type="checkbox"
            @click.stop="status.selectProduct(value)" />
        </span>
        <img
          class="
            h-[198px]
            w-full
            min-w-[279px]
            rounded-md
            border border-gray-200
            object-cover
          "
          :src="value.image"
          :alt="value.title" />
        <div
          v-show="value.discount"
          class="
            absolute
            bottom-0
            grid
            h-12
            w-full
            min-w-[279px]
            grid-cols-3
            items-center
            justify-center
            rounded-b-md
            bg-red-150/75
            text-xl
            font-bold
            text-red-500
          ">
          <div
            class="grid border-separate justify-center border-r border-white">
            ${{ value.discountPrice }}
          </div>
          <div class="col-span-2 grid justify-center">
            {{ value.percentage }}% de descuento
          </div>
        </div>
      </figure>

      <section class="mt-4 w-full px-2">
        <div class="flex justify-between">
          <h1 class="text-xl text-gray-800">
            {{ toCapitalize(value.name_product) }}
          </h1>
          <p class="text-xl text-gray-600">
            {{ formatCurrency({ number: value.price_product }) }}
          </p>
        </div>

        <div class="grid grid-cols-2 justify-between py-2">
          <div class="text-gray-600">
            <p>Precio sugerido</p>
            <p class="font-bold">${{ value.price_drop }}</p>
          </div>
          <div class="grid justify-end text-gray-600">
            <p class="font-bold">
              Ganancia
              <span class="pl-2 text-emerald-700">{{
                value.percentageDiscount
              }}</span>
            </p>
            <p class="text-right text-sm">{{ value.revenue }}</p>
          </div>
        </div>

        <div class="border-t py-2 text-sm" v-html="value.description"></div>

        <div class="mb-2 flex justify-between text-base text-gray-600">
          <div class="flex gap-2">
            <p>Por:</p>
            <p
              class="cursor-pointer underline"
              @click.stop="onProvider(value.id_product)">
              {{ toCapitalize(value.supplier) }}
            </p>
          </div>
          <article v-if="versionTwo" class="flex justify-between">
            <div class="flex justify-end">
              <FontAwesomeIcon
                class="cursor-pointer text-amber-300"
                icon="star" />

              <FontAwesomeIcon
                class="cursor-pointer text-amber-300"
                icon="star" />

              <FontAwesomeIcon
                class="cursor-pointer text-amber-300"
                icon="star" />

              <FontAwesomeIcon
                class="cursor-pointer text-amber-300"
                icon="star" />

              <FontAwesomeIcon
                class="cursor-pointer text-gray-400"
                icon="star" />
            </div>
            <p class="right-6 px-2 font-bold">
              <span class="font-normal">({{ value.qualificationTotal }})</span>
            </p>
          </article>
          <article v-else class="flex justify-between">
            <div class="flex justify-end gap-4 pr-2 text-sm text-gray-600">
              <p>Ventas</p>
              <p>{{ value.total }} 146</p>
            </div>
          </article>
        </div>
      </section>
    </section>
    <div
      v-show="typeProduct === 'dropshipping'"
      class="grid justify-center pt-4">
      <button
        class="btn btn-primary w-[216px]"
        type="submit"
        @click.stop="status.onSent(value)">
        Agregar
      </button>
    </div>
    <article
      v-show="typeProduct === 'inventory'"
      class="mx-2 flex justify-between rounded-md bg-gray-100 p-2">
      <div class="flex items-center justify-center gap-3">
        <p class="text-lg font-bold text-gray-800">Estado</p>
        <Switch v-model="value.status_dropshipping" @click="onToggle(value)" />
      </div>
      <div class="flex cursor-pointer items-center gap-3 text-gray-400">
        <FontAwesomeIcon icon="edit" @click="onEdit" />

        <FontAwesomeIcon icon="store-slash" color="#E2E2E2" @click="onStore" />

        <svg
          v-if="versionTwo"
          width="17"
          height="17"
          viewBox="0 0 17 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          @click.stop="onWeb">
          <path
            d="M7.21547 6.96001H4.36158C4.38191 6.17278 4.47145 5.38879 4.62919 4.61718C5.48687 4.7309 6.35036 4.79452 7.21546 4.80766L7.21547 6.96001ZM3.84077 10.2176C3.67905 9.40491 3.58828 8.57987 3.56943 7.75146H0.500003C0.560395 8.85356 0.877983 9.92626 1.42736 10.8836C2.20628 10.5779 3.01522 10.3547 3.84077 10.2176H3.84077ZM7.21547 14.2577V10.6954C6.41335 10.7078 5.6125 10.7648 4.8167 10.8661C5.32551 12.6773 6.20712 13.9827 7.21547 14.2577V14.2577ZM7.21547 7.75178L4.36158 7.75166C4.38191 8.53902 4.47145 9.32301 4.62919 10.0946C5.48687 9.9809 6.35036 9.91728 7.21546 9.90414L7.21547 7.75178ZM8.00692 6.96033L10.8608 6.96021C10.8405 6.17298 10.7509 5.38898 10.5932 4.61737C9.73553 4.73109 8.87204 4.79471 8.00693 4.80786L8.00692 6.96033ZM7.21547 0.454102C6.20712 0.729037 5.32554 2.0345 4.8167 3.84563C5.61247 3.94707 6.41335 4.00412 7.21547 4.01652V0.454102ZM8.00692 0.454102V4.01643C8.80904 4.00403 9.60989 3.94699 10.4057 3.84567C9.89689 2.03447 9.01527 0.729002 8.00692 0.454137V0.454102ZM3.84077 4.49422C3.01522 4.35707 2.20631 4.13383 1.42736 3.82817C0.87798 4.78553 0.560383 5.85811 0.5 6.9602H3.56943C3.58828 6.13192 3.67905 5.30688 3.84076 4.49422H3.84077ZM5.70219 14.2167C4.98204 13.4941 4.39672 12.3691 4.02182 10.9871C3.28669 11.1083 2.56492 11.3005 1.86687 11.5608C2.81207 12.8504 4.16255 13.7856 5.7019 14.2167H5.70219ZM1.86683 3.15069C2.56489 3.41111 3.28666 3.60334 4.02179 3.72449C4.39669 2.34251 4.98188 1.21746 5.70203 0.494865C4.16255 0.926052 2.81207 1.86122 1.86699 3.15069H1.86683ZM9.52072 0.494865C10.2409 1.21749 10.8261 2.34251 11.2011 3.72449C11.9361 3.60333 12.6579 3.41111 13.3559 3.15069C12.4107 1.86122 11.0602 0.926052 9.52087 0.494865H9.52072ZM9.34487 13.2045L8.61418 10.7137C8.41328 10.7048 8.21239 10.6994 8.00787 10.6959V14.257C8.49138 14.1254 8.94651 13.7556 9.34484 13.2045L9.34487 13.2045ZM13.7955 3.82766H13.7954C13.0163 4.13335 12.2075 4.35657 11.3819 4.49372C11.5437 5.30638 11.6344 6.13142 11.6533 6.95969H14.7227C14.6623 5.8576 14.3447 4.78503 13.7953 3.82766H13.7955ZM9.29693 8.13922L10.8135 8.58368C10.8365 8.31172 10.8544 8.0343 10.8615 7.75169L8.00796 7.75156V9.9028C8.13247 9.90454 8.25512 9.90814 8.37949 9.91347L8.18566 9.25037H8.18579C8.10654 8.97978 8.15937 8.68784 8.32828 8.46228C8.4973 8.2367 8.76258 8.10376 9.04446 8.10364C9.12978 8.10388 9.21473 8.11579 9.29694 8.13923L9.29693 8.13922ZM14.3618 9.62378V9.62365C14.5667 9.01897 14.6881 8.38911 14.7227 7.75156H11.6542C11.6452 8.11243 11.6222 8.46625 11.5884 8.81112L14.3618 9.62378ZM14.0967 12.4627L16.2254 11.2342C16.289 11.1975 16.3246 11.1263 16.3158 11.0534C16.3071 10.9805 16.2558 10.9198 16.1852 10.8991L9.09641 8.8223C9.03205 8.80345 8.96247 8.82118 8.9151 8.86868C8.86761 8.91605 8.84987 8.98562 8.86872 9.04998L10.9455 16.1388C10.9661 16.2093 11.0269 16.2607 11.0998 16.2694C11.1727 16.2782 11.2439 16.2426 11.2806 16.1789L12.5091 14.0504L14.8471 16.386C14.938 16.4768 15.0853 16.4768 15.1761 16.3859L16.4323 15.1297C16.5232 15.0389 16.5232 14.8916 16.4324 14.8007L14.0967 12.4627Z"
            fill="#E2E2E2" />
        </svg>
        <FontAwesomeIcon icon="times" @click.stop="onDelete(value)" />
      </div>
    </article>
  </article>
</template>

<script lang="ts">
import { computed, defineComponent, reactive, ref, toRefs } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import Switch from '@/components/AppSwitch.vue'

import { formatCurrency, toCapitalize } from '@/utils'

export default defineComponent({
  components: { FontAwesomeIcon, Switch },
  props: {
    data: {
      type: Array,
      required: true,
      default: () => []
    },
    typeProduct: {
      type: String,
      default: 'dropshipping'
    }
  },
  emits: [
    'click:provider',
    'click:sent',
    'select',
    'click:view',
    'click:toggle',
    'click:edit',
    'click:close',
    'click:store',
    'click:web'
  ],
  setup(props, { emit }) {
    const viewButton = ref(false)
    const viewCheckbox = ref(false)
    const versionTwo = ref(false)
    const itemsProductsDropshipping = ref(props.data)
    const currentCard = ref('')
    const productsSelected = reactive([])
    const status: any = reactive({
      filterProductsCheck: computed(() => {
        return itemsProductsDropshipping.value.filter(
          (product: any) => product.statusCheck
        )
      }),
      selectProduct: (value: any) => {
        value.statusCheck = !value.statusCheck
        const productSelectCheck = status.filterProductsCheck
        emit('select', productSelectCheck)
      },

      onProvider: (id: string) => emit('click:provider', id),
      onSent: (product: any) => emit('click:sent', product),
      onView: (product: any) => emit('click:view', product),
      onEdit: () => emit('click:edit'),
      onDelete: (value: any) => emit('click:close', value),
      onStore: () => emit('click:store'),
      onWeb: () => emit('click:web'),
      onToggle: (value: any) => emit('click:toggle', value)
    })

    const checkboxDropdown = (id: any) => {
      if (status.filterProductsCheck.some((f: any) => f.id_product === id)) {
        return true
      }
      if (id === currentCard.value) return true
      return false
    }
    const buttonDropdown = (id: any) => {
      if (id === currentCard.value) return true
      return false
    }
    const handleHoverCard = (value: any) => {
      currentCard.value = value.id_product
    }

    const handleOutCard = () => {
      currentCard.value = ''
    }

    return {
      formatCurrency,
      toCapitalize,
      ...toRefs(status),
      handleHoverCard,
      handleOutCard,
      viewButton,
      viewCheckbox,
      status,
      checkboxDropdown,
      buttonDropdown,
      versionTwo,
      itemsProductsDropshipping,
      productsSelected,
      currentCard
    }
  }
})
</script>
