<template>
  <div class="min-w-[345px] rounded-md border border-gray-200 bg-white p-4">
    <p class="flex gap-2 text-sm text-gray-600">
      <FontAwesomeIcon class="text-sm text-gray-600" icon="warehouse" />
      <span class="font-bold">{{ dispatchCenter.name }}</span>
      <span>{{ dispatchCenter.address }} - {{ cityDestiny }}</span>
    </p>

    <header
      v-if="type === 'sale'"
      class="mt-2 flex items-center justify-between">
      <p class="border-r pr-3 text-lg font-bold text-gray-800">
        Envío {{ guide }}
      </p>
      <p class="text-base font-normal text-gray-800">
        <span class="font-bold">Resumen envío</span>
        {{ cityDestiny }}
      </p>

      <p class="text-base font-normal text-gray-800">
        <span class="font-bold">Tiempo de entrega</span>
        {{ order?.daysShippingTime }} días
      </p>
    </header>

    <header
      v-if="['summary', 'quote'].includes(type)"
      class="mt-2 flex items-center justify-between">
      <p class="border-r pr-3 text-lg font-bold text-gray-800">
        Envío {{ guide }}
      </p>
      <p class="text-base font-normal text-gray-800">{{ cityDestiny }}</p>
      <p class="text-base font-normal text-gray-600">Total productos</p>
      <p
        class="
          rounded-full
          bg-gray-50
          px-2
          py-1
          text-base
          font-bold
          text-gray-600
        ">
        {{ products?.length }}
      </p>
      <p v-if="type === 'quote'" class="text-base font-normal text-gray-800">
        {{ formatCurrency({ number: totalProducts }) }}
      </p>
    </header>

    <p v-if="type === 'summary'" class="mt-1">
      <span class="text-base font-normal text-gray-600"> Tiempo de envío </span>
      <span class="font-bold text-gray-800">
        {{ order?.daysShippingTime }} días
      </span>
    </p>

    <hr class="my-2" />

    <div v-if="type === 'quote'" class="mt-3 mb-2 grid grid-cols-2">
      <div
        v-for="(item, index) in products"
        :key="item.id"
        class="mb-1 flex items-center justify-start gap-2">
        <p
          class="
            rounded-full
            bg-gray-50
            px-2
            py-1
            text-base
            font-bold
            text-gray-600
          ">
          {{ index + 1 }}
        </p>
        <p class="text-sm font-normal">
          <span class="mr-2 text-gray-800">
            {{ item.name }}
            {{ getAttributes(item.attributes) }}
          </span>
          <span class="text-gray-600">{{ item.selectedUnits }} uds</span>
        </p>
      </div>
    </div>

    <slot v-if="type === 'quote'" name="quote"> </slot>

    <div v-if="type === 'summary'">
      <div
        v-for="item in products"
        :key="item.id"
        class="mt-1 flex justify-between">
        <p class="flex-1 text-base font-normal capitalize text-gray-600">
          {{ item.name }} {{ getAttributes(item.attributes) }}
        </p>
        <p class="text-base font-normal text-gray-600">
          {{ formatCurrency({ number: item?.total }) }}
        </p>
      </div>

      <div class="mt-2 flex items-center justify-between">
        <div class="flex items-center gap-[10px]">
          <span class="text-base font-bold text-gray-600">Total envío</span>
          <img
            v-if="getImg"
            class="h-[32px] w-[32px]"
            :src="getImg"
            alt="logo" />
        </div>
        <span class="text-base text-gray-800">
          {{ formatCurrency({ number: order?.totalOrder }) }}
        </span>
      </div>

      <p class="mt-2 flex justify-between">
        <span class="text-base font-bold text-gray-600"> Costo del pago </span>
        <span class="text-base text-gray-800">
          {{ formatCurrency({ number: order?.paymentCost }) }}
        </span>
      </p>

      <p class="mt-2 flex justify-between">
        <span class="text-base font-bold text-gray-600">Subtotal</span>
        <span class="text-base text-gray-800">
          {{ formatCurrency({ number: order?.subtotal }) }}
        </span>
      </p>

      <p class="mt-2 flex justify-between">
        <span class="text-base font-bold text-gray-600">IVA</span>
        <span class="text-base text-gray-800">{{ order?.IVA }}</span>
      </p>

      <hr class="my-1" />

      <p class="mt-2 flex justify-between">
        <span class="text-base font-bold text-gray-600">TOTAL</span>
        <span class="text-base text-gray-800">
          {{ formatCurrency({ number: order?.totalQuote }) }}
        </span>
      </p>
    </div>

    <div v-if="type === 'sale'">
      <div class="flex justify-between">
        <div class="flex gap-2">
          <p class="mt-1 text-base font-bold text-gray-600">Total productos</p>
          <p
            class="
              rounded-full
              bg-gray-50
              px-2
              py-1
              text-base
              font-bold
              text-gray-600
            ">
            {{ products?.length ?? 0 }}
          </p>
        </div>
        <p class="text-base text-gray-800">{{ order?.paymentCost }}</p>
      </div>

      <div
        v-for="item in products"
        :key="item.id"
        class="mt-1 flex justify-between">
        <p class="flex-1 text-base font-normal capitalize text-gray-600">
          {{ item.name }} {{ getAttributes(item.attributes) }}
        </p>
        <p class="text-base font-normal text-gray-600">
          {{ formatCurrency({ number: item?.total }) }}
        </p>
      </div>

      <div class="mt-1 flex items-center justify-between">
        <div class="flex items-center gap-[10px]">
          <span class="text-base font-bold text-gray-600">Total envío</span>
          <img
            v-if="getImg"
            class="h-[20px] w-[20px]"
            :src="getImg"
            alt="logo" />
        </div>
        <span class="text-base text-gray-800">
          {{ formatCurrency({ number: order?.totalOrder }) }}
        </span>
      </div>

      <p class="mt-1 flex justify-between">
        <span class="text-base font-bold text-gray-600"> Costo del pago </span>
        <span class="text-base text-gray-800">
          {{ formatCurrency({ number: order?.paymentCost }) }}
        </span>
      </p>

      <p class="mt-1 flex justify-between">
        <span class="text-base font-bold text-gray-600">Subtotal</span>
        <span class="text-base text-gray-800">{{ order?.subtotal }}</span>
      </p>

      <hr class="my-1" />

      <div class="mt-1 flex justify-between">
        <p class="mt-1 flex gap-4">
          <span class="text-base font-bold text-gray-400">IVA</span>
          <span class="text-base font-normal text-gray-400">
            {{ formatCurrency({ number: order?.IVA }) }}
          </span>
        </p>

        <p class="mt-1 flex gap-4">
          <span class="text-base font-bold text-gray-600">TOTAL</span>
          <span class="text-base text-gray-800">
            {{ formatCurrency({ number: order?.totalQuote }) }}
          </span>
        </p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType, computed } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

import { formatCurrency } from '@/utils'
import { CartAttribute, SaleQuote } from '@/types'

export default defineComponent({
  components: { FontAwesomeIcon },
  props: {
    type: {
      type: String as PropType<'summary' | 'quote' | 'sale'>,
      required: true
    },
    products: {
      type: Array as PropType<
        {
          id: string | number | undefined
          name: string | undefined
          attributes?: CartAttribute
          selectedUnits: number | undefined
          total: number | undefined
        }[]
      >,
      required: false
    },
    idOperator: {
      type: String as PropType<string | undefined>,
      default: '',
      required: false
    },
    totalProducts: {
      type: Number,
      default: 0,
      required: false
    },
    cityDestiny: {
      type: String,
      default: '',
      required: true
    },
    guide: {
      type: Number,
      default: 0,
      required: true
    },
    order: {
      type: Object as PropType<SaleQuote>,
      required: true
    },
    dispatchCenter: {
      type: Object as PropType<{ name: string; address: string }>,
      required: true
    }
  },
  setup(props) {
    const getAttributes = computed(() => {
      return (attribute: CartAttribute | undefined): string => {
        if (attribute) {
          const { attribute1, attribute2, attribute3 } = attribute

          const getAttrText = (attribute = {} || undefined) => {
            const text = []
            if (attribute) {
              const attrs = Object.entries(attribute ?? {})
              if (attrs.length > 0) {
                for (const [key, value] of Object.entries(attribute ?? {})) {
                  text.push(`${key}: ${value}`)
                }
              }
            }

            return text
          }

          const attrs = [
            ...getAttrText(attribute1),
            ...getAttrText(attribute2),
            ...getAttrText(attribute3)
          ]

          if (attrs.length > 0) {
            const cleanText = attrs.filter(Boolean).join(', ')
            return `(${cleanText})`
          }
        }

        return ''
      }
    })

    const getImg = computed(() => {
      if (props.idOperator === '1010') return '/assets/img/logistic/tcc.png'
      if (props.idOperator === '29') return '/assets/img/logistic/envia.png'
      if (props.idOperator === '1022') return '/assets/img/logistic/saferbo.png'
      if (props.idOperator === '33') {
        return '/assets/img/logistic/servientrega.png'
      }
      return ''
    })

    return { formatCurrency, getAttributes, getImg }
  }
})
</script>
