<template>
  <section
    class="flex w-full min-w-[540px] max-w-[600px] gap-3 p-2 hover:bg-gray-50"
    :class="{
      'opacity-40': isDisabled,
      'bg-gray-50': isAddProduct
    }">
    <div class="flex flex-none flex-col items-center justify-center">
      <img
        class="
          mb-2
          h-[108px]
          w-[108px]
          rounded-[15px]
          border border-gray-100
          object-cover
        "
        :src="
          product.img === '' ? '/assets/img/default/product.svg' : product.img
        "
        :alt="product.name" />

      <label
        class="text-base font-normal"
        :class="{ 'text-red-400': getStock <= 0 }">
        Unidades
        <span class="font-bold">{{ getStock }} </span>
      </label>
    </div>

    <article class="flex w-full flex-col">
      <div class="flex items-center justify-between text-gray-800">
        <div class="flex gap-4">
          <p>
            <span class="mr-1 font-sans text-xl font-normal">
              {{ product.name }}
            </span>
            <span class="font-sans text-base font-bold">
              {{ product.reference }}
            </span>
          </p>
          <p v-if="getStock <= 0" class="font-bold text-red-400">Agotado</p>
        </div>

        <div class="flex gap-2 text-lg font-bold">
          <p v-if="newDiscount > 0" class="text-red-500">
            {{ convertedNewCurrency }}
          </p>

          <p
            class="text-lg text-gray-800"
            :class="{ 'line-through': newDiscount > 0 }">
            {{ convertedOriginalCurrency }}
          </p>
        </div>
      </div>

      <div
        v-if="
          product.attribute1?.length ||
          product.attribute2?.length ||
          product.attribute3?.length
        "
        class="flex-grap my-3 flex h-10 gap-2">
        <select
          v-if="product.attribute1?.length"
          v-model="attributes.attribute1"
          class="h-[33px] text-base"
          :disabled="isDisabled">
          <option value="">Seleccionar</option>
          <option
            v-for="attr1 in product.attribute1"
            :key="attr1"
            :value="attr1">
            <span v-for="value in attr1" :key="value">
              {{ value }}
            </span>
          </option>
        </select>

        <select
          v-if="product.attribute2?.length"
          v-model="attributes.attribute2"
          class="h-[33px] text-base"
          :disabled="isDisabled">
          <option value="">Seleccionar</option>
          <option
            v-for="attr2 in product.attribute2"
            :key="attr2"
            :value="attr2">
            <span v-for="value in attr2" :key="value">
              {{ value }}
            </span>
          </option>
        </select>

        <select
          v-if="product.attribute3?.length"
          v-model="attributes.attribute3"
          class="h-[33px] text-base"
          :disabled="isDisabled">
          <option value="">Seleccionar</option>
          <option
            v-for="attr3 in product.attribute3"
            :key="attr3"
            :value="attr3">
            <span v-for="value in attr3" :key="value">
              {{ value }}
            </span>
          </option>
        </select>
      </div>

      <div v-else class="my-4">
        <p
          class="
            w-[300px]
            overflow-hidden
            text-ellipsis
            font-sans
            text-sm
            font-normal
            text-gray-800
          "
          v-html="product.description"></p>
      </div>

      <div class="flex gap-2">
        <div class="flex flex-col">
          <label for="type_discount" class="mb-2 text-base text-gray-600">
            Tipo de descuento
          </label>

          <section
            class="
              grid
              h-auto
              grid-cols-[fit-content(100%)_120px]
              items-center
              gap-[30px]
              rounded-lg
              border border-gray-400
              bg-white
              pr-[6px]
            ">
            <div class="ml-1 flex h-[22px] w-[22px]">
              <button
                type="button"
                class="flex items-center rounded-l-lg p-2 text-xs"
                :disabled="isDisabled"
                :class="
                  typeDiscount === 'percentage'
                    ? 'bg-red-500 text-white'
                    : ' bg-gray-100 text-gray-600'
                "
                @click="toggleDiscount('percentage')">
                <FontAwesomeIcon icon="percentage" class="text-sm" />
              </button>
              <button
                type="button"
                class="flex items-center rounded-r-lg p-2 text-xs"
                :disabled="isDisabled"
                :class="
                  typeDiscount === 'currency'
                    ? 'bg-red-500 text-white'
                    : ' bg-gray-100 text-gray-600'
                "
                @click="toggleDiscount('currency')">
                <FontAwesomeIcon icon="dollar-sign" class="text-xs" />
              </button>
            </div>

            <input
              :id="`type_discount-id-${product.id}`"
              v-model="newDiscount"
              :name="`type_discount-name-${product.id}`"
              min="0"
              class="
                h-[30px]
                border-0
                bg-white
                pl-[2px]
                outline-none
                hover:bg-white
                focus:outline-none focus:ring-0
              "
              type="number"
              :disabled="isDisabled"
              @change="processDiscount" />
          </section>
        </div>

        <div class="mr-2 flex h-8 w-20 flex-col">
          <label for="amount" class="mb-2 text-base text-gray-600">
            Cantidad
          </label>
          <input
            :id="`amount-id-${product.id}`"
            v-model="amount"
            :name="`amount-name-${product.id}`"
            type="number"
            class="h-8"
            min="0"
            :disabled="isDisabled"
            :max="getStock"
            @change="processDiscount" />
        </div>

        <div class="flex w-[136px] items-end">
          <button
            type="button"
            class="flex h-[31px] items-center justify-center gap-2"
            :class="[
              isDisabledButtonAdd
                ? 'h-10 w-full rounded-lg bg-gray-200 text-white'
                : 'btn btn-primary'
            ]"
            :disabled="isDisabled"
            @click="addProduct">
            <FontAwesomeIcon icon="shopping-cart" class="text-base" />
            Agregar
          </button>
        </div>
      </div>
    </article>
  </section>
</template>

<script lang="ts">
import { computed, defineComponent, ref, reactive, PropType, watch } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

import { formatCurrency } from '@/utils'
import { ProductCardSale } from '@/types'

import { getFilterByAttribute } from '@/services'

export default defineComponent({
  components: { FontAwesomeIcon },
  props: {
    modelValue: Object,
    product: {
      type: Object as PropType<ProductCardSale>,
      required: true
    }
  },
  emits: ['update:modelValue'],
  setup(props, { emit }) {
    const isAddProduct = ref(props.modelValue?.isAddProduct)
    const getStock = ref(props.product.stock)
    const amount = ref(props.modelValue?.selectedUnits || 1)
    const newPrice = ref(props.modelValue?.totalAmount?.withDiscount || 0)

    const newDiscount = ref(
      props.modelValue?.discount?.value || props.product?.discount
    )

    const typeDiscount = ref(props.modelValue?.discount?.type || 'percentage')

    const convertedOriginalCurrency = ref(
      formatCurrency({ number: props.product?.price })
    )

    const convertedNewCurrency = ref(
      formatCurrency({ number: props.modelValue?.totalAmount?.withDiscount })
    )

    const attributes = reactive({
      attribute1: props.modelValue?.attributes?.attribute1,
      attribute2: props.modelValue?.attributes?.attribute2,
      attribute3: props.modelValue?.attributes?.attribute3
    })

    const isDisabled = computed(() => props.product?.stock <= 0)

    const validateAttributesAddProduct = () => {
      if (props.product?.is_variable) {
        return (
          [undefined, ''].includes(attributes.attribute1) &&
          [undefined, ''].includes(attributes.attribute2) &&
          [undefined, ''].includes(attributes.attribute3)
        )
      }

      return amount.value === 0
    }

    const isDisabledButtonAdd = computed(() => {
      return validateAttributesAddProduct()
    })

    const toggleDiscount = (type: string) => {
      typeDiscount.value = type
      processDiscount()
    }

    const processDiscount = () => {
      if (typeDiscount.value === 'percentage') {
        if (newDiscount.value) {
          newPrice.value =
            props.product.price -
            props.product.price * (newDiscount.value / 100)
        }

        newPrice.value =
          newPrice.value * amount.value <= 0 ? 0 : newPrice.value * amount.value
      }

      if (typeDiscount.value === 'currency') {
        if (props.product.price <= newDiscount.value) {
          newPrice.value = 0
          return
        }
        newPrice.value =
          (props.product.price - newDiscount.value) * amount.value
      }

      convertedOriginalCurrency.value = formatCurrency({
        number: props.product.price
      })

      convertedNewCurrency.value = formatCurrency({
        number: newPrice.value
      })
    }

    const emitFather = (filter = []) => {
      const data = {
        id: props.product.id,
        name: props.product.name,
        reference: props.product.reference,
        selectedUnits: amount.value,
        isAddProduct,
        isVariable: props.product.is_variable,
        img: props.product.img,
        discount: {
          value: newDiscount.value,
          type: typeDiscount.value
        },
        totalAmount: {
          withDiscount: +newPrice.value,
          notDiscount: props.product.price
        },
        attributes,
        filter
      }

      emit('update:modelValue', data)
    }

    const getAttributes = (attribute: Record<string, any>) => {
      const {
        attribute1 = undefined,
        attribute2 = undefined,
        attribute3 = undefined
      } = attribute

      const filter = [attribute1, attribute2, attribute3].filter(Boolean)
      const body = { idGroupProduct: props.product.id, attributes: filter }
      return { body }
    }

    const getFiltered = (data: any = []) => {
      const filtered = data.map((item: any) => {
        return {
          productID: item.id,
          stock: item.stock,
          dispatchCenter: { ...item.dispatch_center },
          measures: { ...item.measures }
        }
      })

      return { filtered }
    }

    const mutationAccumStock = (data: any = []): void => {
      const totalOrder = data.reduce((acc: number, item: any) => {
        return acc + Number(item.stock)
      }, 0)

      getStock.value = totalOrder
    }

    const addProduct = async () => {
      const { body } = getAttributes(attributes)
      const { status, data } = await getFilterByAttribute(body)
      const { filtered } = getFiltered(data)

      if (
        amount.value > 0 &&
        status === 200 &&
        !validateAttributesAddProduct()
      ) {
        isAddProduct.value = true
        mutationAccumStock(filtered)
        emitFather(filtered)
      } else {
        emit('update:modelValue', {})
      }
    }

    watch(
      () => attributes,
      async (attribute) => {
        const { body } = getAttributes(attribute)
        const { status, data } = await getFilterByAttribute(body)
        const { filtered } = getFiltered(data)

        if (
          amount.value > 0 &&
          status === 200 &&
          isAddProduct.value &&
          !validateAttributesAddProduct()
        ) {
          mutationAccumStock(filtered)
          emitFather(filtered)
        } else {
          emit('update:modelValue', {})
        }
      },
      {
        deep: true
      }
    )

    watch(newDiscount, () => processDiscount())

    return {
      amount,
      isDisabled,
      isDisabledButtonAdd,
      newPrice,
      toggleDiscount,
      typeDiscount,
      newDiscount,
      processDiscount,
      convertedOriginalCurrency,
      convertedNewCurrency,
      addProduct,
      attributes,
      getStock,
      isAddProduct
    }
  }
})
</script>
