<template>
  <Modal v-model="modal" title="Antes de continuar" width="544px">
    <div class="flex flex-col items-center">
      <div>
        {{ message }}
      </div>
      <div class="mb-4 space-x-3 pt-10">
        <button
          class="btn btn-primary items-center rounded-full px-8"
          @click="onClose">
          No
        </button>

        <button
          class="btn btn-primary items-center rounded-full px-8"
          @click="onConfirm">
          Si
        </button>
      </div>
    </div>
  </Modal>
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue'
import Modal from '@/components/TheModal.vue'
export default defineComponent({
  components: {
    Modal
  },
  props: {
    modelValue: Boolean,
    message: {
      type: String,
      required: true
    }
  },
  emits: ['confirm', 'update:modelValue'],
  setup(props, { emit }) {
    const onClose = () => {
      emit('update:modelValue', false)
    }

    const onConfirm = () => {
      emit('confirm', false)
    }

    const modal = computed({
      set: () => {
        emit('update:modelValue', false)
      },
      get: () => {
        return props.modelValue
      }
    })
    return {
      onClose,
      onConfirm,
      modal
    }
  }
})
</script>

<style lang="scss"></style>
