<template>
  <div class="flex h-8 w-36 flex-col">
    <section
      :class="[
        'custom-input',
        type.name === 'default' ? 'gap-8' : '',
        type.name === 'money' ? 'gap-3' : '',
        type.name === 'percentage' ? 'gap-3' : ''
      ]">
      <div v-if="type.name === 'default'" class="buttons">
        <button
          class="flex items-center rounded-l-lg p-2 text-sm"
          :disabled="isDisabled"
          :class="
            typeDiscount === 'percentage'
              ? 'bg-red-500 text-white'
              : ' bg-gray-100 text-gray-600'
          "
          @click="toggleDiscount('percentage')">
          <FontAwesomeIcon icon="percentage" />
        </button>
        <button
          class="flex items-center rounded-r-lg p-2 text-xs"
          :disabled="isDisabled"
          :class="
            typeDiscount === 'currency'
              ? 'bg-red-500 text-white'
              : ' bg-gray-100 text-gray-600'
          "
          @click="toggleDiscount('currency')">
          <FontAwesomeIcon icon="dollar-sign" />
        </button>
      </div>

      <div v-if="type.name === 'currency'" class="single-button">
        <button
          class="
            flex
            w-11
            items-center
            justify-center
            rounded-lg
            bg-red-500
            p-2
            text-sm text-white
          "
          :disabled="isDisabled"
          @click="toggleDiscount('currency')">
          <FontAwesomeIcon icon="dollar-sign" />
        </button>
      </div>
      <div v-if="type.name === 'percentage'" class="single-button">
        <button
          class="
            flex
            w-11
            items-center
            justify-center
            rounded-lg
            bg-red-500
            p-2
            text-sm text-white
          "
          :disabled="isDisabled"
          @click="toggleDiscount('percentage')">
          <FontAwesomeIcon icon="percentage" />
        </button>
      </div>
      <input
        id="type_discount"
        v-model="Discount"
        class="input"
        type="number"
        :disabled="isDisabled" />
    </section>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, ref, watchEffect } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

export default defineComponent({
  components: { FontAwesomeIcon },
  props: {
    originalPrice: {
      type: Number,
      default: 1,
      required: true
    },
    cost: {
      type: Number,
      default: 1,
      required: true
    },
    type: {
      type: Object,
      default: reactive({
        name: 'default',
        operation: 'DIGITAL_VALUE'
      }),
      required: true
    },

    modelValue: Number
  },
  setup(props, { emit }) {
    const Discount = ref(0)
    const isDisabled = ref(false)
    const typeDiscount = ref('percentage')
    const newPrice = ref(0)
    const changeStatus = async () => {
      await processDiscount(Discount.value, props.cost)
      emit('update:modelValue', newPrice.value)
    }

    const getRentability = (rentability: number, cost: number) => {
      const value = (rentability / 100) * cost + cost
      if (value >= cost) {
        return value
      }
      return cost
    }

    // value is discount in this context
    const getPriceDiscount = (value: number) => {
      switch (typeDiscount.value) {
        case 'percentage':
          return props.originalPrice - (value / 100) * props.originalPrice
        case 'currency':
          return props.originalPrice - value
        default:
          break
      }
    }

    // value is discount in this context
    const getIncreaseInPrice = (cost: number, value: number) => {
      switch (typeDiscount.value) {
        case 'percentage':
          return cost * (value / 100) + cost
        case 'currency':
          return cost + value
        default:
          break
      }
    }

    const getDiscount = (discount: number) => {
      switch (typeDiscount.value) {
        case 'percentage':
          return props.originalPrice * (1 - discount / 100)
        case 'currency':
          if (props.originalPrice - discount <= 0) {
            return 0
          }
          return props.originalPrice - discount
        default:
          break
      }
    }

    const processDiscount = async (discount: number, cost: number) => {
      switch (props.type.operation) {
        case 'DIGITAL_VALUE':
          newPrice.value = Number(getDiscount(discount))
          break
        case 'RENTABILITY':
          newPrice.value = getRentability(discount, cost)
          break
        case 'PRICE_DISCOUNT':
          newPrice.value = Number(getPriceDiscount(discount))
          break
        case 'INCREASE_IN_PRICE':
          newPrice.value = Number(getIncreaseInPrice(cost, discount))
          break
        default:
          break
      }
    }

    const toggleDiscount = (type: string) => {
      typeDiscount.value = type
      changeStatus()
    }

    watchEffect(async () => {
      await processDiscount(Discount.value, props.cost)
      emit('update:modelValue', newPrice.value)
    })

    return {
      Discount,
      isDisabled,
      processDiscount,
      toggleDiscount,
      typeDiscount
    }
  }
})
</script>

<style lang="scss" scoped>
.custom-input {
  display: grid;
  grid-template-columns: fit-content(100%) 120px;
  align-items: center;
  width: max-content;
  background: #ffffff;
  border: 1px solid #c2c2c2;
  border-radius: 20px;
  height: 40px;
  padding-right: 6px;
}
.input {
  border: 0;
  padding-left: 2px;
  height: 30px;
  background: white;
  @apply outline-none focus:outline-none focus:ring-0;
}
.buttons {
  width: 22px;
  height: 30px;
  display: flex;
  margin: 4px 0px 4px 4px;
}
.single-button {
  width: 44px;
  height: 30px;
  display: flex;
  margin: 4px 0px 4px 4px;
}
</style>
