<template>
  <div class="wrapper">
    <div :class="isOpen ? 'open' : 'close'" @click="onChangeStatus">
      <span>
        <FontAwesomeIcon :icon="isOpen ? 'chevron-down' : 'chevron-right'" />
      </span>
      <span>{{ title }}</span>
    </div>
    <transition name="fade">
      <div v-if="isOpen" class="open_slot">
        <slot></slot>
      </div>
    </transition>
  </div>
</template>

<script lang="ts">
import { defineComponent, Transition } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import { useShow } from '@/composables'

export default defineComponent({
  components: { FontAwesomeIcon, Transition },
  props: {
    title: {
      type: String,
      required: true
    }
  },
  setup() {
    const { isOpen, onChangeStatus } = useShow()

    return { isOpen, onChangeStatus }
  }
})
</script>

<style lang="scss" scoped>
.wrapper {
  @apply w-full;
  > div:first-child {
    height: 50px;
    @apply flex items-center border bg-gray-100;
    > span:first-child {
      margin-right: 14px;
      margin-left: 24px;
      font-weight: 400;
      @apply block text-base text-gray-800;
    }
    > span:nth-child(2) {
      @apply block text-xl font-bold text-gray-800;
    }
  }
  > div:nth-child(2) {
    @apply w-full border px-10 py-4 font-bold;
  }
}

.open {
  @apply rounded-t-md;
}
.open_slot {
  @apply rounded-b-md;
}
.close {
  border-radius: 70px;
}
.fade-enter-active {
  transition: opacity 0.5s ease;
}
.fade-leave-active {
  transition: opacity 0s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
</style>
