<template>
  <div class="switch" :class="style.css">
    <FontAwesomeIcon :icon="['far', style.icon]" />
    <span>{{ style.status }}</span>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, toRefs } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

export default defineComponent({
  components: { FontAwesomeIcon },
  props: {
    modelValue: {
      type: Object,
      required: true
    }
  },
  setup(props) {
    const { modelValue } = toRefs(props)

    const style = computed(() => {
      return modelValue.value.status
        ? {
            icon: 'check-circle',
            css: 'true',
            status: modelValue.value.name
          }
        : {
            icon: 'times-circle',
            css: 'false',
            status: modelValue.value.name
          }
    })

    return { style }
  }
})
</script>

<style lang="scss" scoped>
.switch {
  @apply flex items-center font-bold;

  > span {
    margin-left: 8px;
  }
  > svg {
    height: 19px;
    width: 19px;
  }
}

.true {
  @apply text-emerald-300;
}

.false {
  @apply text-red-400;
}
</style>
