<template>
  <div v-if="type === 'range'" class="relative">
    <div
      class="
        flex
        h-10
        w-[244px]
        cursor-pointer
        items-center
        justify-center
        gap-4
      "
      :class="{ 'rounded-[29px] border': hasBorder }"
      @click="isActive = !isActive">
      <span class="font-sans text-lg font-normal text-gray-600">
        {{ rangeStart }} - {{ rangeEnd }}
      </span>
      <FontAwesomeIcon
        v-if="isActive"
        icon="chevron-up"
        class="text-base text-gray-600" />
      <FontAwesomeIcon
        v-else
        icon="chevron-down"
        class="text-base text-gray-600" />
    </div>

    <section
      v-if="isActive"
      class="
        shadow__card
        absolute
        top-[50px]
        z-50
        flex
        w-[818px]
        justify-between
        rounded-[12px]
        border-none
        bg-white
      "
      :class="{
        'right-0': position === 'right',
        'left-0': position === 'left'
      }"
      tabindex="-1">
      <article
        class="
          flex
          w-[160px]
          flex-none flex-col
          justify-around
          border-r
          pt-4
          pb-16
          text-sm
          font-normal
          text-gray-800
        ">
        <p
          v-for="item in stateRanges"
          :key="item.name"
          class="
            cursor-pointer
            whitespace-nowrap
            px-7
            py-3
            font-sans
            text-base
            font-normal
            text-gray-800
          "
          :class="[item.status && 'bg-gray-400']"
          @click="handleChange(item), item.onClick()">
          {{ item.name }}
        </p>
      </article>

      <article class="flex-1">
        <Datepicker
          v-model="range"
          inline
          auto-apply
          range
          multi-calendars
          locale="es-CO"
          :is24="false"
          :enable-time-picker="false" />
        <div class="flex items-center justify-between border-t py-3 px-5">
          <div class="flex items-center gap-3">
            <p class="w-[103px] rounded-[33px] bg-gray-50 p-3 text-[#19181A]">
              {{ rangeStart }}
            </p>
            <FontAwesomeIcon icon="chevron-right" />
            <p
              class="
                w-[103px]
                rounded-[25px]
                border border-gray-600
                bg-white
                p-3
                text-[#19181A]
              ">
              {{ rangeEnd }}
            </p>
          </div>
          <div class="flex gap-5">
            <button class="btn btn-secondary" @click="cancel">Cancelar</button>
            <button class="btn btn-primary" @click="confirm">Confirmar</button>
          </div>
        </div>
      </article>
    </section>
  </div>

  <div v-if="type === 'single' && formSingle.label">
    <div class="w-min-[100px] space-y-2">
      <label
        :for="formSingle.label"
        class="text-left text-base font-bold text-gray-600"
        :class="{ 'text-red-500': formSingle.error }">
        {{ formSingle.label }}
      </label>
      <Datepicker
        v-model="dateSingle"
        locale="es-CO"
        auto-apply
        alt-position
        class="w-[135px]"
        :position="positionSingle"
        :is24="false"
        :enable-time-picker="false">
        <template #dp-input="{ value }">
          <input
            :id="formSingle.label"
            class="w-full"
            :class="{ 'border-red-500': formSingle.error }"
            type="text"
            :placeholder="formSingle.placeholder"
            :value="value" />
        </template>
      </Datepicker>
    </div>
  </div>

  <Datepicker
    v-if="type === 'single' && !formSingle.label"
    v-model="dateSingle"
    locale="es-CO"
    auto-apply
    class="w-[135px]"
    alt-position
    :position="positionSingle"
    :is24="false"
    :enable-time-picker="false">
    <template #dp-input="{ value }">
      <input class="w-full" type="text" :value="value" />
    </template>
    <template #clear-icon="{ clear }">
      <FontAwesomeIcon
        icon="chevron-down"
        class="mr-3 text-base text-gray-600"
        @click="clear" />
    </template>
  </Datepicker>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  reactive,
  onMounted,
  computed,
  toRefs,
  watch,
  PropType
} from 'vue'
import Datepicker from '@vuepic/vue-datepicker'
import { format, subDays, toDate, subMonths, startOfMonth } from 'date-fns'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

import '@vuepic/vue-datepicker/dist/main.css'

export default defineComponent({
  components: { Datepicker, FontAwesomeIcon },
  props: {
    type: {
      type: String as PropType<'single' | 'range'>,
      required: false,
      default: 'range'
    },
    formatter: {
      type: String,
      required: false,
      default: 'dd/MM/yyyy'
    },
    positionSingle: {
      type: String as PropType<'left' | 'center' | 'right'>,
      required: false,
      default: 'center'
    },
    position: {
      type: String as PropType<'left' | 'right'>,
      required: false,
      default: ''
    },
    formSingle: {
      type: Object as PropType<{
        id: string
        label: string
        error?: string
        placeholder?: string
      }>,
      default: () => ({
        id: '',
        label: '',
        error: '',
        placeholder: 'DD/MM/YYYY'
      })
    },
    hasBorder: {
      type: Boolean,
      required: false,
      default: false
    },
    from: {
      type: String,
      required: false,
      default: ''
    },
    to: {
      type: String,
      required: false,
      default: ''
    },
    modelValue: {
      type: Date,
      required: false
    }
  },
  emits: ['select', 'update:modelValue'],
  setup(props, { emit }) {
    const dateSingle = ref<any>(props.modelValue)
    const range = ref<Date[]>([new Date(), new Date()]) //  [0] - start, [1] - end
    const isActive = ref(false)

    const stateRanges = ref([
      {
        name: 'Últimos 7 días',
        status: false,
        onClick: () => {
          range.value[0] = toDate(subDays(new Date(), 7))
          range.value[1] = new Date()
        }
      },
      {
        name: 'Últimos 14 días',
        status: false,
        onClick: () => {
          range.value[0] = toDate(subDays(new Date(), 14))
          range.value[1] = new Date()
        }
      },
      {
        name: 'Últimos 3 meses',
        status: false,
        onClick: () => {
          range.value[0] = toDate(subMonths(new Date(), 3))
          range.value[1] = new Date()
        }
      },
      {
        name: 'Últimos 30 días',
        status: false,
        onClick: () => {
          range.value[0] = toDate(subDays(new Date(), 30))
          range.value[1] = new Date()
        }
      },
      {
        name: 'Últimos 12 meses',
        status: false,
        onClick: () => {
          range.value[0] = toDate(subMonths(new Date(), 12))
          range.value[1] = new Date()
        }
      },
      {
        name: 'Mes actual',
        status: false,
        onClick: () => {
          range.value[0] = toDate(startOfMonth(new Date()))
          range.value[1] = new Date()
        }
      }
    ])

    const actions = reactive({
      resetRange: () => {
        range.value[0] = new Date()
        range.value[1] = new Date()
      },
      handleChange: (value: any) => {
        stateRanges.value = stateRanges.value.map((item: any) => {
          if (item.name === value.name && item.status) {
            actions.resetRange()
            return { ...item, status: false }
          }

          return {
            ...item,
            status: value.name === item.name
          }
        })
      },
      confirm: () => {
        isActive.value = false
        emit('select', {
          start: format(range.value[0], props.formatter),
          end: format(range.value[1], props.formatter)
        })
      },
      cancel: () => {
        isActive.value = false
        actions.resetRange()
        stateRanges.value = stateRanges.value.map((item: any) => {
          return { ...item, status: false }
        })
      }
    })

    watch(dateSingle, (date: Date) => emit('update:modelValue', date))

    onMounted(() => {
      if (props.from !== '' && props.to !== '') {
        range.value[1] = new Date(props.to)
        range.value[0] = new Date(props.from)
      }
    })

    return {
      isActive,
      format,
      stateRanges,
      range,
      dateSingle,
      ...toRefs(actions),
      rangeStart: computed(() => format(range.value[0], props.formatter)),
      rangeEnd: computed(() => format(range.value[1], props.formatter))
    }
  }
})
</script>

<style lang="scss">
.dp__theme_light {
  --dp-background-color: #ffffff;
  --dp-text-color: #42484e;
  --dp-hover-color: #f3f3f3;
  --dp-hover-text-color: #42484e;
  --dp-hover-icon-color: #959595;
  --dp-primary-color: #c80935;
  --dp-primary-text-color: #ffff;
  --dp-secondary-color: #f1f1f1;
  --dp-border-color: #ffff;
  --dp-menu-border-color: #fff;
  --dp-border-color-hover: #fff;
  --dp-disabled-color: #f6f6f6;
  --dp-scroll-bar-background: #f3f3f3;
  --dp-scroll-bar-color: #959595;
  --dp-success-color: #76d275;
  --dp-success-color-disabled: #a3d9b1;
  --dp-icon-color: #959595;
  --dp-danger-color: #ff6f60;
}

.dp__menu {
  @apply font-sans;
}

.dp__instance_calendar {
  @apply min-w-[328px] first:border-r last:border-0;
}

/* Only for type 'single' */
.dp__instance_calendar > div[class=''] {
  @apply rounded-md shadow-[0px_8px_17px_#CBCBCB];
}

.dp__cell_inner {
  @apply w-[41px];
}

.dp__calendar_header_item {
  @apply w-[41px];
}

.dp__active_date {
  @apply rounded-full;
}

.dp__month_year_row {
  @apply px-6;
}

.dp__cell_auto_range_start,
.dp__date_hover_start:hover,
.dp__range_start {
  @apply rounded-tl-md rounded-bl-md;
}

.dp__cell_auto_range_end,
.dp__date_hover_end:hover,
.dp__range_end {
  @apply rounded-tr-md rounded-br-md;
}

.shadow__card {
  box-shadow: 0px 30px 84px rgba(19, 10, 46, 0.08),
    0px 8px 32px rgba(19, 10, 46, 0.07), 0px 3px 14px rgba(19, 10, 46, 0.03),
    0px 1px 3px rgba(19, 10, 46, 0.13);
}
</style>
