<template>
  <div
    class="
      flex
      h-screen
      w-full
      flex-col
      items-center
      justify-center
      bg-gray-50
    ">
    <div class="rounded-md border border-red-300 p-5">
      <p class="mb-4 font-serif text-base font-medium">{{ title }}</p>
      <p class="mb-4 font-serif text-base font-bold">¡Algo salió mal! 🤦</p>
      <p class="mb-4 font-sans text-sm">{{ message }}</p>
      <a class="text-sm text-red-500 hover:font-bold" href="">
        Intentalo de nuevo
      </a>
      <hr class="my-5" />
      <p class="mb-4 font-serif text-base font-medium">Opciones</p>
      <ul class="list-inside list-disc space-y-3">
        <li class="hover:font-bold">
          <router-link to="/"> Inicio </router-link>
        </li>
        <li class="hover:font-bold">
          <router-link :to="{ name: 'MyCompanies' }">
            Mis empresas
          </router-link>
        </li>
        <li class="hover:font-bold">
          <router-link :to="{ name: 'SettingUser' }">
            Configuraciones
          </router-link>
        </li>
        <li class="hover:font-bold">
          <a href="">Recargar</a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  props: {
    title: {
      type: String,
      default: '',
      required: false
    },
    message: {
      type: String,
      default: '',
      required: false
    }
  }
})
</script>
