<template>
  <Editor
    v-model="stateData.modelValue"
    :init="stateConfigInit"
    :initial-value="stateData.value"
    :api-key="stateData.key"
    :model-events="stateEvents.modalEvent"
    :output-format="stateData.outputFormat"
    :inline="stateData.inline">
  </Editor>
</template>

<script lang="ts">
import { computed, defineComponent, reactive } from 'vue'
import Editor from '@tinymce/tinymce-vue'

export default defineComponent({
  components: { Editor },
  props: {
    outputFormat: {
      type: String,
      default: 'html',
      required: false
    },
    height: {
      type: Number,
      default: 500,
      required: false
    },
    isActiveMenuBar: {
      type: Boolean,
      default: false,
      required: false
    },
    isInline: {
      type: Boolean,
      default: false,
      required: false
    }
  },
  emits: ['modelValue'],
  setup(props, { emit }) {
    const stateData = reactive({
      modelValue: (value: string) => emit('modelValue', value),
      key: import.meta.env.VITE_KEY_EDITOR_TINY,
      outputFormat: computed(() => props.outputFormat),
      inline: computed(() => props.isInline)
    })

    const stateEvents = reactive({
      modelEvent: 'change keydown blur focus paste'
    })

    const stateConfigInit = reactive({
      height: computed(() => props.height),
      menubar: computed(() => props.isActiveMenuBar),
      skin_url: '/assets/css-external/ave-editor-skin',
      content_css: false,
      plugins: [
        'advlist autolink lists link image charmap',
        'searchreplace visualblocks code fullscreen',
        'print preview anchor insertdatetime media',
        'paste code help wordcount table'
      ],
      toolbar:
        'formatselect | fontsizeselect | align | bold italic forecolor table bullist numlist'
    })

    return { stateConfigInit, stateData, stateEvents }
  }
})
</script>
