<template>
  <div class="w-full">
    <Listbox v-slot="{ open }">
      <div class="relative mt-1 font-sans font-normal text-gray-800">
        <ListboxButton
          :class="{
            'rounded-bl-none rounded-br-none border border-gray-400 bg-gray-50':
              open,
            'bg-gray-100 hover:bg-gray-200': !open
          }"
          class="
            relative
            flex
            h-10
            w-full
            min-w-[150px]
            cursor-default
            items-center
            justify-start
            rounded-lg
            py-[10px]
            px-4
            text-left
          ">
          <FontAwesomeIcon
            icon="filter"
            class="pointer-events-none text-lg text-gray-400" />
          <span
            :class="{
              'text-gray-800': open,
              'text-gray-400 hover:text-gray-600': !open
            }"
            class="ml-2 block truncate pt-1 font-sans text-base font-normal">
            {{ label }}
          </span>
          <span
            class="
              pointer-events-none
              absolute
              inset-y-0
              right-0
              flex
              items-center
              pr-5
              text-gray-400
              hover:text-gray-600
            ">
            <FontAwesomeIcon
              v-if="!open"
              icon="chevron-right"
              class="text-base text-gray-400 hover:text-gray-600"
              aria-hidden="true" />

            <FontAwesomeIcon
              v-else
              icon="chevron-up"
              class="text-base text-gray-600"
              aria-hidden="true" />
          </span>
        </ListboxButton>
        <transition
          v-show="open"
          leave-active-class="transition duration-100 ease-in"
          leave-from-class="opacity-100"
          leave-to-class="opacity-0">
          <ListboxOptions
            static
            :class="{ 'border border-gray-400': open }"
            class="
              absolute
              z-50
              -mt-1
              w-full
              overflow-auto
              rounded-md rounded-tl-none rounded-tr-none
              border-t-0
              bg-gray-50
              py-1
              text-base
            ">
            <div class="relative my-2 w-full px-4">
              <input
                v-model="state.search"
                type="text"
                class="
                  h-7
                  w-full
                  rounded-[26px]
                  border-0
                  bg-gray-100
                  pl-5
                  text-base
                  hover:border-0 hover:bg-gray-100
                  focus:border-gray-50 focus:ring-0
                " />
              <span
                class="
                  absolute
                  inset-y-0
                  right-2
                  flex
                  cursor-pointer
                  items-center
                  pr-6
                ">
                <FontAwesomeIcon
                  :icon="['far', 'search']"
                  class="text-sm text-gray-400" />
              </span>
            </div>
            <div
              class="
                mr-4
                mb-4
                flex
                h-full
                max-h-[200px]
                min-h-[30px]
                flex-col
                justify-start
                overflow-y-auto
              ">
              <ListboxOption
                v-for="value in state.searchItems"
                :key="value[optionText]"
                :value="value">
                <li
                  class="
                    relative
                    mx-2
                    flex
                    cursor-default
                    select-none
                    justify-start
                    rounded-md
                    bg-gray-50
                    py-2
                    pl-3
                  ">
                  <div class="flex items-center gap-2 self-start">
                    <input
                      :id="value[optionText]"
                      type="checkbox"
                      class="h-3 w-3 border-2 border-gray-600 bg-transparent"
                      :checked="value.status"
                      @click.stop="state.select(value)" />

                    <label
                      :for="value[optionText]"
                      :class="[
                        value.id === 'all' ? 'text-gray-600' : 'text-gray-800',
                        'block truncate font-sans text-base font-normal'
                      ]">
                      {{ value[optionText] }}
                    </label>
                  </div>
                </li>
              </ListboxOption>
            </div>
          </ListboxOptions>
        </transition>
      </div>
    </Listbox>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, computed, reactive, watch, onMounted } from 'vue'
import {
  Listbox,
  ListboxButton,
  ListboxOptions,
  ListboxOption
} from '@headlessui/vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

import { arrayUnique } from '@/utils'

export default defineComponent({
  components: {
    Listbox,
    ListboxButton,
    ListboxOptions,
    ListboxOption,
    FontAwesomeIcon
  },
  props: {
    data: {
      type: Array,
      required: true,
      default: () => []
    },
    label: {
      type: String,
      required: false,
      default: ''
    },
    optionText: {
      type: String,
      required: false,
      default: 'name'
    }
  },
  emits: ['select'],
  setup(props, { emit }) {
    const multiple: any = ref([
      {
        id: 'all',
        name: 'Seleccionar todo',
        status: false
      }
    ])

    const state: any = reactive({
      search: '',
      filterMulti: computed(() => {
        return arrayUnique(multiple.value, props.optionText).filter(
          (value: any) => {
            return value?.status
          }
        )
      }),
      select: (value: any) => {
        value.status = !value.status

        if (value.id === 'all') {
          if (value.status) {
            multiple.value = multiple.value.map((info: any) => ({
              ...info,
              status: true
            }))
          }

          if (value.status === false) {
            multiple.value = multiple.value.map((info: any) => ({
              ...info,
              status: false
            }))
          }
          emit('select', state.filterMulti)
        }
        return emit('select', state.filterMulti)
      },
      searchItems: computed((): any => {
        return multiple.value.filter((data: any) => {
          return data[props.optionText]
            ?.toLowerCase()
            .includes(state.search?.toLowerCase())
        })
      })
    })

    watch(
      () => props.data,
      (value) => {
        if (value) {
          multiple.value = [...multiple.value, ...value]
        }
      }
    )

    onMounted(() => {
      if (props.data) {
        multiple.value = [...multiple.value, ...props.data]
      }
    })

    return {
      state,
      multiple
    }
  }
})
</script>
