<template>
  <div class="flex flex-wrap items-center justify-start gap-x-4">
    <div class="self-stretch border-r border-gray-450 pr-6">
      <AppTitle :icon="headers.title.icon" :title="headers.title.description" />
    </div>
    <div class="targets mt-4 flex flex-wrap justify-center">
      <div
        v-for="option in headers.options"
        :key="option.id"
        class="my-0 mx-[15px] w-[115px] cursor-pointer justify-self-center"
        :style="`width:${widthItem}`"
        :class="[option.has_divider ? 'border-l-2 border-gray-450 pl-6' : '']"
        @click="onClick(option)">
        <div class="grid justify-items-center">
          <p
            class="font-serif text-[24px] font-bold"
            :class="[
              option?.name === currentState || currentState === ''
                ? 'text-gray-600'
                : 'text-gray-400'
            ]">
            {{ option.title }}
          </p>
          <div class="mb-[7px] mt-2">
            <p
              class="
                break-words
                text-center text-[18px]
                font-bold
                leading-[18px]
                text-gray-800
              "
              :class="[
                option?.name === currentState || currentState === ''
                  ? 'text-gray-800'
                  : 'text-gray-400'
              ]">
              {{ option.subtitle }}
            </p>
          </div>
          <AppProgressBarVue
            style="width: 76px"
            :percentaje="option.percentage"
            :is-disabled="
              option?.name !== currentState && currentState !== ''
            " />
          <p class="mt-1 text-[12px]">{{ option.footer }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import AppProgressBarVue from '@/components/AppProgressBar.vue'
import AppTitle from '@/components/AppTitle.vue'

export default defineComponent({
  components: {
    AppProgressBarVue,
    AppTitle
  },
  props: {
    headers: {
      type: Object,
      required: true
    },
    widthItem: {
      type: String,
      default: 'auto'
    }
  },
  emits: ['filter'],
  setup(props, { emit }) {
    const currentState = ref('')

    const onClick = (item: any) => {
      if (item.name === currentState?.value) {
        emit('filter', { ...item, name: '' })
        return (currentState.value = '')
      }

      const isEqualState = props.headers.options.some((header: any) => {
        return header.name === item.name
      })

      if (isEqualState) {
        currentState.value = item.name
      }

      emit('filter', item)
    }

    return {
      onClick,
      currentState
    }
  }
})
</script>
