<template>
  <p>
    <FontAwesomeIcon :icon="icon" class="text-xl text-gray-450" />
    <span class="pl-2 font-sans text-base font-bold text-[#969090]">
      {{ title }} / {{ subtitle }}
    </span>
  </p>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

export default defineComponent({
  components: {
    FontAwesomeIcon
  },
  props: {
    icon: {
      type: String,
      default: 'home'
    },
    title: {
      type: String,
      default: ''
    },
    subtitle: {
      type: String,
      default: ''
    }
  }
})
</script>
