<template>
  <div class="wapper">
    <div class="flex w-full">
      <div class="title-wapper">
        <AppTitle
          :icon="headers.title.icon"
          :title="headers.title.description" />
      </div>
      <div v-for="option in headers.options" :key="option.id" class="items">
        <div>
          <p class="text-xl font-bold">
            {{ option.title }}
          </p>
          <div class="subtitle-wapper">
            <h5 class="text-gray-600">{{ option.subtitle }}</h5>
          </div>
          <ProgressBar style="width: 115px" :percentaje="option.porcentaje" />
          <div id="guides-text">{{ option.guides }} guías</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import ProgressBar from './AppProgressBar.vue'
import AppTitle from './AppTitle.vue'

export default defineComponent({
  components: {
    ProgressBar,
    AppTitle
  },
  props: {
    headers: {
      type: Object,
      required: true
    }
  }
})
</script>

<style lang="scss" scoped>
.wapper {
  @apply grid grid-flow-col  items-center justify-start gap-x-2;
}

.title-wapper {
  border-color: #a7a6a6;
  @apply grid w-80  self-stretch border-r pr-2;
  > div {
    @apply items-center;
  }
}

.subtitle-wapper {
  margin-bottom: 7px;
}

.items {
  @apply grid w-40 items-center px-6;
  > div {
    @apply grid w-36 justify-items-center;
  }
}

h3 {
  font-size: 24px;
  @apply text-gray-600;
}

h6 {
  width: 150px;
  height: 32px;
  line-height: 18px;
  font-size: 18px;
  @apply justify-center break-words text-center text-gray-800;
}
#guides-text {
  font-size: 12px;
  @apply mt-2 text-gray-600;
}
</style>
