<template>
  <section class="container">
    <header class="flex w-72 items-center gap-x-4">
      <span class="text-4xl">
        <FontAwesomeIcon icon="file-invoice-dollar" />
      </span>
      <h5>{{ title }}</h5>
    </header>
    <div class="divider"></div>
    <section>
      <ul class="flex justify-between gap-x-12">
        <li v-for="item in items" :key="item.title">
          <div class="flex items-center gap-x-2">
            <h6>{{ item.title }}</h6>
          </div>
          <h5 class="text-gray-600">{{ item.subtitle }}</h5>
        </li>
      </ul>
    </section>
  </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

export default defineComponent({
  components: {
    FontAwesomeIcon
  },
  props: {
    title: {
      type: String,
      required: true
    },
    items: {
      type: Array,
      required: true
    }
  },
  setup() {
    return {}
  }
})
</script>

<style lang="scss" scoped>
.container {
  @apply mx-3 flex gap-x-6;
}

.divider {
  @apply bg-gray-600;
  width: 1px;
}
</style>
