<template>
  <div class="grid grid-flow-col items-center justify-start gap-x-2">
    <div class="grid self-stretch border-r border-gray-450 pr-2">
      <div class="items-center">
        <AppTitle
          :icon="headers.title.icon"
          :title="headers.title.description" />
      </div>
    </div>
    <div class="flex flex-wrap">
      <div
        v-for="option in headers.options"
        :key="option.id"
        class="my-[0px] mx-[15px] justify-self-center">
        <div class="grid justify-items-start">
          <div>
            <div class="mb-[7px] flex">
              <h6
                class="
                  mt-[20px]
                  h-[15px]
                  w-[180px]
                  justify-start
                  break-words
                  text-center text-gray-800
                ">
                {{ option.title }}
              </h6>
              <p
                class="text-center text-gray-600"
                style="margin-top: 20px; width: 50px">
                ({{ (option.total * option.porcentaje) / 100 }}/{{
                  option.total
                }})
              </p>
            </div>
            <div class="flex">
              <ProgressBar class="w-[180px]" :percentaje="option.porcentaje" />
              <ProgressNumber
                class="-mt-1 w-[50px]"
                :percentaje="option.porcentaje" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import ProgressBar from './AppProgressBar.vue'
import ProgressNumber from './AppProgressNumber.vue'
import AppTitle from './AppTitle.vue'

export default defineComponent({
  components: {
    ProgressBar,
    ProgressNumber,
    AppTitle
  },
  props: {
    headers: {
      type: Object,
      required: true
    }
  }
})
</script>
