<template>
  <div class="grid grid-flow-col items-center justify-start gap-x-4">
    <div class="grid self-stretch border-r border-gray-450 pr-6">
      <AppTitle :icon="headers.title.icon" :title="headers.title.description" />
    </div>

    <div
      v-for="option in headers.options"
      :key="option.id"
      class="my-0 mx-[15px] w-[115px] cursor-pointer justify-self-center"
      :style="`width:${widthItem}`"
      :class="[option.has_divider ? 'border-l-2 border-gray-450 pl-6' : '']"
      @click="onClick(option)">
      <div
        class="grid justify-items-center"
        :class="[option.has_divider ? '' : '']">
        <h3
          class="font-serif text-5xl font-bold"
          :class="[
            option?.name === currentState || currentState === ''
              ? 'text-gray-600'
              : 'text-gray-400'
          ]">
          {{ option.title }}
        </h3>
        <div class="mb-[7px]">
          <p
            class="
              break-words
              text-center text-lg
              font-bold
              leading-[18px]
              text-gray-800
            "
            :class="[
              option?.name === currentState || currentState === ''
                ? 'text-gray-800'
                : 'text-gray-400'
            ]">
            {{ option.subtitle }}
          </p>
        </div>
        <ProgressBar
          style="width: 76px"
          :percentaje="option.percentage"
          :is-disabled="option?.name !== currentState && currentState !== ''" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import ProgressBar from './AppProgressBar.vue'
import AppTitle from './AppTitle.vue'

export default defineComponent({
  components: {
    ProgressBar,
    AppTitle
  },
  props: {
    headers: {
      type: Object,
      required: true
    },
    widthItem: {
      type: String,
      default: 'auto'
    }
  },
  emits: ['filter'],
  setup(props, { emit }) {
    const currentState = ref('')

    const onClick = (item: any) => {
      if (item.name === currentState?.value) {
        emit('filter', { ...item, name: '' })
        return (currentState.value = '')
      }

      const isEqualState = props.headers.options.some((header: any) => {
        return header.name === item.name
      })

      if (isEqualState) {
        currentState.value = item.name
      }

      emit('filter', item)
    }

    return {
      onClick,
      currentState
    }
  }
})
</script>
