<template>
  <div class="flex items-start gap-2" :class="[flex, addClassLabel]">
    <label v-if="label" class="text-left font-normal text-gray-800" :for="name">
      {{ label }} {{ isRequired ? '*' : '' }}
    </label>
    <small v-if="subtitleLabel" class="text-gray-600">{{
      subtitleLabel
    }}</small>
    <input
      :id="name"
      class="rounded-full"
      :class="classes + ' ' + wInput + ' ' + classBorder"
      :placeholder="placeholder"
      type="date"
      :min="min"
      :minlength="min"
      :name="name"
      :max="max"
      :value="modelValue"
      @input="handleChange" />
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType, computed } from 'vue'

type AlingFlex = 'flex-row' | 'flex-col'
type TClassBorder = 'border-gray-400' | 'border-red-400'

export default defineComponent({
  props: {
    // En caso de quere el texto y input en row o col @"flex-row" | "flex-col"
    flex: {
      type: String as PropType<AlingFlex>,
      default: 'flex-col'
    },
    //  Ancho del boton si se desea forzar
    wInput: {
      type: String,
      default: ''
    },
    /** Texto principal del label */
    label: {
      type: String,
      default: ''
    },
    //  Valor minimo para la propiedad MIN del imput
    min: {
      type: String,
      default: '1'
    },
    // Valor max para la propiedad MAX del imput
    max: {
      type: String
    },
    id: {
      type: String,
      default: ''
    },

    name: {
      type: String,
      default: 'name'
    },
    placeholder: {
      type: String,
      default: ''
    },
    modelValue: {
      type: [String, Number],
      default: ''
    },
    isRequired: {
      type: Boolean,
      default: false
    },
    addClassLabel: {
      type: String,
      default: ''
    },
    className: {
      type: String,
      default: ''
    },
    subtitleLabel: {
      type: String,
      default: ''
    },
    classBorder: {
      type: String as PropType<TClassBorder>,
      default: 'border-gray-400'
    }
  },
  emits: ['update:modelValue'],
  setup(props, { emit }) {
    const handleChange = (ev: Event) => {
      const target = ev.currentTarget as HTMLInputElement
      return emit('update:modelValue', target.value)
    }

    const classes = computed(() => {
      return `w-full h-10 py-[5px] px-4 rounded-full border focus:outline-none  ${props.className}`
    })

    return {
      handleChange,
      classes
    }
  }
})
</script>
