<template>
  <div class="flex w-full gap-2" :class="flex">
    <label class="text-[14px] font-normal text-gray-800" :for="name">
      {{ label }} {{ isRequired ? '*' : '' }}
    </label>
    <small v-if="subtitleLabel" class="text-gray-600">{{
      subtitleLabel
    }}</small>
    <input
      :id="name"
      v-mask="maskered"
      class="rounded-full"
      :class="className + '' + wInput"
      :placeholder="placeholder"
      :type="type"
      :min="min"
      :max="max"
      :minlength="min"
      :maxlength="max"
      :name="name"
      :value="modelValue"
      @input="handleChange" />
  </div>
</template>

<script lang="ts">
import { mask } from 'vue-the-mask'

import { isNumber } from '@/utils/isNumber'
import { tokenMaskDimamic } from '@/utils/token'
import { computed, defineComponent, PropType } from 'vue'

type IMasker = '' | 'number' | 'account' | 'numberId'
export default defineComponent({
  name: 'AppInputText',
  directives: {
    mask
  },
  props: {
    masker: {
      type: String as PropType<IMasker>,
      default: ''
    },
    type: {
      type: String,
      default: 'text'
    },
    // En caso de quere el texto y input en row o col @'flex-row' | 'flex-col'
    flex: {
      type: String,
      default: 'flex-col'
    },
    // Ancho del boton si se desea forzar
    wInput: {
      type: String,
      default: ''
    },
    // Texto principal del label
    label: {
      type: String,
      default: 'text'
    },
    // Valor minimo para la propiedad MIN del imput
    min: {
      type: String,
      default: '1'
    },
    // Valor maximo para la propiedad MAX del imput
    max: {
      type: String,
      default: '300'
    },
    id: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: 'name'
    },
    placeholder: {
      type: String,
      default: ''
    },
    modelValue: {
      type: [String, Number],
      default: ''
    },
    isRequired: {
      type: Boolean,
      default: false
    },
    className: {
      type: String,
      default:
        'py-[5px] h-[39px] px-4 rounded-[5px] border w-full border-gray-400 focus:outline-none '
    },
    // Texto segundario y mas pequeño
    subtitleLabel: {
      type: String,
      default: ''
    }
  },
  emits: ['update:modelValue'],
  setup(props, { emit }) {
    const handleChange = (ev: Event) => {
      const target = ev.currentTarget as HTMLInputElement
      if (isNumber(target.value)) {
        const value = String(target.value).split('.').join('')
        return emit('update:modelValue', value)
      }
      return emit('update:modelValue', target.value)
    }

    const createLimit = () => {
      const xx: string[] = []
      const valArray = String(props.modelValue).split('')
      valArray.forEach((el, index) => {
        if (index < Number(props.max)) {
          if (el === ' ') {
            xx.push(' ')
          } else {
            xx.push('X')
          }
        }
      })
      return xx.join('')
    }

    const maskered = computed(() => {
      switch (props.masker) {
        case 'account':
          return ['###-######-##', '###-######-####-####']
        case 'number':
          return tokenMaskDimamic(props.modelValue)
        case 'numberId':
          return tokenMaskDimamic(props.modelValue, true)
        default:
          return createLimit()
      }
    })

    return { handleChange, maskered }
  }
})
</script>

function tokenMaskDimamic(modelValue: string|number): any { throw new
Error('Function not implemented.') } function tokenMaskDimamic(modelValue:
string|number, arg1: boolean): any { throw new Error('Function not
implemented.') }
