<template>
  <main
    class="
      mb-2
      flex
      justify-between
      gap-2
      rounded-md
      bg-white
      p-2
      font-sans
      text-sm
      font-normal
    ">
    <div
      class="inline-block h-3 w-3 flex-none rounded-full"
      :class="color"></div>

    <section class="flex-auto">
      <header class="font-sans text-base font-bold">
        {{ title }}
      </header>
      <slot></slot>
    </section>

    <slot name="avatar">
      <div v-if="avatar" class="pt-1 pl-6">
        <figure>
          <img
            class="h-11 w-11 rounded-full object-cover"
            :src="avatar"
            loading="lazy"
            alt="logo-operator" />
        </figure>
      </div>
      <div v-else class="w-full pt-1 pl-6">
        <FontAwesomeIcon
          icon="user-circle"
          class="icon text-[3rem] text-gray-200" />
      </div>
    </slot>
  </main>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

export default defineComponent({
  components: { FontAwesomeIcon },
  props: {
    title: {
      type: String,
      required: false
    },
    color: {
      type: String,
      required: true
    },
    avatar: String
  },
  setup() {
    return {}
  }
})
</script>
