<template>
  <main>
    <p>{{ item.date }}</p>
    <p>{{ item.guide_destination }}</p>
    <p><span class="font-bold">Cliente</span> {{ item.client }}</p>
    <p><span class="font-bold">Telefono</span> 3133167574</p>
  </main>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  props: {
    item: {
      type: Object,
      required: true
    }
  },
  setup() {
    return {}
  }
})
</script>
