<template>
  <main class="h-screen w-full overflow-x-auto">
    <section class="grid h-full gap-4" :style="cssProps">
      <section
        v-for="(value, key) in data"
        :key="key"
        class="flex h-full flex-col gap-y-2">
        <header
          class="
            flex
            min-h-[40px]
            w-full
            items-center
            justify-center
            rounded-md
            bg-gray-100
            text-center
            font-sans
            text-xl
            font-bold
          ">
          <span class="capitalize text-gray-600">{{ key }}</span>
          <span class="ml-1 text-gray-800">
            {{ value.length }}
          </span>
        </header>
        <section class="h-full rounded-md bg-gray-100 p-2">
          <div v-for="item in value" :key="item.status">
            <slot :name="mutationKey(key)" :item="item"></slot>
          </div>
        </section>
      </section>
    </section>
  </main>
</template>

<script lang="ts">
import { computed, defineComponent } from 'vue'

export default defineComponent({
  props: {
    items: {
      type: Array,
      required: true
    },
    groupBy: {
      type: String,
      required: true
    },
    headerKanban: {
      type: Array,
      required: true
    }
  },
  setup(props) {
    const items = computed(() => props.items)
    const data = computed(() => {
      return props.headerKanban.reduce((accum: any, item: any) => {
        const key = item.name
        if (!accum[key]) {
          accum[key] = items.value.filter(
            (item01: any) => item01[props.groupBy] === item.name
          )
        }
        return accum
      }, {})
    })
    const cssProps = computed(() => ({
      'grid-template-columns': `repeat(${
        Object.keys(data.value as any).length
      }, 267px)`
    }))

    const mutationKey = (key: string) => key.replaceAll(' ', '-')

    return {
      data,
      cssProps,
      mutationKey
    }
  }
})
</script>
