<template>
  <div v-if="type === 'light'" class="w-full">
    <label
      v-if="label"
      class="text-left text-base font-bold text-gray-600"
      :class="{ 'text-red-500': error }">
      {{ label }}
    </label>

    <Listbox v-slot="{ open }" v-model="modelLight" :disabled="disabled">
      <div class="relative mt-2 font-sans font-normal text-gray-800">
        <ListboxButton
          :class="{
            'rounded-bl-none rounded-br-none': open,
            'border-red-500': error,
            'border-gray-400': !error,
            'pl-4': !disabled && !showIconDisabled,
            'pl-8': disabled && showIconDisabled
          }"
          class="
            relative
            h-10
            w-full
            min-w-[217px]
            cursor-default
            rounded-lg
            border
            bg-white
            py-2
            pl-4
            pr-10
            text-left
          ">
          <span
            v-if="disabled && showIconDisabled"
            class="
              pointer-events-none
              absolute
              inset-y-0
              left-0
              flex
              items-center
              pl-3
            ">
            <FontAwesomeIcon
              icon="lock"
              class="text-lg text-gray-400"
              aria-hidden="true" />
          </span>
          <div class="flex gap-2">
            <span
              class="block truncate"
              :class="{
                'text-gray-400':
                  (placeholder &&
                    optionChecked[optionText] === 'Seleccionar') ||
                  disabled
              }">
              {{
                placeholder && optionChecked[optionText] === 'Seleccionar'
                  ? placeholder
                  : optionChecked[optionText]
              }}
            </span>
          </div>
          <span
            class="
              pointer-events-none
              absolute
              inset-y-0
              right-0
              flex
              items-center
              pr-4
            ">
            <FontAwesomeIcon
              v-if="open"
              icon="chevron-up"
              class="text-gray-600"
              aria-hidden="true" />

            <FontAwesomeIcon
              v-else
              icon="chevron-down"
              class="text-gray-600"
              aria-hidden="true" />
          </span>
        </ListboxButton>

        <transition
          v-show="open"
          leave-active-class="transition duration-100 ease-in"
          leave-from-class="opacity-100"
          leave-to-class="opacity-0">
          <ListboxOptions
            static
            :class="{ 'border-red-500': error, 'border-gray-400': !error }"
            class="
              absolute
              z-10
              -mt-1
              max-h-[130px]
              w-full
              overflow-auto overflow-y-auto
              rounded-lg rounded-tl-none rounded-tr-none
              border border-t-0
              bg-white
              py-1
              text-base
              shadow-lg
            ">
            <ListboxOption
              v-for="item in allData"
              v-slot="{ active, selected }"
              :key="item[optionText]"
              :value="item"
              @click="onClick(item)">
              <li
                v-if="
                  item[optionText].toLowerCase() !== 'seleccionar' &&
                  optionChecked[optionText] !== item[optionText]
                "
                :class="[
                  active ? 'mx-2 rounded-md bg-gray-200 pl-2' : 'pl-4',
                  'relative cursor-default select-none py-2'
                ]"
                @click="stateLight.handleChange(item)">
                <span
                  :class="[
                    selected ? 'font-medium' : 'font-normal',
                    'block truncate'
                  ]">
                  {{ item[optionText] }}
                </span>
              </li>
            </ListboxOption>
          </ListboxOptions>
        </transition>
      </div>
    </Listbox>
  </div>

  <div v-if="type === 'selectable'" class="w-full">
    <Listbox v-slot="{ open }" v-model="modelLight">
      <div class="relative mt-1 font-sans font-normal text-gray-800">
        <ListboxButton
          :class="[open ? 'rounded-bl-none rounded-br-none' : '']"
          class="
            relative
            h-10
            w-full
            min-w-[217px]
            cursor-default
            rounded-lg
            border border-gray-400
            bg-white
            py-2
            pl-4
            pr-10
            text-left
          ">
          <div class="flex gap-2">
            <input
              type="checkbox"
              :name="optionChecked.id"
              :checked="optionChecked.status"
              class="text-gray-300"
              @change="state.onCheck(optionChecked)" />
            <span class="block truncate">{{ optionChecked[optionText] }}</span>
          </div>
          <span
            class="
              pointer-events-none
              absolute
              inset-y-0
              right-0
              flex
              items-center
              pr-4
            ">
            <FontAwesomeIcon
              v-if="open"
              icon="chevron-up"
              class="text-gray-600"
              aria-hidden="true" />

            <FontAwesomeIcon
              v-else
              icon="chevron-down"
              class="text-gray-600"
              aria-hidden="true" />
          </span>
        </ListboxButton>

        <transition
          v-show="open"
          leave-active-class="transition duration-100 ease-in"
          leave-from-class="opacity-100"
          leave-to-class="opacity-0">
          <ListboxOptions
            static
            class="
              absolute
              -mt-1
              w-full
              overflow-auto
              rounded-lg rounded-tl-none rounded-tr-none
              border border-t-0 border-gray-400
              bg-white
              py-1
              text-base
              shadow-lg
            ">
            <ListboxOption
              v-for="item in allData"
              v-slot="{ active, selected }"
              :key="item[optionText]"
              :value="item"
              @click="onClick(item)">
              <li
                :class="[
                  active ? 'mx-2 rounded-md bg-gray-200 pl-2' : 'pl-4',
                  'relative cursor-default select-none py-2'
                ]"
                @click="stateLight.handleChange(item)">
                <span
                  :class="[
                    selected ? 'font-medium' : 'font-normal',
                    'block truncate'
                  ]">
                  {{ item[optionText] }}
                </span>
              </li>
            </ListboxOption>
          </ListboxOptions>
        </transition>
      </div>
    </Listbox>
  </div>

  <div v-if="type === 'multiple'" class="w-full">
    <Listbox v-slot="{ open }" v-model="multiple">
      <div class="relative mt-1 font-sans font-normal text-gray-800">
        <ListboxButton
          :class="[!open ? '' : 'rounded-bl-none rounded-br-none']"
          class="
            relative
            h-10
            w-full
            min-w-[217px]
            cursor-default
            rounded-lg
            border border-gray-400
            bg-white
            py-2
            pl-4
            pr-10
            text-left
          ">
          <span class="block truncate text-gray-400">
            {{ !state.selected.length ? 'Seleccionar' : state.selected }}
          </span>
          <span
            class="
              pointer-events-none
              absolute
              inset-y-0
              right-0
              flex
              items-center
              pr-4
            ">
            <FontAwesomeIcon
              v-if="open"
              icon="chevron-up"
              class="text-gray-600"
              aria-hidden="true" />

            <FontAwesomeIcon
              v-else
              icon="chevron-down"
              class="text-gray-600"
              aria-hidden="true" />
          </span>
        </ListboxButton>

        <transition
          v-show="open"
          leave-active-class="transition duration-100 ease-in"
          leave-from-class="opacity-100"
          leave-to-class="opacity-0">
          <ListboxOptions
            static
            class="
              absolute
              -mt-1
              w-full
              overflow-auto
              rounded-lg rounded-tl-none rounded-tr-none
              border border-t-0 border-gray-400
              bg-white
              py-1
              text-base
              shadow-lg
            ">
            <ListboxOption
              v-for="item in allData"
              :key="item[optionText]"
              :value="item">
              <li
                class="
                  relative
                  mx-2
                  flex
                  cursor-default
                  select-none
                  justify-between
                  rounded-lg
                  bg-white
                  py-2
                  pl-3
                  hover:bg-gray-100
                ">
                <div class="flex gap-2 self-start">
                  <input
                    v-if="item.status !== undefined"
                    :id="item[optionText]"
                    type="checkbox"
                    :checked="item.status"
                    @click="state.select(item)" />

                  <label
                    v-if="titleRedirect === item[optionText]"
                    :for="item[optionText]"
                    class="block truncate font-normal"
                    @click="state.onRedirect(value)">
                    {{ item[optionText] }}
                  </label>

                  <label
                    v-else
                    :for="item[optionText]"
                    class="block truncate font-normal">
                    {{ item[optionText] }}
                  </label>
                </div>
                <div
                  v-if="item.hasEvents"
                  class="mr-3 flex cursor-pointer gap-3">
                  <FontAwesomeIcon
                    icon="times"
                    class="text-gray-400"
                    @click="state.onDelete(item)" />
                  <FontAwesomeIcon
                    class="text-gray-400"
                    icon="edit"
                    @click="state.onEdit(item)" />
                </div>
              </li>
            </ListboxOption>
          </ListboxOptions>
        </transition>
      </div>
    </Listbox>
  </div>

  <div v-if="type === 'light-multiple'" class="w-full">
    <label
      v-if="label"
      class="mb-2 text-left text-base font-bold text-gray-600"
      :class="{ 'text-red-500': error }">
      {{ label }}
    </label>
    <Listbox v-slot="{ open }" v-model="multipleLight">
      <div class="relative mt-2 font-sans font-normal text-gray-800">
        <ListboxButton
          :class="{
            'rounded-bl-none rounded-br-none': open,
            'rounded-full border border-red-500 py-2 px-4': error,
            'border-gray-400': !error
          }"
          class="
            relative
            h-10
            w-full
            cursor-default
            rounded-lg
            border
            bg-white
            py-2
            pl-5
            pr-10
            text-left
          ">
          <span
            class="block truncate"
            :class="[!multipleLight ? ' text-gray-400' : '']">
            {{
              !multipleLight ? 'Seleccionar' : multipleLight[optionText]
            }}</span
          >
          <span
            class="
              pointer-events-none
              absolute
              inset-y-0
              right-0
              flex
              items-center
              pr-4
            ">
            <FontAwesomeIcon
              v-if="open"
              icon="chevron-up"
              class="text-gray-600"
              aria-hidden="true" />

            <FontAwesomeIcon
              v-else
              icon="chevron-down"
              class="text-gray-600"
              aria-hidden="true" />
          </span>
        </ListboxButton>

        <transition
          v-show="open"
          leave-active-class="transition duration-100 ease-in"
          leave-from-class="opacity-100"
          leave-to-class="opacity-0">
          <ListboxOptions
            static
            class="
              absolute
              z-20
              -mt-1
              w-full
              overflow-auto
              rounded-lg rounded-tl-none rounded-tr-none
              border border-t-0 border-gray-400
              bg-white
              py-1
              text-base
              shadow-lg
            ">
            <ListboxOption
              v-for="item in data"
              v-slot="{ active }"
              :key="item[optionText]"
              :value="item"
              @click="onClick(item)"
              @mouseover="handleHover(0)"
              @mouseout="handleOut(0)">
              <li
                class="
                  relative
                  mx-2
                  flex
                  cursor-default
                  select-none
                  justify-between
                  rounded-lg
                  bg-white
                  py-2
                  pl-3
                  hover:bg-gray-100
                "
                :class="[
                  active ? 'mx-2 rounded-md bg-gray-200 pl-2' : 'pl-4',
                  'relative cursor-default select-none py-2'
                ]"
                @click="lightState.select(item)">
                <span v-show="item[optionText] !== titleRedirect">
                  {{ item[optionText] }}
                </span>
                <label
                  v-if="titleRedirect === item[optionText]"
                  :for="item[optionText]"
                  class="block truncate font-normal"
                  @click="lightState.onRedirect(item)">
                  {{ item[optionText] }}
                </label>
                <div
                  v-if="item.hasEvents"
                  v-show="cursorHover"
                  class="mr-3 flex cursor-pointer gap-3">
                  <FontAwesomeIcon
                    icon="times"
                    class="text-gray-400"
                    @click="lightState.onDelete(item)" />
                  <FontAwesomeIcon
                    class="text-gray-400"
                    icon="edit"
                    @click="lightState.onEdit(item)" />
                </div>
              </li>
            </ListboxOption>
          </ListboxOptions>
        </transition>
      </div>
    </Listbox>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, computed, reactive, onMounted, watch } from 'vue'
import {
  Listbox,
  ListboxButton,
  ListboxOptions,
  ListboxOption
} from '@headlessui/vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

import { arrayUnique } from '@/utils'

export default defineComponent({
  components: {
    Listbox,
    ListboxButton,
    ListboxOptions,
    ListboxOption,
    FontAwesomeIcon
  },
  props: {
    type: {
      type: String,
      required: false,
      default: ''
    },
    data: {
      type: Array,
      required: true
    },
    titleRedirect: {
      type: String,
      required: false,
      default: ''
    },
    error: {
      type: String,
      required: false,
      default: ''
    },
    label: {
      type: String,
      required: false,
      default: ''
    },
    optionText: {
      type: String,
      default: 'name',
      required: false
    },
    disabled: {
      type: Boolean,
      default: false,
      required: false
    },
    showIconDisabled: {
      type: Boolean,
      default: false,
      required: false
    },
    placeholder: {
      type: String,
      default: 'Seleccionar',
      required: false
    },
    modelValue: {
      type: [String, Number, Object, Array]
    },
    value: {
      type: [String, Number, Object, Array]
    }
  },
  emits: [
    'update:modelValue',
    'select',
    'click:edit',
    'click:delete',
    'click:redirect',
    'click',
    'onCheck'
  ],
  setup(props, { emit }) {
    const allData = ref<Array<any>>([
      {
        id: '',
        [props.optionText]: 'Seleccionar'
      }
    ])

    const cursorHover = ref(false)

    const optionChecked = ref<any>(allData.value[0])
    const modelLight = ref(allData.value[0])
    const multipleLight = ref()

    const multiple = reactive([])

    const stateLight = reactive({
      handleChange: computed(() => (value: any) => {
        return emit('update:modelValue', value)
      })
    })

    const onClick = (value: any) => {
      optionChecked.value = value
      optionChecked.value.status = true
      emit('click', value)
    }

    const state: any = reactive({
      filterMulti: computed(() => {
        return arrayUnique(multiple, props.optionText).filter((value: any) => {
          return value?.status
        })
      }),
      selected: computed(() => {
        return state.filterMulti
          .flatMap((value: any) => value[props.optionText])
          .join(', ')
      }),
      select: (value: any) => {
        value.status = !value.status
        multiple.push(value)
        emit('select', state.filterMulti)
      },
      onEdit: (value: any) => emit('click:edit', value),
      onDelete: (value: any) => emit('click:delete', value),
      onRedirect: (value: any) => emit('click:redirect', value),
      onCheck: (value: any) => {
        value.state = !value.status
        optionChecked.value.status = !optionChecked.value.status
        emit('onCheck', value)
      }
    })

    const lightState: any = reactive({
      select: (value: any) => {
        value.status = !value.status
        stateLight.handleChange(value)
        emit('onCheck', value.id)
      },
      onEdit: (value: any) => emit('click:edit', value),
      onDelete: (value: any) => emit('click:delete', value),
      onRedirect: (value: any) => emit('click:redirect', value),
      onCheck: (value: any) => {
        value.state = !value.status
        optionChecked.value.status = !optionChecked.value.status
        emit('onCheck', multipleLight)
      }
    })

    const handleHover = () => (cursorHover.value = true)
    const handleOut = () => (cursorHover.value = false)

    const getDefaultValues = () => {
      const hasID = (): boolean => {
        return Object.prototype.hasOwnProperty.call(props.modelValue, 'id')
      }

      const newData = [props.modelValue, ...allData.value] as never[]

      allData.value = arrayUnique(newData, hasID() ? 'id' : props.optionText)

      const [first] = allData.value

      modelLight.value = first
      optionChecked.value = first
    }

    const hasValuesDefault = (): boolean => {
      return (
        typeof props.modelValue === 'object' &&
        Object.values(props.modelValue).every((value) => value)
      )
    }

    watch(
      () => props.data,
      (value) => {
        allData.value = [...allData.value, ...value]
      }
    )

    onMounted(() => {
      if (props.data) {
        allData.value = [...allData.value, ...props.data]
      }

      if (hasValuesDefault()) return getDefaultValues()
    })

    return {
      stateLight,
      modelLight,
      multipleLight,
      lightState,
      state,
      multiple,
      onClick,
      optionChecked,
      cursorHover,
      handleHover,
      handleOut,
      allData
    }
  }
})
</script>
