<template>
  <section class="flex items-center">
    <div class="my-auto">
      <p class="text-right text-base text-gray-600">
        {{ search.init }}-{{ search.end }} de {{ total }}
      </p>
    </div>

    <div class="ml-2 flex h-10 items-center text-base">
      <button
        class="h-[30px] w-[30px] items-center justify-center text-center"
        @click="prevPage">
        <FontAwesomeIcon
          class="my-auto items-center justify-center text-center text-gray-600"
          icon="chevron-left" />
      </button>

      <span class="mx-4 font-bold text-gray-600"
        >{{ searchResumen.pagina }} - {{ searchResumen.pagFinal }}</span
      >

      <button
        class="h-[30px] w-[30px] items-center justify-center text-center"
        @click="nextPage">
        <FontAwesomeIcon
          class="my-auto items-center justify-center text-center text-gray-600"
          icon="chevron-right" />
      </button>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent, ref, watch, watchEffect } from 'vue'

import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

export default defineComponent({
  name: 'AppMinpaginatorAve',
  components: {
    FontAwesomeIcon
  },
  props: {
    total: {
      type: Number,
      default: 0
    }
  },
  emits: ['nextP', 'prevP'],
  setup(props, { emit }) {
    const search = ref<{ init: number; end: number }>({
      init: props.total > 1 ? 1 : props.total,
      end: props.total > 10 ? 10 : props.total
    })

    const pagActual = ref<number>(props.total > 1 ? 1 : 0)

    const searchResumen = ref({
      pagina: pagActual,
      pagFinal:
        props.total % 10 > 0
          ? Math.floor(props.total / 10) + 1
          : props.total / 10
    })

    const prevPage = () => {
      if (search.value.init > 10) {
        if (search.value.end === props.total) {
          const residuo: number = search.value.end % 10
          search.value.end = search.value.end - residuo
          search.value.end += 10
        }
        pagActual.value -= 1
        search.value.init -= 10
        search.value.end -= 10
        emit('prevP')
      }
    }
    const nextPage = () => {
      if (search.value.init + 10 < props.total) {
        search.value.init += 10
        search.value.end += 10
        pagActual.value += 1
        if (search.value.end > props.total) {
          search.value.end = props.total
        }
        emit('nextP')
      }
    }

    watchEffect(() => {
      searchResumen.value.pagFinal =
        props.total % 10 > 0
          ? Math.floor(props.total / 10) + 1
          : props.total / 10
    })

    watch(
      () => props.total,
      (newVal) => {
        search.value.init = newVal > 1 ? 1 : newVal
        search.value.end = newVal > 10 ? 10 : newVal
        if (searchResumen.value.pagina === 0) {
          searchResumen.value.pagina = 1
        }
      }
    )

    return {
      search,
      prevPage,
      nextPage,
      searchResumen
    }
  }
})
</script>
