<template>
  <transition name="fade">
    <section v-if="modelValueInp" :class="classBase">
      <section :class="classBody" :style="cssProps">
        <div class="head mx-auto mt-2 flex w-full">
          <div class="tit mx-auto w-10/12">
            <div v-if="headerIcon" class="icon flex justify-center">
              <svg
                v-if="headerIcon == 'alert'"
                width="63"
                height="62"
                viewBox="0 0 63 62"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M31.5 0C14.375 0 0.5 14 0.5 31C0.5 48.125 14.375 62 31.5 62C48.5 62 62.5 48.125 62.5 31C62.5 14 48.5 0 31.5 0ZM31.5 56C17.625 56 6.5 44.875 6.5 31C6.5 17.25 17.625 6 31.5 6C45.25 6 56.5 17.25 56.5 31C56.5 44.875 45.25 56 31.5 56ZM36.75 43C36.75 40.125 34.375 37.75 31.5 37.75C28.5 37.75 26.25 40.125 26.25 43C26.25 46 28.5 48.25 31.5 48.25C34.375 48.25 36.75 46 36.75 43ZM26.5 16.625L27.375 33.625C27.375 34.375 28.125 35 28.875 35H34C34.75 35 35.5 34.375 35.5 33.625L36.375 16.625C36.375 15.75 35.75 15 34.875 15H28C27.125 15 26.5 15.75 26.5 16.625Z"
                  fill="#C2C2C2" />
              </svg>

              <svg
                v-if="headerIcon == 'ok'"
                width="62"
                height="62"
                viewBox="0 0 62 62"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M31 0C13.875 0 0 14 0 31C0 48.125 13.875 62 31 62C48 62 62 48.125 62 31C62 14 48 0 31 0ZM31 6C44.75 6 56 17.25 56 31C56 44.875 44.75 56 31 56C17.125 56 6 44.875 6 31C6 17.25 17.125 6 31 6ZM48.5 22.375L45.625 19.5C45.125 18.875 44.125 18.875 43.5 19.5L25.875 37L18.375 29.5C17.75 28.875 16.875 28.875 16.25 29.5L13.375 32.25C12.875 32.875 12.875 33.875 13.375 34.375L24.75 45.875C25.375 46.5 26.25 46.5 26.875 45.875L48.5 24.5C49 23.875 49 22.875 48.5 22.375Z"
                  fill="#1BC755" />
              </svg>

              <svg
                v-if="headerIcon == 'error'"
                width="63"
                height="62"
                viewBox="0 0 63 62"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M31.5 0C14.375 0 0.5 13.875 0.5 31C0.5 48.125 14.375 62 31.5 62C48.625 62 62.5 48.125 62.5 31C62.5 13.875 48.625 0 31.5 0ZM31.5 56C17.625 56 6.5 44.875 6.5 31C6.5 17.25 17.625 6 31.5 6C45.25 6 56.5 17.25 56.5 31C56.5 44.875 45.25 56 31.5 56ZM44.125 23.25C44.75 22.75 44.75 21.75 44.125 21.125L41.375 18.375C40.75 17.75 39.75 17.75 39.25 18.375L31.5 26.125L23.625 18.375C23.125 17.75 22.125 17.75 21.5 18.375L18.75 21.125C18.125 21.75 18.125 22.75 18.75 23.25L26.5 31L18.75 38.875C18.125 39.375 18.125 40.375 18.75 41L21.5 43.75C22.125 44.375 23.125 44.375 23.625 43.75L31.5 36L39.25 43.75C39.75 44.375 40.75 44.375 41.375 43.75L44.125 41C44.75 40.375 44.75 39.375 44.125 38.875L36.375 31L44.125 23.25Z"
                  fill="#D81023" />
              </svg>
            </div>

            <AppTitleOneVue add-class="mt-4 font-serifBold">{{
              title
            }}</AppTitleOneVue>
            <AppTitleOneVue
              v-if="title2 != ''"
              add-class="mt-2 font-serifBold"
              >{{ title2 }}</AppTitleOneVue
            >

            <hr class="m-auto mt-2 h-[6px] w-[30%] rounded-md bg-red-600" />
          </div>

          <div class="absolute right-4 top-4 cursor-pointer" @click="close">
            <svg
              width="13"
              height="12"
              viewBox="0 0 13 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M8.5625 6L11.6875 2.875C12.0937 2.5 12.0937 1.875 11.6875 1.5L11 0.8125C10.625 0.40625 10 0.40625 9.625 0.8125L6.5 3.9375L3.34375 0.8125C2.96875 0.40625 2.34375 0.40625 1.96875 0.8125L1.28125 1.5C0.875 1.875 0.875 2.5 1.28125 2.875L4.40625 6L1.28125 9.15625C0.875 9.53125 0.875 10.1562 1.28125 10.5312L1.96875 11.2188C2.34375 11.625 2.96875 11.625 3.34375 11.2188L6.5 8.09375L9.625 11.2188C10 11.625 10.625 11.625 11 11.2188L11.6875 10.5312C12.0937 10.1562 12.0937 9.53125 11.6875 9.15625L8.5625 6Z"
                fill="#C2C2C2" />
            </svg>
          </div>
        </div>

        <section>
          <slot></slot>
        </section>
      </section>
    </section>
  </transition>
</template>

<script lang="ts">
import { defineComponent, computed, PropType } from 'vue'
import AppTitleOneVue from './AppTitleOneAve.vue'
import { TypeIcon } from '@/constants'

export default defineComponent({
  name: 'AppModalAveVue',
  components: {
    AppTitleOneVue
  },
  props: {
    title: {
      type: String,
      default: 'Titulo modal'
    },
    title2: {
      type: String,
      default: ''
    },
    headerIcon: {
      type: String as PropType<TypeIcon>,
      default: ''
    },
    classNameTitle: {
      type: String,
      default: 'm-2 font-bold text-[22px]'
    },
    modelValue: Boolean,
    width: {
      type: String,
      default: '50%',
      required: false
    }
  },
  setup(props, { emit }) {
    const modelValueInp = computed(() => props.modelValue)
    const cssProps = computed(() => ({ width: props.width }))
    const titleInp = computed(() => props.title)
    const close = () => emit('update:modelValue', false)
    const classBase =
      'w-full h-full overflow-auto z-10 fixed top-0	left-0 flex	justify-center items-center	bg-black/25	opacity-3'
    const classBody =
      'overflow-x-hidden relative	rounded-[5px] bg-white p-4 min-h-6'
    return {
      modelValueInp,
      close,
      cssProps,
      classBase,
      classBody,
      titleInp
    }
  }
})
</script>

<style scoped>
.icon {
  cursor: pointer;
}
</style>
