<template>
  <Modal
    v-model="isActiveModal"
    title="Importante"
    icon="exclamation-triangle"
    icon-color="text-gray-400"
    width="400px">
    <h3 class="text-center font-sans text-xl font-normal text-gray-600">
      {{ msgTitle }} {{ msgDescription }}
    </h3>

    <div class="mt-5 flex w-full justify-center gap-4">
      <button class="btn btn-primary w-[88px]" @click="close">No</button>
      <button class="btn btn-primary w-[88px]" @click.stop="select">Si</button>
    </div>
  </Modal>
</template>

<script lang="ts">
import { defineComponent, toRef } from 'vue'
import Modal from '@/components/TheModal.vue'

export default defineComponent({
  components: {
    Modal
  },
  props: {
    msgTitle: {
      type: String,
      description: '¿Estás seguro de que quieres continuar?,'
    },
    msgDescription: {
      type: String,
      required: true
    },
    isActive: {
      type: Boolean,
      required: true
    }
  },
  emits: ['click:close', 'click:stop'],
  setup(props, { emit }) {
    const isActiveModal = toRef(props, 'isActive')

    const select = () => {
      emit('click:stop')
    }

    const close = () => {
      emit('click:close')
    }

    return {
      isActiveModal,
      select,
      close
    }
  }
})
</script>
