<template>
  <TheModal
    v-if="isActive"
    v-model="modal.status"
    title="¡Bienvenido!"
    width="582px">
    <h2 class="font-sans text-xl font-bold text-gray-800">{{ title }}</h2>

    <p class="mt-2 font-sans text-lg font-normal text-gray-800">
      {{ description }}
    </p>

    <iframe
      class="my-4 h-[315px] w-full rounded-md"
      :src="video"
      title="Bienvenidos"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>

    <footer>
      <p class="font-sans text-lg font-normal text-gray-800">
        {{ footer }}
      </p>
    </footer>
  </TheModal>
</template>

<script lang="ts">
import { defineComponent, onMounted, reactive } from 'vue'
import { useRoute } from 'vue-router'

import TheModal from '@/components/TheModal.vue'

import { ONBOARDING, ONBOARDING_INVITATION } from '@/store'

export default defineComponent({
  components: {
    TheModal
  },
  props: {
    isActive: {
      type: Boolean,
      default: false,
      required: true
    },
    title: {
      type: String,
      default: 'Tenemos un mensaje de bienvenida para ti',
      required: false
    },
    description: {
      type: String,
      default: 'Conoce como usar nuestra plataforma',
      required: false
    },
    footer: {
      type: String,
      default:
        'Para comenzar debes agregar tus productos propios e inventario o mercar productos de nuestro marketplace de dropshipping',
      required: false
    },
    video: {
      type: String,
      default: 'https://www.youtube.com/embed/9WzDIJ4_jew',
      required: false
    }
  },
  setup() {
    const route = useRoute()
    const modal = reactive({
      status: false,
      open: () => (modal.status = true),
      close: () => (modal.status = false)
    })

    onMounted(() => {
      if (
        route.query.entry === ONBOARDING_INVITATION ||
        route.query.entry === ONBOARDING
      ) {
        modal.open()
      }
    })

    return { modal }
  }
})
</script>
