<template>
  <section :class="[!notification.isRead ? '' : 'read']">
    <div :class="notification.type === 'general' ? 'general' : 'list'">
      <main
        :class="[
          notification.state === 'validate' ? 'validate' : 'normal',
          notification.state === 'alert' ? 'alert' : 'normal'
        ]">
        <article>
          <div class="title">
            <span class="icon">
              <FontAwesomeIcon :icon="notification.icon" size="0.75rem" />
            </span>
            <p id="Letter">{{ notification.title }}</p>
          </div>
          <div class="time">
            <p>{{ notification.time }}</p>
          </div>
        </article>
        <div>
          <p class="bodyContent">
            {{ notification.description }}
          </p>
        </div>
      </main>
    </div>
  </section>
</template>

<script lang="ts">
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

import { defineComponent } from 'vue'

export default defineComponent({
  components: {
    FontAwesomeIcon
  },
  props: {
    notification: {
      type: Object,
      required: true
    }
  }
})
</script>

<style lang="scss" scoped>
.general {
  > main {
    > article {
      @apply flex w-full justify-between;

      > .time {
        @apply flex w-16 items-center;
      }
    }
  }
  > div {
    > .bodyContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 4px;
      @apply text-gray-600;
    }
  }
}

.normal {
  @apply w-full  cursor-pointer p-2 hover:bg-gray-50;
  > article {
    > .title {
      @apply flex w-full items-center font-extrabold text-gray-800;

      > p {
        @apply ml-2 w-full py-2 font-bold;
      }
      > .icon {
        color: #42484e;
      }
    }
  }
}
.validate {
  @apply w-full  cursor-pointer p-2 hover:bg-gray-50;

  > article {
    > .title {
      @apply flex w-full items-center font-extrabold text-gray-800;

      > p {
        @apply ml-2 w-full py-2 font-bold;
      }
      > .icon {
        color: #1ddd5e;
      }
    }
  }
}
.alert {
  @apply cursor-pointer bg-red-150 p-2 hover:bg-red-50;

  > article {
    > .title {
      > p {
        @apply ml-2 w-full  font-bold text-red-400;
      }

      > .icon {
        color: #df1125;
      }
    }
  }
}

.read {
  > div {
    > main {
      @apply w-full  bg-white p-2  hover:bg-transparent;

      > article {
        > .title {
          @apply flex w-auto items-center;
          > p {
            @apply ml-2 w-full py-2  text-gray-600;
          }
          > .icon {
            color: #8a8a8a;
          }
        }
        > .time {
          @apply flex w-16 items-center;
        }
      }
    }
  }
}
.list {
  > main {
    @apply bg-transparent hover:bg-transparent;
    > article {
      @apply flex justify-start gap-2;
      > .title {
        @apply flex w-auto  gap-2 text-xl font-bold;
      }
      > .time {
        @apply flex w-16 items-center;
      }
    }
  }
}
</style>
