<template>
  <select>
    <Modal v-model="modal" width="1150px">
      <div class="flex">
        <div class="mx-2 mt-4 w-1/2">
          <Carrousel :imgs="images" width-img-default="w-11/12" />
          <div class="my-2 text-center text-gray-600">
            Envíar Información del producto
            <FontAwesomeIcon icon="ticket-name" />
          </div>
        </div>
        <div class="flex w-1/2 flex-col">
          <div class="my-1 flex gap-3">
            <span class="font-serif text-3xl font-bold">{{
              details.title
            }}</span>
            <span class="font-serif text-3xl text-gray-600"
              >${{ details.price }}</span
            >
          </div>
          <div class="my-1">
            {{ details.type }} -
            <span class="font-bold">Categoría {{ details.category }}</span>
          </div>
          <div class="flex flex-col">
            <div class="flex gap-3">
              <div class="my-1">
                <span class="font-bold">REF </span>{{ details.ref }}
              </div>
              <div class="my-1">
                <span class="font-bold">Vídeo </span
                ><u>{{ details.url_video }}</u>
              </div>
            </div>
            <div class="my-1 flex gap-2">
              <span class="font-bold">Talla</span>
              <span>{{ details.size }}</span>
              <span class="font-bold">Color</span>
              <span>{{ details.color }}</span>
              <span class="font-bold">Candidad</span>
              <span>{{ details.quantity }}</span>
              <span class="font-bold">Unidad Dsescuento</span>
              <span>{{ details.discount }}%</span>
            </div>
          </div>
          <div class="my-1 flex flex-col">
            <div class="text-lg font-bold">Características</div>
            <div class="my-1 flex gap-3">
              <span>Ancho: {{ details.width }} cm</span>
              <span>Profundidad: {{ details.depth }} cm</span>
            </div>
            <div class="my-1 flex gap-7">
              <span>Alto: {{ details.height }} cm</span>
              <span>Peso: {{ details.weight }} Kg</span>
            </div>
          </div>
          <hr class="mt-[-0.3em] mb-[0.7em]" />
          <div class="my-1 flex flex-col">
            <div class="mb-2 text-xl font-bold">Descripción</div>
            <div>
              {{ details.description }}
            </div>
            <div class="my-2 flex gap-2">
              <div class="text-xl font-bold">Tiempo de Entrega</div>
              <div class="w-[1px] bg-gray-200"></div>
              <div class="mt-1 text-gray-400">
                Este producto te llegara a Medellín en
              </div>
              <div class="mt-1 text-lg font-bold text-gray-600">4 días</div>
            </div>
            <hr class="mt-[2px] mb-[0.7em]" />
            <div class="my-2 flex flex-col">
              <div class="text-xl font-bold">Metodos de pago</div>
              <div class="my-2">
                Puedes escoger entre estos tres medios de pago
              </div>
              <div class="flex gap-2">
                <button
                  class="
                    rounded-md
                    border-solid border-gray-200
                    bg-gray-100
                    px-3
                    py-3
                    text-gray-600
                  ">
                  Pago contraentrega
                </button>
                <button
                  class="
                    rounded-md
                    border-solid border-gray-200
                    px-3
                    py-3
                    text-gray-600
                  ">
                  Pago electrónico
                </button>
                <button
                  class="
                    rounded-md
                    border-solid border-gray-200
                    px-3
                    py-3
                    text-gray-600
                  ">
                  Otro medio
                </button>
              </div>
            </div>
            <hr class="mt-[2px] mb-[0.7em]" />
            <div>
              <div class="text-sm font-bold text-gray-400">
                Políticas de devolución
              </div>
              <div class="text-sm text-gray-400">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </div>
            </div>
          </div>
        </div>
      </div>
    </Modal>
  </select>
</template>

<script lang="ts">
import { computed, defineComponent } from 'vue'
import Modal from '@/components/TheModal.vue'
import Carrousel from '@/components/AppCarrouselBase.vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

export default defineComponent({
  components: { Modal, Carrousel, FontAwesomeIcon },
  props: {
    modelValue: Boolean,
    details: {
      type: Object,
      required: true
    },
    images: {
      type: Array,
      required: true
    }
  },
  emits: ['update:modelValue'],
  setup(props, { emit }) {
    const modal = computed({
      set: () => {
        emit('update:modelValue', false)
      },
      get: () => {
        return props.modelValue
      }
    })
    return { modal }
  }
})
</script>

<style lang="scss"></style>
