<template>
  <div class="flex select-none items-center justify-center">
    <Button
      side-icon="left"
      :disabled="[0, 1].includes(modelValue)"
      @click="onPrevPage" />

    <span
      :class="[
        modelValue === total && [0, 1].includes(modelValue)
          ? 'text-gray-400'
          : 'text-gray-600',
        'mx-4 text-xl font-bold'
      ]">
      {{ modelValue }} - {{ total }}
    </span>

    <Button
      side-icon="right"
      :disabled="modelValue === total"
      @click="onNextPage" />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import Button from '@/components/AppButtonPagination.vue'

export default defineComponent({
  components: { Button },
  props: {
    modelValue: { type: Number, required: true },
    total: { type: Number, required: true }
  },
  emits: ['change', 'update:modelValue'],
  setup(props, { emit }) {
    const onNextPage = () => {
      if (props.modelValue < props.total) {
        emit('update:modelValue', props.modelValue + 1)
        emit('change')
      }
    }
    const onPrevPage = () => {
      if (props.modelValue > 1) {
        emit('update:modelValue', props.modelValue - 1)
        emit('change')
      }
    }

    return { onNextPage, onPrevPage }
  }
})
</script>
