<template>
  <Modal v-model="modal" title="Imprimir" width="280px">
    <div class="flex flex-col items-center">
      <div class="flex w-full flex-col items-center justify-center">
        <p class="font-bold text-gray-450">Que quieres imprimir</p>
        <div class="w-[170px]">
          <ListBox
            type="selectable"
            :data="listData"
            @click="onClick"
            @on-check="onCheck" />
        </div>
        <div
          v-for="option in optionsData"
          :key="option.id"
          class="flex w-32 items-center gap-2 py-2">
          <input
            type="checkbox"
            :name="option.id"
            :checked="option.status"
            class="text-gray-300"
            @click="selectOption(option)" />
          <p>{{ option.name }}</p>
        </div>
      </div>
      <div class="mb-4 space-x-3 pt-10">
        <button
          class="btn btn-primary items-center rounded-full px-8"
          @click="onConfirm">
          Imprimir
        </button>
      </div>
    </div>
  </Modal>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, ref } from 'vue'
import Modal from '@/components/TheModal.vue'
import ListBox from '@/components/AppListBox.vue'
export default defineComponent({
  components: { Modal, ListBox },
  props: {
    modelValue: Boolean,
    options: {
      type: Array,
      required: true
    },
    listData: {
      type: Array,
      required: true
    }
  },
  emits: ['print', 'update:modelValue'],
  setup(props, { emit }) {
    const optionsData = ref<any>([])
    const optionListBox = ref<any>(props.listData[0])
    const isAllMarked = ref(false)

    onMounted(() => {
      optionsData.value = props.options
    })
    const selectOption = (item: object) => {
      if (item.id === 'isAll') {
        toggleAll()
        return
      }
      for (let i = 0; i < optionsData.value.length; i++) {
        if (optionsData.value[i].id === item.id) {
          optionsData.value[i].status = !optionsData.value[i].status
        }
      }
    }

    const onClose = () => {
      emit('update:modelValue', false)
    }
    const toggleAll = () => {
      if (!isAllMarked.value) {
        optionListBox.value.status = true
        optionsData.value = optionsData.value.map((obj) => {
          return { ...obj, status: true }
        })
        isAllMarked.value = true
        return
      }
      optionListBox.value.status = false
      optionsData.value = optionsData.value.map((obj) => {
        return { ...obj, status: false }
      })
      isAllMarked.value = false
    }
    const reset = () => {
      if (optionListBox.value.status === true) {
        optionListBox.value.status = false
        optionsData.value.pop()
      }
      optionsData.value = optionsData.value.map((obj) => {
        return { ...obj, status: false }
      })
    }
    const onConfirm = () => {
      if (optionListBox.value.status === true) {
        optionsData.value.push(optionListBox.value)
      }
      const obj = optionsData.value.reduce(
        (o, key) => ({ ...o, [key.id]: key.status }),
        {}
      )
      emit('print', obj)
      reset()
    }

    const modal = computed({
      set: () => {
        emit('update:modelValue', false)
      },
      get: () => {
        return props.modelValue
      }
    })

    // ListBox Events
    const onClick = (value: any) => {
      optionListBox.value = value
    }
    const onCheck = (value: any) => {
      optionListBox.value = value
    }
    return {
      onClick,
      modal,
      onClose,
      onConfirm,
      selectOption,
      optionsData,
      onCheck
    }
  }
})
</script>
