<template>
  <footer
    class="
      flex
      items-center
      justify-center
      px-3
      font-sans
      text-lg
      font-normal
      text-gray-600
    ">
    <select
      class="m-0 h-10 w-[221px] py-0 hover:bg-gray-50 active:bg-gray-200"
      @change="onChangePerPage">
      <option v-for="value in rows" :key="value" :value="value">
        Mostrar {{ value }} resultados
      </option>
    </select>
  </footer>
</template>

<script lang="ts">
import { HTMLElementEvent } from '@/types'
import { defineComponent, PropType } from 'vue'
export default defineComponent({
  props: {
    modelValue: {
      type: Number,
      required: true
    },
    rows: {
      type: Array as PropType<number[]>,
      required: true
    }
  },
  emits: ['change', 'update:modelValue'],
  setup(_, { emit }) {
    const onChangePerPage = (evt: Event) => {
      emit(
        'update:modelValue',
        +(evt as HTMLElementEvent<HTMLInputElement>).target.value
      )
      emit('change')
    }

    return {
      onChangePerPage
    }
  }
})
</script>
