<template>
  <div v-if="type === 'select'" class="flex justify-center gap-4">
    <section
      v-for="plan in state.plans"
      :key="plan.id"
      class="
        my-4
        h-auto
        cursor-pointer
        overflow-hidden
        rounded-md
        border border-gray-200
        pb-4
      "
      :class="[
        plan.status || plan.defaultPlanSelectedRef
          ? 'shadow-[0px_8px_17px_0px_#CBCBCB]'
          : ''
      ]"
      @click="selectPlan(plan.id)">
      <div
        :class="[
          'flex h-[37px] w-[337px] flex-col items-center',
          plan.status || plan.defaultPlanSelectedRef
            ? 'bg-[#FB9B26]'
            : 'bg-gray-200'
        ]">
        <div
          v-if="plan.defaultPlanSelected"
          class="mt-2 text-xl font-bold text-white">
          Plan actual
        </div>

        <div v-if="plan.status" class="mt-2 text-xl font-bold text-white">
          Plan seleccionado
        </div>
      </div>

      <div class="my-4 flex flex-col items-center">
        <p class="text-xl font-bold text-gray-800">
          {{ plan.pricing.plan }}
        </p>
        <p class="text-5xl font-bold text-gray-600">
          {{ plan.pricing.price }}
        </p>
        <p class="text-xl font-bold text-gray-600">
          {{ plan.pricing.time }}
        </p>
        <div class="my-2 h-[1px] w-[90%] bg-gray-200"></div>
      </div>

      <div v-for="feature in plan.features" :key="feature.id" class="mx-4 flex">
        <div class="mx-2 mt-2">
          <FontAwesomeIcon
            :icon="feature.icon"
            :class="[
              'text-lg',
              feature.icon === 'check' ? 'text-green-500' : 'text-red-500'
            ]" />
        </div>
        <div class="my-2">
          <p class="font-bold text-gray-800">{{ feature.title }}</p>
          <p class="w- text-sm text-gray-800">
            {{ feature.description }}
          </p>
        </div>
      </div>

      <div
        v-if="plan?.paymentFrequency && !stateAttributePricing.isFree(plan.id)"
        class="flex flex-col items-center">
        <p class="my-2 font-bold text-gray-800">Frecuencia de pago</p>
        <article class="flex cursor-pointer content-between">
          <div
            v-for="payment in plan.paymentFrequency"
            :key="payment.id"
            :class="[
              'mx-2 h-[70px] w-[91px] overflow-hidden rounded-md border',
              payment.borderColor,
              plan.defaultPlanSelected && payment.selected
                ? 'border-green-500'
                : ''
            ]"
            @click.stop="paymentSelected(plan.id, payment.id)">
            <div class="flex flex-col items-center">
              <div class="flex">
                <p class="mx-1 mt-2 font-bold text-gray-800">
                  {{ payment.price }}
                </p>
                <div class="mt-1">
                  <FontAwesomeIcon
                    icon="check-circle"
                    :class="[
                      'text-xs',
                      payment.textColor,
                      plan.defaultPlanSelected && payment.selected
                        ? 'text-green-500'
                        : ''
                    ]" />
                </div>
              </div>
              <p class="m-1 text-xs text-gray-600">{{ payment.price }} mes</p>
              <p class="mt-1 text-sm font-bold text-gray-600">
                {{ payment.time }}
              </p>
            </div>
          </div>
        </article>
      </div>
    </section>
  </div>

  <div v-if="type === 'info'" class="flex w-full gap-7">
    <section
      v-for="(item, index) in state.plans"
      :key="index"
      class="h-[124px] w-[163px]">
      <article class="select-none rounded-b-md bg-white text-center">
        <div
          class="flex h-[30px] items-center justify-center rounded-t-md"
          :class="[item.title.color]">
          <p class="font-sans text-sm font-bold text-white">
            {{ item.title.text }}
          </p>
        </div>

        <div class="rounded-b-md border-x border-b border-gray-200 pt-2 pb-3">
          <p class="text-lg font-bold text-gray-800">
            {{ item.pricing.plan }}
          </p>

          <p class="font-serif text-3xl font-bold text-gray-600">
            {{ item.pricing.price }}
          </p>

          <p class="font-sans text-base font-bold leading-none text-gray-600">
            Por mes
          </p>
        </div>
      </article>
    </section>
  </div>

  <div v-if="type === 'selected'" class="flex w-full gap-7">
    <section v-for="(plan, index) in state.plans" :key="index" class="w-full">
      <article
        :class="[
          plan.defaultPlanSelected ? 'bg-white' : 'rounded-t-md bg-gray-50'
        ]"
        class="h-[181px] min-w-[337px] select-none rounded-b-md text-center">
        <div
          class="flex h-[37px] items-center justify-center rounded-t-md"
          :class="[plan.defaultPlanSelected ? 'bg-[#FB9B26]' : 'bg-gray-200']">
          <p class="font-sans text-xl font-bold text-white">
            {{ plan.defaultPlanSelected ? 'Plan seleccionado' : '' }}
          </p>
        </div>

        <div
          class="
            flex
            h-[144px]
            flex-col
            justify-center
            rounded-b-md
            border-x border-b border-gray-200
            pt-2
            pb-3
          ">
          <p
            class="text-lg font-bold"
            :class="[
              plan.defaultPlanSelected ? 'text-gray-800' : 'text-gray-400'
            ]">
            {{ plan.pricing.plan }}
          </p>

          <p
            class="font-serif text-5xl font-bold"
            :class="[
              plan.defaultPlanSelected ? 'text-gray-600' : 'text-gray-400'
            ]">
            {{ plan.pricing.price }}
          </p>

          <p
            class="font-sans text-base font-bold leading-none"
            :class="[
              plan.defaultPlanSelected ? 'text-gray-600' : 'text-gray-400'
            ]">
            Por mes
          </p>
        </div>
      </article>

      <footer
        v-if="plan.defaultPlanSelected"
        class="mt-5 flex w-full items-center justify-center gap-5">
        <p class="font-sans text-base font-bold text-gray-800">
          Frecuencia de pago
        </p>
        <div
          v-for="frequency in plan.paymentFrequency"
          v-show="frequency.selected"
          :key="frequency?.id"
          class="
            flex
            items-center
            gap-2
            rounded-[8px]
            border border-emerald-700
            p-2
          ">
          <p class="font-sans text-sm font-bold text-gray-600">
            {{ frequency.selected?.time }}
          </p>
          <p class="font-sans text-base font-bold text-gray-800">
            {{ frequency.selected?.price }}
          </p>
        </div>
      </footer>
    </section>
  </div>

  <div v-if="type === 'onboarding'" class="flex justify-center gap-4">
    <section
      v-for="item in state.plans"
      :key="item.id"
      class="
        my-4
        h-[592px]
        cursor-pointer
        overflow-hidden
        rounded-md
        border border-gray-200
      "
      :class="[
        item.status || item.defaultPlanSelectedRef
          ? 'shadow-[0px_8px_17px_0px_#CBCBCB]'
          : ''
      ]"
      @click="selectPlan(item.id)">
      <div
        :class="[
          'flex h-[37px] w-[337px] flex-col items-center',
          item.title.color
        ]">
        <div class="mt-2 text-xl font-bold text-white">
          {{ item.title.text }}
        </div>
      </div>

      <div class="my-4 flex flex-col items-center">
        <p class="text-xl font-bold text-gray-800">
          {{ item.pricing.plan }}
        </p>
        <p class="text-5xl font-bold text-gray-600">
          {{ item.pricing.price }}
        </p>
        <p class="text-xl font-bold text-gray-600">
          {{ item.pricing.time }}
        </p>
        <div class="my-2 h-[1px] w-[90%] bg-gray-200"></div>
      </div>

      <div v-for="feature in item.features" :key="feature.id" class="mx-4 flex">
        <div class="mx-2 mt-2">
          <FontAwesomeIcon
            :icon="feature.icon"
            :class="[
              'text-lg',
              feature.icon === 'check' ? 'text-green-500' : 'text-red-500'
            ]" />
        </div>
        <div class="my-2">
          <p class="font-bold text-gray-800">{{ feature.title }}</p>
          <p class="w- text-sm text-gray-800">
            {{ feature.description }}
          </p>
        </div>
      </div>

      <div
        v-if="item?.paymentFrequency && !stateAttributePricing.isFree(item.id)"
        class="flex flex-col items-center">
        <p class="my-2 font-bold text-gray-800">Frecuencia de pago</p>
        <article class="flex cursor-pointer content-between">
          <div
            v-for="card in item.paymentFrequency"
            :key="card.id"
            :class="[
              'mx-2 h-[70px] w-[91px] overflow-hidden rounded-md border',
              card.borderColor
            ]"
            @click="paymentSelected(item.id, card.id)">
            <div class="flex flex-col items-center">
              <div class="flex">
                <p class="mx-1 mt-2 font-bold text-gray-800">
                  {{ card.price }}
                </p>
                <div class="mt-1">
                  <FontAwesomeIcon
                    icon="check-circle"
                    :class="['text-xs', card.textColor]" />
                </div>
              </div>
              <p class="m-1 text-xs text-gray-600">{{ card.price }} mes</p>
              <p class="mt-1 text-sm font-bold text-gray-600">
                {{ card.time }}
              </p>
            </div>
          </div>
        </article>
      </div>

      <div
        class="flex justify-center"
        :class="[
          !stateAttributePricing.isFree(item.id) ? 'mt-4' : 'mt-[7.4rem]'
        ]">
        <button type="button" class="btn btn-primary" @click="updatePlan">
          Comenzar
        </button>
      </div>
    </section>
  </div>

  <TheSpinner :is-active="state.isLoading" />
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  onMounted,
  reactive,
  toRefs,
  computed
} from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

import { getPricingService } from '@/services'
import { PricingPropList } from '@/types'
import { formatCurrency } from '@/utils'

import TheSpinner from '@/components/TheSpinner.vue'

export default defineComponent({
  components: { FontAwesomeIcon, TheSpinner },
  props: {
    modelValue: {
      type: Object,
      required: false
    },
    type: {
      type: String,
      default: 'select',
      required: false,
      validator: (value: string) => {
        return ['select', 'info', 'selected', 'onboarding'].includes(value)
      }
    },
    /**
     * 1 - Basic
     * 4 - Free
     * 5 - Premium
     */
    selectedPlan: {
      type: Number,
      required: false,
      default: 0,
      validator: (value: number) => [4, 1, 5, 0].includes(value)
    },
    /**
     * 1 - Monthly
     * 2 - Biannual
     * 3 - Yearly
     */
    selectedFrequency: {
      type: Number,
      required: false,
      default: 0,
      validator: (value: number) => [1, 2, 3, 0].includes(value)
    }
  },
  emits: ['update:modelValue', 'click'],
  setup(props, { emit }) {
    const stateAttributePricing = reactive({
      getTitle: (id: number): string | undefined => {
        if (id === 4) return 'Gratuito'
        if (id === 1) return 'Básico'
        if (id === 5) return 'Premium'
      },
      getPosition: (id: number): number | undefined => {
        if (id === 4) return 1
        if (id === 1) return 2
        if (id === 5) return 3
      },
      isFree: computed(() => (id: number): boolean => {
        return id === 4
      })
    })

    const state: any = ref({
      isLoading: false,
      planId: 0,
      paymentFrequencyId: 0,
      plans: []
    })

    const emitSelected = (plan: { planID: number; frequencyID: number }) => {
      emit('update:modelValue', plan)
      emit('click', plan)
    }

    const stateAction = reactive({
      selectPlan: (id: number) => {
        state.value.plans = state.value.plans.map((item: any) => {
          item.defaultPlanSelectedRef = false
          if (item.id === id) {
            state.value.planId = id

            if (id === 0) {
              state.value.paymentFrequencyId = 0
            }

            const planFree = 4

            if (props.type === 'select') {
              if (state.value.planId === planFree) {
                emitSelected({
                  planID: state.value.planId,
                  frequencyID: 1
                })
              } else {
                emitSelected({
                  planID: state.value.planId,
                  frequencyID: 0
                })
              }
            }

            return { ...item, status: true }
          }

          return { ...item, status: false }
        })
      },
      paymentSelected: (parentId: any, cardId: any) => {
        state.value.plans
          .find((item: any) => item.id === parentId)
          ?.paymentFrequency?.map((item: any) => {
            if (item.id === cardId) {
              item.borderColor = 'border-green-500'
              item.textColor = 'text-green-500'
            } else {
              item.borderColor = 'border-gray-200'
              item.textColor = 'text-gray-200'
            }

            return item
          })

        state.value.plans
          .filter((item: any) => {
            return item.id !== parentId && item?.paymentFrequency !== undefined
          })
          .map((plan: any) => {
            plan?.paymentFrequency?.map((payment: any) => {
              payment.borderColor = 'border-gray-200'
              payment.textColor = 'text-gray-200'
              return payment
            })
            return plan
          })

        state.value.planId = parentId
        state.value.paymentFrequencyId = cardId

        if (props.type === 'select') {
          emitSelected({
            planID: state.value.planId,
            frequencyID: state.value.paymentFrequencyId
          })
        }
      },
      updatePlan: () => {
        const planFree = 4
        if (state.value.planId === planFree) {
          state.value.paymentFrequencyId = 1
        }

        emitSelected({
          planID: state.value.planId,
          frequencyID: state.value.paymentFrequencyId
        })
      }
    })

    const stateInfoPlans = reactive({
      getFree: () => ({
        features: [
          {
            icon: 'check',
            title: 'Envíos nacionales',
            description: 'Flexibilidad en precio, tiempo y mayor cobertura.'
          },
          {
            icon: 'check',
            title: 'Envíos nacionales',
            description: 'Flexibilidad en precio, tiempo y mayor cobertura.'
          },
          {
            icon: 'check',
            title: 'Envíos nacionales',
            description: 'Flexibilidad en precio, tiempo y mayor cobertura.'
          },
          {
            icon: 'check',
            title: 'Envíos nacionales',
            description: 'Flexibilidad en precio, tiempo y mayor cobertura.'
          },
          {
            icon: 'times',
            title: 'Envíos nacionales',
            description: 'Flexibilidad en precio, tiempo y mayor cobertura.'
          }
        ]
      }),
      getBasic: () => ({
        features: [
          {
            icon: 'check',
            title: 'Envíos nacionales',
            description: 'Flexibilidad en precio, tiempo y mayor cobertura.'
          },
          {
            icon: 'check',
            title: 'Envíos nacionales',
            description: 'Flexibilidad en precio, tiempo y mayor cobertura.'
          },
          {
            icon: 'check',
            title: 'Envíos nacionales',
            description: 'Flexibilidad en precio, tiempo y mayor cobertura.'
          },
          {
            icon: 'check',
            title: 'Envíos nacionales',
            description: 'Flexibilidad en precio, tiempo y mayor cobertura.'
          },
          {
            icon: 'times',
            title: 'Envíos nacionales',
            description: 'Flexibilidad en precio, tiempo y mayor cobertura.'
          }
        ]
      }),
      getPremium: () => ({
        features: [
          {
            icon: 'check',
            title: 'Envíos nacionales',
            description: 'Flexibilidad en precio, tiempo y mayor cobertura.'
          },
          {
            icon: 'check',
            title: 'Envíos nacionales',
            description: 'Flexibilidad en precio, tiempo y mayor cobertura.'
          },
          {
            icon: 'check',
            title: 'Envíos nacionales',
            description: 'Flexibilidad en precio, tiempo y mayor cobertura.'
          },
          {
            icon: 'check',
            title: 'Envíos nacionales',
            description: 'Flexibilidad en precio, tiempo y mayor cobertura.'
          },
          {
            icon: 'times',
            title: 'Envíos nacionales',
            description: 'Flexibilidad en precio, tiempo y mayor cobertura.'
          }
        ]
      })
    })

    const getFeatures: any = {
      4: stateInfoPlans.getFree(),
      1: stateInfoPlans.getBasic(),
      5: stateInfoPlans.getPremium()
    }

    const getAllPricing = async () => {
      try {
        state.value.isLoading = true

        const { data } = await getPricingService()

        if (data.status === 'ok') {
          const summaryCurrent = data.data
            .map((pricing: PricingPropList) => {
              const features = getFeatures[pricing.id]
              const valueMonth = pricing.frecuencia.find((month) => {
                const monthly = 1
                return month.id === monthly
              })

              const info = {
                id: pricing.id,
                status: false,
                title: {
                  color: stateAttributePricing.isFree(pricing.id)
                    ? 'bg-gray-200'
                    : 'bg-[#FB9B26]',
                  text: stateAttributePricing.isFree(pricing.id)
                    ? ''
                    : 'Primer mes gratis'
                },
                pricing: {
                  plan: stateAttributePricing.getTitle(pricing.id),
                  price: stateAttributePricing.isFree(pricing.id)
                    ? formatCurrency({ number: 0 })
                    : formatCurrency({ number: +valueMonth?.valor }),
                  time: 'Por mes'
                },
                position: stateAttributePricing.getPosition(pricing.id),
                defaultPlanSelectedRef: ref(props?.selectedPlan === pricing.id),
                defaultPlanSelected: computed(() => {
                  return props?.selectedPlan === pricing.id
                })
              }

              const listFrequency = pricing.frecuencia.map((frequency) => {
                return {
                  ...frequency,
                  time: frequency.nombre,
                  price: formatCurrency({ number: +frequency.valor }),
                  borderColor: 'border-gray-200',
                  textColor: 'text-gray-200',
                  selectedRef: ref(props.selectedFrequency === frequency.id),
                  selected: computed(() => {
                    const fields = {
                      time: frequency.nombre,
                      price: formatCurrency({ number: +frequency.valor })
                    }

                    return props.selectedFrequency === frequency.id
                      ? fields
                      : null
                  })
                }
              })

              return {
                ...info,
                ...features,
                paymentFrequency: listFrequency
              }
            })
            .sort((a: any, b: any) => a.position - b.position)

          state.value.plans = summaryCurrent
        }
      } finally {
        state.value.isLoading = false
      }
    }

    onMounted(async () => await getAllPricing())

    return {
      ...toRefs(stateAction),
      state,
      stateAttributePricing
    }
  }
})
</script>
