<template>
  <div class="flex h-2 w-2/3 overflow-hidden rounded-lg bg-gray-100">
    <div
      :style="`width: ${percentaje}%`"
      class="m-0 flex rounded-lg border-2 p-0 text-gray-100"
      :class="[searchClass]"></div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent } from 'vue'
export default defineComponent({
  props: {
    percentaje: {
      type: Number,
      default: 0,
      required: true
    },
    isDisabled: {
      type: Boolean,
      default: false,
      required: false
    }
  },
  setup(props) {
    const range = [
      {
        min: 0,
        max: 5,
        style: 'border-red-900 bg-red-900'
      },
      {
        min: 6,
        max: 10,
        style: 'border-red-700 bg-red-700'
      },
      {
        min: 11,
        max: 15,
        style: 'border-red-300 bg-red-300'
      },
      {
        min: 16,
        max: 20,
        style: 'border-amber-100 bg-amber-100'
      },
      {
        min: 21,
        max: 25,
        style: 'border-amber-900 bg-amber-900'
      },
      {
        min: 26,
        max: 30,
        style: 'border-amber-700 bg-amber-700'
      },
      {
        min: 31,
        max: 35,
        style: 'border-amber-500 bg-amber-500'
      },
      {
        min: 36,
        max: 40,
        style: 'border-amber-600 bg-amber-600'
      },
      {
        min: 41,
        max: 45,
        style: 'border-amber-400 bg-amber-400'
      },
      {
        min: 46,
        max: 50,
        style: 'border-amber-200 bg-amber-200'
      },
      {
        min: 51,
        max: 55,
        style: 'border-amber-300 bg-amber-300'
      },
      {
        min: 56,
        max: 60,
        style: 'border-emerald-1000 bg-emerald-1000'
      },
      {
        min: 61,
        max: 65,
        style: 'border-emerald-200 bg-emerald-200'
      },
      {
        min: 66,
        max: 70,
        style: 'border-emerald-500 bg-emerald-500'
      },
      {
        min: 71,
        max: 75,
        style: 'border-emerald-700 bg-emerald-700'
      },
      {
        min: 76,
        max: 80,
        style: 'border-emerald-900 bg-emerald-900'
      },
      {
        min: 81,
        max: 85,
        style: 'border-emerald-800 bg-emerald-800'
      },
      {
        min: 86,
        max: 90,
        style: 'border-emerald-600 bg-emerald-600'
      },
      {
        min: 91,
        max: 95,
        style: 'border-emerald-400 bg-emerald-400'
      },
      {
        min: 96,
        max: 100,
        style: 'border-emerald-300 bg-emerald-300'
      }
    ]

    const searchClass = computed(() => {
      if (props.isDisabled) return 'text-gray-400'

      return range.find((item) => {
        return item.min <= props.percentaje && props.percentaje <= item.max
      })?.style
    })

    return {
      searchClass
    }
  }
})
</script>
