<template>
  <p :class="`text-center ${searchClass}`">{{ percentaje }}%</p>
</template>

<script lang="ts">
import { computed, defineComponent } from 'vue'
export default defineComponent({
  props: {
    percentaje: {
      type: Number,
      default: 0,
      required: true
    }
  },
  setup(props) {
    const range = [
      {
        min: 0,
        max: 5,
        style: 'text-red-900'
      },
      {
        min: 6,
        max: 10,
        style: 'text-red-700'
      },
      {
        min: 11,
        max: 15,
        style: 'text-red-300'
      },
      {
        min: 16,
        max: 20,
        style: 'text-amber-100'
      },
      {
        min: 21,
        max: 25,
        style: 'text-amber-900'
      },
      {
        min: 26,
        max: 30,
        style: 'text-amber-700'
      },
      {
        min: 31,
        max: 35,
        style: 'text-amber-500'
      },
      {
        min: 36,
        max: 40,
        style: 'text-amber-600'
      },
      {
        min: 41,
        max: 45,
        style: 'text-amber-400'
      },
      {
        min: 46,
        max: 50,
        style: 'text-amber-200'
      },
      {
        min: 51,
        max: 55,
        style: 'text-amber-300'
      },
      {
        min: 56,
        max: 60,
        style: 'text-emerald-1000'
      },
      {
        min: 61,
        max: 65,
        style: 'text-emerald-200'
      },
      {
        min: 66,
        max: 70,
        style: 'text-emerald-500'
      },
      {
        min: 71,
        max: 75,
        style: 'text-emerald-700'
      },
      {
        min: 76,
        max: 80,
        style: 'text-emerald-900'
      },
      {
        min: 81,
        max: 85,
        style: 'text-emerald-800'
      },
      {
        min: 86,
        max: 90,
        style: 'text-emerald-600'
      },
      {
        min: 91,
        max: 95,
        style: 'text-emerald-400'
      },
      {
        min: 96,
        max: 100,
        style: 'text-emerald-300'
      }
    ]

    const searchClass = computed(
      () =>
        range.find(
          (item) => item.min <= props.percentaje && props.percentaje <= item.max
        )?.style
    )

    return {
      searchClass
    }
  }
})
</script>
