<template>
  <article class="flex gap-6 py-4">
    <div class="flex w-10 py-2">
      <div class="relative">
        <div class="numeration" :class="getClass?.classNumber">
          <span class="w-full text-center font-bold text-white">
            {{ id }}
          </span>
        </div>
        <div v-if="lastId != id" class="steps"></div>
      </div>
    </div>

    <div class="w-full" :class="lastId != id ? 'border-b-2 pb-8' : ''">
      <div class="flex w-full justify-around py-4">
        <span class="w-full">
          <h5 class="w-full pb-3" :class="getClass?.classTitle">
            {{ title }}
          </h5>
        </span>
        <span class="flex w-full justify-end">
          <FontAwesomeIcon
            :icon="getClass?.icon"
            :class="getClass?.classIcon"
            style="font-size: 1.5rem" />
        </span>
      </div>
      <slot> </slot>
    </div>
  </article>
</template>

<script lang="ts">
import { computed, defineComponent } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

type StateSteps = {
  state: 'open' | 'active' | 'close'
  className?: string
  icon: string
  classIcon: string
  classTitle: string
  classNumber: string
}

export default defineComponent({
  components: { FontAwesomeIcon },
  props: {
    id: {
      type: Number,
      required: true
    },
    state: {
      type: String,
      default: 'close',
      required: true
    },

    lastId: {
      type: Number,
      required: true
    },
    divider: {
      type: String,
      default: 'top',
      required: false
    },
    title: {
      type: String,
      required: true
    }
  },
  setup(props) {
    const states: StateSteps[] = [
      {
        state: 'open',
        icon: 'lock-open',
        className: props.class,
        classIcon: 'text-gray-600',
        classTitle: 'text-gray-800',
        classNumber: 'bg-red-500'
      },
      {
        state: 'close',
        icon: 'lock',
        className: props.class,
        classIcon: 'text-gray-400',
        classTitle: 'text-gray-400',
        classNumber: 'bg-gray-400'
      },
      {
        state: 'active',
        icon: 'check-circle',
        className: props.class,
        classIcon: 'text-emerald-300',
        classTitle: 'text-gray-800',
        classNumber: 'bg-red-800'
      }
    ]

    const getClass = computed(() => {
      return states.find((item) => item?.state === props.state)
    })

    return { getClass }
  }
})
</script>

<style lang="scss" scoped>
.steps {
  @apply h-full	w-2;
  @apply flex-1 rounded bg-gray-200;
  @apply align-middle;
  @apply my-1 ml-4;
  align-items: center;
}

.numeration {
  @apply mx-auto h-10 w-10;
  @apply rounded-full;
  @apply flex text-lg text-white;
  @apply my-1;
  align-items: center;
}
.numeration:last-child {
  .steps {
    @apply bg-gray-900;
  }
}
</style>
