<template>
  <article class="flex gap-6 px-4 py-4">
    <div class="flex w-10 py-2">
      <div class="relative mt-[3px]">
        <div
          class="my-1 mx-auto flex h-10 w-10 items-center rounded-full text-lg"
          :class="{
            'bg-red-500': show && !valid,
            'bg-gray-400': !show && !valid,
            'bg-red-800': valid
          }">
          <span class="w-full text-center font-bold text-white">
            {{ step }}
          </span>
        </div>
        <div
          v-if="!last"
          class="
            ml-4
            mt-1
            mb-5
            h-full
            w-2
            flex-1
            items-center
            rounded
            bg-gray-200
            align-middle
          "></div>
      </div>
    </div>
    <div class="container__overflow-x w-full border-b">
      <div class="flex w-full justify-around py-4">
        <span class="w-full">
          <h5
            class="w-full cursor-pointer whitespace-nowrap pb-3"
            :class="{ 'text-gray-400': !show && !valid }"
            @click="onClickTitle">
            {{ title }}
          </h5>
        </span>
        <span
          v-if="show && !valid"
          class="flex w-full justify-end text-[1.5rem] text-gray-600">
          <FontAwesomeIcon icon="lock-open" />
        </span>
        <span
          v-if="!show && !valid"
          class="flex w-full justify-end text-[1.5rem] text-gray-400">
          <FontAwesomeIcon icon="lock" />
        </span>
        <span
          v-if="valid"
          class="flex w-full justify-end text-[1.5rem] text-emerald-300">
          <FontAwesomeIcon icon="check-circle" />
        </span>
      </div>
      <section v-if="show" class="content">
        <slot></slot>
      </section>
    </div>
  </article>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

export default defineComponent({
  components: {
    FontAwesomeIcon
  },
  props: {
    step: {
      type: Number,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    show: {
      type: Boolean,
      required: true
    },
    last: {
      type: Boolean,
      default: false
    },
    valid: {
      type: Boolean,
      default: false
    }
  },
  emits: ['click'],
  setup(_, { emit }) {
    const onClickTitle = () => {
      emit('click')
    }
    return {
      onClickTitle
    }
  }
})
</script>

<style scoped>
.content {
  animation: show-content 0.8s;
}

@keyframes show-content {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.5;
  }

  60% {
    opacity: 0.6;
  }

  70% {
    opacity: 0.7;
  }

  80% {
    opacity: 0.8;
  }

  90% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 1439px) {
  .container__overflow-x {
    @apply overflow-x-auto;
  }
}
</style>
