<template>
  <section ref="root" class="flex flex-col">
    <slot></slot>
  </section>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'

export default defineComponent({
  props: {
    modelValue: Number
  },
  setup() {
    const root = ref(null)

    return {
      root
    }
  }
})
</script>
