<template>
  <picture>
    <img
      v-if="id == '1009'"
      src="/assets/Transportadoras/Coordinadora.png"
      alt="" />
    <img v-if="id == '1025'" src="/assets/Transportadoras/Deprisa.png" alt="" />
    <img v-if="id == '1015'" src="/assets/Transportadoras/DHL.png" alt="" />
    <img
      v-if="id == '1026'"
      src="/assets/Transportadoras/Domina-01.png"
      alt="" />
    <img v-if="id == '29'" src="/assets/Transportadoras/Envia.png" alt="" />
    <img v-if="id == '1023'" src="/assets/Transportadoras/Fedex.png" alt="" />
    <img
      v-if="id == '1016'"
      src="/assets/Transportadoras/Interrapidisimo.png"
      alt="" />
    <img
      v-if="id == '1018'"
      src="/assets/Transportadoras/Mensajeros Urbanos.png"
      alt="" />
    <img v-if="id == '1027'" src="/assets/Transportadoras/Moova.png" alt="" />
    <img v-if="id == '1022'" src="/assets/Transportadoras/Saferbo.png" alt="" />
    <img
      v-if="id == '33'"
      src="/assets/Transportadoras/Servientrega.png"
      alt="" />
    <img v-if="id == '1010'" src="/assets/Transportadoras/TCC.png" alt="" />
    <img
      v-if="id == '1019'"
      src="/assets/Transportadoras/Turboboy.png"
      alt="" />
  </picture>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'
type IdTransportar =
  | '1009'
  | '1025'
  | '1015'
  | '1026'
  | '29'
  | '1023'
  | '1016'
  | '1018'
  | '1027'
  | '1022'
  | '33'
  | '1010'
  | '1019'
export default defineComponent({
  props: {
    id: {
      type: String as PropType<IdTransportar>,
      default: '1023',
      required: true
    }
  }
})
</script>
