<template>
  <section class="flex items-center gap-2">
    <input
      v-model="dateInit"
      class="
        h-10
        w-[140px]
        rounded-[5px]
        border border-gray-400
        px-2
        py-[5px]
        focus:outline-none
      "
      name="email_destiny"
      flex="flex-row"
      type="date"
      @change="eventEmiter" />

    <span>-</span>

    <input
      v-model="dateFinal"
      class="
        h-10
        w-[140px]
        rounded-[5px]
        border border-gray-400
        px-2
        py-[5px]
        focus:outline-none
      "
      name="email_destiny"
      flex="flex-row"
      type="date"
      @change="eventEmiter" />
  </section>
  <AppModalAveVue v-model="showModal" header-icon="error" title="Error">
    <p class="font-[16px] mt-4 text-center font-bold">
      Las fechas no se puden cruzar!
    </p>
  </AppModalAveVue>
</template>

<script lang="ts">
import { defineComponent, ref, onMounted, watch } from 'vue'
import { format, subDays } from 'date-fns'

import AppModalAveVue from './AppModalAve.vue'
import { DateInputs } from '@/constants/'

export default defineComponent({
  name: 'AppSearchDateAveVue',
  components: {
    AppModalAveVue
  },
  emits: ['searchDate'],
  setup(_, { emit }) {
    const showModal = ref<boolean>(false)
    const dateFinal = ref<string>('')
    const dateInit = ref<string>('')

    const eventEmiter = () => {
      const dates: DateInputs = {
        final: dateFinal.value,
        init: dateInit.value
      }
      emit('searchDate', dates)
    }

    watch(
      () => [dateInit.value, dateFinal.value],
      (newDates) => {
        if (newDates[0] > newDates[1]) {
          showModal.value = true
        }
      }
    )

    onMounted(() => {
      dateFinal.value = format(new Date(), 'yyyy-MM-dd')
      dateInit.value = format(subDays(new Date(), 30), 'yyyy-MM-dd')
    })

    return {
      dateInit,
      dateFinal,
      showModal,

      eventEmiter
    }
  }
})
</script>
