<template>
  <section class="flex gap-4">
    <ToolTip
      v-for="option in modelValue.options"
      :key="option.id"
      theme="Secondary"
      :message="option.id">
      <div
        class="btn-icon cursor-pointer"
        :class="{
          selected: modelValue.currentID === option.id
        }"
        @click="changeOption(option.id)">
        <FontAwesomeIcon v-if="option.icon !== 'funnel'" :icon="option.icon" />
        <div v-else>
          <div
            class="funnel cursor-pointer"
            :class="{
              'funnel-active': modelValue.currentID === option.id
            }">
            <span class="funnel-item"></span>
            <span class="funnel-item"></span>
            <span class="funnel-item"></span>
          </div>
        </div>
      </div>
    </ToolTip>
  </section>
</template>

<script lang="ts">
import { defineComponent, toRefs } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import ToolTip from '@/components/AppTooltip.vue'

export default defineComponent({
  components: { FontAwesomeIcon, ToolTip },
  props: {
    modelValue: {
      type: Object,
      required: true
    }
  },
  setup(props, { emit }) {
    const { modelValue } = toRefs(props)

    const changeOption = (id: string) => {
      emit('update:modelValue', {
        currentID: id,
        options: modelValue.value.options
      })
    }

    return { changeOption }
  }
})
</script>

<style lang="scss" scoped>
.btn-icon {
  width: 40px;
  height: 40px;
  font-size: 18px;
  @apply flex items-center justify-center rounded-md bg-gray-100 text-gray-400;
}
.selected {
  @apply bg-red-500 text-white;
}
.funnel {
  @apply flex flex-col items-center;
}
.funnel-item:nth-child(1) {
  background: #c4c4c4;
  border-radius: 0.8px;
  height: 2.67px;
  width: 17.78px;
  margin-bottom: 2.5px;
}
.funnel-item:nth-child(2) {
  background: #c4c4c4;
  border-radius: 0.8px;
  height: 2.67px;
  width: 14.22px;
  margin-bottom: 2.5px;
}
.funnel-item:nth-child(3) {
  background: #c4c4c4;
  border-radius: 0.8px;
  height: 2.67px;
  width: 10.67px;
}
.funnel-active {
  .funnel-item {
    background: white;
  }
}
</style>
