<template>
  <div class="flex w-full flex-col">
    <label
      class="mb-2 text-left font-bold text-gray-600"
      :class="{ 'text-red-500': error }"
      :for="name"
      >{{ label }}</label
    >
    <select
      :id="name"
      :name="name"
      :value="modelValue"
      class="w-full"
      :class="{ 'border-red-500': error, 'focus:border-red-500': error }"
      :disabled="disabled"
      :readonly="readonly"
      @change="onHandlerChange">
      <option value="">{{ value }}</option>
      <option
        v-for="option in options"
        :key="option[optionValue]"
        :value="option[optionValue]">
        {{ option[optionText] }}
      </option>
    </select>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  props: {
    label: String,
    options: {
      type: Array,
      required: true
    },
    modelValue: [String, Number],
    name: {
      type: String,
      required: true
    },
    optionValue: {
      type: String,
      required: true
    },
    optionText: {
      type: String,
      required: true
    },
    value: {
      type: [String, Number],
      default: ''
    },
    disabled: {
      type: Boolean,
      default: false
    },
    readonly: {
      type: Boolean,
      default: false
    },
    error: String
  },
  emits: ['update:modelValue', 'change'],
  setup(props, { emit }) {
    const onHandlerChange = (evt: any) => {
      emit('update:modelValue', evt.target.value)
      emit('change', getItem(evt.target.value))
    }
    const getItem = (id: string) => {
      if (id === '') return
      return props.options.find((o) => o.id === id)
    }

    return {
      onHandlerChange
    }
  }
})
</script>
