<template>
  <div class="switch" :class="style.css" @click="changeStatus">
    <div class="icon">
      <FontAwesomeIcon :icon="['fal', style.icon]" class="fa-fw" />
    </div>
    <div class="circle"><FontAwesomeIcon icon="circle" class="fa-fw" /></div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, toRefs } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

export default defineComponent({
  components: { FontAwesomeIcon },
  props: {
    modelValue: Boolean
  },
  setup(props, { emit }) {
    const { modelValue } = toRefs(props)

    const changeStatus = () => {
      emit('update:modelValue', !modelValue.value)
      emit('change', !modelValue.value)
    }

    const style = computed(() => {
      const style = modelValue.value
        ? {
            icon: 'check',
            css: 'true'
          }
        : {
            icon: 'times',
            css: 'false'
          }

      return style
    })

    return { changeStatus, style }
  }
})
</script>

<style lang="scss" scoped>
.switch {
  width: 58px;
  height: 22px;
  @apply relative cursor-pointer rounded-xl transition-all duration-700;
}

.circle,
.icon {
  width: 18px;
  @apply absolute inset-y-0 flex h-full items-center justify-center;
}

.icon {
  @apply text-white;
}

.circle {
  > svg {
    width: 18.6px;
    height: 18.6px;
  }
}

.true {
  @apply bg-emerald-300;
  .icon {
    left: 10px;
    > svg {
      width: 13.3px;
      height: 13.3px;
    }
  }

  .circle {
    @apply text-white;
    right: 3px;
  }
}

.false {
  @apply bg-gray-300;
  .icon {
    right: 10px;
    > svg {
      width: 14px;
      height: 14px;
    }
  }

  .circle {
    @apply text-gray-500;
    left: 3px;
  }
}
</style>
