<template>
  <div class="switch">
    <div
      :class="{
        button: modelValue.currentID === modelValue.option1.id,
        left: modelValue.currentID === modelValue.option1.id
      }"
      @click="changeOption(modelValue.option1.id)">
      <span>
        {{ modelValue.option1.name }}
      </span>
    </div>
    <div
      :class="{
        button: modelValue.currentID === modelValue.option2.id,
        rigth: modelValue.currentID === modelValue.option2.id
      }"
      @click="changeOption(modelValue.option2.id)">
      <span>
        {{ modelValue.option2.name }}
      </span>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, toRefs } from 'vue'

export default defineComponent({
  props: {
    modelValue: {
      type: Object,
      required: true
    }
  },

  setup(props, { emit }) {
    const { modelValue } = toRefs(props)

    const changeOption = (id: string) => {
      emit('update:modelValue', {
        currentID: id,
        option1: modelValue.value.option1,
        option2: modelValue.value.option2
      })
    }

    return { changeOption }
  }
})
</script>

<style lang="scss" scoped>
.switch {
  width: 198px;
  height: 40px;
  border-radius: 32px;
  @apply grid cursor-pointer grid-cols-2 bg-gray-100 font-bold text-gray-400;

  > div {
    @apply grid grid-cols-1 content-center;

    > span {
      @apply text-center;
    }
  }
}

.button {
  border-radius: 32px;
  @apply bg-red-500 text-white;
}

.left {
  box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.25);
}

.rigth {
  box-shadow: -1px 0 3px 0 rgba(0, 0, 0, 0.25);
}
</style>
