<template>
  <ul
    class="
      relative
      grid
      w-max
      auto-cols-max
      grid-flow-col
      overflow-x-auto
      pb-2
      text-center text-sm
      font-bold
      text-gray-500
      after:absolute
      after:left-0
      after:right-0
      after:top-[30px]
      after:h-[2px]
      after:w-full
      after:rounded
      after:bg-gray-600
      after:content-['']
    ">
    <li
      v-for="tab in modelValue.items"
      :key="tab"
      :class="[isActive(tab.id)]"
      class="
        relative
        mr-6
        cursor-pointer
        pb-2
        font-serif
        text-xl
        font-bold
        last:m-0
      "
      @click="changeTab(tab)">
      {{ tab.name }}
    </li>
  </ul>
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue'

export default defineComponent({
  props: {
    modelValue: {
      type: Object,
      required: true
    }
  },
  setup(props, { emit }) {
    const changeTab = (tab: any) => {
      return emit('update:modelValue', {
        idCurrentTab: tab.id,
        items: props.modelValue.items
      })
    }

    const isActive = computed(() => (id: number | string) => {
      return props.modelValue.idCurrentTab === id
        ? "text-red-500 after:absolute after:left-0 after:right-0 after:top-[29px] after:z-10 after:h-[4px] after:w-full after:rounded-md after:bg-red-500 after:content-['']"
        : 'text-gray-600'
    })

    return { changeTab, isActive }
  }
})
</script>
