<template>
  <div
    class="
      flex
      h-[33px]
      min-w-[65px]
      items-center
      justify-center
      gap-2
      rounded-[60px]
      text-white
    "
    :class="[amount === 0 ? 'bg-gray-200' : 'bg-red-500']">
    <FontAwesomeIcon icon="shopping-cart" class="text-base" />
    <p class="text-base font-bold">{{ amount }}</p>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

export default defineComponent({
  components: { FontAwesomeIcon },
  props: { amount: { type: Number, required: true } }
})
</script>
