<template>
  <section @click="change">
    <span v-if="status == 'base'" class="flex flex-col">
      <FontAwesomeIcon class="text-[12px]" icon="chevron-up" />
      <FontAwesomeIcon class="text-[12px]" icon="chevron-down" />
    </span>
    <span v-if="status == 'down'">
      <FontAwesomeIcon icon="chevron-down" />
    </span>
    <span v-if="status == 'up'">
      <FontAwesomeIcon icon="chevron-up" />
    </span>
  </section>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

type StatusIcon = 'base' | 'up' | 'down'

export default defineComponent({
  components: {
    FontAwesomeIcon
  },
  setup() {
    const status = ref<StatusIcon>('base')
    const change = () => {
      switch (status.value) {
        case 'base':
          status.value = 'down'
          break
        case 'down':
          status.value = 'up'
          break
        default:
          status.value = 'down'
          break
      }
    }
    return {
      change,
      status
    }
  }
})
</script>
