<template>
  <div class="relative w-full hover:text-gray-600">
    <input
      :id="id"
      v-model="search"
      type="text"
      :name="name"
      :placeholder="placeholder"
      :disabled="disabled"
      :readonly="readonly"
      autocomplete="off"
      class="
        h-10
        w-full
        border-0
        bg-gray-100
        px-9
        hover:bg-gray-200
        focus:bg-gray-100 focus:ring-0
      " />
    <span class="absolute inset-y-0 left-3 flex items-center text-base">
      <FontAwesomeIcon
        class="text-lg text-gray-400 hover:text-gray-600"
        :icon="['far', 'search']" />
    </span>
    <span
      v-if="isActiveIconClose"
      class="absolute inset-y-0 right-3 flex items-center text-base">
      <FontAwesomeIcon
        class="text-lg text-gray-600"
        :icon="['far', 'times']"
        @click="reset" />
    </span>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, watch } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

export default defineComponent({
  components: { FontAwesomeIcon },
  props: {
    placeholder: {
      type: String,
      default: ''
    },
    id: {
      type: String,
      default: 'id_search',
      required: false
    },
    name: {
      type: String,
      default: 'name_search',
      required: false
    },
    disabled: {
      type: Boolean,
      default: false,
      required: false
    },
    readonly: {
      type: Boolean,
      default: false,
      required: false
    }
  },
  emits: ['update:modelValue', 'selected'],
  setup(_, { emit }) {
    const search = ref('')
    const isActiveIconClose = ref(false)

    const reset = () => {
      emit('update:modelValue', '')
      emit('selected', '')
      search.value = ''
      isActiveIconClose.value = false
    }

    watch(search, (value: string) => {
      emit('update:modelValue', value)
      emit('selected', value)

      if (value === '') {
        isActiveIconClose.value = false
      } else {
        isActiveIconClose.value = true
      }
    })

    return {
      search,
      reset,
      isActiveIconClose
    }
  }
})
</script>
