<template>
  <section :class="[show ? classOpen : classClose]" @click="show = !show">
    <div class="flex w-full items-center justify-between text-[14px]">
      <div class="flex w-[90%]">
        <div v-if="iconTypeString == '' && icon != ''" class="iconFilter">
          <FontAwesomeIcon
            class="my-auto mr-2 text-[16px]"
            :class="iconClass"
            :icon="icon" />
        </div>
        <div v-if="iconTypeString != ''" class="iconText font-sans text-[14px]">
          <span class="mr-2" :class="iconClass">
            {{ iconTypeString }}
          </span>
        </div>
        <p v-if="value" class="w-9/12 truncate" :title="value?.label">
          {{ value?.label }}
        </p>
        <span v-if="!value" class="flex items-end">
          <slot></slot>
        </span>
      </div>
      <div class="icon">
        <FontAwesomeIcon
          class="my-auto mr-2"
          :class="[show ? 'rotate-180' : '']"
          icon="chevron-down" />
      </div>
    </div>

    <div
      v-if="show"
      class="
        options
        w-rfull
        absolute
        w-full
        rounded-b-[20px]
        border border-t-0 border-gray-400
        bg-gray-50
        pb-3
      ">
      <div class="scroll_sm mt-2 max-h-52 overflow-y-auto overflow-x-hidden">
        <div
          v-for="item in options"
          :key="item.value"
          class="opt my-2 ml-6 w-9/12 truncate text-left hover:font-bold"
          :title="item.label"
          @click="emitValue(item)">
          {{ item.label }}
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent, PropType, ref, computed, watch } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

interface IOptions {
  label: string
  value: string | number
}
type Icons = 'filter' | 'percent'
export default defineComponent({
  components: {
    FontAwesomeIcon
  },
  props: {
    border: {
      type: String,
      default: ''
    },
    addClass: {
      type: String,
      default: ''
    },
    options: {
      type: Array as PropType<IOptions[]>,
      required: true
    },
    icon: {
      type: String as PropType<Icons>,
      default: 'filter'
    },
    iconTypeString: {
      type: String,
      default: ''
    },
    iconClass: {
      type: String,
      default: ''
    },
    setvalue: {
      type: String,
      default: ''
    }
  },
  emits: ['update:modelValue', 'change'],
  setup(props, { emit }) {
    const show = ref<boolean>(false)
    const value = ref<IOptions>()

    const emitValue = (val: IOptions) => {
      value.value = val
      emit('update:modelValue', val.value)
    }

    const classCommon =
      'w-full flex flex-col justify-center border border-gray-400 h-10 pl-4 pr-2 relative cursor-pointer   text-[14px]'

    const classClose = computed(() => {
      return `${classCommon} rounded-[20px] hover:bg-gray-100 
      ${props.border} 
      ${props.addClass} 
      ${show.value ? 'border-b-0 rounded-b-none' : ''} 
      ${show.value || value.value ? 'text-gray-800' : 'text-gray-600'}`
    })

    const classOpen = computed(() => {
      return `${classCommon} rounded-[20px] bg-gray-50 
      ${props.border ? props.border : 'border-gray-400'} 
      ${props.addClass} 
      ${show.value ? 'border-b-0 rounded-b-none' : ''} 
      ${show.value || value.value ? 'text-gray-800' : 'text-gray-600'}`
    })

    watch(
      () => props.setvalue,
      (newVal) => {
        if (newVal) {
          props.options.forEach((el) => {
            if (String(el.value) === String(newVal)) {
              value.value = el
              emit('update:modelValue', value.value.value)
            }
          })
        }
      }
    )

    return {
      emitValue,
      classClose,
      classOpen,
      show,
      value
    }
  }
})
</script>

<style scoped>
.w-rfull {
  width: calc(100% + 2px);
  margin-left: -17px;
  top: 39px;
}
</style>
