<template>
  <th :class="className" @click="change">
    <div class="flex items-center justify-center py-2">
      <span>
        <p>{{ title1 }}</p>
        <p v-if="title2">{{ title2 }}</p>
      </span>
      <section v-if="!hiddenIcon" class="ml-2">
        <span v-if="status == 'base'" class="icons flex flex-col">
          <FontAwesomeIcon class="text-[12px]" icon="chevron-up" />
          <FontAwesomeIcon class="text-[12px]" icon="chevron-down" />
        </span>
        <span v-if="status == 'down'">
          <FontAwesomeIcon class="icons" icon="chevron-down" />
        </span>
        <span v-if="status == 'up'">
          <FontAwesomeIcon class="icons" icon="chevron-up" />
        </span>
      </section>
    </div>
  </th>
</template>

<script lang="ts">
import { defineComponent, ref, watch, computed } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import { generarKeyAve } from '@/utils'

type StatusIcon = 'base' | 'up' | 'down'

export default defineComponent({
  components: {
    FontAwesomeIcon
  },
  props: {
    title1: {
      type: String,
      required: false
    },
    title2: {
      type: String,
      required: false
    },
    keyGeneral: {
      type: String,
      required: false
    },
    hiddenIcon: {
      type: Boolean,
      default: false,
      required: false
    },
    addClass: {
      type: String,
      default: '',
      required: false
    }
  },
  emits: ['keyTh'],
  setup(props, { emit }) {
    const key = generarKeyAve(15)
    const status = ref<StatusIcon>('base')

    const change = () => {
      switch (status.value) {
        case 'base':
          status.value = 'down'
          break
        case 'down':
          status.value = 'up'
          break
        default:
          status.value = 'down'
          break
      }
      emit('keyTh', { key, status: status.value })
    }

    const className = computed(() => {
      return `appth cursor-pointer ${props.addClass}`
    })

    watch(
      () => props.keyGeneral,
      (newVal) => {
        if (newVal !== key) {
          status.value = 'base'
        }
      }
    )

    return {
      change,
      status,
      className
    }
  }
})
</script>

<style scoped>
.appth:hover .icons {
  color: #c2c2c2;
}
</style>
