<template>
  <div class="overflow-auto">
    <table class="w-full overflow-hidden rounded-t-[10px]">
      <thead>
        <tr
          class="
            h-[50px]
            bg-gray-200
            font-sans
            text-lg
            font-bold
            not-italic
            leading-[19px]
          ">
          <th v-if="selectable" class="text-center">
            <input
              v-model="selectAll"
              name="checkAll"
              data-testId="select-all"
              class="ml-5"
              type="checkbox"
              @change="onSelectAll" />
          </th>
          <th
            v-for="column in columns"
            :key="column.field"
            :class="[
              'whitespace-nowrap px-3 text-center',
              getSizeTitleColumn(column)
            ]">
            <span v-if="!column.sortable">
              {{ column.label }}
            </span>
            <button v-else @click="onSort(column.field)">
              {{ column.label }}
              <FontAwesomeIcon icon="chevron-down" class="text-lg" />
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="w-full">
          <td :colspan="columns.length + 1" class="p-0">
            <slot name="first-row"></slot>
          </td>
        </tr>
        <tr
          v-for="row in rows"
          :key="row.id"
          class="
            h-[50px]
            whitespace-nowrap
            font-sans
            text-lg
            font-normal
            not-italic
            leading-[19px]
            text-gray-800
            hover:bg-gray-50
            active:bg-gray-100
          "
          @click="onClickRow(row)">
          <td v-if="selectable" class="text-center">
            <input
              type="checkbox"
              :value="row.id + ''"
              class="ml-5"
              :checked="selectedRows.includes(row.id + '')"
              @click.stop=""
              @change="onSelect" />
          </td>
          <template v-for="column in columns" :key="column.field">
            <td
              v-if="column.width"
              :class="`w-[${column.width}] text-${column.align ?? 'center'}`">
              <slot :name="column.field" :row="row">
                {{ row[column.field] }}
              </slot>
            </td>
            <td v-else :class="`px-6 text-${column.align ?? 'center'}`">
              <slot :name="column.field" :row="row">
                {{ row[column.field] }}
              </slot>
            </td>
          </template>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType, ref, watch, computed } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

import { AppTableColumn } from '@/types'

export default defineComponent({
  components: {
    FontAwesomeIcon
  },
  props: {
    rows: {
      type: Array as PropType<Record<string, any>[]>,
      required: true,
      default: () => []
    },
    columns: {
      type: Array as PropType<AppTableColumn[]>,
      required: true,
      default: () => []
    },
    selectable: {
      default: false,
      type: Boolean
    },
    modelValue: {
      type: Array as PropType<string[]>,
      default: () => []
    }
  },
  emits: [
    'select',
    'remove',
    'selectAll',
    'removeAll',
    'update:modelValue',
    'sort',
    'click:row'
  ],
  setup(props, { emit }) {
    const selectAll = ref(false)
    const selectedRows = ref<string[]>(props.modelValue)

    watch(
      () => props.modelValue,
      (values) => {
        selectedRows.value = values
        selectAll.value = values.length === props.rows.length
      }
    )

    const onSelect = (evt: Event) => {
      const checkbox = evt.target as HTMLInputElement
      const { value } = checkbox
      if (selectedRows.value.includes(value)) {
        selectedRows.value = selectedRows.value.filter((row) => row !== value)
        emit('remove', value)
      } else {
        selectedRows.value.push(value)
        emit('select', value)
      }

      if (props.rows.length === selectedRows.value.length) {
        selectAll.value = true
      } else {
        selectAll.value = false
      }

      emit('update:modelValue', selectedRows.value)
    }

    const onSelectAll = (evt: Event) => {
      const checkbox = evt.target as HTMLInputElement
      const { checked } = checkbox
      if (checked) {
        selectedRows.value = props.rows.map((row) => row.id + '')
        emit('selectAll', selectedRows.value)
      } else {
        emit('removeAll', selectedRows.value)
        selectedRows.value = []
      }
      emit('update:modelValue', selectedRows.value)
    }

    const onSort = (field: string) => {
      emit('sort', field)
    }

    const onClickRow = (row: Record<string, any>) => {
      emit('click:row', row)
    }

    const getSizeTitleColumn = computed(() => (column: AppTableColumn) => {
      const { size } = column
      if (size === 'base') return 'text-lg'
      if (size === 'sm') return 'text-sm'
      return 'text-lg'
    })

    return {
      selectAll,
      selectedRows,
      onSelect,
      onSelectAll,
      onSort,
      onClickRow,
      getSizeTitleColumn
    }
  }
})
</script>
