<template>
  <div class="flex items-center text-center" :class="className">
    <FontAwesomeIcon class="mr-4" :icon="typeIcon" :alt="typeIcon" />
    <slot></slot>
  </div>
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

export default defineComponent({
  name: 'AppTitleIconPrincipalAveVue',
  components: {
    FontAwesomeIcon
  },
  props: {
    justify: {
      type: String,
      default: 'center'
    },
    icon: {
      type: String,
      default: 'coins'
    },
    addClass: {
      type: String,
      default: ''
    }
  },
  setup(props) {
    const typeIcon = computed(() => {
      return props.icon
    })

    const className = computed(() => {
      return `font-serifBold font-bold text-[32px] text-gray-800 ${props.addClass}`
    })

    return {
      className,
      typeIcon
    }
  }
})
</script>
