<template>
  <div :class="className">
    <slot></slot>
  </div>
</template>

<script lang="ts">
import { defineComponent, computed, PropType } from 'vue'

type TColor = 'text-gray-800' | 'text-gray-600'
type TFont = 'font-serifBold' | 'font-sansBold'
export default defineComponent({
  props: {
    color: {
      type: String as PropType<TColor>,
      default: 'text-gray-800'
    },
    font: {
      type: String as PropType<TFont>,
      default: 'font-serifBold'
    }
  },
  setup(props) {
    const className = computed(() => `text-2xl ${props.font} ${props.color}`)
    return {
      className
    }
  }
})
</script>
