<template>
  <section class="flex w-full flex-col gap-y-2 overflow-x-auto">
    <header
      class="flex flex-nowrap items-center gap-x-2 rounded-xl bg-gray-200 p-4">
      <FontAwesomeIcon icon="chevron-down" class="text-gray-500" />

      <input v-if="false" type="checkbox" class="ml-3 bg-gray-200" />

      <div class="flex w-full items-center justify-between">
        <div
          v-for="header in headers"
          :key="header.name"
          class="
            mx-4
            grid
            items-center
            justify-center
            font-sans
            text-lg
            font-bold
          "
          :style="{ width: header.width, textAlign: header.align }">
          <div class="mr-1 whitespace-nowrap">
            {{ header.title }}
          </div>
          <div v-if="header.sorted">
            <FontAwesomeIcon icon="chevron-down" class="text-lg" />
          </div>
        </div>
      </div>
    </header>

    <Disclosure
      v-for="item in items"
      :key="item.id"
      v-slot="{ open }"
      as="section"
      class="rounded-xl border p-4 hover:bg-gray-50"
      @click.stop="onClickRow(item)">
      <header class="flex items-center justify-center">
        <DisclosureButton as="button" class="text-gray-500" @click.stop>
          <FontAwesomeIcon
            icon="chevron-down"
            :class="[open ? 'rotate-180' : '']" />
        </DisclosureButton>

        <input v-if="false" type="checkbox" class="ml-3" />

        <div class="flex w-full items-center justify-between">
          <div
            v-for="header in headers"
            :key="header.name"
            class="mx-4 grid items-center justify-center font-sans"
            :style="{ width: header.width }"
            @click.stop="onClickCol(item, header.name)">
            <slot :name="header.name" :item="item">
              {{ item[header.name] }}
            </slot>
          </div>
        </div>
      </header>

      <DisclosurePanel
        as="section"
        class="mt-4 flex flex-col gap-y-6 whitespace-nowrap border-t pt-4">
        <slot name="detail" :item="item"></slot>
      </DisclosurePanel>
    </Disclosure>
  </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import { Disclosure, DisclosurePanel, DisclosureButton } from '@headlessui/vue'

export default defineComponent({
  components: {
    FontAwesomeIcon,
    Disclosure,
    DisclosurePanel,
    DisclosureButton
  },
  props: {
    headers: {
      type: Array,
      default: () => [
        {
          name: '',
          title: '',
          width: 'auto',
          sorted: true
        }
      ]
    },
    items: Array
  },
  emits: ['click:row', 'click:col'],
  setup(_, { emit }) {
    const onClickRow = (item: any) => emit('click:row', item)
    const onClickCol = (item: any, colName: string) =>
      emit('click:col', item, colName)
    return { onClickRow, onClickCol }
  }
})
</script>
