<template>
  <div class="flex flex-col p-0">
    <label
      v-if="label"
      :for="name"
      class="mb-2 text-left text-base font-bold text-gray-600"
      :class="{ 'text-red-500': error }">
      {{ label }}
    </label>

    <div :class="[icon && 'relative w-full']">
      <input
        :id="name"
        :type="handleType"
        :name="name"
        :placeholder="placeholder"
        :value="modelValue"
        :disabled="disabled"
        :readonly="readonly"
        :autocomplete="autocomplete"
        class="h-10 w-full"
        :class="{
          'border-red-500': error,
          'focus:border-red-500': error,
          'pl-8': icon.position === 'left',
          'pr-8': icon.position === 'right' || type === 'password'
        }"
        @input="handleChange"
        @blur="onBlur" />
      <span
        v-if="icon.name || type === 'password'"
        class="
          absolute
          inset-y-0
          flex
          cursor-pointer
          items-center
          text-base
          font-black
        "
        :class="stateIcon.getClassPosition">
        <FontAwesomeIcon
          class="text-base text-gray-400"
          :icon="stateIcon.getName"
          @click="stateIcon.toggle" />
      </span>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, computed, toRefs, PropType } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

export default defineComponent({
  components: { FontAwesomeIcon },
  props: {
    label: String,
    placeholder: {
      type: String,
      default: ''
    },
    modelValue: [String, Number, Object],
    type: {
      type: String,
      default: 'text'
    },
    name: {
      type: String,
      required: true
    },
    value: {
      type: String,
      default: ''
    },
    icon: {
      type: Object as PropType<{ name: string; position: 'left' | 'right' }>,
      required: false,
      default: () => ({
        name: '',
        position: ''
      })
    },
    error: String,
    disabled: {
      type: Boolean,
      default: false,
      required: false
    },
    readonly: {
      type: Boolean,
      default: false,
      required: false
    },
    autocomplete: {
      type: String,
      default: 'off',
      required: false,
      validator: (value: string) => ['off', 'on'].includes(value)
    }
  },
  emits: ['blur', 'update:modelValue'],
  setup(props, { emit }) {
    const stateIcon = reactive({
      isShow: false,
      toggle: (): boolean => (stateIcon.isShow = !stateIcon.isShow),
      getName: computed(() => {
        if (props.type === 'password' && stateIcon.isShow) {
          return 'eye'
        }

        if (props.type === 'password' && stateIcon.isShow === false) {
          return 'eye-slash'
        }

        return props.icon.name
      }),
      getClassPosition: computed(() => {
        if (props.type === 'password' || props.icon.position === 'right') {
          return 'right-0 pr-3'
        }

        if (props.icon.position === 'left') {
          return 'left-0 pl-3'
        }

        return ''
      })
    })

    const stateInput = reactive({
      handleChange: (evt: any) => {
        emit('update:modelValue', evt.target.value)
      },
      handleType: computed(() => {
        return props.type === 'password' && stateIcon.isShow
          ? 'text'
          : props.type
      })
    })

    const onBlur = () => {
      emit('blur')
    }

    return {
      ...toRefs(stateInput),
      stateIcon,
      onBlur
    }
  }
})
</script>
