<template>
  <div :class="className">
    <slot></slot>
  </div>
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue'

export default defineComponent({
  props: {
    justify: {
      type: String,
      default: 'center'
    },
    addClass: {
      type: String,
      default: ''
    }
  },
  setup(props) {
    const className = computed(() => {
      if (props.justify === 'start') {
        return `flex items-center justify-start font-sansBold text-[16px] text-gray-800 ${props.addClass}`
      } else if (props.justify === 'end') {
        return `flex items-center justify-end font-sansBold text-[16px] text-gray-800 ${props.addClass}`
      } else {
        return `flex items-center justify-center font-sansBold text-[16px] text-gray-800 ${props.addClass}`
      }
    })

    return {
      className
    }
  }
})
</script>
