<template>
  <div class="overflow-auto">
    <table class="w-full overflow-hidden rounded-t-[10px]">
      <thead>
        <tr class="table__thead">
          <th v-if="selectable" align="center">
            <input v-model="selelectAll" class="ml-5" type="checkbox" />
          </th>
          <th
            v-for="header in headers"
            :key="header.id"
            align="center"
            class="whitespace-nowrap px-3">
            <span v-if="!header.sorted">
              {{ header.title }}
            </span>
            <span
              v-if="header.sorted"
              class="cursor-pointer select-none"
              @click="onSortBy(header.name)">
              {{ header.title }}
              <FontAwesomeIcon icon="chevron-down" class="text-lg" />
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="item in sortedItems"
          :key="item.id"
          class="table__tbody"
          @click="onClickRow(item.id)">
          <td v-if="selectable" align="center">
            <input
              v-model="multipleSelect[item.id]"
              class="ml-5"
              type="checkbox"
              @click.stop="onSelectRow(item.id)" />
          </td>
          <template v-for="header in headers" :key="header.name">
            <td
              v-if="header.width"
              class="px-6"
              :width="header.width"
              :align="header.align">
              <slot :name="header.name" :item="item">
                {{ item[header.name] }}
              </slot>
            </td>
            <td v-if="!header.width" class="px-6" :align="header.align">
              <slot :name="header.name" :item="item">
                {{ item[header.name] }}
              </slot>
            </td>
          </template>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, watch, ref, watchEffect } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

export default defineComponent({
  components: { FontAwesomeIcon },
  props: {
    headers: {
      required: true,
      type: Array
    },
    items: {
      type: Array
    },
    selectable: {
      default: false,
      type: Boolean
    },
    sortByDefault: {
      type: String,
      default: 'id',
      required: false
    },
    modelValue: Array
  },
  emits: ['click:row'],
  setup(props, { emit }) {
    const selelectAll = ref(false)
    const ids = ref<string[]>([])
    const multipleSelect = ref<Record<string, boolean>>({})

    watch(
      () => props.items,
      (newValue: any) => {
        multipleSelect.value = newValue.reduce((accum: any, item: any) => {
          accum[item.id] = false
          return accum
        }, {})
        ids.value = newValue.map((item: any) => item.id)
      }
    )

    watch(selelectAll, (newValue) => {
      if (newValue) {
        emit('update:modelValue', ids.value)
      } else {
        const allSelected = Object.values(multipleSelect.value).every(
          (value) => value
        )
        if (allSelected) {
          emit('update:modelValue', [])
        } else {
          onUpdateModelValue()
        }
      }
    })

    watchEffect(() => {
      if (props.modelValue === undefined) return
      const defaultRows = [...props.modelValue]
      const items = [...props.items]
      if (defaultRows.length > 0) {
        items.forEach((item: any) => {
          if (defaultRows.includes(String(item.id))) {
            multipleSelect.value[item.id] = true
          } else {
            multipleSelect.value[item] = false
          }
        })
      }
    })

    watch(
      () => props.modelValue,
      (newValue: any) => {
        Object.keys(multipleSelect.value).forEach((key: string) => {
          if (newValue.includes(key)) {
            multipleSelect.value[key] = true
          } else {
            multipleSelect.value[key] = false
          }
        })
      }
    )

    const onSelectRow = (value: string) => {
      multipleSelect.value[value] = !multipleSelect.value[value]
      selelectAll.value = false
      onUpdateModelValue()
    }

    const onUpdateModelValue = () => {
      const selectedIds = [] as string[]
      Object.keys(multipleSelect.value).forEach((key) => {
        if (multipleSelect.value[key]) {
          selectedIds.push(key)
        }
      })
      emit('update:modelValue', selectedIds)
    }

    const ascendant = ref(true)
    const sortBy = ref(props.sortByDefault)

    const onSortBy = (name: string) => {
      ascendant.value = !ascendant.value
      sortBy.value = name
    }

    const sortedItems = computed(() => {
      /* eslint-disable vue/no-mutating-props */
      return props.items?.sort((a: any, b: any) => {
        if (a[sortBy.value] > b[sortBy.value]) {
          return ascendant.value ? 1 : -1
        }
        if (a[sortBy.value] < b[sortBy.value]) {
          return ascendant.value ? -1 : 1
        }
        return 0
      })
    })

    const onClickRow = (id: string) => {
      emit('click:row', id)
    }

    return {
      selelectAll,
      onSortBy,
      sortedItems,
      onClickRow,
      onSelectRow,
      multipleSelect
    }
  }
})
</script>

<style lang="css" scoped>
.table__thead {
  @apply h-[50px] bg-gray-200 font-sans text-lg font-bold not-italic leading-[19px];
}

.table__tbody {
  @apply h-[50px] whitespace-nowrap font-sans text-lg font-normal not-italic leading-[19px] text-gray-800 hover:bg-gray-50 active:bg-gray-100;
}
</style>
