<template>
  <div :class="className" class="text-lg">
    <slot></slot>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType, computed } from 'vue'

type TColor = 'text-gray-800' | 'text-gray-600'
type TFont = 'font-serifBold' | 'font-sansBold'

export default defineComponent({
  props: {
    size: {
      type: String,
      default: 'lg'
    },
    color: {
      type: String as PropType<TColor>,
      default: 'text-gray-800'
    },
    font: {
      type: String as PropType<TFont>,
      default: 'font-serifBold'
    }
  },
  setup(props) {
    const className = computed(
      () => `text-${props.size} ${props.font} ${props.color}`
    )
    return {
      className
    }
  }
})
</script>
