<template>
  <VTooltip :theme="theme" :placement="position">
    <slot></slot>
    <template #popper>
      <article
        v-if="theme === 'Primary'"
        class="flex flex-col items-center px-6">
        <span class="text-3xl font-bold">{{ title }}</span>
        <div class="mt-1 mb-3 flex w-full justify-center">
          <div
            class="
              m-0
              w-16
              rounded-full
              border-2 border-red-500
              bg-red-500
              p-0
              text-red-500
            "></div>
        </div>
        <span class="text-center text-2xl">
          {{ message }}
        </span>
        <slot name="body"></slot>
      </article>

      <div v-if="theme === 'Secondary'" class="flex flex-col items-center px-4">
        <p class="text-center text-lg font-bold text-white">
          <FontAwesomeIcon
            v-if="icon"
            :icon="icon"
            :class="['mr-1', iconColor]" />
          {{ message }}
        </p>
        <slot name="body"></slot>
      </div>
    </template>
  </VTooltip>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

export default defineComponent({
  components: { FontAwesomeIcon },
  props: {
    title: {
      type: String,
      require: true,
      default: 'Title'
    },
    message: {
      type: String,
      default: 'Subtitle'
    },
    position: {
      type: String,
      default: 'top'
    },
    theme: {
      type: String,
      default: 'Primary'
    },
    icon: { type: String },
    iconColor: { type: String }
  }
})
</script>

<style lang="scss">
.v-popper--theme-Primary .v-popper__inner {
  @apply rounded-ave-sm border border-gray-100 bg-white p-3 shadow-[0px_14px_8px_#e5e5e5];
}
.v-popper--theme-Primary .v-popper__arrow {
  @apply border-white;
}
.v-popper--theme-Secondary .v-popper__inner {
  @apply rounded-full border-transparent bg-gray-600 py-2;
}
.v-popper--theme-Secondary .v-popper__arrow {
  @apply border-gray-600;
}
</style>
