<template>
  <div class="flex items-center gap-3">
    <FontAwesomeIcon :icon="icon" class="text-[32px] text-gray-800" />
    <h2 class="font-serif text-[32px] font-bold text-gray-800">
      {{ title }}
    </h2>
  </div>
</template>

<script lang="ts">
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import { defineComponent } from 'vue'

export default defineComponent({
  components: {
    FontAwesomeIcon
  },
  props: {
    icon: {
      type: String,
      required: true,
      default: 'home'
    },
    title: {
      type: String,
      required: true,
      default: ''
    }
  }
})
</script>
