<template>
  <section class="flex items-center gap-6">
    <div class="flex items-center justify-between gap-6 text-white">
      <a
        href="https://aveonline.co"
        target="_blank"
        class="
          flex
          h-10
          w-[195px]
          items-center
          justify-center
          rounded-lg
          border border-white
          font-bold
        ">
        Ir a la plataforma de envíos
      </a>
      <FontAwesomeIcon class="cursor-pointer text-xl" icon="question-circle" />

      <FontAwesomeIcon
        class="cursor-pointer text-xl"
        icon="home"
        @click="state.goHome" />

      <div class="h-6 border-l-2 border-white"></div>
    </div>
    <div tabindex="-1" @blur="state.close">
      <AppAvatar
        class="cursor-pointer select-none"
        :src="userImg"
        size="md"
        @click="state.toggle" />

      <section
        v-if="state.isOpen"
        class="
          absolute
          top-20
          right-[10px]
          h-[321px]
          w-[361px]
          rounded-[14px]
          border border-gray-100
          bg-white
          px-5
          pt-7
          pb-5
          shadow-ave-card-primary
        ">
        <div class="space-y-5">
          <section class="flex items-center justify-start space-x-4">
            <div class="triangle absolute right-2 -top-7"></div>
            <div class="flex flex-wrap justify-center">
              <AppAvatar :src="userImg" size="xl" @click="state.toggle" />
            </div>
            <div>
              <h5 class="mb-1 font-serif text-3xl font-bold">
                ¡Hola {{ userName }}!
              </h5>
              <p class="font-sans text-lg font-normal">
                Te quedan {{ time }} de tu plan
              </p>
            </div>
          </section>

          <hr />

          <section
            class="flex cursor-pointer items-center space-x-2 pl-2"
            @click="state.goMyCompanies">
            <FontAwesomeIcon icon="users-medical" class="fa-fw text-xl" />
            <p class="font-sans text-base font-bold">Mis empresas</p>
          </section>

          <section
            class="flex cursor-pointer items-center space-x-2 pl-2"
            @click="state.goProfile">
            <FontAwesomeIcon icon="cog" class="fa-fw text-xl" />
            <p class="font-sans text-base font-bold">Ver mi perfil</p>
          </section>

          <section class="flex cursor-pointer items-center space-x-2 pl-2">
            <FontAwesomeIcon icon="comments-alt" class="fa-fw text-xl" />
            <p class="font-sans text-base font-bold">Comunicate con nosotros</p>
          </section>

          <hr />

          <section
            class="flex cursor-pointer items-center gap-3 pl-2"
            @click="state.logout">
            <FontAwesomeIcon icon="chevron-left" class="text-xl text-red-500" />
            <p class="font-sans text-base font-bold text-red-500">
              Cerrar sesión
            </p>
          </section>
        </div>
      </section>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent, reactive } from 'vue'
import { useRouter } from 'vue-router'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

import AppAvatar from '@/components/AppAvatar.vue'

import { removeStorage } from '@/utils'
import { logoutUserService } from '@/services'
import { useAuth, useUser, KEY_STORAGE_AUTH } from '@/store'

type State = {
  isOpen: boolean
  toggle: Function
  close: Function
  logout: Function
  goHome: Function
  goMyCompanies: Function
  goProfile: Function
}

export default defineComponent({
  components: { FontAwesomeIcon, AppAvatar },
  props: {
    time: {
      type: String,
      required: true
    }
  },
  setup() {
    const router = useRouter()
    const user = useUser()
    const auth = useAuth()

    const state = reactive<State>({
      isOpen: false,
      toggle: () => (state.isOpen = !state.isOpen),
      close: () => (state.isOpen = false),
      logout: async () => {
        const { status } = await logoutUserService()
        if (status === 200) {
          state.isOpen = false
          removeStorage({ id: KEY_STORAGE_AUTH })
          user.$reset()
          auth.removeAuth()
          router.push({ name: 'SignIn' })
        }
      },
      goHome: () => {
        state.isOpen = false
        router.push({ path: '/' })
      },
      goMyCompanies: () => router.push({ name: 'MyCompanies' }),
      goProfile: () => router.push({ name: 'SettingUser' })
    })

    return { state, userName: user.getUser.name.split(' ')[0], userImg: '' }
  }
})
</script>

<style lang="scss" scoped>
.triangle {
  border-right: 1.2rem solid transparent;
  border-top: 1rem solid transparent;
  border-left: 1.2rem solid transparent;
  border-bottom: 1.9rem solid white;
}
</style>
