<template>
  <div class="flex flex-col p-0">
    <label
      v-if="label"
      :for="name"
      class="mb-2 flex gap-2 text-left text-base font-bold text-gray-600"
      :class="{ 'text-red-500': error }">
      {{ label }}
      <AppTooltip
        v-if="file.isActiveTooltip"
        :theme="file.themeTooltip"
        :title="file.titleTooltip"
        :message="file.messageTooltip">
        <FontAwesomeIcon icon="info-circle" class="text-base" />
      </AppTooltip>
    </label>

    <div>
      <article
        v-if="stateFile.status"
        class="flex h-10 items-center gap-2"
        :class="[error && 'rounded-full border border-red-500 py-2 px-4']">
        <FontAwesomeIcon
          class="text-base text-gray-600"
          :icon="stateFile.icon || 'file-alt'" />

        <p class="truncate text-lg text-gray-600">
          {{ stateFile.name }}
        </p>

        <FontAwesomeIcon
          class="cursor-pointer text-base text-gray-600"
          icon="edit"
          @click="stateFile.toggle" />
      </article>

      <div v-else class="relative overflow-hidden">
        <button
          class="
            btn btn-tertiary
            inline-flex
            w-full
            items-center
            justify-center
            py-2
            px-4
            font-bold
          "
          :class="{ 'border-red-500': error }">
          <FontAwesomeIcon icon="file-upload" class="text-base" />

          <span class="ml-2">Subir documento</span>

          <input
            :id="id"
            class="pin-r pin-t absolute block h-10 cursor-pointer opacity-0"
            type="file"
            :name="name"
            :disabled="disabled"
            :readonly="readonly"
            :accept="file.accept"
            @input="stateFile.handleFile" />
        </button>
      </div>

      <article
        v-if="error && stateFile.status"
        class="mt-2 flex items-center gap-2 text-xs text-red-400">
        <FontAwesomeIcon class="ml-2 text-base" icon="exclamation-triangle" />
        <p class="text-justify leading-3">
          {{ error }}
        </p>
      </article>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType, reactive } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

import AppTooltip from '@/components/AppTooltip.vue'

import { getFileIcon } from '@/utils'
import { IconFile } from '@/types'

export default defineComponent({
  components: { FontAwesomeIcon, AppTooltip },
  props: {
    label: String,
    modelValue: [String, Number, Object],
    type: {
      type: String,
      default: 'file'
    },
    name: {
      type: String,
      required: false
    },
    id: {
      type: String,
      required: false,
      default: 'id_file_default'
    },
    value: {
      type: String,
      default: ''
    },
    error: String,
    disabled: {
      type: Boolean,
      default: false,
      required: false
    },
    readonly: {
      type: Boolean,
      default: false,
      required: false
    },
    file: {
      type: Object as PropType<{
        accept: string
        titleTooltip: string
        themeTooltip: 'Primary' | 'Secondary' | string
        isActiveTooltip: boolean
      }>,
      required: false,
      default: () => ({
        accept: '',
        titleTooltip: '',
        themeTooltip: '',
        messageTooltip: '',
        isActiveTooltip: false
      })
    }
  },
  setup(_, { emit }) {
    const stateFile = reactive<any>({
      status: false,
      type: '',
      icon: '',
      name: '',
      toggle: () => {
        stateFile.status = !stateFile.status
        if (!stateFile.status) {
          emit('update:modelValue', {})
        }
      },
      handleStateFile: (ev: Event) => {
        const { files } = ev.target as HTMLInputElement

        if (files && files?.length > 0) {
          const file = files[0]
          const typeFile = getFileIcon(file.type) as IconFile

          if (typeFile) {
            stateFile.status = true
            stateFile.type = typeFile.type
            stateFile.icon = typeFile.icon
            stateFile.name = file.name
          }
        }
      },
      handleFile: (ev: Event) => {
        const { id, files } = ev.target as HTMLInputElement
        stateFile.handleStateFile(ev)
        emit('update:modelValue', { id, files })
      }
    })

    return {
      stateFile
    }
  }
})
</script>
