<template>
  <section class="flex h-16 items-center justify-between bg-red-500">
    <section class="burguer z-[100] ml-4">
      <fontAwesomeIcon
        class="text-[30px] text-white"
        icon="bars"
        @click="showAcordeon = !showAcordeon" />
      <div
        v-if="showAcordeon"
        class="absolute top-16 -ml-2 h-auto min-w-max bg-gray-100">
        <div
          class="
            opt
            flex
            items-center
            justify-between
            border-b border-gray-200
            hover:bg-gray-300
          "
          @click="goTo('/')">
          <p class="p-2">ENVIOS</p>
          <span class="mx-3">
            <FontAwesomeIcon icon="chevron-right" />
          </span>
        </div>
        <div
          class="
            opt
            flex
            items-center
            justify-between
            border-b border-gray-200
            hover:bg-gray-300
          "
          @click="goTo('/')">
          <p class="p-2">RECOGIDAS</p>
          <span class="mx-3">
            <FontAwesomeIcon icon="chevron-right" />
          </span>
        </div>
        <div
          class="
            opt
            flex
            items-center
            justify-between
            border-b border-gray-200
            hover:bg-gray-300
          "
          @click="goTo(ROUTES.RECAUDOS.PATH)">
          <p class="p-2">RECAUDOS</p>
        </div>
        <div
          class="
            opt
            flex
            items-center
            justify-between
            border-b border-gray-200
            hover:bg-gray-300
          "
          @click="goTo(ROUTES.ESTADO_CUENTA.PATH)">
          <p class="p-2">ESTADO DE CUENTA</p>
          <span class="mx-3">
            <FontAwesomeIcon icon="chevron-right" />
          </span>
        </div>
        <div
          class="
            opt
            flex
            items-center
            justify-between
            border-b border-gray-200
            hover:bg-gray-300
          ">
          <p class="p-2" @click="showOpcion.showAdmin = !showOpcion.showAdmin">
            ADMIN
          </p>
          <span class="relative mx-3">
            <FontAwesomeIcon icon="chevron-right" />
            <ul
              v-if="showOpcion.showAdmin"
              class="
                absolute
                left-4
                -top-2
                w-full
                min-w-max
                bg-gray-300
                text-base
              ">
              <li
                class="py-1 px-2 font-light hover:bg-gray-300"
                @click="goTo(ROUTES.CONFIGDESCUENTOS.PATH)">
                Descuentos
              </li>
              <li
                class="py-1 px-2 font-light hover:bg-gray-300"
                @click="goTo(ROUTES.CANALESYCAMPANA.PATH)">
                Canales y Campañas
              </li>
              <li
                class="py-1 px-2 font-light hover:bg-gray-300"
                @click="goTo(ROUTES.NOVEDADES.PATH)">
                Novedades
              </li>
              <li
                class="py-1 px-2 font-light hover:bg-gray-300"
                @click="goTo(ROUTES.DETALLEPOPUP.PATH)">
                Popup
              </li>
              <li class="py-1 px-2 font-light hover:bg-gray-300">Recuados2</li>
              <li
                class="sub_li font-light hover:bg-gray-300"
                @click="goTo(ROUTES.CONCILIACIONES.PATH)">
                Conciliaciones
              </li>
              <li
                class="sub_li font-light hover:bg-gray-300"
                @click="goTo(ROUTES.REFERREDDCUSTOMERS.PATH)">
                Referidos
              </li>
              <li
                class="py-1 px-2 font-light hover:bg-gray-300"
                @click="goTo(ROUTES.SHOPY.PATH)">
                Shopy
              </li>
            </ul>
          </span>
        </div>
      </div>
    </section>
    <section class="z-[100] flex h-full items-center md:ml-4">
      <picture
        class="icon my-auto flex h-[30px]"
        @click="goTo(ROUTES.ESTADO_CUENTA.PATH)">
        <img src="/logoAveOnline.svg" alt="logo de aveOnline" />
      </picture>

      <div class="navbar-content h-full items-center text-[14px]">
        <ul
          class="
            flex
            h-full
            justify-around
            font-sans
            text-lg
            font-bold
            text-white
          ">
          <li
            class="
              envios
              relative
              ml-[53px]
              flex
              h-full
              w-[140px]
              cursor-pointer
              items-center
              justify-center
              px-2
              hover:bg-red-600
            ">
            ENVIOS
            <div class="icon ml-[10px]">
              <fontAwesomeIcon class="my-auto" icon="chevron-down" />
            </div>
            <div class="sub_menu absolute top-[64px] w-[140px] text-gray-800">
              <ul class="w-full bg-gray-100 text-base">
                <li class="sub_li font-bold hover:bg-gray-300">Nacionales</li>
                <li class="sub_li font-light hover:bg-gray-300">Crear guía</li>
                <li class="sub_li font-light hover:bg-gray-300">Novedades</li>
                <li class="sub_li font-bold hover:bg-gray-300">
                  Internacionales
                </li>
                <li class="sub_li font-light hover:bg-gray-300">Crear guía</li>
                <li class="sub_li font-light hover:bg-gray-300">
                  Estado de las guías
                </li>
                <li class="sub_li font-light hover:bg-gray-300">Recogidas</li>
              </ul>
            </div>
          </li>

          <li
            class="
              recogidas
              relative
              ml-3
              flex
              h-full
              min-w-[100px]
              cursor-pointer
              items-center
              justify-center
              px-2
              hover:bg-red-600
            ">
            RECOGIDAS
            <div class="icon ml-[10px]">
              <fontAwesomeIcon class="my-auto" icon="chevron-down" />
            </div>
            <div class="sub_menu absolute top-[64px] w-[125px] text-gray-800">
              <ul class="w-full bg-gray-100 text-base">
                <li class="sub_li font-light hover:bg-gray-300">
                  Solicitud de recogida
                </li>
                <li class="sub_li font-light hover:bg-gray-300">
                  Estado recogidas
                </li>
                <li class="sub_li font-light hover:bg-gray-300">
                  Relación de envíos
                </li>
              </ul>
            </div>
          </li>

          <li
            class="
              ml-3
              flex
              h-full
              min-w-[100px]
              cursor-pointer
              items-center
              justify-center
              px-2
              hover:bg-red-600
            "
            @click="goTo(ROUTES.RECAUDOS.PATH)">
            RECAUDOS
          </li>

          <li
            class="
              estado_cuenta
              ml-3
              flex
              h-full
              w-[208px]
              cursor-pointer
              items-center
              justify-center
              px-2
              hover:bg-red-600
            ">
            ESTADO DE CUENTA
            <div class="icon ml-[10px]">
              <fontAwesomeIcon class="my-auto" icon="chevron-down" />
            </div>
            <div class="sub_menu absolute top-[64px] w-[208px] text-gray-800">
              <ul class="w-full bg-gray-100 text-base">
                <li
                  class="sub_li font-light hover:bg-gray-300"
                  @click="goTo(ROUTES.ESTADO_CUENTA.PATH)">
                  Estado de cuenta
                </li>
                <li class="sub_li | font-light hover:bg-gray-300">
                  Notificaciones pago
                </li>
              </ul>
            </div>
          </li>

          <li
            class="
              admin
              ml-3
              flex
              h-full
              min-w-[100px]
              cursor-pointer
              items-center
              justify-center
              px-2
              hover:bg-red-600
            ">
            ADMIN
            <div class="icon ml-[10px]">
              <fontAwesomeIcon class="my-auto" icon="chevron-down" />
            </div>
            <div class="sub_menu absolute top-[64px] w-[208px] text-gray-800">
              <ul class="w-full bg-gray-100 text-base">
                <li
                  class="sub_li font-light hover:bg-gray-300"
                  @click="goTo(ROUTES.CONFIGDESCUENTOS.PATH)">
                  Descuentos
                </li>
                <li
                  class="sub_li font-light hover:bg-gray-300"
                  @click="goTo(ROUTES.CANALESYCAMPANA.PATH)">
                  Canales y Campañas
                </li>
                <li
                  class="sub_li font-light hover:bg-gray-300"
                  @click="goTo(ROUTES.NOVEDADES.PATH)">
                  Novedades
                </li>
                <li
                  class="sub_li font-light hover:bg-gray-300"
                  @click="goTo(ROUTES.DETALLEPOPUP.PATH)">
                  Popup
                </li>
                <li class="sub_li font-light hover:bg-gray-300">Recuados2</li>
                <li
                  class="sub_li font-light hover:bg-gray-300"
                  @click="goTo(ROUTES.CONCILIACIONES.PATH)">
                  Conciliaciones
                </li>
                <li
                  class="sub_li font-light hover:bg-gray-300"
                  @click="goTo(ROUTES.REFERREDDCUSTOMERS.PATH)">
                  Referidos
                </li>
                <li
                  class="sub_li font-light hover:bg-gray-300"
                  @click="goTo(ROUTES.SHOPY.PATH)">
                  Shopy
                </li>
                <li
                  class="sub_li font-light hover:bg-gray-300"
                  @click="goTo(ROUTES.SHOPY_CONFIRMED.PATH)">
                  Shopy Confirmed
                </li>
                <li
                  class="sub_li font-light hover:bg-gray-300"
                  @click="goTo(ROUTES.SHOPY_REFUSED.PATH)">
                  Shopy Refused
                </li>
                <li
                  class="sub_li font-light hover:bg-gray-300"
                  @click="goTo(ROUTES.SHOPY_EXCEED.PATH)">
                  Shopy Exceed
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="mr-4">
      <fontAwesomeIcon class="text-[20px] text-white" icon="user" />
    </section>
  </section>
</template>

<script lang="ts">
import { defineComponent, reactive, ref } from 'vue'
import { useRouter } from 'vue-router'
import { ROUTES } from '@/constants'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

export default defineComponent({
  name: 'TheHeaderAveVue',
  components: {
    FontAwesomeIcon
  },
  emits: ['filter'],
  setup() {
    const router = useRouter()
    const showAcordeon = ref<boolean>(false)
    const showOpcion = reactive({
      showAdmin: false
    })

    const goTo = (route: string) => {
      showAcordeon.value = false // esto es un comentario
      showOpcion.showAdmin = false
      return router.push({
        path: route
      })
    }

    return {
      goTo,
      showAcordeon,
      showOpcion,
      ROUTES
    }
  }
})
</script>

<style scoped>
.navbar-content {
  display: none;
}
.sub_menu {
  display: none;
}

.sub_li {
  padding: 10px 16px;
  width: 100%;
}

.recogidas:hover > .sub_menu {
  display: block;
}

.estado_cuenta:hover > .sub_menu {
  display: block;
}

.envios:hover > .sub_menu {
  display: block;
}

.admin:hover > .sub_menu {
  display: block;
}

@media (min-width: 768px) {
  .burguer {
    display: none;
  }
  .navbar-content {
    display: flex;
  }
}
</style>
