<template>
  <nav
    class="
      pos-f
      z-index-9
      width-p-100
      p-v-20
      top-0
      left-0
      flex
      h-16
      justify-between
      bg-red-500
    ">
    <div class="icon-menu relative ml-4 h-full cursor-pointer items-center">
      <fontAwesomeIcon
        class="ml-8 text-[30px] text-white"
        icon="bars"
        @click="showAcordeon = !showAcordeon" />
      <div
        v-if="showAcordeon"
        class="absolute top-16 h-auto min-w-max bg-gray-100">
        <div
          class="
            opt
            flex
            items-center
            justify-between
            border-b border-gray-200
            hover:bg-gray-300
          "
          @click="goTo('/')">
          <p class="p-2">ENVIOS</p>
          <span class="mx-3">
            <FontAwesomeIcon icon="chevron-right" />
          </span>
        </div>
        <div
          class="
            opt
            flex
            items-center
            justify-between
            border-b border-gray-200
            hover:bg-gray-300
          "
          @click="goTo('/')">
          <p class="p-2">RECOGIDAS</p>
          <span class="mx-3">
            <FontAwesomeIcon icon="chevron-right" />
          </span>
        </div>
        <div
          class="
            opt
            flex
            items-center
            justify-between
            border-b border-gray-200
            hover:bg-gray-300
          "
          @click="goTo(ROUTES.RECAUDOS.PATH)">
          <p class="p-2">RECAUDOS</p>
        </div>
        <div
          class="
            opt
            flex
            items-center
            justify-between
            border-b border-gray-200
            hover:bg-gray-300
          "
          @click="goTo(ROUTES.ESTADO_CUENTA.PATH)">
          <p class="p-2">ESTADO DE CUENTA</p>
          <span class="mx-3">
            <FontAwesomeIcon icon="chevron-right" />
          </span>
        </div>
        <div
          class="
            opt
            flex
            items-center
            justify-between
            border-b border-gray-200
            hover:bg-gray-300
          "
          @click="goTo('/')">
          <p class="p-2">AYUDA</p>
        </div>
        <div
          class="
            opt
            flex
            items-center
            justify-between
            border-b border-gray-200
            hover:bg-gray-300
          ">
          <p class="p-2" @click="showOpcion.showAdmin = !showOpcion.showAdmin">
            ADMIN
          </p>
          <span class="relative mx-3">
            <FontAwesomeIcon icon="chevron-right" />
            <ul
              v-if="showOpcion.showAdmin"
              class="
                absolute
                left-4
                -top-2
                w-full
                min-w-max
                bg-gray-300
                text-base
              ">
              <li
                class="py-1 px-2 font-light hover:bg-gray-300"
                @click="goTo(ROUTES.CONFIGDESCUENTOS.PATH)">
                Descuentos
              </li>
              <li
                class="py-1 px-2 font-light hover:bg-gray-300"
                @click="goTo(ROUTES.CANALESYCAMPANA.PATH)">
                Canales y Campañas
              </li>
              <li
                class="py-1 px-2 font-light hover:bg-gray-300"
                @click="goTo(ROUTES.NOVEDADES.PATH)">
                Novedades
              </li>
              <li
                class="py-1 px-2 font-light hover:bg-gray-300"
                @click="goTo(ROUTES.DETALLEPOPUP.PATH)">
                Popup
              </li>
              <li class="py-1 px-2 font-light hover:bg-gray-300">Recuados2</li>
            </ul>
          </span>
        </div>
      </div>
    </div>

    <div class="flex h-full items-center">
      <picture
        class="icon my-auto ml-6 flex h-[30px]"
        @click="goTo(ROUTES.ESTADO_CUENTA.PATH)">
        <img src="/logoAveOnline.svg" alt="logo de aveOnline" />
      </picture>

      <div class="navbar-content h-full items-center text-[14px]">
        <ul
          class="
            flex
            h-full
            justify-around
            font-sans
            text-lg
            font-bold
            text-white
          ">
          <li
            class="
              envios
              relative
              ml-[53px]
              flex
              h-full
              w-[140px]
              cursor-pointer
              items-center
              justify-center
              px-2
              hover:bg-red-600
            ">
            ENVIOS
            <div class="icon ml-[10px]">
              <fontAwesomeIcon class="my-auto" icon="chevron-down" />
            </div>
            <div class="sub_menu absolute top-[64px] w-[140px] text-gray-800">
              <ul class="w-full bg-gray-100 text-base">
                <li class="sub_li font-bold hover:bg-gray-300">Nacionales</li>
                <li class="sub_li font-light hover:bg-gray-300">Crear guía</li>
                <li class="sub_li font-light hover:bg-gray-300">Novedades</li>
                <li class="sub_li font-bold hover:bg-gray-300">
                  Internacionales
                </li>
                <li class="sub_li font-light hover:bg-gray-300">Crear guía</li>
                <li class="sub_li font-light hover:bg-gray-300">
                  Estado de las guías
                </li>
                <li class="sub_li font-light hover:bg-gray-300">Recogidas</li>
              </ul>
            </div>
          </li>

          <li
            class="
              recogidas
              relative
              ml-3
              flex
              h-full
              min-w-[100px]
              cursor-pointer
              items-center
              justify-center
              px-2
              hover:bg-red-600
            ">
            RECOGIDAS
            <div class="icon ml-[10px]">
              <fontAwesomeIcon class="my-auto" icon="chevron-down" />
            </div>
            <div class="sub_menu absolute top-[64px] w-[125px] text-gray-800">
              <ul class="w-full bg-gray-100 text-base">
                <li class="sub_li font-light hover:bg-gray-300">
                  Solicitud de recogida
                </li>
                <li class="sub_li font-light hover:bg-gray-300">
                  Estado recogidas
                </li>
                <li class="sub_li font-light hover:bg-gray-300">
                  Relación de envíos
                </li>
              </ul>
            </div>
          </li>

          <li
            class="
              ml-3
              flex
              h-full
              min-w-[100px]
              cursor-pointer
              items-center
              justify-center
              px-2
              hover:bg-red-600
            "
            @click="goTo(ROUTES.RECAUDOS.PATH)">
            RECAUDOS
          </li>

          <li
            class="
              estado_cuenta
              ml-3
              flex
              h-full
              w-[208px]
              cursor-pointer
              items-center
              justify-center
              px-2
              hover:bg-red-600
            ">
            ESTADO DE CUENTA
            <div class="icon ml-[10px]">
              <fontAwesomeIcon class="my-auto" icon="chevron-down" />
            </div>
            <div class="sub_menu absolute top-[64px] w-[208px] text-gray-800">
              <ul class="w-full bg-gray-100 text-base">
                <li
                  class="sub_li font-light hover:bg-gray-300"
                  @click="goTo(ROUTES.ESTADO_CUENTA.PATH)">
                  Estado de cuenta
                </li>
                <li class="sub_li | font-light hover:bg-gray-300">
                  Notificaciones pago
                </li>
              </ul>
            </div>
          </li>

          <li
            class="
              ml-3
              flex
              h-full
              min-w-[100px]
              cursor-pointer
              items-center
              justify-center
              px-2
              hover:bg-red-600
            ">
            AYUDA
          </li>

          <li
            class="
              admin
              ml-3
              flex
              h-full
              min-w-[100px]
              cursor-pointer
              items-center
              justify-center
              px-2
              hover:bg-red-600
            ">
            ADMIN
            <div class="icon ml-[10px]">
              <fontAwesomeIcon class="my-auto" icon="chevron-down" />
            </div>
            <div class="sub_menu absolute top-[64px] w-[208px] text-gray-800">
              <ul class="w-full bg-gray-100 text-base">
                <li
                  class="sub_li font-light hover:bg-gray-300"
                  @click="goTo(ROUTES.CONFIGDESCUENTOS.PATH)">
                  Descuentos
                </li>
                <li
                  class="sub_li font-light hover:bg-gray-300"
                  @click="goTo(ROUTES.CANALESYCAMPANA.PATH)">
                  Canales y Campañas
                </li>
                <li
                  class="sub_li font-light hover:bg-gray-300"
                  @click="goTo(ROUTES.NOVEDADES.PATH)">
                  Novedades
                </li>
                <li
                  class="sub_li font-light hover:bg-gray-300"
                  @click="goTo(ROUTES.DETALLEPOPUP.PATH)">
                  Popup
                </li>
                <li class="sub_li font-light hover:bg-gray-300">Recuados2</li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div
      class="
        icon_user
        relative
        right-6
        mx-[32px]
        flex
        cursor-pointer
        items-center
        text-white
      ">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-person-fill"
        viewBox="0 0 16 16"
        @click="goTo(ROUTES.DETALLE_COMERCIAL.PATH)">
        <path
          d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
      </svg>
    </div>
  </nav>
</template>

<script lang="ts">
import { defineComponent, reactive, ref } from 'vue'
import { useRouter } from 'vue-router'
import { ROUTES } from '@/constants'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

export default defineComponent({
  name: 'TheHeaderAveVue',
  components: {
    FontAwesomeIcon
  },
  emits: ['filter'],
  setup() {
    const router = useRouter()
    const showAcordeon = ref<boolean>(false)
    const showOpcion = reactive({
      showAdmin: false
    })

    const goTo = (route: string) => {
      showAcordeon.value = false // esto es un comentario
      showOpcion.showAdmin = false
      return router.push(route)
    }

    return {
      goTo,
      showAcordeon,
      showOpcion,
      ROUTES
    }
  }
})
</script>

<style scoped>
.sub_menu {
  display: none;
}

.sub_li {
  padding: 10px 16px;
  width: 100%;
}

.recogidas:hover > .sub_menu {
  display: block;
}

.estado_cuenta:hover > .sub_menu {
  display: block;
}

.envios:hover > .sub_menu {
  display: block;
}

.admin:hover > .sub_menu {
  display: block;
}
</style>
