<template>
  <header
    class="
      sticky
      top-0
      z-10
      flex
      h-16
      max-h-full
      w-full
      max-w-full
      items-center
      justify-between
      border-0
      bg-red-500
      px-6
      shadow-[0px_8px_17px_#cbcbcb]
    ">
    <router-link to="/">
      <figure>
        <img
          class="h-[36px] w-[136px]"
          src="/assets/img/logo/logo-light-2.svg"
          alt="logo-ila" />
      </figure>
    </router-link>
    <userMenu time="22 dias" />
  </header>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import userMenu from '@/components/AppUser.vue'

export default defineComponent({
  components: { userMenu }
})
</script>
