<template>
  <Header />
  <div class="flex">
    <ErrorBoundary :fall-back="fallBack" :params="{ title: 'Menu' }">
      <Menu :is-open="isOpen" @toggle="toggle" />
    </ErrorBoundary>
    <main class="max-h-screen w-full overflow-y-auto px-8 pt-6 pb-20">
      <router-view />
    </main>
  </div>

  <Modal v-model="modalInformationInvalid" width="509px">
    <div class="flex flex-col items-center">
      <FontAwesomeIcon
        icon="exclamation-triangle"
        size="4x"
        class="text-red-400" />
      <h5 class="mt-4 font-bold">Información inválida</h5>
      <div
        class="
          text-brand-primary
          m-0
          w-20
          rounded-lg
          border-2 border-red-500
          bg-red-500
          p-0
        "></div>
      <div class="mt-4 flex flex-col items-center">
        <span class="mt-1 text-center font-sans text-xl text-gray-600">
          La información suministrada
          <span class="font-bold">no es válida</span>
          vuelve a digitarla o comunícate con uno de nuestros asesores.
        </span>
        <div class="mb-2 mt-6 space-x-3">
          <button class="btn btn-selection" @click="onCloseInvalid">
            <FontAwesomeIcon icon="comments-alt" style="color: #8a8a8a" />
            <span class="ml-2"> Comunicarce con Ave </span>
          </button>
          <button
            class="btn btn-primary items-center rounded-full px-8"
            @click="onConfirm">
            Completar
          </button>
        </div>
      </div>
    </div>
  </Modal>

  <Modal v-model="modalValidateInformation" width="505px">
    <div class="flex flex-col items-center">
      <FontAwesomeIcon icon="clock" size="4x" class="text-gray-600" />
      <h5 class="font-bold">Estamos validando</h5>
      <h5>Tu información</h5>
      <div
        class="
          text-brand-primary
          m-0
          w-20
          rounded-lg
          border-2 border-red-500
          bg-red-500
          p-0
        "></div>
      <span class="mt-6 text-center font-sans text-xl text-gray-600">
        Mientras lo verificamos puedes navegar la aplicación y cotizar tus
        envíos.
      </span>
      <div class="mb-2 mt-6 space-x-3">
        <button
          class="btn btn-selection items-center px-8"
          @click="onCloseValidate">
          <FontAwesomeIcon icon="comments-alt" style="color: #8a8a8a" />
          Comunicarce con Ave
        </button>

        <button
          class="btn btn-primary items-center rounded-full px-8"
          @click="onContinue">
          Continuar
        </button>
      </div>
    </div>
  </Modal>

  <AppModalWelcome is-active />
</template>

<script lang="ts">
import { defineComponent, ref, defineAsyncComponent } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import ErrorBoundary from 'vue-error-boundary'

import Menu from '@/components/TheMenu.vue'
import Modal from '@/components/TheModal.vue'
import Header from '@/components/TheHeader.vue'
import AppModalWelcome from '@/components/AppModalWelcome.vue'

import { useShow } from '@/composables'

const AppErrorBoundary = defineAsyncComponent(
  () => import('@/components/AppErrorBoundary.vue')
)

export default defineComponent({
  components: {
    Header,
    Menu,
    Modal,
    FontAwesomeIcon,
    ErrorBoundary,
    AppModalWelcome
  },
  setup() {
    const { isOpen, onChangeStatus: toggle } = useShow()
    isOpen.value = true

    const modalInformationInvalid = ref(false)
    const modalValidateInformation = ref(false)

    const onCloseInvalid = () => {
      modalInformationInvalid.value = false
    }

    const onCloseValidate = () => {
      modalValidateInformation.value = false
    }

    const onConfirm = () => {
      modalInformationInvalid.value = false
    }

    const onContinue = () => {
      modalValidateInformation.value = false
    }

    return {
      isOpen,
      toggle,
      onCloseInvalid,
      onConfirm,
      modalInformationInvalid,
      modalValidateInformation,
      onContinue,
      onCloseValidate,
      fallBack: AppErrorBoundary
    }
  }
})
</script>
