<template>
  <div class="relative">
    <nav
      v-if="isOpen"
      class="
        relative
        flex
        h-[calc(100vh-4rem)]
        max-h-screen
        w-[203px]
        flex-col
        bg-gray-100
        hover:overflow-y-auto hover:overflow-x-hidden
      ">
      <div class="flex-auto">
        <ul v-for="menu in state.routes" :key="menu.id">
          <li
            class="flex h-[50px] cursor-pointer items-center justify-between"
            @click="toggleDisplay(menu.id)">
            <div
              class="
                flex
                w-full
                items-center
                justify-between
                px-4
                text-lg
                leading-5
                hover:text-red-500
              ">
              <p
                :class="{
                  'text-red-500': menu.display
                }">
                <FontAwesomeIcon :icon="menu.icon_name" class="fa-fw text-xl" />
                <span class="ml-2"> {{ menu.name }}</span>
              </p>

              <FontAwesomeIcon
                class="text-xl"
                :class="{
                  'rotate-90 transform text-red-500': menu.display
                }"
                icon="chevron-right" />
            </div>
          </li>

          <section v-if="menu.display">
            <router-link
              v-for="(subitem, index) in menu.children"
              :key="index"
              v-slot="{ href, navigate, isActive, isExactActive }"
              :to="{ name: subitem.path_name }"
              custom>
              <div
                class="
                  flex
                  h-[50px]
                  cursor-pointer
                  items-center
                  justify-start
                  pr-4
                  pl-7
                "
                :href="href"
                @click="navigate">
                <p class="z-10 text-lg font-normal text-gray-600">
                  <span
                    :class="[isActive && 'text-gray-800', isExactActive && '']">
                    {{ subitem.name }}
                  </span>
                </p>
              </div>
            </router-link>
          </section>
        </ul>
      </div>

      <section class="flex-grow-0">
        <div
          class="
            my-2
            w-full
            border-t border-gray-600
            bg-gray-600
            text-gray-600
          "></div>

        <div
          v-for="(config, index) in state.config"
          :key="index"
          class="
            border-sm
            flex
            h-[50px]
            cursor-pointer
            items-center
            justify-start
            px-4
          ">
          <router-link
            v-slot="{ href, navigate, isActive }"
            :to="{ name: config.path_name }"
            custom>
            <p
              :href="href"
              class="text-lg"
              :class="[isActive ? 'text-gray-800' : 'text-gray-600']"
              @click="navigate">
              <FontAwesomeIcon :icon="config.icon_name" class="mr-2 text-xl" />
              Configuraciones
            </p>
          </router-link>
        </div>
      </section>
    </nav>

    <nav
      v-else
      class="relative flex h-[calc(100vh-4rem)] w-14 flex-col bg-gray-100">
      <div class="flex-auto space-y-7">
        <ul>
          <li
            v-for="menu in state.routes"
            :key="menu.id"
            class="flex h-14 cursor-pointer items-center">
            <div
              class="
                flex
                w-full
                items-center
                justify-center
                text-lg
                leading-5
                hover:text-red-500
              ">
              <p @click="$emit('toggle')">
                <FontAwesomeIcon
                  class="text-xl"
                  :class="{
                    'text-red-500': menu.display
                  }"
                  :icon="menu.icon_name" />
              </p>
            </div>
          </li>
        </ul>
      </div>

      <section class="flex-grow-0">
        <div
          class="
            w-full
            border-t border-gray-600
            bg-gray-600
            text-gray-600
          "></div>
        <div
          v-for="(config, index) in state.config"
          :key="index"
          class="
            border-sm
            my-5
            flex
            cursor-pointer
            items-center
            justify-start
            px-4
          ">
          <router-link
            v-slot="{ isActive }"
            :to="{ name: config.path_name }"
            custom>
            <p class="text-lg" @click="$emit('toggle')">
              <b>
                <FontAwesomeIcon
                  :class="[isActive ? 'text-gray-800' : 'text-gray-600']"
                  :icon="config.icon_name"
                  class="mr-2 text-xl" />
              </b>
            </p>
          </router-link>
        </div>
      </section>
    </nav>

    <div
      class="
        absolute
        top-1/2
        left-full
        -translate-x-1/2 -translate-y-1/2
        transform
      ">
      <span
        class="
          relative
          inline-block
          h-[26px]
          w-[26px]
          cursor-pointer
          rounded-full
          border border-gray-100
          bg-white
        "
        @click="$emit('toggle')">
        <FontAwesomeIcon
          class="
            absolute
            top-1/2
            left-1/2
            -translate-x-1/2 -translate-y-1/2
            transform
            text-xl
            font-bold
            text-gray-200
          "
          :class="[!isOpen ? 'rotate-180' : '']"
          icon="chevron-left" />
      </span>
    </div>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  reactive,
  onMounted,
  computed,
  toRefs,
  ref
} from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

import { Menu } from '@/types'
import { getStorage } from '@/utils'
import { KEY_STORAGE_AUTH } from '@/store'

export default defineComponent({
  components: { FontAwesomeIcon },
  props: {
    isOpen: { type: Boolean, required: true }
  },
  emits: ['toggle'],
  setup() {
    const menu = ref<Menu[]>([])
    const ITEM_CONFIG = 'configuraciones'

    const state = reactive({
      config: computed(() => {
        return menu.value.filter((module: Menu) => {
          return module.name.toLowerCase() === ITEM_CONFIG
        })
      }),
      routes: computed(() => {
        return menu.value.filter((module: Menu) => {
          return module.name.toLowerCase() !== ITEM_CONFIG
        })
      })
    })

    const action = reactive({
      toggleDisplay: (id: string | undefined) => {
        const newState = state.routes.map((route: any) => {
          if (route.id === id) {
            route.display = !route.display
          } else {
            route.display = false
          }
          return route
        })

        return newState
      }
    })

    onMounted(() => {
      const storage = getStorage(KEY_STORAGE_AUTH)
      if (storage) {
        menu.value = storage?.menu.map((route: Menu, index: number) => {
          return { id: index, display: false, ...route }
        })
      }
    })

    return { state, ...toRefs(action) }
  }
})
</script>

<style lang="css">
li ~ * {
  animation: ease-opacity-t-b 0.5s ease;
}

svg {
  transition: all 0.3s;
}
</style>
