<template>
  <Teleport to="body">
    <transition name="fade">
      <div v-if="modelValue" :class="[classPositionModal]">
        <section :class="[classPositionModalContainer]" :style="cssProps">
          <div class="z-[11] flex w-full flex-col p-6">
            <button
              v-if="showIconClose"
              class="modal__container-close"
              @click="close">
              <FontAwesomeIcon icon="times" />
            </button>

            <header
              v-if="title?.length > 0"
              class="
                mb-6
                flex
                w-full
                flex-col
                items-center
                justify-center
                text-center
              ">
              <span v-if="icon" class="text-[100px]" :class="iconColor">
                <FontAwesomeIcon :icon="icon" />
              </span>
              <h5 class="m-2">{{ title }}</h5>
              <span
                class="
                  m-0
                  w-[80px]
                  rounded-lg
                  border-2 border-red-500
                  bg-red-500
                  p-0
                  text-red-500
                "></span>
            </header>

            <section>
              <slot></slot>
            </section>

            <section class="m-0 flex flex-row justify-center">
              <slot name="buttons"></slot>
            </section>
          </div>
        </section>
      </div>
    </transition>
  </Teleport>
</template>

<script lang="ts">
import { computed, defineComponent, PropType } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

export default defineComponent({
  components: { FontAwesomeIcon },
  props: {
    title: {
      type: String,
      default: '',
      required: false
    },
    icon: { type: [String, Array] },
    iconColor: { type: String },
    modelValue: Boolean,
    width: {
      type: String,
      default: '50%'
    },
    showIconClose: {
      type: Boolean,
      default: true,
      required: false
    },
    isManualClose: {
      type: Boolean,
      default: false,
      required: false
    },
    size: {
      type: Object as PropType<{
        screen?: 'middle' | 'complete'
        position?: 'start' | 'center' | 'end'
      }>,
      default: () => ({
        screen: 'complete',
        position: 'center'
      }),
      required: false
    }
  },
  emits: ['update:modelValue', 'close'],
  setup(props, { emit }) {
    const cssProps = computed(() => ({
      width: props.width
    }))

    const classPositionModal = computed(() => {
      let screen = 'top-0 h-full'

      if (props.size.screen === 'middle') {
        screen = 'h-[calc(100%-4rem)] top-16'
      }

      if (props.size.screen === 'complete') {
        screen = 'top-0 h-full'
      }

      if (props.size.position === 'center') {
        return `fixed ${screen} z-10 left-0 flex w-full items-center justify-center overflow-auto bg-black bg-opacity-20`
      }

      if (
        props?.size?.position &&
        ['start', 'end'].includes(props?.size?.position)
      ) {
        let position = ''
        if (props.size.position === 'start') position = 'left'
        if (props.size.position === 'end') position = 'right'

        return `fixed ${screen} z-10 ${position}-0 flex w-full justify-${props.size.position} overflow-auto bg-black bg-opacity-20`
      }

      return ''
    })

    const classPositionModalContainer = computed(() => {
      if (props.size.position === 'center') {
        return 'relative flex overflow-y-auto overflow-x-hidden rounded-lg bg-white p-0 shadow-[0px_8px_17px_#cbcbcb]'
      }

      if (
        props?.size?.position &&
        ['start', 'end'].includes(props.size.position)
      ) {
        return 'relative flex overflow-y-auto overflow-x-hidden bg-white p-0 shadow-[0px_8px_17px_0px_#9B9B9B66] border border-gray-400'
      }

      return ''
    })

    const close = () => {
      if (props.isManualClose) {
        emit('close', false)
      } else {
        emit('update:modelValue', false)
      }
    }

    return { close, cssProps, classPositionModal, classPositionModalContainer }
  }
})
</script>

<style lang="css" scoped>
.modal__container-close {
  @apply absolute right-5 mr-[10px] h-[32px] w-[32px] rounded-full border border-gray-300 pt-[3px] text-center text-gray-300;
}

.fade-enter-active {
  transition: all 0.3s ease-out;
}

.fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.fade-enter-from,
.fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}
</style>
