<template>
  <Teleport to="body">
    <transition name="fade">
      <div
        v-if="modelValue"
        class="
          fixed
          top-[64px]
          left-0
          z-10
          flex
          h-full
          w-full
          items-start
          justify-end
          overflow-auto
          bg-black bg-opacity-20
        ">
        <div
          class="
            flex
            h-full
            w-[calc(100%-203px)]
            overflow-y-auto overflow-x-hidden
            bg-white
            p-0
            shadow-[0px_8px_17px_#cbcbcb]
          ">
          <div class="w-full flex-col p-0">
            <header
              v-if="hasManualHeader"
              class="h-auto w-full bg-gray-100 py-2">
              <slot name="header"></slot>
              <button
                class="
                  absolute
                  top-3
                  right-5
                  h-8
                  w-8
                  rounded-full
                  border border-gray-300
                  pt-1
                  text-gray-300
                "
                @click="close">
                <FontAwesomeIcon icon="times" />
              </button>
            </header>

            <header
              v-else
              class="
                fixed
                z-10
                flex
                h-[77px]
                w-[calc(100%-203px)]
                items-center
                justify-between
                bg-gray-100
                py-2
                text-center
              ">
              <section class="flex">
                <div
                  :class="[
                    subtitle ? 'border-r border-gray-450 pr-8' : '',
                    'my-2 flex '
                  ]">
                  <h5 v-if="title" class="m-2 pl-4">{{ title }}</h5>
                  <h5 class="m-1 text-gray-600">{{ subtitle }}</h5>
                </div>
                <div v-if="urlImage" class="flex items-center justify-center">
                  <figure class="w-14 pl-4">
                    <img :src="urlImage" alt="img" />
                  </figure>
                  <h5 class="pl-4">{{ content }}</h5>
                </div>
              </section>
              <button
                class="
                  absolute
                  top-5
                  right-5
                  h-8
                  w-8
                  rounded-full
                  border border-gray-300
                  pt-1
                  text-gray-300
                "
                @click="close">
                <FontAwesomeIcon icon="times" />
              </button>
            </header>
            <div :class="[hasManualHeader ? '' : 'top-[77px]', 'relative']">
              <slot></slot>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </Teleport>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

export default defineComponent({
  components: { FontAwesomeIcon },
  props: {
    modelValue: Boolean,
    title: {
      type: String,
      required: false
    },
    subtitle: {
      type: String,
      required: false
    },
    content: {
      type: String,
      required: false
    },
    urlImage: {
      type: String,
      required: false
    },
    hasManualHeader: {
      type: Boolean,
      required: false
    },
    // deprecated
    width: {
      type: String,
      default: ''
    }
  },
  setup(_, { emit }) {
    const close = () => emit('update:modelValue', false)
    return { close }
  }
})
</script>

<style lang="css" scoped>
.fade-enter-active {
  transition: all 0.3s ease-out;
}
.fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.fade-enter-from,
.fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}
</style>
