<template>
  <Teleport v-if="isActive" to="body">
    <transition name="fade">
      <section
        class="
          fixed
          top-0
          left-0
          z-20
          flex
          h-full
          w-full
          flex-col
          items-center
          justify-center
          overflow-auto
          bg-white bg-opacity-90
        ">
        <div class="spinner"></div>
        <p class="mt-2 text-gray-600">
          {{ title }}
        </p>
      </section>
    </transition>
  </Teleport>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  props: {
    title: {
      type: String,
      default: 'Cargando'
    },
    isActive: {
      type: Boolean,
      default: false,
      required: true
    }
  }
})
</script>

<style lang="css" scoped>
.spinner {
  animation: spin 1.3s infinite ease 1.5s;
  @apply h-28 w-28 rounded-full border-[0.9rem] border-gray-200 border-r-red-500;
}

.spinner::after {
  content: '';
  @apply absolute bottom-[2px] left-[70px] h-[14px] w-[14px] rounded-[50px]
      bg-red-500;
}

.spinner::before {
  content: '';
  @apply absolute top-[2px] left-[71px] h-[14px] w-[14px] rounded-[50%] bg-red-500;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
</style>
