<template>
  <div class="w-full">
    <div class="flex min-w-[1173px] items-center justify-between">
      <Breadcrumb />
      <slot name="datepicker"></slot>
    </div>

    <div class="my-6">
      <div v-if="title?.name" class="flex items-center gap-3">
        <Title v-if="title?.name" :icon="title?.icon" :title="title?.name" />
      </div>
      <slot name="header-status"></slot>
    </div>

    <div class="mb-6">
      <slot name="tabs"></slot>
    </div>

    <main
      class="
        w-full
        min-w-[1173px]
        rounded-[15px]
        border border-gray-100
        bg-white
        p-6
        shadow-[0px_8px_17px_0px_#9B9B9B66]
      ">
      <slot name="main"></slot>
    </main>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'

import Title from '@/components/AppTitle.vue'
import Breadcrumb from '@/components/AppBreadcrumb.vue'

export default defineComponent({
  components: { Breadcrumb, Title },
  props: {
    title: {
      type: Object as PropType<{ name?: string; icon?: string }>,
      required: false
    }
  }
})
</script>
