<template>
  <section class="w-full">
    <table class="w-full overflow-hidden rounded-t-[10px]">
      <thead class="w-full">
        <tr
          class="
            bg-gray-200
            font-sans
            text-lg
            font-bold
            not-italic
            leading-[19px]
          ">
          <AppThTableVue
            add-class="w-[11.1%]"
            :key-general="keySelect"
            title1="Fecha"
            @key-th="changeKey($event, 'fecha')" />
          <AppThTableVue
            add-class="w-[11.1%]"
            :key-general="keySelect"
            title1="Estado"
            @key-th="changeKey($event, 'Estado')" />
          <AppThTableVue
            add-class="w-[11.1%]"
            :key-general="keySelect"
            title1="Nombre"
            @key-th="changeKey($event, 'nombre')" />
          <AppThTableVue
            add-class="w-[11.1%]"
            :key-general="keySelect"
            title1="Fecha desactivación"
            title2="comisión"
            @key-th="changeKey($event, 'fechaDesactivacion')" />
          <AppThTableVue
            add-class="w-[11.1%]"
            :key-general="keySelect"
            title1="Facturado por"
            title2="el referido"
            @key-th="changeKey($event, 'facturadoReferido')" />
          <AppThTableVue
            add-class="w-[11.1%]"
            :key-general="keySelect"
            title1="Cargado"
            title2="a billetera"
            @key-th="changeKey($event, 'cargadoBilletera')" />
          <AppThTableVue
            add-class="w-[11.1%]"
            :key-general="keySelect"
            title1="Pendiente"
            title2="por recibir"
            @key-th="changeKey($event, 'pendienteRecibir')" />
          <AppThTableVue
            add-class="w-[11.1%]"
            :key-general="keySelect"
            title1="Estado cartera"
            title2="factura"
            @key-th="changeKey($event, 'estadoCartera')" />
          <AppThTableVue
            add-class="w-[11.1%]"
            :hidden-icon="true"
            :key-general="keySelect"
            title1="Acciones" />
        </tr>
      </thead>
      <tbody class="w-full pt-1">
        <tr class="h-5 w-full border-y-[10px] border-transparent">
          <td>gfdgnfd</td>
        </tr>
      </tbody>
    </table>
  </section>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'

import AppThTableVue from '@/components/AppThTableAve.vue'

interface ISelect {
  key: string
  status: string
}

export default defineComponent({
  name: 'AppTableUserReferred',
  components: {
    AppThTableVue
  },
  setup() {
    // const showTable = ref<boolean>(false)
    const keySelect = ref<string>('')
    const statusSelect = ref<string>('')
    const columnSelect = ref<string>('')
    const changeKey = (val: ISelect, column = '') => {
      keySelect.value = val.key
      statusSelect.value = val.status
      columnSelect.value = column
    }
    return {
      keySelect,
      changeKey
    }
  }
})
</script>
