<template>
  <section class="Cuentas de cliente text-gray-800">
    <div class="flex items-center justify-between text-base">
      <div class="text-left">
        <h4 class="font-sansBold">{{ account.nombreDelBeneficiario }}</h4>
        <span class="relative top-[-6px] font-sans text-xs">
          {{ account.nombreBanco }}
          <span v-for="tipo in tipos_cuentas" :key="tipo.value">
            <span v-if="tipo.value == account.tipoDecuenta">{{
              tipo.label
            }}</span>
          </span>
          {{ account.numeroCuentaDelBeneficiario }}
        </span>
      </div>
      <div
        class="mr-3 cursor-pointer"
        @click="selectFavorite(account.cuentaPorDefecto)">
        <fontAwesomeIcon
          v-if="load"
          class="my-auto animate-spin"
          icon="spinner" />
        <fontAwesomeIcon
          v-if="account.cuentaPorDefecto && !load"
          class="text-amber-400"
          icon="star" />
        <fontAwesomeIcon
          v-if="!account.cuentaPorDefecto && !load"
          class="text-gray-400"
          icon="star" />
      </div>
    </div>
  </section>

  <AppModalVue
    v-model="modal.show"
    :header-icon="modal.icon"
    width="430px"
    :title="modal.title">
    <AppRequestFavoriteAccount
      :account="account"
      :token="token"
      :mail="mail"
      :phone="phone"
      @closemodal="modal.show = false"
      @accountchanged="changeStateModal">
    </AppRequestFavoriteAccount>
  </AppModalVue>
</template>

<script lang="ts">
import { defineComponent, PropType, ref } from 'vue'
// eslint-disable-next-line camelcase
import { tipos_cuentas } from '@/constants'
import { IRespListSusbcripts, TypeIcon } from '@/constants/TypesGenerales'
import { useUsuarioStore } from '@/store/useUserStoreAve'
import { RequestMessagePayDisbursement } from '@/services/h2hRequestMessagePayDisbAve'
import AppRequestFavoriteAccount from './porUpsF/AppRequestFavoriteAccountAve.vue'

interface IModal {
  title: string
  icon: TypeIcon
  show: boolean
}

export default defineComponent({
  components: {
    AppRequestFavoriteAccount
  },
  props: {
    favorite: {
      type: Boolean,
      default: false
    },
    account: {
      type: Object as PropType<IRespListSusbcripts>,
      required: true
    }
  },
  setup() {
    const token = ref<string>('')
    const phone = ref<string>('')
    const mail = ref<string>('')
    const load = ref<boolean>(false)
    const modal = ref<IModal>({
      title: 'Cuenta favorita',
      show: false,
      icon: ''
    })

    const userStore = useUsuarioStore()
    const idEnterprise = userStore.getIdEnterprise
    const idUser = userStore.getIdUser

    const selectFavorite = async (isFav: boolean) => {
      if (!isFav) {
        load.value = true
        setTimeout(() => {
          load.value = false
        }, 3000)
        const resp = await RequestMessagePayDisbursement(idUser, idEnterprise)
        const data = resp.data.data
        if (data.status === 'ok') {
          token.value = data.bodyToken
          phone.value = data.phone
          mail.value = data.mail
          modal.value.show = true
        }
      }
    }

    const changeStateModal = () => {
      modal.value.icon = 'ok'
      modal.value.title = 'Inscripción realizada'
    }
    return {
      selectFavorite,
      changeStateModal,
      tipos_cuentas,

      modal,
      token,
      mail,
      phone,
      load
    }
  }
})
</script>

/* Accesos al Componente *****/ /// → src\components\recaudos\TheHeadInfo.vue
