<template>
  <section :class="className">
    <div class="m-2 flex items-center justify-between">
      <div class="flex text-gray-800">
        <div class="text-left">
          <p class="font-sansBold">{{ account.nombreDelBeneficiario }}</p>
          <p class="mt-1 font-sans text-sm">
            <span>
              {{ account.nombreBanco }} -
              <span v-for="tipo in tipos_cuentas" :key="tipo.value">
                <span v-if="tipo.value == account.tipoDecuenta">{{
                  tipo.label
                }}</span>
              </span>
              {{ account.numeroCuentaDelBeneficiario }}
            </span>
          </p>
        </div>

        <div class="ml-4 cursor-pointer">
          <img
            v-if="account.cuentaPorDefecto"
            src="../../assets/svgs/star.svg"
            alt="start icon" />
          <img
            v-if="!account.cuentaPorDefecto"
            src="../../assets/svgs/starGray.svg"
            alt="start icon" />
        </div>
      </div>
      <div class="arrow">
        <svg
          width="8"
          height="12"
          viewBox="0 0 8 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M7 6.53125C7.28125 6.25 7.28125 5.78125 7 5.46875L2.75 1.21875C2.4375 0.9375 1.96875 0.9375 1.6875 1.21875L0.96875 1.9375C0.6875 2.25 0.6875 2.71875 0.96875 3L4 6.03125L0.96875 9.03125C0.6875 9.3125 0.6875 9.78125 0.96875 10.0938L1.6875 10.7812C1.96875 11.0938 2.4375 11.0938 2.75 10.7812L7 6.53125Z"
            fill="#8A8A8A" />
        </svg>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
// eslint-disable-next-line camelcase
import { tipos_cuentas } from '@/constants'
import { IRespListSusbcripts } from '@/types/BankAve'
import { defineComponent, onMounted, computed, ref, PropType } from 'vue'

export default defineComponent({
  props: {
    index: {
      type: Number,
      required: true
    },
    selected: {
      type: Number,
      required: true
    },
    account: {
      type: Object as PropType<IRespListSusbcripts>,
      required: true
    }
  },
  setup(props) {
    const favorite = ref<boolean>()
    const mounted = ref<boolean>(false)

    const className = computed(() => {
      if (props.account.cuentaPorDefecto && props.selected < 0) {
        return 'rounded-[5px] border cursor-pointer border-red-400 mb-3'
      }
      if (props.index === props.selected) {
        return 'rounded-[5px] border cursor-pointer border-red-400 mb-3'
      }
      return 'rounded-[5px] border cursor-pointer border-gray-400 mb-3'
    })

    onMounted(() => {
      setTimeout(() => {
        mounted.value = true
      }, 3000)
    })

    return {
      className,
      favorite,
      tipos_cuentas
    }
  }
})
</script>

/* Accesos al Componente *****/ /// → src\components\recaudos\TheHeadInfo.vue
