<template>
  <section class="Movimientos de cuenta w-full">
    <div class="opcions w-full items-center justify-between p-6">
      <div class="flex justify-between">
        <AppTitleThreeAve
          color="text-gray-800"
          font="font-bold"
          class="text-[28px]"
          >Movimientos
        </AppTitleThreeAve>
        <AppButtonDownloadDocumentAve></AppButtonDownloadDocumentAve>
      </div>
      <section class="mt-2 table w-full text-gray-800">
        <table class="w-full overflow-hidden rounded-t-[10px]">
          <thead
            class="
              cont
              w-full
              bg-gray-200
              font-sans
              text-lg
              font-bold
              not-italic
              leading-[19px]
            ">
            <tr>
              <th class="w-[2.5%]"></th>
              <AppThTableVue
                class="w-[14%]"
                :key-general="keySelect"
                title1="Número de"
                title2="documento"
                @key-th="changeKey($event, 'fecha')" />
              <AppThTableVue
                class="w-[14%]"
                :key-general="keySelect"
                title1="Fecha"
                @key-th="changeKey($event, 'fecha')" />
              <AppThTableVue
                class="w-[25%]"
                :key-general="keySelect"
                title1="Descripción"
                @key-th="changeKey($event, 'fecha')" />
              <AppThTableVue
                class="w-[14%]"
                :key-general="keySelect"
                title1="Ingreso"
                @key-th="changeKey($event, 'fecha')" />
              <AppThTableVue
                class="w-[14%]"
                :key-general="keySelect"
                title1="Egreso"
                @key-th="changeKey($event, 'fecha')" />
              <AppThTableVue
                class="w-[14%]"
                :key-general="keySelect"
                title1="Saldo factura"
                @key-th="changeKey($event, 'fecha')" />
              <th class="w-[2.5%]"></th>
            </tr>
          </thead>
        </table>
      </section>
      <TheRowsTableAve :account-state="item"></TheRowsTableAve>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import AppTitleThreeAve from '@/components/AppTitleThreeAve.vue'
import AppThTableVue from '@/components/AppThTableAve.vue'
import AppButtonDownloadDocumentAve from '@/components/AppButtonDownloadDocumentAve.vue'
import TheRowsTableAve from './TheRowsTableAve.vue'

interface ISelect {
  key: string
  status: string
}
export default defineComponent({
  components: {
    AppTitleThreeAve,
    AppThTableVue,
    AppButtonDownloadDocumentAve,
    TheRowsTableAve
  },
  setup() {
    const keySelect = ref<string>('')
    const statusSelect = ref<string>('')
    const columnSelect = ref<string>('')

    const changeKey = (val: ISelect, column = '') => {
      keySelect.value = val.key
      statusSelect.value = val.status
      columnSelect.value = column
    }

    return { changeKey, keySelect }
  }
})
</script>
