<template>
  <section
    class="w-full rounded-[5px] border border-gray-400 p-4 py-3 text-left">
    <div class="h-[25px]">
      <AppTitleThreeAve font="font-bold" class="text-[23px]"
        >Resumen</AppTitleThreeAve
      >
    </div>
    <!--  ↓↓↓ Inicio Recargas billetera ↓↓↓ -->
    <div
      class="
        mt-2
        flex
        items-center
        justify-between
        rounded-[3px]
        border border-gray-400
        py-2
        px-3
        text-base
      ">
      <span>Recargas billetera</span>
      <span class="flex items-center">
        <span class="text-esmerald-350">
          {{ formatCurrencyCo(0) }}
        </span>
        <fontAwesomeIcon
          class="my-auto ml-2 text-gray-600"
          icon="angle-right" />
      </span>
    </div>
    <!-- ↑↑↑ Fin Recargas billetera    ↑↑↑ -->
    <!-- --------------------------------- -->
    <!-- ↓↓↓ Inicio Dineros recaudados ↓↓↓ -->
    <a href="#money_colleted" @click="modalStore.ToggleMoneyCollected('true')">
      <div
        class="
          mt-2
          flex
          items-center
          justify-between
          rounded-[3px]
          border border-gray-400
          py-2
          px-3
          text-base
        ">
        <span>Dineros recaudados</span>
        <span class="flex items-center">
          <span class="text-esmerald-350">
            {{ formatCurrencyCo(totalrecaudados) }}
          </span>
          <fontAwesomeIcon
            class="my-auto ml-2 text-gray-600"
            icon="angle-right" />
        </span>
      </div>
    </a>

    <!-- ↑↑↑ Fin Dineros recaudados    ↑↑↑ -->
    <!-- --------------------------------- -->
    <!-- ↓↓↓ Inicio Facturas        ↓↓↓ -->
    <a href="#invoices_card" @click="modalStore.ToggleInvoices('true')">
      <div
        class="
          mt-2
          flex
          items-center
          justify-between
          rounded-[3px]
          border border-gray-400
          py-2
          px-3
          text-base
        ">
        <span>Facturas</span>
        <span class="flex items-center">
          <span class="text-red-400">
            {{ formatCurrencyCo(totalFacturas) }}
          </span>
          <fontAwesomeIcon
            class="my-auto ml-2 text-gray-600"
            icon="angle-right" />
        </span>
      </div>
    </a>

    <!-- ↑↑↑ Fin Facturas          ↑↑↑ -->
    <!-- --------------------------------- -->
    <!-- ↓↓↓ Inicio Indenizaciones     ↓↓↓ -->
    <div
      class="
        mt-2
        flex
        items-center
        justify-between
        rounded-[3px]
        border border-gray-400
        py-2
        px-3
        text-base
      ">
      <span>Indemnizaciones</span>
      <span class="flex items-center">
        <span class="text-esmerald-350">
          {{ formatCurrencyCo(0) }}
        </span>
        <fontAwesomeIcon
          class="my-auto ml-2 text-gray-600"
          icon="angle-right" />
      </span>
    </div>
    <!-- ↑↑↑ Fin Indenizaciones       ↑↑↑ -->
    <!-- --------------------------------- -->
    <!-- ↓↓↓ Inicio Anticipos          ↓↓↓ -->
    <div
      class="
        mt-2
        flex
        items-center
        justify-between
        rounded-[3px]
        border border-gray-400
        py-2
        px-3
        text-base
      ">
      <span>Anticipos</span>
      <span class="flex items-center">
        <span class="text-esmerald-350">
          {{ formatCurrencyCo(0) }}
        </span>
        <fontAwesomeIcon
          class="my-auto ml-2 text-gray-600"
          icon="angle-right" />
      </span>
    </div>
    <!-- ↑↑↑ Fin Anticipos            ↑↑↑ -->
    <!-- --------------------------------- -->
    <!-- ↓↓↓ Inicio Notas débito      ↓↓↓ -->
    <!-- ↑↑↑ Fin Notas débito         ↑↑↑ -->
    <!-- ----------------------------------->
    <!-- ↓↓↓ Inicio Notas crédito     ↓↓↓ -->
    <div
      class="
        mt-2
        flex
        items-center
        justify-between
        rounded-[3px]
        border border-gray-400
        py-2
        px-3
        text-base
      ">
      <span>Notas crédito</span>
      <span class="flex items-center">
        <span class="text-esmerald-350">
          {{ formatCurrencyCo(totalnotasCredito + totalnotasCreditoIa) }}
        </span>
        <fontAwesomeIcon
          class="my-auto ml-2 text-gray-600"
          icon="angle-right" />
      </span>
    </div>
    <!-- ↑↑↑ Fin Notas crédito        ↑↑↑ -->
    <!-- ----------------------------------->
    <!-- ↓↓↓ Inicio Retiros           ↓↓↓ -->
    <div
      class="
        mt-2
        flex
        items-center
        justify-between
        rounded-[3px]
        border border-gray-400
        py-2
        px-3
        text-base
      ">
      <span>Retiros </span>
      <span class="flex items-center">
        <span class="text-red-400">
          {{ formatCurrencyCo(0) }}
        </span>
        <fontAwesomeIcon
          class="my-auto ml-2 text-gray-600"
          icon="angle-right" />
      </span>
    </div>
    <!-- ↑↑↑ Fin Retiros             ↑↑↑ -->

    <div class="resumen my-3">
      <p class="flex justify-between">
        <span class="text-base text-gray-600">Saldo anterior</span>
        <span
          :class="[
            availableForPayout >= 0 ? 'text-esmerald-350' : 'text-red-400'
          ]">
          {{ formatCurrencyCo(availableForPayout) }}..
        </span>
      </p>

      <p class="mt-3 flex justify-between">
        <span class="text-base font-bold text-gray-800">Saldo disponible</span>
        <span
          :class="[
            availableForPayout >= 0 ? 'text-esmerald-350' : 'text-red-400'
          ]">
          {{ formatCurrencyCo(availableForPayout) }}
        </span>
      </p>

      <hr class="mt-2 w-full" />

      <div class="w-full">
        <AppTitleThree font="font-sansBold" class="mt-3"
          >Recaudo estimado</AppTitleThree
        >

        <div class="mt-3 flex justify-between">
          <div class="flex">
            <div
              class="
                h-[35px]
                w-[35px]
                flex-col
                items-center
                rounded-md
                bg-yellow-500
              ">
              <fontAwesomeIcon
                class="my-auto ml-2 mt-2 text-[20px] text-white"
                icon="arrow-up" />
            </div>
            <span class="my-auto ml-4">Recaudos en proceso</span>
          </div>
          <span
            class="my-auto"
            :class="[
              availableForPayout >= 0 ? 'text-esmerald-350' : 'text-red-400'
            ]">
            {{ formatCurrencyCo(totalarecaudar + totalrecaudados) }}
          </span>
        </div>
        <div class="mt-3 flex justify-between">
          <div class="flex">
            <div
              class="
                h-[35px]
                w-[35px]
                flex-col
                items-center
                rounded-md
                bg-yellow-500
              ">
              <fontAwesomeIcon
                class="my-auto ml-2 mt-2 text-[20px] text-white"
                icon="arrow-down" />
            </div>
            <span class="my-auto ml-4">Costos estimados</span>
          </div>
          <span class="my-autov text-red-400">
            {{ formatCurrencyCo(totalFacturas) }}
          </span>
        </div>

        <div class="mt-3 flex w-full items-center justify-between text-base">
          <div class="flex items-center">
            <span class="font-bold text-gray-800">Recaudo aproximado</span>
            <span class="ml-3 text-gray-400">
              <AppTooltipTextTitleVue
                :text="infoTooltip.text"
                :title="infoTooltip.title">
              </AppTooltipTextTitleVue>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-exclamation-circle-fill"
                viewBox="0 0 16 16">
                <path
                  d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
              </svg>
            </span>
          </div>
          <span
            :class="[
              availableForPayout - totalFacturas >= 0
                ? 'text-esmerald-350'
                : 'text-red-400'
            ]">
            {{ formatCurrencyCo(availableForPayout - totalFacturas) }}
          </span>
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { GetToken } from '@/services'
import { useRecuadosStore } from '@/store/collectionStoreAve'
import { useFacturasStore } from '@/store/invoiceStoreAve'
import { useNotasRecibosStore } from '@/store/notesReceiptsAve'
import { useStatesModalStore } from '@/store/state&modalFooterAve'
import { useUsuarioStore } from '@/store/useUserStoreAve'
import { formatCurrencyCo } from '@/utils/toolsAve'
import { defineComponent, onMounted, computed, watch } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import AppTitleThreeAve from '@/components/AppTitleThreeAve.vue'

export default defineComponent({
  components: {
    FontAwesomeIcon,
    AppTitleThreeAve
  },
  setup() {
    // TODO borrar solo dev
    const token = () => GetToken()

    const recaudosStore = useRecuadosStore()
    const facturasStore = useFacturasStore()
    const notasStore = useNotasRecibosStore()
    const userStore = useUsuarioStore()
    const modalStore = useStatesModalStore()

    const totalFacturas = computed(() => facturasStore.getterTotales().subTotal)
    const totalnotasCredito = computed(
      () => notasStore.getterTotales().totalNotasC
    )
    const totalnotasCreditoIa = computed(
      () => notasStore.getterTotales().totalNotasC_IA
    )
    const totalrecaudados = computed(
      () => recaudosStore.total_liquidadas_billetera
    )
    const totalarecaudar = computed(() => recaudosStore.total_arecaudar)
    const availableForPayout = computed(() => userStore.getPayOut)

    watch(
      () => [
        totalnotasCredito.value,
        totalnotasCreditoIa.value,
        totalrecaudados.value
      ],
      // eslint-disable-next-line camelcase
      ([newNotasC, newNotasC_IA, newNotasRecaudo]) => {
        userStore.resetValuePayOut()
        userStore.sumPayOut(newNotasC)
        userStore.sumPayOut(newNotasC_IA)
        userStore.sumPayOut(newNotasRecaudo)
        // userStore.resPayOut(newFact)
      }
    )

    const infoTooltip = {
      title: 'Recaudo aproximado',
      text: 'Ten en cuenta que las guías pueden devolverse o no ser entregadas a la fecha de pago del recaudo. Por esto es un valor aproximado, y podrá variar el día que veas reflejado tu dinero.'
    }

    onMounted(() => {
      token()
    })

    return {
      formatCurrencyCo,
      modalStore,

      recaudosStore,

      totalFacturas,
      totalnotasCredito,
      totalnotasCreditoIa,
      totalrecaudados,
      totalarecaudar,
      availableForPayout,
      infoTooltip
    }
  }
})
</script>
