<template>
  <section class="flex w-full justify-between">
    <div class="mt-6 flex w-[30%]">
      <section class="w-min-310 w-full">
        <TheAccountSummaryAve />
      </section>
    </div>
    <div class="mt-6 flex w-[72%]">
      <section class="tabla_estado w-full">
        <TheAccountTableAve />
      </section>
    </div>
  </section>

  <div class="mt-3 flex flex-col">
    <AppWalletRechargeAve />
    <AppMoneyCollectedAve />
    <AppSaleOfProductsAve />
    <AppInvoicesCardsAve />
    <AppCompensationCardAve />
    <AppAdvancesCardAve />
    <AppDebitNotes />
    <AppDebitNotesAve />
    <AppCreditNotesAve />
    <AppWithdrawalsAve />
  </div>

  <div class="h-40 w-full"></div>
</template>

<script lang="ts">
import {
  DateInputs,
  IResponseAllDataRecaudos
} from '@/constants/TypesGenerales'
import { GetRecuados } from '@/services/collectionsAve'
import { useRecuadosStore } from '@/store/collectionStoreAve'
import { useUsuarioStore } from '@/store/useUserStoreAve'
import { IRecaudosReq } from '@/types/CollectionsAve'
import { format, subDays } from 'date-fns'
import { defineComponent } from 'vue'
import TheAccountSummaryAve from './TheAccountSummaryAve.vue'
import TheAccountTableAve from './TheAccountTableAve.vue'
import AppWalletRechargeAve from '../cardsFooter/AppWalletRechargeAve.vue'
import AppMoneyCollectedAve from '../cardsFooter/AppMoneyCollectedAve.vue'
import AppSaleOfProductsAve from '../cardsFooter/AppSaleOfProductsAve.vue'
import AppInvoicesCardsAve from '../cardsFooter/AppInvoicesCardsAve.vue'
import AppCompensationCardAve from '../cardsFooter/AppCompensationCardAve.vue'
import AppAdvancesCardAve from '../cardsFooter/AppAdvancesCardAve.vue'
import AppDebitNotesAve from '../cardsFooter/AppDebitNotesAve.vue'
import AppCreditNotesAve from '../cardsFooter/AppCreditNotesAve.vue'
import AppWithdrawalsAve from '../cardsFooter/AppWithdrawalsAve.vue'

export default defineComponent({
  components: {
    TheAccountSummaryAve,
    TheAccountTableAve,
    AppWalletRechargeAve,
    AppMoneyCollectedAve,
    AppSaleOfProductsAve,
    AppInvoicesCardsAve,
    AppCompensationCardAve,
    AppAdvancesCardAve,
    AppDebitNotesAve,
    AppCreditNotesAve,
    AppWithdrawalsAve
  },
  setup() {
    const recudosStore = useRecuadosStore()
    const userStore = useUsuarioStore()
    const idUser = userStore.getIdUser

    const body: IRecaudosReq = {
      tipo: 'consultarRecaudos',
      data: {
        idtransportador: '',
        dsconsec: '',
        dsvalorrecaudo: '',
        dsfechai: format(subDays(new Date(), 30), 'yyyy-MM-dd'),
        dsfechaf: format(new Date(), 'yyyy-MM-dd'),
        dsciudad: '',
        dsciudadd: '',
        idexp: idUser, // este campo esta intersectado en el service
        idcampobase: '',
        dsempresap: ''
      }
    }

    const reloadRecaudos = async (dates: DateInputs) => {
      body.data.dsfechai = dates.init
      body.data.dsfechaf = dates.final
      const dataRecaudos = await GetRecuados(body)
      if (dataRecaudos) {
        mutationDataStore(dataRecaudos.data)
      }
    }

    const mutationDataStore = (dataStore: IResponseAllDataRecaudos) => {
      const {
        totales,
        liquidadas,
        arecaudar,
        devolucion,
        // eslint-disable-next-line camelcase
        indemnizado,
        proceso_indemnizacion,
        recaudadas,
        sin_movimiento
      } = dataStore

      recudosStore.setterValues('liquidadas').mutation(totales.liquidadas)
      recudosStore.setterValues('arecaudar').mutation(totales.arecaudar)
      recudosStore.setterValues('devoluciones').mutation(totales.devoluciones)
      recudosStore
        .setterValues('indenizaciones')
        .mutation(totales.indemnizaciones)
      recudosStore
        .setterValues('procesoindem')
        .mutation(totales.procesoindemnizacion)
      recudosStore.setterValues('recaudadas').mutation(totales.recaudadas)

      recudosStore.setterData('arecaudar').mutation(arecaudar)
      recudosStore.setterData('devoluciones').mutation(devolucion)
      recudosStore.setterData('indenizaciones').mutation(indemnizado)
      recudosStore.setterData('liquidadas').mutation(liquidadas)
      recudosStore.setterData('procesoindem').mutation(proceso_indemnizacion)
      recudosStore.setterData('recaudadas').mutation(recaudadas)
      recudosStore.setterData('sin_movimientos').mutation(sin_movimiento)
    }

    return {
      reloadRecaudos
    }
  }
})
</script>

<style lang="css">
.w-min-350 {
  min-width: 350px;
}
</style>

/* Accesos al Componente *****/ // src\views\ViewAccountStatus.vue
