<template>
  <div class="flex w-full justify-between">
    <section
      class="w-2/3 rounded-[5px] border border-gray-400 py-4 text-center">
      <div class="flex h-full">
        <div class="total font-serifBold my-auto ml-10 text-left">
          <AppTittleTwoAve font="font-bold" class="text-[28px]"
            >Dinero disponible en</AppTittleTwoAve
          >
          <AppTittleTwoAve font="font-bold" class="text-[28px]"
            >tu billetera</AppTittleTwoAve
          >
          <p class="text-lG mt-2 text-[22px] font-bold text-gray-600">
            {{ formatCurrencyCo(availableForPayout) }}
          </p>
          <p class="mt-1 font-sans text-[14px] font-normal text-gray-600">
            Actualizado el {{ dateUpdate }}
          </p>
        </div>
        <div class="mx-14 my-auto h-[55%] border-r border-gray-400"></div>
        <div
          class="
            info
            m-auto
            mr-20
            text-left
            font-sans
            text-[16px] text-gray-800
          ">
          <p class="font-bold">Este dinero corresponde a</p>
          <p class="ml-1 font-normal">
            1. Tus recaudos de envíos contraentrega pago electrónico
          </p>
          <p class="ml-1 font-normal">2. Recaudos por pago electrónico</p>
          <p class="ml-1 font-normal">3. Reclamaciones efectivas.</p>

          <a
            class="ml-4 cursor-pointer font-bold underline underline-offset-1"
            @click="modal.showPayRules = !modal.showPayRules">
            Ver más
          </a>
          <div class="btns mt-2 flex gap-6">
            <AppButtonAve color="primary" @click="modal.showDisbursement = true"
              >Solicitar desembolso</AppButtonAve
            >
          </div>
        </div>
      </div>
    </section>

    <section
      class="
        ml-6
        w-1/3
        rounded-[5px]
        border border-gray-400
        py-6
        text-center text-gray-800
      ">
      <div class="h-[130px] text-[12px]">
        <div class="contt flex items-center justify-between px-6">
          <div class="mr-4 text-base font-bold">Cuentas inscritas</div>
          <div class="text-base">
            <AppButtonAve color="none" @click="modal.show = true"
              >Inscribir cuenta</AppButtonAve
            >
          </div>
        </div>
        <div class="cuentas_list scroll_sm mx-6 mt-2 h-[100px] overflow-auto">
          <div
            v-for="account in listAccount"
            :key="account.numeroCuentaDelBeneficiario"
            class="account">
            <AppRegisterdAccountAve :account="account" />
          </div>
        </div>
      </div>
    </section>
    <AppModalAve v-model="modal.show" width="650px" title="Inscribir cuenta">
      <AppBankAccountRegisterAve
        @inscripted="accountSuspcrited"></AppBankAccountRegisterAve>
    </AppModalAve>

    <AppModalAve v-model="modal.show2x100" width="310px" title="¡Importante!">
      <AppAlert2x100Ave></AppAlert2x100Ave>
    </AppModalAve>

    <AppModalAve
      v-model="modal.showDisbursement"
      :header-icon="modal.icon"
      width="430px"
      :title="modal.title">
      <AppRequestDisbursementAve
        @subscribe-account="closeDisbursementShowRegister"
        @disbursement-pay="disbursementConfirmed"
        @exist-error="modal.showError = true">
      </AppRequestDisbursementAve>
    </AppModalAve>

    <AppModalAve
      v-model="modal.showError"
      header-icon="error"
      width="430px"
      title="Algo salió mal">
      <p class="mt-6 text-center text-sm">Vuelve a intentarlo más tarde</p>
    </AppModalAve>

    <AppModalAve
      v-model="modal.showPayWompy"
      width="460px"
      :title="modal.title"
      :header-icon="modal.icon">
      <p class="mt-6 text-center text-sm">{{ modal.text }}</p>
    </AppModalAve>

    <AppModalAve
      v-model="modal.showPayRules"
      width="720px"
      title="¡Así funcionan los pagos"
      title2=" en Aveonline!">
      <AppAvePayRulesAve></AppAvePayRulesAve>
    </AppModalAve>
  </div>
</template>

<script lang="ts">
// import { ROUTES } from '@/constants'
import {
  IArrayMultiSelect,
  IConfirmAccount,
  IExportData,
  IRespListSusbcripts
} from '@/constants/TypesGenerales'
import { useUsuarioStore } from '@/store/useUserStoreAve'
import { show2X100 } from '@/utils/2x1000Ave'
import { formatCurrencyCo } from '@/utils/toolsAve'
import { format } from 'date-fns'
import { computed, defineComponent, onMounted, ref } from 'vue'
import { useRouter } from 'vue-router'
import AppTittleTwoAve from '@/components/AppTittleTwoAve.vue'
import AppButtonAve from '@/components/AppButtonAve.vue'
import AppRegisterdAccountAve from './AppRegisterdAccountAve.vue'
import AppBankAccountRegisterAve from './porUpsF/AppBankAccountRegisterAve.vue'
import AppAlert2x100Ave from './porUpsF/AppAlert2x100Ave.vue'
import AppModalAve from '@/components/AppModalAve.vue'
import AppRequestDisbursementAve from './porUpsF/AppRequestDisbursementAve.vue'
import AppAvePayRulesAve from './porUpsF/AppAvePayRulesAve.vue'
// import { useRoute } from 'vue-router'
import { logDev } from '@/utils'
import { validatePayWompi } from '@/services/validatePayWompiAve'
import { ROUTES } from '@/constants'

type Icon = 'ok' | 'error' | ''
interface IModal {
  icon: Icon
  show: boolean
  title: string
  text: string
  showConfirm: boolean
  showError: boolean
  showDisbursement: boolean
  showKeepMoney: boolean
  showConfrmDisbursement: boolean
  show2x100: boolean
  showPayWompy: boolean
  showPayRules: boolean
}

export default defineComponent({
  components: {
    AppTittleTwoAve,
    AppButtonAve,
    AppRegisterdAccountAve,
    AppBankAccountRegisterAve,
    AppAlert2x100Ave,
    AppModalAve,
    AppRequestDisbursementAve,
    AppAvePayRulesAve
  },
  setup() {
    const userStore = useUsuarioStore()
    const dataAccountCreated = ref<IConfirmAccount>()
    const bancos = ref<IArrayMultiSelect[]>([])
    const listAccount = computed<IRespListSusbcripts[]>(
      () => userStore.getAccounts
    )
    const availableForPayout = computed<number>(() => userStore.getPayOut)
    const dateUpdate = ref<string>(format(new Date(), 'dd/MM/yyyy'))
    // const route = useRoute()
    const router = useRouter()

    const modal = ref<IModal>({
      icon: '',
      show: false,
      text: '',
      title: '   desembolso',
      showError: false,
      showConfirm: false,
      showKeepMoney: true,
      showDisbursement: false,
      showConfrmDisbursement: false,
      show2x100: show2X100(), // se usa para mostrar la alerta del 2x1000
      showPayWompy: false,
      showPayRules: false
    })

    const accountSuspcrited = (allData: IExportData) => {
      dataAccountCreated.value = allData.data
      bancos.value = allData.bancos
      modal.value.show = false
      modal.value.showConfirm = true
    }

    const closeDisbursementShowRegister = () => {
      modal.value.showDisbursement = false
      modal.value.show = true
    }

    const disbursementConfirmed = () => {
      modal.value.icon = 'ok'
      modal.value.title = 'Transferencia exitosa'
    }

    const validateResultWompiPay = async () => {
      // const idWompi = String(route.query.id)
      const idWompi = ''
      // const idWompi = '112010-1656079552-92295'
      if (idWompi) {
        const res = await validatePayWompi(idWompi)
        logDev('res', res)
        // if (res && res.data[0].status)
        if (res) {
          const statusWompi = res
          logDev('statusWompi', statusWompi)
          // if (res && res.status == 'ok' && statusWompi == "APPROVED")
          if (res) {
            modal.value.icon = 'ok'
            modal.value.text = 'El pago se realizo con exito!'
            modal.value.showPayWompy = true
            modal.value.title = 'Pago aprobado'
          } else {
            // if (statusWompi == 'DECLINED')
            if (statusWompi) {
              modal.value.icon = 'error'
              modal.value.text = 'Intentalo más tarde'
              modal.value.showPayWompy = true
              modal.value.title = 'La transferencia fue declinada'
            } else {
              modal.value.icon = 'error'
              modal.value.text = 'Intentalo más tarde'
              modal.value.showPayWompy = true
              modal.value.title = 'Error en la transferencia'
            }
          }
        }
        router.push(ROUTES.ESTADO_CUENTA.PATH)
      }
    }
    onMounted(() => {
      validateResultWompiPay()
    })

    return {
      closeDisbursementShowRegister,
      disbursementConfirmed,
      accountSuspcrited,
      formatCurrencyCo,

      availableForPayout,
      dataAccountCreated,
      listAccount,
      bancos,
      modal,
      dateUpdate
    }
  }
})
</script>

/* Accesos al Componente *****/ // src\views\ViewAccountStatus.vue
