<template>
  <section
    class="
      mt-3
      min-h-[40px]
      w-full
      rounded-[10px]
      border border-gray-400
      py-2
      px-1
      text-base text-gray-800
    ">
    <div class="flex">
      <div
        class="ml-2 w-[2.5%] cursor-pointer"
        @click="showRowTable = !showRowTable">
        <div v-if="showRowTable == false">
          <fontAwesomeIcon icon="chevron-down" />
        </div>
        <div v-else>
          <fontAwesomeIcon icon="chevron-up" />
        </div>
      </div>
      <div class="w-[14%] text-center">1010203455</div>
      <div class="w-[14%] text-center">12/12/2022</div>
      <div class="w-[25%] text-center">
        <p>texto de prueba</p>
      </div>
      <div class="w-[14%] text-center">5000</div>
      <div class="w-[14%] text-center">8000</div>
      <div class="w-[14%] text-center">9000</div>
      <div></div>
    </div>
    <section v-if="showRowTable">
      <hr class="mt-1" />
      <div>eeee</div>
    </section>
  </section>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

export default defineComponent({
  components: {
    FontAwesomeIcon
  },
  setup() {
    const showRowTable = ref<boolean>(false)

    return {
      showRowTable
    }
  }
})
</script>
