<template>
  <div class="flex w-full items-center justify-between">
    <AppTitleIconPrincipalAve>Estado de cuenta</AppTitleIconPrincipalAve>
  </div>

  <AppModalAve
    v-model="modal.show"
    :title="modal.title"
    :header-icon="modal.type"
    width="430px">
    <div class="mt-6 mb-2 text-center text-[14px]">
      {{ modal.message }}
    </div>
  </AppModalAve>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref } from 'vue'
import AppTitleIconPrincipalAve from '@/components/AppTitleIconPrincipalAve.vue'
import AppModalAve from '@/components/AppModalAve.vue'
import {
  DateInputs,
  IDataModal,
  IResponseAllDataRecaudos
} from '@/constants/TypesGenerales'
import { GetRecibosYnotas, GetRecuados } from '@/services/getRecaudosAve'
import { IFacturasReq, IRecaudosReq } from '@/types/CollectionsAve'
import { format, subDays } from 'date-fns'
import { useUsuarioStore } from '@/store/useUserStoreAve'
import { useNotasRecibosStore } from '@/store/notesReceiptsAve'
import { orderAny } from '@/utils/toolsAve'
import { useRecuadosStore } from '@/store/collectionStoreAve'
import { GetFacturas } from '@/services/billsAve'
import { useFacturasStore } from '@/store/invoiceStoreAve'
import { useStatesModalStore } from '@/store/state&modalFooterAve'
import { GetGastosAprox } from '@/services/expensesAve'
export default defineComponent({
  components: {
    AppTitleIconPrincipalAve,
    AppModalAve
  },
  emits: ['searchDate'],
  setup() {
    const recudosStore = useRecuadosStore()
    const userStore = useUsuarioStore()
    const facturasStore = useFacturasStore()
    const useModal = useStatesModalStore()
    const toggleModal = ref(true)
    const dateInit = ref<string>(format(subDays(new Date(), 30), 'yyyy-MM-dd'))
    const dateFinal = ref<string>(format(new Date(), 'yyyy-MM-dd'))
    const idUser = userStore.getIdEnterprise
    const notasStore = useNotasRecibosStore()

    const modal = ref<IDataModal>({
      type: '',
      show: false,
      title: 'no title',
      message: ''
    })

    const body: IRecaudosReq = {
      tipo: 'consultarRecaudos',
      data: {
        idtransportador: '',
        dsconsec: '',
        dsvalorrecaudo: '',
        dsfechai: dateInit.value,
        dsfechaf: dateFinal.value,
        dsciudad: '',
        dsciudadd: '',
        idexp: idUser,
        idcampobase: '',
        dsempresap: ''
      }
    }

    const mutationDataStore = function (
      dataStore: IResponseAllDataRecaudos
    ): void {
      const {
        // eslint-disable-next-line camelcase
        totales,
        liquidadas,
        arecaudar,
        devolucion,
        indemnizado,
        proceso_indemnizacion,
        recaudadas
      } = dataStore

      orderAny(liquidadas, 'dsfecha', 'Desc')

      recudosStore.setterValues('liquidadas').mutation(totales.liquidadas)
      recudosStore
        .setterValues('liquidadas_billetera')
        .mutation(totales.liquidadas_billetera)
      recudosStore.setterValues('arecaudar').mutation(totales.arecaudar)
      recudosStore.setterValues('devoluciones').mutation(totales.devoluciones)
      recudosStore
        .setterValues('indenizaciones')
        .mutation(totales.indemnizaciones)
      recudosStore
        .setterValues('procesoindem')
        .mutation(totales.procesoindemnizacion)
      recudosStore.setterValues('recaudadas').mutation(totales.recaudadas)

      recudosStore.setterData('arecaudar').mutation(arecaudar)
      recudosStore.setterData('devoluciones').mutation(devolucion)
      recudosStore.setterData('indenizaciones').mutation(indemnizado)
      recudosStore.setterData('liquidadas').mutation(liquidadas)
      recudosStore.setterData('procesoindem').mutation(proceso_indemnizacion)
      recudosStore.setterData('recaudadas').mutation(recaudadas)
    }

    const reloadRecaudos = async (dates: DateInputs) => {
      body.data.dsfechai = dates.init
      body.data.dsfechaf = dates.final
      const dataRecaudos = await GetRecuados(body)
      if (dataRecaudos) {
        mutationDataStore(dataRecaudos.data)
      }
    }

    const GetRecaudos = async () => {
      const dataRecaudos = await GetRecuados(body)
      if (dataRecaudos) {
        mutationDataStore(dataRecaudos.data)
      }
    }

    const GetNotasRecibos = async () => {
      const bodyFac: IFacturasReq = {
        tipo: 'notasRecibos',
        data: {
          dsfechai: body.data.dsfechai,
          dsfechaf: body.data.dsfechaf,
          idexp: body.data.idexp
        }
      }
      const data = await GetRecibosYnotas(bodyFac)
      if (data) {
        notasStore.setterTotales(data.totales)
        notasStore.setterDataRecibos({
          recibos: data.recibos,
          recibos_admon: data.recibos_admon,
          notas_credito: data.notas_credito,
          notas_d_credito: data.notas_d_credito,
          notas_c_ia: data.notas_c_ia
        })
      }
    }

    const GetInvoices = async () => {
      const bodyFac: IFacturasReq = {
        tipo: 'facturas',
        data: {
          dsfechai: body.data.dsfechai,
          dsfechaf: body.data.dsfechaf,
          idexp: body.data.idexp
        }
      }
      const data = await GetFacturas(bodyFac)
      if (data && data.status === 'ok') {
        facturasStore.setterTotales(data.totales)
        facturasStore.setterFacturas(data.data)
      }
    }

    const GetCostos = async () => {
      const bodyFac: IFacturasReq = {
        tipo: 'costosAprox',
        data: {
          dsfechai: body.data.dsfechai,
          dsfechaf: body.data.dsfechaf,
          idexp: body.data.idexp
        }
      }
      const data = await GetGastosAprox(bodyFac)
      if (data && data.status === 'ok') {
        notasStore.setterCostosTotales(data.data)
      }
    }

    const eventEmiter = () => {
      modal.value.show = false
      if (
        dateInit.value > dateFinal.value ||
        dateFinal.value < dateInit.value
      ) {
        return 'No se puede cruzar las fechas!, Error'
      }

      const dates: DateInputs = {
        final: dateFinal.value,
        init: dateInit.value
      }
      useModal.SaveDates(dates)
      reloadRecaudos(dates)
      GetInvoices()
      GetNotasRecibos()
      GetCostos()
    }

    onMounted(() => {
      Promise.all([
        GetRecaudos(),
        GetInvoices(),
        GetNotasRecibos(),
        GetCostos()
      ])
    })

    return {
      toggleModal,
      modal,
      body,
      eventEmiter
    }
  }
})
</script>

<style scoped>
.separate {
  margin: 0 5px;
}
</style>

/* Accesos al Componente *****/ // src\views\ViewAccountStatus.vue function
useNotasRecibosStore() { throw new Error('Function not implemented.') }
