<template>
  <section class="flex w-full gap-4">
    <div class="w-90 mt-4 flex h-10 items-center gap-4 rounded-full border-2">
      <div class="ml-4 text-sm font-bold text-gray-800">
        <p>Total sin entregar que exceden el tiempo</p>
      </div>
      <div class="m-1 w-1 border-r border-gray-400 p-1"></div>
      <div class="flex w-9 text-gray-800">
        <p class="w-fit font-bold"></p>
      </div>
    </div>
    <div
      class="
        mt-4
        flex
        h-10
        w-[44%]
        items-center
        gap-4
        rounded-full
        border-2
        text-sm text-gray-800
      ">
      <div class="w-[190px] p-3 text-sm font-bold">
        <p>Novedades por transportadora</p>
      </div>
      <div class="m-1 w-1 border-r border-gray-400 p-1"></div>
      <section
        class="
          scroll_sm
          mt-3
          mr-2
          flex
          h-[45px]
          w-[55%]
          items-center
          gap-8
          overflow-x-auto
        ">
        <div class="flex w-fit gap-2">
          <picture class="h-5 w-5">
            <AppShowIconTransportVue id="33" />
          </picture>
          <span>22</span>
        </div>
        <div class="flex w-fit gap-2">
          <picture class="h-5 w-5">
            <AppShowIconTransportVue id="29" />
          </picture>
          <span>22</span>
        </div>
        <div class="flex w-fit gap-2">
          <picture class="h-5 w-5">
            <AppShowIconTransportVue id="1010" />
          </picture>
          <span>22</span>
        </div>
        <div class="flex w-fit gap-2">
          <picture class="h-5 w-5">
            <AppShowIconTransportVue id="29" />
          </picture>
          <span>22</span>
        </div>
        <div class="flex w-fit gap-2">
          <picture class="h-5 w-5">
            <AppShowIconTransportVue id="1016" />
          </picture>
          <span>22</span>
        </div>
      </section>
    </div>
  </section>
  <TheTableNoEntregaNovedadesAveVue></TheTableNoEntregaNovedadesAveVue>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import TheTableNoEntregaNovedadesAveVue from './TheTableNoEntregaNovedadesAve.vue'
import AppShowIconTransportVue from '@/components/AppShowIconTransportAve.vue'

export default defineComponent({
  components: {
    TheTableNoEntregaNovedadesAveVue,
    AppShowIconTransportVue
  },
  setup() {
    return {}
  }
})
</script>
