<template>
  <section class="w-100 flex w-full items-center justify-between">
    <div class="mt-4 flex w-[70%] items-center gap-4 text-gray-800">
      <div class="w-3/12">
        <AppFilter :data="transporter" label="Transportadora"></AppFilter>
      </div>
      <div class="w-3/12">
        <AppFilter :data="origin" label="Origen"></AppFilter>
      </div>
      <div class="w-3/12">
        <AppFilter :data="destinty" label="Destino"></AppFilter>
      </div>
      <div class="w-3/10">
        <AppSearch v-model="filter" placeholder="Buscar"></AppSearch>
      </div>
    </div>
    <AppButtonDownloadDocumentAve></AppButtonDownloadDocumentAve>
  </section>
  <section>
    <table class="mt-6 w-full overflow-hidden rounded-t-[10px]">
      <thead
        class="
          bg-gray-200
          font-sans
          text-lg
          font-bold
          not-italic
          leading-[19px]
        ">
        <tr>
          <AppThTableVue
            class="w-[14.2%]"
            :key-general="keySelect"
            title1="Número de la guía"
            @key-th="changeKey($event, 'dsconsec')" />
          <AppThTableVue
            class="w-[14.2%]"
            :key-general="keySelect"
            title1="Estado de la guía"
            @key-th="changeKey($event, 'nombreEstado')" />
          <AppThTableVue
            class="w-[14.2%]"
            :key-general="keySelect"
            title1="Cliente"
            @key-th="changeKey($event, 'dsfecha')" />
          <AppThTableVue
            class="w-[14.2%]"
            :key-general="keySelect"
            title1="Trayecto"
            @key-th="changeKey($event, 'dstipotrayecto')" />
          <AppThTableVue
            class="w-[14.2%]"
            :key-general="keySelect"
            title1="Transportadora"
            @key-th="changeKey($event, 'dstransportadora')" />
          <AppThTableVue
            class="w-[14.2%]"
            :key-general="keySelect"
            title1="Fecha envio"
            @key-th="changeKey($event, 'dsfechalarga')" />
          <AppThTableVue
            class="w-[14.2%]"
            :key-general="keySelect"
            title1="Días retraso"
            @key-th="changeKey($event, 'dias_transcurridos')" />
        </tr>
      </thead>
      <tbody>
        <tr v-for="nodelivery in dataPipe" :key="nodelivery.dsconsec">
          <td>
            <div class="text-center">
              {{ nodelivery.dsconsec }}
            </div>
          </td>
          <td>
            <div class="text-center">
              {{ nodelivery.nombreEstado }}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="flex justify-center">
      <AppMinPaginatorAve
        :total="useNoDelivery.getNoDeliveryTime.length"
        @prev-p="spliter = spliter - 10"
        @next-p="spliter = spliter + 10"></AppMinPaginatorAve>
    </div>
  </section>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, ref } from 'vue'
import { filterTableAve, logDev, orderAnyAve } from '@/utils'
import { GetNoDeliveryNovalty } from '@/services'
import { useAppNovalty } from '@/store'

import AppFilter from '@/components/AppFilter.vue'
// import AppShowIconTransportVue from '@/components/AppShowIconTransportAve.vue'
import AppButtonDownloadDocumentAve from '@/components/AppButtonDownloadDocumentAve.vue'
import AppSearch from '@/components/AppSearch.vue'
import AppMinPaginatorAve from '@/components/AppMinPaginatorAve.vue'
import AppThTableVue from '@/components/AppThTableAve.vue'
// import AppLoadtableAve from '@/components/appLoadtableAve.vue'
import { useAppnoDelivaryNovalty } from '@/store/noDeliveryNovaltyAve'
import { useNoDeliveryTime } from '@/store/storeNoDeliveryNovaltyAve'
import { InoDeliveryNovalty } from '@/types'

interface ISelect {
  key: string
  status: string
}
// interface ListTransp { id: string, name: string, status: boolean }

export default defineComponent({
  components: {
    AppSearch,
    // AppShowIconTransportVue,
    AppFilter,
    // FontAwesomeIcon,
    AppButtonDownloadDocumentAve,
    AppMinPaginatorAve,
    AppThTableVue
    // AppLoadtableAve
  },
  setup() {
    const spliter = ref(0)
    const AppState = useAppNovalty()

    const AppStatteNoDelivery = useAppnoDelivaryNovalty()
    const useNoDelivery = useNoDeliveryTime()

    const filter = ref('')

    const keySelect = ref<string>('')
    const statusSelect = ref<string>('')
    const columnSelect = ref<string>('')

    const changeKey = (val: ISelect, column = '') => {
      keySelect.value = val.key
      statusSelect.value = val.status
      columnSelect.value = column
    }

    const transporter = computed(() => AppState.getTransp)
    const destinty = computed(() => AppState.getDestiny)
    const origin = computed(() => AppState.getOrigin)

    const dataPipe = computed(() => {
      const ord = statusSelect.value === 'down' ? 'Desc' : 'Asc'
      logDev('pipe data', useNoDelivery.getNoDeliveryTime)
      if (useNoDelivery.getNoDeliveryTime.length > 0) {
        orderAnyAve(useNoDelivery.getNoDeliveryTime, columnSelect.value, ord)
        return filterTableAve(
          useNoDelivery.getNoDeliveryTime,
          filter.value,
          spliter.value
        )
      }
      return []
    })

    const ListNoDeliveryNovalty = async () => {
      const res = await GetNoDeliveryNovalty()
      if (res) {
        const data: InoDeliveryNovalty[] = res.data.data
        useNoDelivery.setNoDeliveryTime(data)
      }
    }

    onMounted(() => {
      ListNoDeliveryNovalty()
    })

    return {
      spliter,
      changeKey,
      dataPipe,
      keySelect,
      AppState,
      filter,
      transporter,
      destinty,
      origin,
      AppStatteNoDelivery,
      useNoDelivery
    }
  }
})
</script>
