<template>
  <main class="w-full">
    <TheHeaderAveVue />
    <router-view />
  </main>
</template>

<script lang="ts">
import { defineComponent, onMounted } from 'vue'
import { useRouter } from 'vue-router'

import TheHeaderAveVue from '@/components/TheAveHeader.vue'

import { GetToken, GetDatosRemitente, extracDataToken } from '@/services/'
import { logDev, logError } from '@/utils/'
import { useUsuarioStore } from './store'
import { IDatosRemintente, IUserData, ROUTES } from '@/constants/'

export default defineComponent({
  components: { TheHeaderAveVue },
  setup() {
    const userStore = useUsuarioStore()

    const saveDataClient = () => {
      const dataToken = extracDataToken()
      const data: IUserData = {
        id_user: String(dataToken?.i_idusuario),
        id_enterprise: String(dataToken?.enterprise),
        userName: String(dataToken?.usuario)
      }
      userStore.addDataUser(data)
    }

    const GetDatosClient = async () => {
      try {
        const resp = await GetDatosRemitente()
        if (resp && resp.data) {
          const datosRemitente: IDatosRemintente[] = resp.data.cliente
          userStore.saveDatosRemitente(datosRemitente)
          logDev('resp', datosRemitente)
        }
      } catch (error) {
        logError('error GetDatosRemitente', error)
      }
    }

    onMounted(() => {
      saveDataClient()
      GetToken()
      GetDatosClient()
      useRouter().push(ROUTES.ESTADO_CUENTA.PATH)
    })
  }
})
</script>
