<template>
  <section class="w-100 flex w-full items-center justify-between">
    <div class="mt-4 flex w-[70%] items-center gap-4 text-gray-800">
      <div class="w-3/12">
        <AppFilter label="Cliente" :data="client"></AppFilter>
      </div>
      <div class="w-3/12">
        <AppFilter label="Tipo de novedad" :data="typen"></AppFilter>
      </div>
      <div class="w-3/10">
        <AppSearch v-model="filter" placeholder="Buscar"></AppSearch>
      </div>
    </div>
    <AppButtonDownloadDocumentAve></AppButtonDownloadDocumentAve>
  </section>
  <section>
    <table class="mt-6 w-full overflow-hidden rounded-t-[10px]">
      <thead
        class="
          bg-gray-200
          font-sans
          text-lg
          font-bold
          not-italic
          leading-[19px]
        ">
        <tr>
          <th class="w-[1.5%]"></th>
          <th class="w-[2.5%]"></th>
          <AppThTableVue
            class="w-[15%]"
            :key-general="keySelect"
            title1="Nombre del cliente"
            @key-th="changeKey($event, 'nombreCliente')" />
          <AppThTableVue
            class="w-[15%]"
            :key-general="keySelect"
            title1="Guías generadas"
            title2="último mes"
            @key-th="changeKey($event, 'ultimoMes')" />
          <AppThTableVue
            class="w-[15%]"
            :key-general="keySelect"
            title1="Total novedades"
            @key-th="changeKey($event, 'totalNovedades')" />
          <AppThTableVue
            class="w-[15%]"
            :key-general="keySelect"
            title1="Porcentaje de"
            title2="novedades por mes"
            @key-th="changeKey($event, 'porcentajeNovedades')" />
          <AppThTableVue
            class="w-[15%]"
            :key-general="keySelect"
            title1="Transportadora con más"
            title2="novedades generadas"
            @key-th="changeKey($event, 'TransportadoraNovedades')" />
          <AppThTableVue
            class="w-[15%]"
            :key-general="keySelect"
            title1="Tipo de novedad"
            title2="más repetida"
            @key-th="changeKey($event, 'NovedadRepitida')" />
          <AppThTableVue class="w-[5%]" :hidden-icon="true" />
        </tr>
      </thead>
    </table>
  </section>
  <TheClientesNovedadesInfoAveVue></TheClientesNovedadesInfoAveVue>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from 'vue'

import AppFilter from '@/components/AppFilter.vue'
import AppThTableVue from '@/components/AppThTableAve.vue'
import AppButtonDownloadDocumentAve from '@/components/AppButtonDownloadDocumentAve.vue'

import AppSearch from '@/components/AppSearch.vue'
import TheClientesNovedadesInfoAveVue from './TheClientesNovedadesInfoAve.vue'
import { useAppNovalty } from '@/store/noveltyAve'

interface ISelect {
  key: string
  status: string
}

export default defineComponent({
  components: {
    AppFilter,
    AppSearch,
    // AppMinPaginatorVue,
    TheClientesNovedadesInfoAveVue,
    AppThTableVue,
    AppButtonDownloadDocumentAve
  },
  setup() {
    const spliter = ref(0)
    const AppState = useAppNovalty()
    const keySelect = ref<string>('')
    const statusSelect = ref<string>('')
    const columnSelect = ref<string>('')
    const filter = ref('')

    // const transporter = computed(() => AppState.getTransp)
    const client = computed(() => AppState.getClient)
    const typen = computed(() => AppState.getType)

    const changeKey = (val: ISelect, column = '') => {
      keySelect.value = val.key
      statusSelect.value = val.status
      columnSelect.value = column
    }

    return {
      spliter,
      keySelect,
      changeKey,
      filter,
      client,
      typen
    }
  }
})
</script>
