<template>
  <section class="mt-4 rounded border">
    <div>
      <section
        v-for="novaltyFirst in dataPipe"
        :key="'canal' + novaltyFirst.pkid"
        class="flex w-full items-center py-2 pl-6 text-sm text-gray-800">
        <div
          class="w-[1.5%] cursor-pointer"
          @click="showNovedadesCliente = !showNovedadesCliente">
          <div v-if="showNovedadesCliente == false">
            <fontAwesomeIcon icon="chevron-down" />
          </div>
          <div v-else>
            <fontAwesomeIcon icon="chevron-up" />
          </div>
        </div>
        <div class="flex w-[1.5%] gap-4">
          <div>
            <svg
              width="17"
              height="16"
              viewBox="0 0 17 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M16.25 8C16.25 3.71875 12.7812 0.25 8.5 0.25C4.21875 0.25 0.75 3.71875 0.75 8C0.75 12.2812 4.21875 15.75 8.5 15.75C12.7812 15.75 16.25 12.2812 16.25 8ZM11.75 7.125C12.0312 6.8125 12.5312 6.8125 12.8125 7.09375L13.1562 7.4375C13.4688 7.71875 13.4688 8.21875 13.1562 8.5L9 12.6562C8.71875 12.9375 8.25 12.9375 7.96875 12.6562L3.8125 8.5C3.53125 8.21875 3.53125 7.75 3.8125 7.4375L4.15625 7.09375C4.4375 6.8125 4.9375 6.8125 5.21875 7.125L7.5 9.46875V3.75C7.5 3.34375 7.8125 3 8.25 3H8.75C9.15625 3 9.5 3.34375 9.5 3.75V9.46875L11.75 7.125Z"
                fill="#D81023" />
            </svg>
            <!-- <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.25 8C0.25 12.2812 3.71875 15.75 8 15.75C12.2812 15.75 15.75 12.2812 15.75 8C15.75 3.71875 12.2812 0.25 8 0.25C3.71875 0.25 0.25 3.71875 0.25 8ZM4.71875 8.90625C4.4375 9.21875 3.9375 9.21875 3.65625 8.9375L3.3125 8.59375C3 8.28125 3 7.8125 3.3125 7.53125L7.46875 3.375C7.75 3.09375 8.21875 3.09375 8.53125 3.375L12.6562 7.53125C12.9688 7.8125 12.9688 8.28125 12.6562 8.59375L12.3125 8.9375C12.0312 9.21875 11.5312 9.21875 11.25 8.90625L9 6.5625V12.25C9 12.6875 8.65625 13 8.25 13H7.75C7.3125 13 7 12.6875 7 12.25V6.5625L4.71875 8.90625Z" fill="#1BC755"/>
          </svg>
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M7.75 0C12.0312 0 15.5 3.46875 15.5 7.75C15.5 12.0312 12.0312 15.5 7.75 15.5C3.46875 15.5 0 12.0312 0 7.75C0 3.46875 3.46875 0 7.75 0ZM4 7C3.44772 7 3 7.44772 3 8C3 8.55229 3.44772 9 4 9H12C12.5523 9 13 8.55229 13 8C13 7.44772 12.5523 7 12 7H4Z" fill="#F18403"/>
          </svg> -->
          </div>
        </div>
        <div class="w-[15%] text-center">
          <p>{{ novaltyFirst }}</p>
        </div>
        <div class="h-8 w-[15%] rounded-full bg-gray-100 text-center">
          <p class="m-2">132</p>
        </div>
        <div class="ml-1 h-8 w-[15%] rounded-full bg-gray-100 text-center">
          <p class="m-2">{{ novaltyFirst.total_novedades }}</p>
        </div>
        <div class="ml-1 h-8 w-[15%] rounded-full bg-gray-100 text-center">
          <p class="m-2">7%</p>
        </div>
        <div class="flex w-[15%] justify-center gap-2">
          <picture class="w-4">
            <AppShowIconTransportVue id="29" />
          </picture>
          <p>Envia</p>
        </div>
        <div class="w-[15%] text-center">
          <p>Devolución</p>
        </div>
        <div class="flex w-[5%] cursor-pointer justify-center gap-4">
          <fontAwesomeIcon class="mt-2" icon="eye" />
          <fontAwesomeIcon class="mt-2" icon="phone" />
        </div>
      </section>
      <section
        v-if="showNovedadesCliente"
        class="mt-1 flex w-full justify-center border-t-2 text-sm">
        <div
          class="
            m-2
            flex
            h-11
            w-1/4
            justify-center
            gap-4
            rounded-full
            bg-gray-100
            py-3
          ">
          <p class="font-bold">1</p>
          <p>El cliente no recibio el paquete</p>
          <span class="font-bold">132</span>
        </div>

        <div
          class="
            m-2
            flex
            h-11
            w-1/4
            justify-center
            gap-4
            rounded-full
            bg-gray-100
            py-3
          ">
          <p class="font-bold">1</p>
          <p>El cliente no recibio el paquete</p>
          <span class="font-bold">132</span>
        </div>

        <div
          class="
            m-2
            flex
            h-11
            w-1/4
            justify-center
            gap-4
            rounded-full
            bg-gray-100
            py-3
          ">
          <p class="font-bold">1</p>
          <p>El cliente no recibio el paquete</p>
          <span class="font-bold">132</span>
        </div>

        <div
          class="
            m-2
            flex
            h-11
            w-1/4
            justify-center
            gap-4
            rounded-full
            bg-gray-100
            py-3
          ">
          <p class="font-bold">1</p>
          <p>El cliente no recibio el paquete</p>
          <span class="font-bold">132</span>
        </div>
      </section>
    </div>
  </section>
  <div class="flex justify-center">
    <AppMinPaginatorAve
      @prev-p="spliter = spliter - 10"
      @next-p="spliter = spliter + 10"></AppMinPaginatorAve>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, ref } from 'vue'
import AppShowIconTransportVue from '@/components/AppShowIconTransportAve.vue'
import { filterTableAve, orderAnyAve } from '@/utils'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import AppMinPaginatorAve from '@/components/AppMinPaginatorAve.vue'
import { GetListNovelty } from '@/services/internalNoveltyAve'
import { useAppNovalty } from '@/store/noveltyAve'

export default defineComponent({
  components: {
    FontAwesomeIcon,
    AppShowIconTransportVue,
    AppMinPaginatorAve
  },
  setup() {
    const showNovedadesCliente = ref<boolean>(false)
    const AppState = useAppNovalty()
    const statusSelect = ref<string>('')
    const columnSelect = ref<string>('')
    const spliter = ref(0)
    const filter = ref('')

    const ListNovelty = async () => {
      const res = await GetListNovelty()
      if (res) {
        AppState.insertAllDataNovalty(res.data.data)
      }
    }

    const dataPipe = computed(() => {
      const ord = statusSelect.value === 'down' ? 'Desc' : 'Asc'
      if (AppState.getAllDataNovalty.length > 0) {
        orderAnyAve(AppState.getAllDataNovalty, columnSelect.value, ord)
        return filterTableAve(
          AppState.getAllDataNovalty,
          filter.value,
          spliter.value
        )
      }
      return []
    })

    onMounted(() => {
      ListNovelty()
    })

    return {
      showNovedadesCliente,
      dataPipe
    }
  }
})
</script>
