<template>
  <section>
    <div class="flex w-full">
      <TheGuideHistory
        :data-guide-history="AppState.dataGuideHistory"
        :fecha-envio="AppState.dataGuideInfo"></TheGuideHistory>
      <TheDetailsSenderAddresse
        :data-remitente="AppState.dataGuideInfo"></TheDetailsSenderAddresse>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import TheGuideHistory from '../TheGuideHistory.vue'
import TheDetailsSenderAddresse from '../TheDetailsSenderAddresse.vue'

import { useAppGuideDetails } from '../../store/useStoreGuideDetail'

export default defineComponent({
  name: 'AppInforGeneralAve',
  components: {
    TheGuideHistory,
    TheDetailsSenderAddresse
  },
  setup() {
    const AppState = useAppGuideDetails()
    return {
      AppState
    }
  }
})
</script>
