<template>
  <transition name="fade">
    <section v-if="modelValueInp" :class="classBase">
      <section :class="classBody">
        <div class="head mx-0 mt-0 flex w-full bg-gray-100">
          <div class="tit mx-auto w-full">
            <div class="flex w-full justify-between px-2 py-2">
              <div class="grap-2 flex w-9/12 justify-items-start">
                <div class="flex w-1/3 items-center justify-items-start gap-1">
                  <picture class="h-5/12 flex w-5/12 justify-center">
                    <img
                      class="w-8/12 rounded-full"
                      :src="getImgDefault"
                      alt="" />
                  </picture>
                  <div class="w-7/12">
                    <div class="ml-2 flex">
                      <span
                        class="
                          font-roboto-bold
                          text-[24px]
                          font-extrabold
                          text-gray-800
                        ">
                        <p class="w-8/12 font-serif text-[24px]">Envia</p>
                      </span>
                    </div>

                    <div class="ml-2 flex gap-2">
                      <p class="text-gray-800">Guía</p>
                      <p class="text-gray-600">9840239402322</p>
                    </div>
                  </div>
                </div>

                <div
                  class="mx-10 my-auto h-[50%] border-r border-gray-400"></div>

                <div class="flex w-1/3 flex-row items-center gap-6">
                  <div class="flex flex-col">
                    <p class="min-w-max font-extrabold">Ciudad destino</p>
                    <p class="font-extrabold">Destinatario</p>
                  </div>
                  <div class="flex flex-col">
                    <p class="text-gray-800">Medellín, Antioquia</p>
                    <p class="text-gray-800">Juan Perez</p>
                  </div>
                </div>

                <div class="flex w-1/3 items-center justify-start gap-4">
                  <div>
                    <span>
                      <p class="font-extrabold">Celular</p>
                    </span>
                    <p class="font-extrabold">Estado</p>
                  </div>
                  <div>
                    <p>3107070509</p>
                    <div
                      class="
                        flex
                        w-32
                        justify-center
                        rounded-md
                        bg-amber-800
                        text-white
                      ">
                      <p>En proceso</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="flex w-3/12 items-center">
                <div
                  class="
                    absolute
                    right-4
                    flex
                    w-[280px]
                    cursor-pointer
                    items-center
                    gap-2
                  ">
                  <div
                    class="
                      flex
                      h-10
                      w-4/5
                      flex-row
                      justify-between
                      rounded-lg
                      bg-gray-400
                      text-white
                    ">
                    <div
                      class="
                        flex
                        w-1/5
                        items-center
                        justify-center
                        rounded-l-lg
                        bg-gray-400
                        text-center
                        hover:bg-gray-600
                      ">
                      <svg
                        width="19"
                        height="19"
                        viewBox="0 0 19 19"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M16.1943 0.0055542H2.69434C1.42871 0.0055542 0.444336 1.02509 0.444336 2.25555V12.3806C0.444336 13.6462 1.42871 14.6306 2.69434 14.6306H6.06934V17.5837C6.06934 17.9352 6.45605 18.1462 6.7373 17.9352L11.1318 14.6306H16.1943C17.4248 14.6306 18.4443 13.6462 18.4443 12.3806V2.25555C18.4443 1.02509 17.4248 0.0055542 16.1943 0.0055542ZM9.44434 11.8181C8.81152 11.8181 8.31934 11.3259 8.31934 10.6931C8.31934 10.0954 8.81152 9.56805 9.44434 9.56805C10.042 9.56805 10.5693 10.0954 10.5693 10.6931C10.5693 11.3259 10.042 11.8181 9.44434 11.8181ZM10.3232 7.95087C10.2881 8.23212 10.042 8.44305 9.76074 8.44305H9.09277C8.81152 8.44305 8.56543 8.23212 8.53027 7.95087L8.07324 3.45087C8.03809 3.13446 8.31934 2.81805 8.63574 2.81805H10.2178C10.5342 2.81805 10.8154 3.13446 10.7803 3.45087L10.3232 7.95087Z"
                          fill="white" />
                      </svg>
                    </div>
                    <div
                      class="
                        flex
                        w-1/5
                        items-center
                        justify-center
                        bg-gray-400
                        text-center
                        hover:bg-gray-600
                      ">
                      <FontAwesomeIcon
                        class="text-white"
                        icon="file-signature"></FontAwesomeIcon>
                    </div>
                    <div
                      class="
                        flex
                        w-1/5
                        items-center
                        justify-center
                        bg-gray-400
                        text-center
                        hover:bg-gray-600
                      ">
                      <svg
                        class="h-4 w-4 fill-white"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512">
                        <path
                          d="M32 160h319.9l.0791 72c0 9.547 5.652 18.19 14.41 22c8.754 3.812 18.93 2.078 25.93-4.406l112-104c10.24-9.5 10.24-25.69 0-35.19l-112-104c-6.992-6.484-17.17-8.217-25.93-4.408c-8.758 3.816-14.41 12.46-14.41 22L351.9 96H32C14.31 96 0 110.3 0 127.1S14.31 160 32 160zM480 352H160.1L160 279.1c0-9.547-5.652-18.19-14.41-22C136.9 254.2 126.7 255.9 119.7 262.4l-112 104c-10.24 9.5-10.24 25.69 0 35.19l112 104c6.992 6.484 17.17 8.219 25.93 4.406C154.4 506.2 160 497.5 160 488L160.1 416H480c17.69 0 32-14.31 32-32S497.7 352 480 352z" />
                      </svg>
                    </div>
                    <div
                      class="
                        flex
                        w-1/5
                        items-center
                        justify-center
                        bg-gray-400
                        text-center
                        hover:bg-gray-600
                      ">
                      <FontAwesomeIcon
                        class="text-white"
                        icon="user-headset"></FontAwesomeIcon>
                    </div>
                    <div
                      class="
                        flex
                        w-1/5
                        items-center
                        justify-center
                        rounded-r-lg
                        bg-red-500
                        text-center
                        hover:bg-red-600
                      ">
                      <FontAwesomeIcon
                        class="text-white"
                        icon="times"></FontAwesomeIcon>
                    </div>
                  </div>
                  <button>
                    <FontAwesomeIcon
                      class="text-[18px] text-gray-400"
                      icon="chevron-left" />
                  </button>
                  <button>
                    <FontAwesomeIcon
                      class="text-[18px] text-gray-400"
                      icon="chevron-right" />
                  </button>
                  <div class="" @click="close">
                    <svg
                      width="13"
                      height="12"
                      viewBox="0 0 13 12"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M8.5625 6L11.6875 2.875C12.0937 2.5 12.0937 1.875 11.6875 1.5L11 0.8125C10.625 0.40625 10 0.40625 9.625 0.8125L6.5 3.9375L3.34375 0.8125C2.96875 0.40625 2.34375 0.40625 1.96875 0.8125L1.28125 1.5C0.875 1.875 0.875 2.5 1.28125 2.875L4.40625 6L1.28125 9.15625C0.875 9.53125 0.875 10.1562 1.28125 10.5312L1.96875 11.2188C2.34375 11.625 2.96875 11.625 3.34375 11.2188L6.5 8.09375L9.625 11.2188C10 11.625 10.625 11.625 11 11.2188L11.6875 10.5312C12.0937 10.1562 12.0937 9.53125 11.6875 9.15625L8.5625 6Z"
                        fill="#C2C2C2" />
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <section>
          <slot></slot>
        </section>
      </section>
    </section>
  </transition>
</template>

<script lang="ts">
import { defineComponent, computed, PropType } from 'vue'
import { TypeIcon } from '@/constants'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import { useUsuarioStore } from '@/store'

export default defineComponent({
  name: 'AppModal',
  components: {
    FontAwesomeIcon
  },
  props: {
    title: {
      type: String,
      default: ''
    },
    title2: {
      type: String,
      default: ''
    },
    headerIcon: {
      type: String as PropType<TypeIcon>,
      default: ''
    },
    classNameTitle: {
      type: String,
      default: 'm-2 font-bold text-[22px]'
    },
    modelValue: Boolean
  },
  setup(props, { emit }) {
    const AppState = useUsuarioStore()
    const modelValueInp = computed(() => props.modelValue)
    const titleInp = computed(() => props.title)
    const close = () => emit('update:modelValue', false)
    const classBase =
      'h-full w-full overflow-auto z-10 fixed top-0	flex w_mod top-16  spaceHear bg-black/25	opacity-3'
    const classBody =
      'h-full w-full overflow-x-hidden relative rounded-[5px] bg-white min-h-6 '

    const getImgDefault = computed(() => {
      const [user] = AppState.getDatosRemitente
      return user.dsimg === ''
        ? '/assets/Transportadoras/nuevologoaveonline.png'
        : user.dsimg
    })

    return {
      modelValueInp,
      close,
      classBase,
      classBody,
      titleInp,
      DataRemitente: AppState.datosRemitente[0],
      getImgDefault
    }
  }
})
</script>

<style scoped>
.icon {
  cursor: pointer;
}

.spaceHear {
  height: calc(100% - 64px);
}

.w_mod {
  width: calc(100% - 4rem);
  right: 0;
  position: absolute;
}
</style>
