<template>
  <section class="p-3">
    <nav class="sansBold flex w-1/3 justify-end text-center text-lg">
      <div :class="classesNav.AppInfoGeneral">
        <p
          class="my-2 min-h-max cursor-pointer text-center font-bold"
          @click="changeTypeOption('AppInfoGeneral')">
          Detalle de la guía
        </p>
      </div>
      <div :class="classesNav.AppNovedades">
        <p
          class="my-2 cursor-pointer text-center font-bold"
          @click="changeTypeOption('AppNovedades')">
          Novedades
        </p>
      </div>
      <div :class="classesNav.AppPQR">
        <p
          class="my-2 cursor-pointer text-center font-bold"
          @click="changeTypeOption('AppPQR')">
          PQR
        </p>
      </div>
    </nav>

    <section v-if="classesNav.select == 'AppInfoGeneral'">
      <AppInfoGeneral></AppInfoGeneral>
    </section>

    <section v-if="classesNav.select == 'AppPQR'">
      <AppPQR></AppPQR>
    </section>

    <section v-if="classesNav.select == 'AppNovedades'">
      <AppNovedades></AppNovedades>
    </section>
  </section>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'

import AppPQR from '../popUp/AppPQRAve.vue'
import AppInfoGeneral from '../popUp/AppInfoGeneralAve.vue'
import AppNovedades from '../popUp/AppShippingNewsAve.vue'

export default defineComponent({
  components: {
    AppPQR,
    AppInfoGeneral,
    AppNovedades
  },
  setup() {
    const navClassName = {
      select:
        'w-6/12 text-red-500 sansBold border-b-4 border-b-red-500   flex items-center text-center justify-center',
      noSelect:
        'w-6/12 text-gray-600 sansBold border-b-2 border-b-gray-400  flex items-center text-center justify-center'
    }

    const classesNav = ref({
      AppInfoGeneral: navClassName.select,
      AppPQR: navClassName.noSelect,
      AppNovedades: navClassName.noSelect,
      select: 'AppInfoGeneral'
    })

    const changeTypeOption = (click = '') => {
      if (click === 'AppInfoGeneral') {
        classesNav.value.AppInfoGeneral = navClassName.select
        classesNav.value.AppPQR = navClassName.noSelect
        classesNav.value.AppNovedades = navClassName.noSelect
        classesNav.value.select = click
      }
      if (click === 'AppPQR') {
        classesNav.value.AppPQR = navClassName.select
        classesNav.value.AppInfoGeneral = navClassName.noSelect
        classesNav.value.AppNovedades = navClassName.noSelect
        classesNav.value.select = click
      }
      if (click === 'AppNovedades') {
        classesNav.value.AppInfoGeneral = navClassName.noSelect
        classesNav.value.AppPQR = navClassName.noSelect
        classesNav.value.AppNovedades = navClassName.select
        classesNav.value.select = click
      }
    }

    return {
      changeTypeOption,
      classesNav
    }
  }
})
</script>
