<template>
  <section>
    <div class="flex w-full">
      <div class="flex w-1/2 justify-center">
        <div
          class="
            scroll_sm
            mt-6
            h-[450px]
            w-10/12
            overflow-auto
            rounded-md
            border-2
            p-6
          ">
          <p class="font-extrabold">¿Qué es una PQR?</p>

          <hr class="my-2 mt-4 w-full border-t-2" />

          <div
            class="
              border-1
              mt-4
              flex
              h-28
              w-full
              justify-center
              rounded-md
              border-2
              bg-gray-200
            ">
            <div class="ml-4 w-full">
              <div class="flex h-10 items-center gap-2 text-center">
                <FontAwesomeIcon
                  icon="envelope-open-text"
                  class="text-red-800" />
                <p class="font-extrabold">Pendiente por resolver</p>
              </div>
              <div class="flex flex-col">
                <p class="text-sm">
                  Son todas las solicitudes que realice un cliente y que no
                  tenga que ver con su operación logística o con una no
                  conformidad o queja de cualquier tipo.
                </p>
              </div>
            </div>
          </div>
          <div
            class="
              border-1
              mt-4
              flex
              h-32
              w-full
              justify-center
              rounded-md
              border-2
              bg-gray-200
            ">
            <div class="ml-4 w-full">
              <div class="flex h-10 items-center gap-2 text-center">
                <FontAwesomeIcon icon="megaphone" class="text-red-800" />
                <p class="font-extrabold">Quejas</p>
              </div>
              <div class="flex flex-col">
                <p class="text-sm">
                  Son situaciones que le están generando insatisfacción al
                  cliente y que se encuentran en el servicio de cualquiera de
                  los actores involucrados
                </p>
              </div>
            </div>
          </div>
          <div
            class="
              border-1
              mt-4
              flex
              h-32
              w-full
              justify-center
              rounded-md
              border-2
              bg-gray-200
            ">
            <div class="ml-4 w-full">
              <div class="flex h-10 items-center gap-2 text-center">
                <FontAwesomeIcon icon="coins" class="text-red-800" />
                <p class="font-extrabold">Reclamación</p>
              </div>
              <div class="flex flex-col">
                <p class="text-sm">
                  Estas pueden ser logísticas o administrativas, y representan
                  las no conformidades con la transportadora o Aveonline que
                  requieren una indemnización (compensación monetaria) hacia el
                  cliente
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex w-1/2 justify-center">
        <div class="flex w-full flex-col p-6">
          <p class="font-extrabold">Generar PQR</p>
          <hr class="my-2 mt-4 w-full border-t-2" />
          <p class="mt-4 text-center">
            <span class="font-extrabold">¿Tienes problemas con tu envío?</span>
            Puedes generar una PQR para encontrar una solución a tu problema.
          </p>
          <div class="mt-4 flex justify-center">
            <button
              class="
                mt-3
                flex
                h-10
                w-2/5
                items-center
                justify-center
                rounded-md
                bg-red-400
                text-center text-white
              ">
              Crear PQR
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

export default defineComponent({
  name: 'AppPQRAve',
  components: {
    FontAwesomeIcon
  }
})
</script>
