<template>
  <section>
    <div class="flex w-full">
      <div class="flex w-1/2 justify-center">
        <div class="h-[450px]p-1 mt-7 w-10/12">
          <div class="flex w-11/12 items-center gap-3 rounded-md border-2 p-3">
            <p class="min-w-max font-extrabold">Panel de novedades</p>
            <div class="flex w-5/6 gap-3">
              <div
                class="
                  min-h-10
                  flex
                  w-full
                  cursor-pointer
                  items-center
                  justify-center
                  gap-1
                  rounded-md
                  border-2
                  px-1
                "
                :class="
                  showAppShippingNews === true ? 'bg-gray-200' : 'bg-gray-50'
                "
                @click="showAppShippingNews = true">
                <FontAwesomeIcon
                  class="text-red-400"
                  icon="exclamation-triangle" />
                <p class="min-w-max text-gray-600">Por resolver</p>
              </div>
              <div
                class="
                  flex
                  h-10
                  w-full
                  cursor-pointer
                  items-center
                  justify-center
                  gap-1
                  rounded-md
                  border-2
                  p-1
                  text-center
                "
                :class="
                  showAppShippingNews === false ? 'bg-gray-200' : 'bg-gray-50'
                "
                @click="showAppShippingNews = false">
                <FontAwesomeIcon
                  class="w-16 text-gray-400"
                  icon="shipping-timed" />
                <p class="min-w-max text-gray-600">Factores externos</p>
              </div>
            </div>
          </div>

          <hr class="border-t-1 my-4 w-11/12 border-gray-200" />

          <div v-if="showAppShippingNews">
            <AppShippingNewsHistory
              :show-app-shipping-news="true"
              :data-shipping-news-history="
                AppState.dataGuideShippingNews
              "></AppShippingNewsHistory>
          </div>
          <div v-if="!showAppShippingNews">
            <AppShippingNewsHistory
              :data-shipping-news-incident="AppState.dataShippingIncident"
              :show-app-shipping-news="false"
              :data-shipping-news-history="AppState.dataGuideShippingNews">
            </AppShippingNewsHistory>
          </div>
        </div>
      </div>

      <div v-if="showAppShippingNews === true" class="flex w-1/2">
        <div class="h-96 w-11/12 p-6">
          <p class="font-extrabold">Solución</p>

          <hr class="my-2 w-full border-t-2" />

          <div class="mt-4 h-auto w-full rounded-md border-2 bg-gray-100">
            <div class="my-2 ml-1 flex flex-row gap-2 p-1">
              <FontAwesomeIcon
                class="mt-1 text-gray-600"
                icon="exclamation-triangle" />
              <p class="text-[16px] text-gray-600">
                Descripcion de la novedad se realiza registro de inventario
                porque empaque se encontraba mojado se verifica contenido y se
                observa en buen estado hay registro de fotos.
              </p>
            </div>
          </div>

          <div class="w-full">
            <div class="mt-4">
              <p class="text-[14px]">Tipo de solución de la novedad *</p>
            </div>
            <div
              class="
                mt-4
                flex
                w-full
                flex-row
                items-center
                gap-16
                sm:flex-col sm:items-start sm:gap-3
              ">
              <AppRbuttonAve></AppRbuttonAve>
            </div>
            <AppShippingNewsForm
              :show-app-shipping-news="showAppShippingNews"
              :show-case="showCaseOne"
              @cancel-button="showCaseOne = 0"></AppShippingNewsForm>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'

import AppShippingNewsHistory from '../AppShippingNewsHistory.vue'
// import AppRadioButtonAve from '../AppRadioButtonAve.vue'
import AppShippingNewsForm from '../AppShippingNewsForm.vue'
// import AppInputText from '@/components/microComponents/AppInputText.vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import { useAppGuideDetails } from '../../store/useStoreGuideDetail'
import AppRbuttonAve from '@/views/novedades/components/novedadesAll/AppRbuttonAve.vue'

export default defineComponent({
  components: {
    AppShippingNewsHistory,
    // AppRadioButtonAve,
    AppShippingNewsForm,
    FontAwesomeIcon,
    // AppInputText
    AppRbuttonAve
  },

  setup() {
    const AppState = useAppGuideDetails()
    const showAppShippingNews = ref<boolean>(true)
    const showCaseOne = ref<number>(0)

    return {
      showAppShippingNews,
      showCaseOne,
      AppState
      // listDiscount
    }
  }
})
</script>
