@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('/assets/fonts/RobotoBold.woff2') format('woff2'),
    url('/assets/fonts/RobotoBold.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('/assets/fonts/Roboto.woff2') format('woff2'),
    url('/assets/fonts/Roboto.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  src: url('/assets/fonts/PoppinsBold.woff2') format('woff2'),
    url('/assets/fonts/PoppinsBold.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  src: url('/assets/fonts/Poppins.woff2') format('woff2'),
    url('/assets/fonts/Poppins.woff') format('woff');
}
