[type='text'],
[type='file'],
[type='email'],
[type='url'],
[type='password'],
[type='number'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='search'],
[type='tel'],
[type='time'],
[type='week'],
[multiple],
textarea,
select {
  @apply placeholder-gray-400;
  @apply rounded-ave-sm border-gray-400;
  @apply focus:border-gray-400 focus:ring-gray-400;
  @apply hover:bg-gray-50;
  @apply active:bg-gray-50;
}

[type='radio'] {
  height: 14px;
  width: 14px;
  color: transparent;
  border-width: 0.7px;
  @apply border-gray-600;
}

[type='radio']:checked {
  @apply border-gray-600;
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%231DDD5E' xmlns='http://www.w3.org/2000/svg'><circle cx='8' cy='8' r='4'/></svg>");
}

[type='radio']:focus,
[type='checkbox']:focus {
  box-shadow: none;
}

[type='radio']:checked:hover,
[type='radio']:checked:focus,
[type='checkbox']:checked:hover,
[type='checkbox']:checked:focus {
  background-color: white;
  @apply border-gray-600;
}

[type='checkbox'] {
  height: 16px;
  width: 16px;
  border-width: 2px;
  border-radius: 2px;
  @apply border border-gray-450;
}

[type='checkbox']:checked {
  color: white;
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%238A8A8A' xmlns='http://www.w3.org/2000/svg'><path d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/></svg>");
  @apply border-gray-600;
}
