h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins;
  align-items: center;
  @apply flex font-bold;
}

h1 {
  @apply text-7xl;
}

h2 {
  @apply text-6xl;
}

h3 {
  @apply text-5xl;
}

h4 {
  @apply text-4xl;
}

h5 {
  @apply text-3xl;
}

h6 {
  @apply text-2xl;
}
