@tailwind base;
@import './font.scss';
@import './headers.scss';
@import './form.scss';
@import './scroll.scss';

body {
  @apply container overflow-hidden p-0 text-base text-gray-800;
}

hr {
  margin: 24px 0;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
}
